<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Shares Closing Date Updation</h5>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Scheme Code<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">From A/c<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">To A/c<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        <div class="col-sm">
                            <h6><span class="required">* </span>: Required Fields</h6>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Shares Closing Date Updation</h5>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Scheme Code<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">From A/c<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">To A/c<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        <div class="col-sm">
                            <h6><span class="required">* </span>: Required Fields</h6>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Shares Closing Date Updation</h5>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Scheme Code<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">From A/c<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">To A/c<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        <div class="col-sm">
                            <h6><span class="required">* </span>: Required Fields</h6>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>