<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Issue New Shares</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Scheme *" required >
                                </ng-select>
                                <label >{{ message.Scheme }}</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Member No. *" required>
                                </ng-select>
                                <label>{{ message.Member_no }}</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control"  value="{{ message.Transaction_no }}">
                                <span class="form-bar"></span>
                                <label class="float-label">Transaction No.</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input value="{{ message.membershipDate }}" class="form-control" type="text" onfocus="(this.type='date')"  max="9999-12-31"  id="date">
                                <label class="float-label">Membership Date</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.TotalNoOfShares }}" >
                                <span class="form-bar"></span>
                                <label class="float-label">Total No. of Shares</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control"  value="{{ message.TotalSharesAmount }}">
                                <span class="form-bar"></span>
                                <label class="float-label">Total Shares Amount</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-sm-12">
                            <div class="card-block">
                            <h5>Shares Details</h5>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input value="{{ message.issueDate }}" class="form-control" type="text" onfocus="(this.type='date')"  max="9999-12-31"   id="date">
                                <label class="float-label">Issue Date</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <h5> <----------- Shares Number ----------> </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="" value="{{ message.CertificateNumber }}"  pattern="^[0-9]+$" title="Input allowed only 0-9">
                                <span class="form-bar"></span>
                                <label class="float-label">Certificate Number<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="" value="{{ message.From }}"  pattern="^[0-9]+$" title="Input allowed only 0-9">
                                <span class="form-bar"></span>
                                <label class="float-label">From<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.To }}" >
                                <span class="form-bar"></span>
                                <label class="float-label">To</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required=""value="{{ message.NoOfShares }}" pattern="^[0-9]+$" title="Input allowed only 0-9" >
                                <span class="form-bar"></span>
                                <label class="float-label">No. of Shares<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-radio">
                                <div class="radio radio-inline"> 
                                    <label>
                                        <input type="radio" name="radio"  [checked]="isCash == true">
                                        <i class="helper"></i>Cash<span class="required"> </span>
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" [checked]="isCash == false">
                                        <i class="helper"></i>Transfer<span class="required"> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="" value="{{ message.FaceValue}}"  pattern="^[0-9]+$" title="Input allowed only 0-9" >
                                <span class="form-bar"></span>
                                <label class="float-label">Face Value<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input value="{{ message.resolutionDate }}" class="form-control" required="" type="text" onfocus="(this.type='date')"  max="9999-12-31"  id="date">
                                <label class="float-label">Resolution Date<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.sharesAmount}}" >
                                <span class="form-bar"></span>
                                <label class="float-label">Shares Amount</label>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="" value="{{ message.ResolutionNo }}"  pattern="^[0-9]+$" title="Input allowed only 0-9" >
                                <span class="form-bar"></span>
                                <label class="float-label">Resolution No.<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control"  value="{{ message.Particulars }}" pattern="^[A-Za-z\./ -]+$"
                                title="Input allowed only  A-Z a-z  - / . (Space)">
                                <span class="form-bar"></span>
                                <label class="float-label">Particulars</label>
                            </div>
                        </div>
                        
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                      
                    </div>


                    
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>