<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Issue New Shares</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form [formGroup]="ngForm" appIssueNewShares>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="solid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Branch Code<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select bindValue="value" bindLabel="label"
                                                    [(ngModel)]="selectedBranch" formControlName="BRANCH_CODE"
                                                    #branchcode autofocus (change)="getIntroducer()">
                                                    <ng-option *ngFor="let values of branchOption" [value]="values">
                                                        {{values.label}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['BRANCH_CODE'].invalid && (ngForm.controls['BRANCH_CODE'].dirty || ngForm.controls['BRANCH_CODE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['BRANCH_CODE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Scheme Code<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt" autofocus>
                                                <ng-select bindValue="value" [(ngModel)]="schemeCode" id="AC_TYPE"
                                                    bindLabel="label" formControlName="AC_TYPE"
                                                    title="Compulsory Selection" required placeholder="Scheme"
                                                    (change)="getIntroducer()">
                                                    <ng-option *ngFor="let values of scheme" [value]="values">
                                                        {{values.label}} </ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['AC_TYPE'].invalid && (ngForm.controls['AC_TYPE'].dirty || ngForm.controls['AC_TYPE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['AC_TYPE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"> <label for="Member No">Member Number<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <ng-select id="cdropdown" [(ngModel)]="memberno" [selectOnTab]='true'
                                                    #selecttype formControlName="MEMBER_NO" bindValue="bankacno"
                                                    bindLabel="NAME" (change)="getMemberDetail($event)"
                                                    title="Compulsory Selection" required placeholder=" Member No"
                                                    (focus)="onFocus(selecttype)">
                                                    <ng-option *ngFor="let values of introducerACNo" [value]="values">
                                                        {{values.label}} {{values.name}} </ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['MEMBER_NO'].invalid && (ngForm.controls['MEMBER_NO'].dirty || ngForm.controls['MEMBER_NO'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['MEMBER_NO'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="tranno">Transaction Number<sub class="required">* </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" "
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    formControlName="TRAN_NO" disabled>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['TRAN_NO'].invalid && (ngForm.controls['TRAN_NO'].dirty || ngForm.controls['TRAN_NO'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['TRAN_NO'].errors?. maxlength || ngForm.controls['TRAN_NO'].errors?. minlength || ngForm.controls['TRAN_NO'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="solid">
                                <div class="row">
                                    <div class="col-md-2"> <label for="Membership Date">Membership Date<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="date" id="date"
                                                    [(ngModel)]="Membershipdate" formControlName="MEMBERSHIP_DATE"
                                                    class="form-control" disabled>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['MEMBERSHIP_DATE'].invalid && (ngForm.controls['MEMBERSHIP_DATE'].dirty || ngForm.controls['MEMBERSHIP_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['MEMBERSHIP_DATE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="sharesAmount">Total Shares Amount<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    style="text-align: right;" placeholder=" "
                                                    formControlName="T_SHARES_AMOUNT" disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="noofshares">Total Number of Shares<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" " formControlName="T_NO_OF_SHARES" disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="solid">
                                <div class="col-md-3"> <label style="font-size: 15px; color: black;">Shares
                                        Details</label>
                                </div>

                                <div class="row">
                                    <div class="col-md-3"> <label for="Issue Date">Issue Date<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="date" id="date"
                                                    [(ngModel)]="Issue_date" formControlName="ISSUE_DATE"
                                                    class="form-control" disabled>


                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['ISSUE_DATE'].invalid && (ngForm.controls['ISSUE_DATE'].dirty || ngForm.controls['ISSUE_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['ISSUE_DATE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4"> <label for="Sharesno"
                                            style="font-size: 15px; color: rgb(18, 107, 240);">
                                            <--------Shares Number--------->
                                        </label>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="certificate">Certificate Number<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" "
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    formControlName="CERTIFICATE_NO" maxlength="8"
                                                    style="text-align: right;" (focus)="selectAllContent($event)">
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['CERTIFICATE_NO'].invalid && (ngForm.controls['CERTIFICATE_NO'].dirty || ngForm.controls['CERTIFICATE_NO'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['CERTIFICATE_NO'].errors?. maxlength || ngForm.controls['CERTIFICATE_NO'].errors?. minlength || ngForm.controls['CERTIFICATE_NO'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <label for="from">From<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" "
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    style="text-align: right;" formControlName="FROM" maxlength="4"
                                                    disabled>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['FROM'].invalid && (ngForm.controls['FROM'].dirty || ngForm.controls['FROM'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['FROM'].errors?. maxlength || ngForm.controls['FROM'].errors?. minlength || ngForm.controls['FROM'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <label for="to">To<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" "
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    style="text-align: right;" formControlName="TO" maxlength="4"
                                                    disabled>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['TO'].invalid && (ngForm.controls['TO'].dirty || ngForm.controls['TO'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['TO'].errors?. maxlength || ngForm.controls['TO'].errors?. minlength || ngForm.controls['TO'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="num_Shares">Number Of Shares<sub class="required">* </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" "
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    style="text-align: right;" (focus)="selectAllContent($event)"
                                                    formControlName="NO_OF_SHARES" maxlength="4"
                                                    (change)="getNumberOfShares()">
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['NO_OF_SHARES'].invalid && (ngForm.controls['NO_OF_SHARES'].dirty || ngForm.controls['NO_OF_SHARES'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['NO_OF_SHARES'].errors?. maxlength || ngForm.controls['NO_OF_SHARES'].errors?. minlength || ngForm.controls['NO_OF_SHARES'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-radio">
                                            <div class="radio radio-inline">
                                                <label class="inputRadio">
                                                    <input type="radio" name="T_TYPE" value="CS"
                                                        formControlName="T_TYPE" (change)="isFormA(1)">
                                                    <i class="helper"></i>Cash </label>
                                            </div>
                                            <div class="radio radio-inline">
                                                <label class="inputRadio">
                                                    <input type="radio" name="T_TYPE" value="TR"
                                                        formControlName="T_TYPE" (change)="isFormA(2)">
                                                    <i class="helper"></i>Transfer </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="facevalue">Face Value Amount<sub class="required">* </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" " formControlName="FACE_VALUE" maxlength="15"
                                                    style="text-align: right;"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                                                    (keyup)="decimalAllContent($event)"
                                                    (focusout)="getDecimalPoint($event)"
                                                    (focus)="selectAllContent($event)" (change)="getSharesAmount()">
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['FACE_VALUE'].invalid && (ngForm.controls['FACE_VALUE'].dirty || ngForm.controls['FACE_VALUE'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['FACE_VALUE'].errors?. maxlength || ngForm.controls['FACE_VALUE'].errors?. minlength || ngForm.controls['FACE_VALUE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3"> <label for="Resolution Date">Resolution Date<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="date" id="date"
                                                    [(ngModel)]="Resolution_date" formControlName="RESOLUTION_DATE"
                                                    class="form-control" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
                                                    [minDate]="resolutionDate" [maxDate]="maxDate" bsDatepicker
                                                    required>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['RESOLUTION_DATE'].invalid && (ngForm.controls['RESOLUTION_DATE'].dirty || ngForm.controls['RESOLUTION_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['RESOLUTION_DATE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="shares_amount">Shares Amount<sub class="required">* </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    placeholder=" " formControlName="SHARES_AMOUNT" maxlength="16"
                                                    style="text-align: right;" (keyup)="decimalAllContent($event)"
                                                    disabled>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['SHARES_AMOUNT'].invalid && (ngForm.controls['SHARES_AMOUNT'].dirty || ngForm.controls['SHARES_AMOUNT'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['SHARES_AMOUNT'].errors?.maxlength">
                                                Input allowed only 0-9
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="Resolution_no">Resolution Number<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" name="label-name" class="form-control"
                                                    style="text-align: right;" placeholder=" "
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    formControlName="RES_NO" maxlength="4"
                                                    (focus)="selectAllContent($event)">
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['RES_NO'].invalid && (ngForm.controls['RES_NO'].dirty || ngForm.controls['RES_NO'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="ngForm.controls['RES_NO'].errors?. maxlength || ngForm.controls['RES_NO'].errors?. minlength || ngForm.controls['RES_NO'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2"><label for="PARTICULARS">Particulars</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <textarea class="form-control" formControlName="particular"
                                                    [(ngModel)]="particular"></textarea>
                                                <i class="fa fa-info-circle errspan" (click)="modalLarge.show()"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="FORMA" *ngIf="isTransfer">
                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-1"> <label for="AC_BRANCH">Scheme<sub
                                                        class="required">*</sub></label></div>
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group form-primary form-static-label">
                                                    <span class="border-lable-flt">
                                                        <ng-select [(ngModel)]="selectedTransScheme" #scheme
                                                            (change)="getTransferAccountList($event)"
                                                            formControlName="Tscheme" bindValue="value"
                                                            bindLabel="label" (focus)="onFocus(scheme)">
                                                            <ng-option *ngFor="let item of Scheme" [value]="item">
                                                                {{item.id}} {{item.label}}</ng-option>
                                                        </ng-select>
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="ngForm.controls['Tscheme'].invalid && (ngForm.controls['Tscheme'].dirty || ngForm.controls['Tscheme'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="ngForm.controls['Tscheme'].errors?.required">
                                                        This field is required.
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <label for="TschemeAC">Account Number <sub
                                                        class="required">*</sub></label>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group form-primary form-static-label">
                                                    <span class="border-lable-flt">
                                                        <ng-select id="TschemeAC" [(ngModel)]="ngacno" #account
                                                            formControlName="TschemeAC" bindLabel="label"
                                                            bindValue="bankacno" title="Compulsory Selection"
                                                            placeholder="Account Number"
                                                            (change)="getTransferAccountDeatil($event)"
                                                            (focus)="onFocus(account)">
                                                            <ng-option *ngFor="let values of schemeACNo"
                                                                [value]="values">
                                                                {{values.label}} {{values.name}}</ng-option>
                                                        </ng-select>
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="ngForm.controls['TschemeAC'].invalid && (ngForm.controls['TschemeAC'].dirty || ngForm.controls['TschemeAC'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="ngForm.controls['TschemeAC'].errors?.required">
                                                        This field is required.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-1"><label for="amount">Amount<sub
                                                        class="required">*</sub></label>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group input-group">
                                                    <span class="border-lable-flt">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="amount" id="amount"
                                                            formControlName="amount" maxlength="15"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                                                            (keyup)="decimalAllContent($event)">
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="ngForm.controls['amount'].invalid && (ngForm.controls['amount'].dirty || ngForm.controls['amount'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="ngForm.controls['amount'].errors?.maxlength">
                                                        Input allowed only 0-9
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-2">
                                                <label for="debit/credit"> Debit / Credit <sub
                                                        class="required">*</sub></label>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group form-primary form-static-label">
                                                    <span class="border-lable-flt">
                                                        <ng-select id="d/c" [(ngModel)]="debitcredit" #dc
                                                            formControlName="DEBIT_CREDIT" bindLabel="label"
                                                            bindValue="name" title="Compulsory Selection" placeholder=""
                                                            (focus)="onFocus(dc)">
                                                            <ng-option *ngFor="let values of values" [value]="values">
                                                                {{values.name}}</ng-option>
                                                        </ng-select>
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="ngForm.controls['DEBIT_CREDIT'].invalid && (ngForm.controls['DEBIT_CREDIT'].dirty || ngForm.controls['DEBIT_CREDIT'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="ngForm.controls['DEBIT_CREDIT'].errors?.required">
                                                        This field is required.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12 col-md-1"><label for="PARTICULAR">Particulars</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group input-group">
                                                    <span class="border-lable-flt">
                                                        <textarea class="form-control" formControlName="TPERTICULARS"
                                                            [(ngModel)]="Tparticulars"></textarea>
                                                        <i class="fa fa-info-circle errspan"
                                                            (click)="modalLarge1.show()"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-md">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                    *ngIf="jointShowButton" (click)="addTransferAccount()">
                                                    Add
                                                </button>
                                                <button class="btn btn-outline-primary btn-sm"
                                                    (click)="updateTransferAcccount()" *ngIf="jointUpdateShow">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Multiple Transaction details data show here -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover compact">
                                                        <thead>
                                                            <td>Action</td>
                                                            <!-- <td>Scheme</td> -->
                                                            <td>Account Number</td>
                                                            <td>DR/CR</td>
                                                            <td>Particulars</td>
                                                            <td style="text-align: right;">Amount</td>
                                                        </thead>
                                                        <tbody *ngIf="multigrid.length != 0">
                                                            <tr
                                                                *ngFor="let data of multigrid; let indexOfelement = index">
                                                                <td class="td_center"> <span
                                                                        class="fa fa-fw fa-edit field-icon"
                                                                        id="editbutton"
                                                                        (click)="editTransferAccount(indexOfelement)"
                                                                        placement="top" ngbTooltip="Edit"></span>
                                                                </td>
                                                                <!-- <td [ngClass]="'td_right'">{{ data.Tscheme==
                                                                    undefined || data.Tscheme==null
                                                                    ? data.depoCloseTranAc.S_APPL: data.Tscheme
                                                                    }}
                                                                </td> -->
                                                                <td class="td_center">{{data.TRANSFER_ACNO}}</td>
                                                                <td class="td_center">{{data.DEBIT_CREDIT}}</td>
                                                                <td class="td_center">{{data.PERTICULARS}}</td>
                                                                <td class="td_center">{{data.amount}}</td>
                                                            </tr>
                                                            <tr *ngIf="multigrid.length != 0">
                                                                <td colspan="4" style="text-align: right;">Total
                                                                </td>
                                                                <td class="td_center">
                                                                    {{transferTotalAmount}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="t_debit">Total Debit Amount<sub class="required">*
                                                    </sub></label>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group input-group">
                                                    <span class="border-lable-flt">
                                                        <input type="text" name="label-name" class="form-control"
                                                            placeholder=" " [ngModel]="totalDebit"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )"
                                                            formControlName="T_DEBIT">
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="ngForm.controls['T_DEBIT'].invalid && (ngForm.controls['T_DEBIT'].dirty || ngForm.controls['T_DEBIT'].touched)"
                                                    class="alert alert-danger">
                                                    <div
                                                        *ngIf="ngForm.controls['T_DEBIT'].errors?. maxlength || ngForm.controls['T_DEBIT'].errors?. minlength || ngForm.controls['T_DEBIT'].errors?.required">
                                                        This field is required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="t_credit">Total Credit Amount<sub class="required">*
                                                    </sub></label>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group input-group">
                                                    <span class="border-lable-flt">
                                                        <input type="text" name="label-name" class="form-control"
                                                            placeholder=" " [ngModel]="totalCredit"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )"
                                                            formControlName="T_CREDIT">
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="ngForm.controls['T_CREDIT'].invalid && (ngForm.controls['T_CREDIT'].dirty || ngForm.controls['T_CREDIT'].touched)"
                                                    class="alert alert-danger">
                                                    <div
                                                        *ngIf="ngForm.controls['T_CREDIT'].errors?. maxlength || ngForm.controls['T_CREDIT'].errors?. minlength || ngForm.controls['T_CREDIT'].errors?.required">
                                                        This field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm" style="float: right;">
                                        <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="submitShow"
                                            (click)="submit()">
                                            Submit
                                        </button>
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="closeShow"
                                            (click)="closeModal()">
                                            Close</button>

                                        <button class="btn btn-outline-primary btn-sm" *ngIf="rejectShow"
                                            (click)="reject()">
                                            Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="approveShow"
                                            (click)="approve()">
                                            Approve</button>
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="unapproveShow"
                                            (click)="unapprove()">
                                            Unapprove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-modal-basic #modalLarge [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Narration Master</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Paticulars</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getNarration(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" id="triggrhide"
                        #triggerhide (click)="modalLarge.hide()">Close</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</app-modal-basic>

<app-modal-basic #modalLarge1 [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Narration Master</h4>
        <button type="button" class="close basic-close" (click)="modalLarge1.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Paticulars</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getNarration1(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" id="triggrhide1"
                        #triggerhide1 (click)="modalLarge1.hide()">Close</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</app-modal-basic>