<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Saving/Pigmy Closing</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="table-responsive">
                                            <table id="transactiontable" datatable [dtOptions]="dtExportButtonOptions"
                                                class="table table-striped table-bordered table-hover compact">
                                                <tbody *ngIf="savingPigmyClosing?.length != 0">
                                                    <tr *ngFor="let data of savingPigmyClosing">
                                                        <td>
                                                            <span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                                placement="bottom" ngbTooltip="Edit"
                                                                (click)="modalLarge.show();getSavingPigmyClosingData(data)"></span>
                                                        </td>
                                                        <td [ngClass]="data.TRAN_NO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_NO === "" ? "-" : data.TRAN_NO }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.IS_PREMATURE_CLOSE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.IS_PREMATURE_CLOSE === "" ? "-" :
                                                            data.IS_PREMATURE_CLOSE }}
                                                        </td>
                                                        <td [ngClass]="data.TOKEN_NO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TOKEN_NO === "" ? "-" : data.TOKEN_NO }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.NET_PAYABLE_AMOUNT === '' ? 'td_center' : 'td_right'">
                                                            {{ data.NET_PAYABLE_AMOUNT === "" ? "-" :
                                                            data.NET_PAYABLE_AMOUNT }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_ACTYPE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_ACTYPE === "" ? "-" : data.TRAN_ACTYPE }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_ACNO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_ACNO === "" ? "-" : data.TRAN_ACNO }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.USER_CODE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.USER_CODE === "" ? "-" : data.USER_CODE }}
                                                        </td>


                                                    </tr>

                                                </tbody>
                                                <tbody *ngIf="savingPigmyClosing?.length == 0">
                                                    <tr>
                                                        <td colspan="7" class="no-data-available">No data!</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-basic #modalLarge [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
        <h4 class="modal-title">Saving/Pigmy Account Closing</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <app-savings-pigmy-account-closing [childMessage]="savingPigmyClosingData" (getUserData)="getData($event)">
            </app-savings-pigmy-account-closing>
        </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide
            (click)="modalLarge.hide();">Close</button>
    </div>
</app-modal-basic>