<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5>Options</h5>
            </div>
            <div class="card-block">
                <div class="col-md-12">
                    <perfect-scrollbar style="max-width: 600px; max-height: 450px;">
                        <ul class="basic-list">
                            <!-- <li>
                                <h6> <a (click)="OpenLink(1)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': narationmasterTrue}" class="text-right f-w-600" id="pointer">1. Naration Master</a></h6>
                            </li> -->
                        </ul>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</div>
