<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Lien Mark or Clear</h5>
        <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
          Fields marked with (<sub class="required"> * </sub>) are mandatory
        </h6>
      </div>

      <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
        <div class="card-block">
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" name="DEPO_AC_TYPE" class="form-control" placeholder=" " id="DEPO_AC_TYPE"
                    formControlName="DEPO_AC_TYPE" disabled>
                  <label for="DEPO_AC_TYPE">Scheme</label>
                </span>
              </div>
            </div>
            <!-- <div class="col-sm">
              <div class="form-group form-primary form-static-label">
                <ng-select [ngClass]="'ng-select'" [options]="allScheme" [multiple]="false" placeholder="Scheme*"
                  required title="Compulsory Selection" formControlName="DEPO_AC_TYPE" [(ngModel)]="acno"
                  (selected)="getSchemeAcNO(acno)">
                </ng-select>
              </div>
              <div class="form-group form-primary form-static-label"
                *ngIf="angForm.controls['DEPO_AC_TYPE'].invalid && (angForm.controls['DEPO_AC_TYPE'].dirty || angForm.controls['DEPO_AC_TYPE'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['DEPO_AC_TYPE'].errors?.required">
                  This field is required
                </div>
              </div>
            </div> -->
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" name="DEPO_AC_NO" class="form-control" placeholder=" " id="DEPO_AC_NO"
                    formControlName="DEPO_AC_NO" disabled>
                  <label for="DEPO_AC_NO">Account No</label>
                </span>
              </div>
            </div>
            <!-- <div class="col-sm">
              <div class="form-group form-primary form-static-label">
                <ng-select [ngClass]="'ng-select'" [options]="schemeACNo" [multiple]="false" placeholder="Account No*"
                  required formControlName="DEPO_AC_NO">
                </ng-select>
              </div>
              <div class="form-group form-primary form-static-label"
                *ngIf="angForm.controls['DEPO_AC_NO'].invalid && (angForm.controls['DEPO_AC_NO'].dirty || angForm.controls['DEPO_AC_NO'].touched)"
                class='alert alert-danger'>
                <div *ngIf="angForm.controls['DEPO_AC_NO'].errors?.required">
                  This field is required
                </div>
              </div>
            </div> -->
            <!-- <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="To" class="form-control" placeholder=" " id="SecurityCode"
                                        required="" pattern="^[0-9]+$"
                                        maxlength="4"
                                        title="Input allowed only  0-9" formControlName="SECU_CODE">
                                    <label for="SecurityCode">Security Code <sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['SECU_CODE'].invalid && (angForm.controls['SECU_CODE'].dirty || angForm.controls['SECU_CODE'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['SECU_CODE'].errors?.pattern || angForm.controls['SECU_CODE'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div> -->
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" name="To" class="form-control" placeholder=" " id="LedgerBalance"
                    formControlName="LEDGER_BAL" disabled>
                  <label for="LedgerBalance">Ledger Balance</label>
                </span>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" name="To" class="form-control" placeholder=" " id="DepositAmount"
                    pattern="\d{1,20}(\.\d{2})?" formControlName="DEPOSIT_AMT" disabled>
                  <label for="DepositAmount">Deposit Amount</label>
                </span>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" name="To" class="form-control" placeholder=" " id="TDReceiptNo"
                    formControlName="RECEIPT_NO" disabled>
                  <label for="TDReceiptNo">TD Receipt No.</label>
                </span>
              </div>
            </div>
            <div class="col-sm">
              <div class="checkbox checkbox-primary">
                <div class="border-checkbox-group border-checkbox-group-primary">
                  <input class="border-checkbox" type="checkbox" id="checkbox1" value="checkbox"
                    [checked]="isIsLienMarkClear == true" formControlName="IS_LIEN_MARK_CLEAR">
                  <label class="border-checkbox-label" for="checkbox1">Is Lien Mark Clear ?</label>
                </div>
              </div>

            </div>
          </div>
          <h6>Term Loan Details</h6>
          <div class="card-block">
            <div class="row">
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input type="text" name="To" class="form-control" formControlName="AC_TYPE" placeholder=" "
                      id="LoanAcNo" disabled>
                    <label for="LoanAcNo">Loan A/c No.</label>
                  </span>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input type="text" name="To" class="form-control" placeholder=" "
                      formControlName="BALANCE_OF_LOAN_ACCOUNT" id="LoanOsBalance" disabled>
                    <label for="LoanOsBalance">Loan O/s Balance</label>
                  </span>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input type="text" class="form-control" placeholder=" " max="9999-12-31"
                      formControlName="AC_EXPIRE_DATE" onfocus="(this.type='date')" id="date" disabled />
                    <label for="date">Loan Expiry Date </label>
                  </span>
                </div>
              </div>
              <div class="col-sm">
                <!-- <button class="btn btn-primary ripple light" (click)="submit()" *ngIf="showButton"
                  [disabled]="angForm.invalid">Add</button> -->
                <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow">Update</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-block">
        <div class="row">
          <div class="col-sm">
            <div class="table-responsive">
              <table id="instructiontable" datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                class="table table-striped table-bordered table-hover">
                <tbody *ngIf="lienMaster?.length != 0">
                  <tr *ngFor="let data of lienMaster">
                    <td>
                      <span class="fa fa-fw fa-edit field-icon" id="editbutton" (click)="editClickHandler(data.id);gotoTop()"
                        placement=" bottom" ngbTooltip="Edit"></span>

                      <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                    </td>

                    <td>{{ data.DEPO_AC_TYPE }}</td>
                    <td>{{ data.DEPO_AC_NO }}</td>
                    <!-- <td>{{ data.SECU_CODE }}</td> -->
                    <td>{{ data.LEDGER_BAL }}</td>
                    <td>{{ data.DEPOSIT_AMT }}</td>
                    <td>{{ data.RECEIPT_NO }}</td>
                    <td>{{ data.IS_LIEN_MARK_CLEAR == true ? 'Yes' : 'No' }}</td>
                    <td>{{ data.AC_TYPE }}</td>
                    <td>{{ data.BALANCE_OF_LOAN_ACCOUNT }}</td>
                    <td>{{ data.AC_EXPIRE_DATE }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="lienMaster?.length == 0">
                  <tr>
                    <td colspan="6" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
                <tfoot #filters class="filters">
                  <tr class="testing">
                    <th class="testing"></th>
                    <th>
                      <input type="text" class="form-control" name="DEPO_AC_TYPE" />
                    </th>
                    <th>
                      <input type="text" class="form-control" name="DEPO_AC_NO" />
                    </th>
                    <!-- <th>
                      <input type="text" placeholder="Search Security Code" name="SECU_CODE" />
                    </th> -->
                    <th>
                      <input type="text" class="form-control" name="LEDGER_BAL" />
                    </th>
                    <th>
                      <input type="text" class="form-control" name="DEPOSIT_AMT" />
                    </th>
                    <th>
                      <input type="text" class="form-control" name="RECEIPT_NO" />
                    </th>
                    <th>
                      <input type="text" class="form-control" class="form-control" name="IS_LIEN_MARK_CLEAR" />
                    </th>
                    <th>
                      <input type="text" class="form-control" name="AC_TYPE" />
                    </th>
                    <th>
                      <input type="text" class="form-control" name="BALANCE_OF_LOAN_ACCOUNT" />
                    </th>
                    <th>
                      <input type="text" class="form-control" name="AC_EXPIRE_DATE" />
                    </th>

                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>