<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Membership Cancellation</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Scheme *" required>
                                </ng-select>
                                <label>{{ message.Scheme }}</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Member No. *"  required>
                                </ng-select>
                                <label>{{ message.MemberNo }}</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.TransactionNo }}">
                                <span class="form-bar"></span>
                                <label class="float-label">Transaction No.</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input value="{{ message.MembershipDate }}" class="form-control"  onfocus="(this.type='date')"  max="9999-12-31"  id="date">
                                <label class="float-label">Membership Date</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.TotalNoOfShares }}">
                                <span class="form-bar"></span>
                                <label class="float-label">Total No. of Shares</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.TotalSharesAmount }}">
                                <span class="form-bar"></span>
                                <label class="float-label">Total Shares Amount</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input value="{{ message.ResolutionDate }}" class="form-control" type="text" onfocus="(this.type='date')"  id="date"   max="9999-12-31"  required="">
                                <label class="float-label">Resolution Date <span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required=""  value="{{ message.ResolutionNo }}" pattern="^[0-9]+$" title="Input allowed only 0-9">
                                <span class="form-bar"></span>
                                <label class="float-label">Resolution No.<span class="required"> *</span></label>
                            </div>
                        </div>
                        
                        <div class="col-sm">
                            <div class="form-radio">
                                <form>
                                    <div class="radio radio-inline">
                                        <label>
                                            <input type="radio" name="radio" [checked]="isCash == true">
                                            <i class="helper"></i>Cash<span class="required"> </span>
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label>
                                            <input type="radio" name="radio"[checked]="isCash == false">
                                            <i class="helper"></i>Transfer<span class="required"> </span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input value="{{ message.MemberCancelDate }}" class="form-control" type="text" onfocus="(this.type='date')"  max="9999-12-31"  id="date">
                                <label class="float-label">Member Cancel Date</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" value="{{ message.Reason }}"pattern="^[A-Za-z\./ -]+$"
                                title="Input allowed only  A-Z a-z  - / . (Space)">
                                <span class="form-bar"></span>
                                <label class="float-label">Reason</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                       
                    </div>


                </div>
            </form>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>