<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'Transaction.Membership_Cancellation.Title' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'Transaction.Action.F1' | translate}} (<sub class="required"> * </sub>) {{'Transaction.Action.F2' | translate}}
                </h6>
            </div>
            <div class="card-body">
                <form [formGroup]="angForm" novalidate>
                    <div class="solid">
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Transaction.Membership_Cancellation.Branch_Code' | translate}}<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select bindValue="value" bindLabel="label" [(ngModel)]="selectedBranch"
                                            formControlName="branchOption" (change)="getIntroducer()" #branchcode
                                            autofocus>
                                            <ng-option *ngFor="let values of branchOption" [value]="values">
                                                {{values.label}}</ng-option>
                                        </ng-select>

                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['branchOption'].invalid && (angForm.controls['branchOption'].dirty || angForm.controls['branchOption'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['branchOption'].errors?.required">
                                        <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">{{'Transaction.Membership_Cancellation.Scheme_Code' | translate}}<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select bindValue="value" [(ngModel)]="schemeCode" id="AC_TYPE"
                                            bindLabel="label" formControlName="AC_TYPE" (change)="getIntroducer()"
                                            title="Compulsory Selection" required placeholder="{{'Transaction.Membership_Cancellation.Scheme_Code' | translate}}">
                                            <ng-option *ngFor="let values of scheme" [value]="values">
                                                {{values.label}} </ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                        <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Transaction.Membership_Cancellation.Member_Number' | translate}}<sub
                                        class="required">*</sub></label>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-primary form-static-label">

                                    <span class="border-lable-flt">
                                        <ng-select formControlName="MEMBER_CODE1" bindValue="bankacno" bindLabel="label"
                                            [(ngModel)]="ngIntroducer" (change)="getMemberDetail($event)">
                                            <ng-option *ngFor="let values of introducerACNo" [value]="values">
                                                {{values.label}} {{values.name}}
                                            </ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['MEMBER_CODE1'].invalid && (angForm.controls['MEMBER_CODE1'].dirty || angForm.controls['MEMBER_CODE1'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['MEMBER_CODE1'].errors?.required">
                                        <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Transaction.Membership_Cancellation.Transaction_Number' | translate}}<sub
                                        class="required">*</sub></label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input style="text-align: right;" type="text" name="AC_PARTICULAR"
                                            formControlName="TRAN_NO"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                            class="form-control" placeholder=" " id="AC_PARTICULAR" value="0"
                                            maxlength="15" disabled>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="solid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-2 "><label for="AC_PARTICULAR">{{'Transaction.Membership_Cancellation.Membership_Date' | translate}}</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="date" id="date"
                                                    formControlName="MDATE" class="form-control" disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <label for="Site Name">{{'Transaction.Membership_Cancellation.Transfer_Shares' | translate}}<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input style="text-align: right;" type="text" name="AC_PARTICULAR"
                                                    (keypress)="$event.charCode == 46 || ($event.charCode >= 48 && $event.charCode < 58)"
                                                    class="form-control" placeholder=" " id="AC_PARTICULAR" value="0"
                                                    maxlength="15" formControlName="T_NO_OF_SHARES" disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="Site Name">{{'Transaction.Membership_Cancellation.Transfer_Shares_Amount' | translate}}<sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input style="text-align: right;" type="text" name="AC_PARTICULAR"
                                                    (keypress)="$event.charCode == 46 || ($event.charCode >= 48 && $event.charCode < 58)"
                                                    class="form-control" placeholder=" " id="AC_PARTICULAR" value="0"
                                                    maxlength="15" formControlName="T_SHARES_AMOUNT" disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="solid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">{{'Transaction.Membership_Cancellation.Resolution_Date' | translate}}<sub
                                                class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="date" id="date"
                                                    formControlName="RDATE" class="form-control" [maxDate]="maxDate"
                                                    appButton minlength="10" maxlength="10"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                                    required>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-radio">
                                            <div class="radio radio-inline">
                                                <label>
                                                    <input type="radio" name="type" value="cash" formControlName="type"
                                                        (change)="isFormA(1)">
                                                    <i class="helper"></i>{{'Transaction.Membership_Cancellation.Cash' | translate}} </label>
                                            </div>
                                            <div class="radio radio-inline">
                                                <label>
                                                    <input type="radio" name="type" value="transfer"
                                                        formControlName="type" (change)="isFormA(2)">
                                                    <i class="helper"></i>{{'Transaction.Membership_Cancellation.Transfer' | translate}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4"> </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">{{'Transaction.Membership_Cancellation.Resolution_Number' | translate}}
                                            <sub class="required">*
                                            </sub></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input style="text-align: right;" type="text" name="AC_PARTICULAR"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                    class="form-control" placeholder=" " value="0" maxlength="4"
                                                    title="Input allowed only 0-9" required
                                                    formControlName="RESOLUTIONNO">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4"> </div>
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">{{'Transaction.Membership_Cancellation.Member_Cancel_Date' | translate}}
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="date" id="date"
                                                    formControlName="MCDATE" class="form-control"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker required
                                                    disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4"> </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">{{'Transaction.Membership_Cancellation.Reason' | translate}}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group input-group">
                                            <div class="col-md-8">
                                                <span class="border-lable-flt">
                                                    <textarea class="form-control" formControlName="Fnarration"
                                                        [(ngModel)]="ngFnarration" disabled></textarea>
                                                    <i class="fa fa-info-circle errspan"
                                                        (click)="formnarration.show()"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="FORMA" *ngIf="isTransfer">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Transaction.Membership_Cancellation.Scheme' | translate}}<sub
                                                        class="required">*</sub></label></div>
                                            <div class="col-sm-12 col-md-5">
                                                <div class="form-group form-primary form-static-label">
                                                    <span class="border-lable-flt">
                                                        <ng-select [(ngModel)]="selectedTransScheme"
                                                            (change)="getTransferAccountList($event)"
                                                            formControlName="Tscheme" bindValue="value"
                                                            bindLabel="label">
                                                            <ng-option *ngFor="let item of Scheme" [value]="item">
                                                                {{item.id}} {{item.label}}</ng-option>
                                                        </ng-select>
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="angForm.controls['Tscheme'].invalid && (angForm.controls['Tscheme'].dirty || angForm.controls['Tscheme'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="angForm.controls['Tscheme'].errors?.required">
                                                        <!-- This field is required. --> {{'master.Validation.Val1' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-2"><label for="TschemeAC">{{'Transaction.Membership_Cancellation.Acc_Num' | translate}}
                                                    <sub class="required">*</sub></label></div>

                                            <div class="col-sm">
                                                <div class="form-group form-primary form-static-label">
                                                    <span class="border-lable-flt">
                                                        <ng-select id="TschemeAC" [(ngModel)]="ngacno"
                                                            formControlName="TschemeAC" bindLabel="label"
                                                            bindValue="bankacno" title="Compulsory Selection"
                                                            placeholder="{{'Transaction.Membership_Cancellation.Acc_Num' | translate}}"
                                                            (change)="getTransferAccountDeatil($event)">
                                                            <ng-option *ngFor="let values of schemeACNo"
                                                                [value]="values">
                                                                {{values.label}} {{values.name}}</ng-option>
                                                        </ng-select>
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="angForm.controls['TschemeAC'].invalid && (angForm.controls['TschemeAC'].dirty || angForm.controls['TschemeAC'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="angForm.controls['TschemeAC'].errors?.required">
                                                        <!-- This field is required. --> {{'master.Validation.Val1' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-2  "><label
                                                    for="AC_PARTICULAR">{{'Transaction.Membership_Cancellation.Particulars' | translate}}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group input-group">
                                                    <span class="border-lable-flt">
                                                        <textarea class="form-control" formControlName="particularss"
                                                            [(ngModel)]="particulars">{{'Transaction.Membership_Cancellation.Member_Canceled' | translate}}</textarea>
                                                        <i class="fa fa-info-circle errspan"
                                                            (click)="modalLarge.show()"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><label for="amount">{{'Transaction.Membership_Cancellation.Amount' | translate}}<sub
                                                        class="required">*</sub></label></div>
                                            <div class="col-md-2">
                                                <div class="form-group input-group">
                                                    <span class="border-lable-flt">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="amount" id="amount"
                                                            formControlName="amount" maxlength="15"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                                                            (keyup)="decimalAllContent($event)">
                                                    </span>
                                                </div>
                                                <div class="form-group form-primary form-static-label"
                                                    *ngIf="angForm.controls['amount'].invalid && (angForm.controls['amount'].dirty || angForm.controls['amount'].touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="angForm.controls['amount'].errors?.maxlength">
                                                        <!-- Input allowed only 0-9 --> {{'master.Validation.Val_Pin_Code' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                    *ngIf="jointShowButton" (click)="addTransferAccount()">
                                                     {{'Transaction.Membership_Cancellation.Add_Account' | translate}}
                                                </button>
                                                <button class="btn btn-outline-primary btn-sm"
                                                    (click)="updateTransferAcccount()" *ngIf="jointUpdateShow">
                                                    t {{'Transaction.Membership_Cancellation.Update_Account' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Multiple Transaction details data show here -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover compact">
                                                        <thead>
                                                            <td>{{'Transaction.Action.Action' | translate}}</td>
                                                            <td>{{'Transaction.Membership_Cancellation.Scheme' | translate}}</td>
                                                            <td>{{'Transaction.Membership_Cancellation.Acc_Num' | translate}}</td>
                                                            <td>{{'Transaction.Membership_Cancellation.Particulars' | translate}}</td>
                                                            <td style="text-align: right;">{{'Transaction.Membership_Cancellation.Amount' | translate}}</td>
                                                        </thead>
                                                        <tbody *ngIf="multigrid.length != 0">
                                                            <tr *ngFor="let data of multigrid;
                                                                let indexOfelement = index">
                                                                <td [ngClass]="'td_center'"> <span
                                                                        class="fa fa-fw fa-edit field-icon"
                                                                        id="editbutton"
                                                                        (click)="editTransferAccount(indexOfelement)"
                                                                        placement="top" ngbTooltip="Edit"></span>
                                                                </td>
                                                                <td class="td_center">{{data.TRAN_ACTYPE}}</td>
                                                                <td class="td_center">{{data.TRAN_ACNO}}</td>
                                                                <td class="td_center">{{data.NARRATION}}</td>
                                                                <td class="td_center">{{data.TRAN_AMOUNT}}</td>
                                                            </tr>
                                                            <tr *ngIf="multigrid.length != 0">

                                                                <td colspan="4" style="text-align: right;">Total
                                                                </td>
                                                                <td [ngClass]="'td_right'">
                                                                    {{transferTotalAmount}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm" style="float: right;">
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="submitShow"
                                            (click)="submit()">
                                            {{'Transaction.Action.Submit' | translate}}
                                        </button>
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="closeShow"
                                            (click)="closeModal()">
                                            {{'Transaction.Action.Close' | translate}}</button>

                                        <button class="btn btn-outline-primary btn-sm" *ngIf="rejectShow"
                                            (click)="reject()">
                                            {{'Transaction.Action.Reject' | translate}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="approveShow"
                                            (click)="approve()">
                                            {{'Transaction.Action.Approve' | translate}}</button>
                                        <button class="btn btn-outline-primary btn-sm" *ngIf="unapproveShow"
                                            (click)="unapprove()">
                                            {{'Transaction.Action.Unapprove' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-modal-basic #modalLarge [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'Transaction.Membership_Cancellation.Narration_Master' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>{{'Transaction.Membership_Cancellation.Particulars' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getNarration1(item.NARRATION)"
                                (click)="getNarration(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" id="triggrhide"
                        #triggerhide (click)="modalLarge.hide()">{{'Transaction.Action.Close' | translate}}</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>




</app-modal-basic>
<app-modal-basic #formnarration [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'Transaction.Membership_Cancellation.Narration_Master' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="formnarration.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>{{'Transaction.Membership_Cancellation.Narration' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getFormNarration(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" #narrationhide
                        (click)="formnarration.hide()">{{'Transaction.Action.Close' | translate}}</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</app-modal-basic>