<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Other Security</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>

            </div>
            <form class="form-material" action="javascript:">
                <div class="card-block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group form-primary form-static-label">
                            <input class="form-control" type="text" onfocus="(this.type='date')" id="date" required="" name="subm_date" value="{{message.subm_date}}">
                            <label class="float-label">Date of Submission<span class="required"> *</span></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-primary form-static-label">
                            <input type="text" name="short_details" class="form-control" value="{{message.short_details}}" required="" pattern="^[A-Za-z0-9'\.\-\s]+$" title="Enter Numbers only">
                            <span class="form-bar"></span>
                            <label class="float-label">Short Details<span class="required"> *</span></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-primary form-static-label">
                            <input type="text" name="total_value" class="form-control" value="{{message.total_value}}" required="" pattern="^[0-9]+$" title="Enter Numbers only">
                            <span class="form-bar"></span>
                            <label class="float-label">Total Value<span class="required"> *</span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group form-primary form-static-label">
                            <input type="text" name="margin" class="form-control" value="{{message.margin}}" required="" pattern="^[0-9]+$" title="Enter Numbers only">
                            <span class="form-bar"></span>
                            <label class="float-label">Margin %</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-primary form-static-label">
                            <input type="text" name="security_details" class="form-control" value="{{message.security_details}}" pattern="^[A-Za-z0-9'\.\-\s]+$" title="Enter Numbers only">
                            <span class="form-bar"></span>
                            <label class="float-label">Security Details</label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary ripple light" *ngIf="showButton">Add</button>
                        <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>
                    </div>
                </div>
               
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
