
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Data Backup</h5>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="custom-file">
                                <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
                                <span class="custom-file-control">Select Location For Data Backup</span>
                              </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                        
                          </div>
                           <div class="col-sm">
                             <h6><span class="required">* </span>: Required Fields</h6>
                          </div>
                       </div>
                </div>
            </form>
        </div>
    </div>
</div>