<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5>Shares Transactions</h5>
            </div>
            <div class="card-block">
                <div class="col-md-12">
                    <perfect-scrollbar style="max-width: 600px; max-height: 450px;">

                        <ul class="basic-list">
                            <li>
                                <h6> <a (click)="OpenLink(1)" routerLink="/transaction/shareTransactions"
                                        routerLinkActive="active" [ngClass]="{'isActive': issuenewsharesTrue}"
                                        class="text-right f-w-600" id="pointer">1. Issue New Shares</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(2)" routerLink="/transaction/shareTransactions"
                                        routerLinkActive="active" [ngClass]="{'isActive': sharestransferTrue}"
                                        class="text-right f-w-600" id="pointer">2. Shares Transfer</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(3)" routerLink="/transaction/shareTransactions"
                                        routerLinkActive="active" [ngClass]="{'isActive': membershipcancellationTrue}"
                                        class="text-right f-w-600" id="pointer">3. Membership Cancellation</a></h6>
                            </li>
                            <!-- <li>
                                <h6> <a (click)="OpenLink(4)" routerLink="/transaction/shareTransactions"
                                        routerLinkActive="active" [ngClass]="{'isActive': foundpaymenttransactionTrue}"
                                        class="text-right f-w-600" id="pointer">4. Fund Payment Transaction</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(5)" routerLink="/transaction/shareTransactions"
                                        routerLinkActive="active" [ngClass]="{'isActive': openingsharesteTrue}"
                                        class="text-right f-w-600" id="pointer">5. Opening Shares Transactions Entry</a>
                                </h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(6)" routerLink="/transaction/shareTransactions"
                                        routerLinkActive="active" [ngClass]="{'isActive': rebitintresttransactionTrue}"
                                        class="text-right f-w-600" id="pointer">6. Rebit Intrest Transactions</a></h6>
                            </li> -->

                        </ul>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-block">
            <div *ngIf="issuenewsharesTrue">
                <app-issue-new-shares></app-issue-new-shares>
            </div>
            <div *ngIf="sharestransferTrue">
                <app-shares-transfer></app-shares-transfer>
            </div>
            <div *ngIf="membershipcancellationTrue">
                <app-membership-cancellation></app-membership-cancellation>
            </div>
            <!-- <div *ngIf="foundpaymenttransactionTrue">
                <app-found-payment-transaction></app-found-payment-transaction>
            </div>
            <div *ngIf="openingsharesteTrue">
                <app-opening-shares-transactions-entry></app-opening-shares-transactions-entry>
            </div>
            <div *ngIf="rebitintresttransactionTrue">
                <app-rebit-interest-transaction></app-rebit-interest-transaction>
            </div> -->
        </div>
    </div>
</div>