<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5>Term Deposit Scheme Settings</h5>
          <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
  
        </div>
        <div class="card-block">
          <form action="javascript:">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="VoucherNo"
                      class="form-control"
                      placeholder=" "
                      id="VoucherNo"
                      required=""
                    />
                    <label for="VoucherNo"
                      >Voucher No.<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Scheme"
                      class="form-control"
                      placeholder=" "
                      id="Scheme"
                      required=""
                    />
                    <label for="Scheme"
                      >Scheme<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="AccountNo"
                      class="form-control"
                      placeholder=" "
                      id="AccountNo"
                      required=""
                    />
                    <label for="AccountNo"
                      >Account No.<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="DepositAmount"
                      class="form-control"
                      placeholder=" "
                      id="DepositAmount"
                      required=""
                    />
                    <label for="DepositAmount"
                      >Deposit Amount<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="MaturityAmount"
                      class="form-control"
                      placeholder=" "
                      id="MaturityAmount"
                      required=""
                    />
                    <label for="MaturityAmount"
                      >Maturity Amount<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="IntRate"
                      class="form-control"
                      placeholder=" "
                      id="IntRate"
                      required=""
                    />
                    <label for="IntRate"
                      >Int. Rate %<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="LastIntDate"
                      class="form-control"
                      placeholder=" "
                      id="LastIntDate"
                      required=""
                    />
                    <label for="LastIntDate"
                      >Last Int. Date<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="OpeningDate"
                      class="form-control"
                      placeholder=" "
                      id="OpeningDate"
                      required=""
                    />
                    <label for="OpeningDate"
                      >Opening Date<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="AsonDate"
                      class="form-control"
                      placeholder=" "
                      id="AsonDate"
                      required=""
                    />
                    <label for="AsonDate"
                      >As on Date<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="MaturityDate"
                      class="form-control"
                      placeholder=" "
                      id="MaturityDate"
                      required=""
                    />
                    <label for="MaturityDate"
                      >Maturity Date<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="ReceiptNo"
                      class="form-control"
                      placeholder=" "
                      id="ReceiptNo"
                      required=""
                    />
                    <label for="ReceiptNo"
                      >Receipt No.<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Operation"
                      class="form-control"
                      placeholder=" "
                      id="Operation"
                      required=""
                    />
                    <label for="Operation"
                      >Operation<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Months"
                      class="form-control"
                      placeholder=" "
                      id="Months"
                      required=""
                    />
                    <label for="Months"
                      >Months<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Days"
                      class="form-control"
                      placeholder=" "
                      id="Days"
                      required=""
                    />
                    <label for="Days">Days<sub class="required">* </sub></label>
                  </span>
                </div>
              </div>
              <h6>Closing Details</h6>
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="InterestRate"
                      class="form-control"
                      placeholder=" "
                      id="InterestRate"
                      required=""
                    />
                    <label for="InterestRate"
                      >Interest Rate %<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
            </div>
  <div> <h6>Closing Period</h6></div>
            <div class="row">
             
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Quarters"
                      class="form-control"
                      placeholder=" "
                      id="Quarters"
                      required=""
                    />
                    <label for="Quarters"
                      >Quarters<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Months"
                      class="form-control"
                      placeholder=" "
                      id="Months"
                      required=""
                    />
                    <label for="Months"
                      >Months<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="Days"
                      class="form-control"
                      placeholder=" "
                      id="Days"
                      required=""
                    />
                    <label for="Days">Days<sub class="required">* </sub></label>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="TotalInterest"
                      class="form-control"
                      placeholder=" "
                      id="TotalInterest"
                      required=""
                    />
                    <label for="TotalInterest"
                      >Total Interest @0.00%<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="PaidPostedInterest"
                      class="form-control"
                      placeholder=" "
                      id="PaidPostedInterest"
                      required=""
                    />
                    <label for="PaidPostedInterest"
                      >Paid/Posted Interest<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="NetInterest"
                      class="form-control"
                      placeholder=" "
                      id="NetInterest"
                      required=""
                    />
                    <label for="NetInterest"
                      >Net Interest<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input
                      type="text"
                      name="LedgerBalance"
                      class="form-control"
                      placeholder=" "
                      id="LedgerBalance"
                      required=""
                    />
                    <label for="LedgerBalance"
                      >Ledger Balance<sub class="required">* </sub></label
                    >
                  </span>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="MaturedProcessAmount"
                        class="form-control"
                        placeholder=" "
                        id="MaturedProcessAmount"
                        required=""
                      />
                      <label for="MaturedProcessAmount"
                        >Matured Process Amount<sub class="required"
                          >*
                        </sub></label
                      >
                    </span>
                  </div>
                </div>
  
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="PayableInterest"
                        class="form-control"
                        placeholder=" "
                        id="PayableInterest"
                        required=""
                      />
                      <label for="PayableInterest"
                        >Payable Interest<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="NetInterests"
                        class="form-control"
                        placeholder=" "
                        id="NetInterests"
                        required=""
                      />
                      <label for="NetInterests"
                        >Net Interest<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="TDSAmount"
                        class="form-control"
                        placeholder=" "
                        id="TDSAmount"
                        required=""
                      />
                      <label for="TDSAmount"
                        >TDS Amount<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="SurchargeAmount"
                        class="form-control"
                        placeholder=" "
                        id="SurchargeAmount"
                        required=""
                      />
                      <label for="SurchargeAmount"
                        >Surcharge Amount<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="SurchargeAmount"
                        class="form-control"
                        placeholder=" "
                        id="SurchargeAmount"
                        required=""
                      />
                      <label for="SurchargeAmount"
                        >Surcharge Amount<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
  
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="PenalInterest"
                        class="form-control"
                        placeholder=" "
                        id="PenalInterest"
                        required=""
                      />
                      <label for="PenalInterest"
                        >Penal Interest<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group input-group">
                    <span class="border-lable-flt">
                      <input
                        type="text"
                        name="NetPayableAmount"
                        class="form-control"
                        placeholder=" "
                        id="NetPayableAmount"
                        required=""
                      />
                      <label for="NetPayableAmount"
                        >Net Payable Amount<sub class="required">* </sub></label
                      >
                    </span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-primary ripple light">Add</button>
                </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table
            datatable
            [dtOptions]="dtExportButtonOptions"
            class="table table-striped table-bordered table-hover"
          ></table>
        </div>
      </div>
    </div>
  </div>
  