.required {
    color: red;
}


.solid .table thead th {
    background: purple; 
    color: white;      
    position: sticky;  
    top: 0;             
    z-index: 10;       
}

.solid .table thead th {
    padding: 10px;      
}

.solid .table {
    width: 100%;        
    border-collapse: collapse; 
}
.solid .table td {
    padding: 10px;    
    border: 1px solid #ddd; 
}


.text-right {
    text-align: right;
}

.modal-backdrop.show {
    opacity: 0.5; 
}


::ng-deep .modal-backdrop.show {
    opacity: 0.5;
}
.scrollable-modal-body {
    max-height: 600px; 
    overflow-y: auto;
    overflow-x: hidden; 
}

