<!--Master Card  -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Master Card</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form [formGroup]="angForm" novalidate>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-1"> <label for="AC_BRANCH">Scheme<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedScheme" #scheme formControlName="scode"
                                        bindValue="value" bindLabel="label"
                                        (change)="getIntro($event);getIntroducer();">
                                        <ng-option *ngFor="let item of Schemecode" [value]="item">
                                            {{item.id}} {{item.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['scode'].invalid && (angForm.controls['scode'].dirty || angForm.controls['scode'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['scode'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-1"> <label for="AC_BRANCH">Member Number<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedmemno" #scheme formControlName="memNo"
                                        bindValue="value" bindLabel="label"
                                        (change)="getIntro($event);getIntroducer();">
                                        <ng-option *ngFor="let item of member_No" [value]="item">
                                            {{item.label}} {{item.name}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['memNo'].invalid && (angForm.controls['memNo'].dirty || angForm.controls['memNo'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['memNo'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-1">
                            <button class="btn btn-primary"></button>
                        </div>
                        <div class="col-sm">
                            <label>Deposit</label>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger"></button>
                        </div>
                        <div class="col-sm">
                            <label>Loan</label>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-sm-1">
                                <button class="btn btn-primary"></button>
                            </div>
                            <div class="col-sm-2">
                                <label>Deposit</label>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-danger"></button>
                            </div>
                            <div class="col-sm-2">
                                <label>Loan</label>
                            </div> -->


                        <div class="col-12">
                            <button class="btn  btn-outline-primary btn-sm">Cancel</button>

                            <button class="btn  btn-outline-primary btn-sm">Print</button>

                            <button class="btn  btn-outline-primary btn-sm">Guarantor View</button>

                            <button class="btn  btn-outline-primary btn-sm">Refresh</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Report Frame</h5>
                                </div>
                                <div *ngIf="showRepo">
                                    <app-iframe [url]='iframeurl'></app-iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>