.required {
  color: red;
  font-size: 20px;
}

.btn {
  margin: 3px;
}


div.solid h3 {
  text-align: left;
  margin-top: -3%;
  height: 20px;
  line-height: 20px;
  font-size: 17px;
}

div.solid h3 span {
  background-color: white;
}

div.solid {
  border-style: solid;
  padding: 2%
}

div.solid1 {
  border-style: solid;
  border-width: thin;
  padding: 1%
}

.card-transaction .transaction-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.transaction-item {
  display: flex !important;
}

.card-transaction .transaction-item {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.d-flex {

  display: flex !important;
}

.bg-light-primary {
  background: rgba(115, 103, 240, .12) !important;
  color: #7367F0 !important;
}

.rounded {
  border-radius: 0.357rem !important;
}

.float-start {
  float: left !important;
}

.card-transaction .transaction-item .avatar {
  margin-right: 1.2rem;
}

.avatar.bg-light-primary {
  color: #7367F0 !important;
}

.avatar.bg-light-success {
  color: #28C76F !important;
}

.avatar {
  white-space: nowrap;
  background-color: #C3C3C3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  color: #FFF;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.card-transaction .transaction-item .avatar .avatar-content {
  width: 42px;
  height: 42px;
}

.avatar .avatar-content {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  font-size: .857rem;
}

.bg-light-success {
  background: rgba(40, 199, 111, .12) !important;
  color: #28C76F !important;
}

.bg-light-danger {
  background: rgba(234, 84, 85, .12) !important;
  color: #EA5455 !important;
}

.transaction-title {
  margin-top: 5px;
  margin-left: 5px;

}

.errspan {
  float: right;
  margin-right: 21px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}

.form-control:disabled {
  background-color: white !important;
  color: black !important;
}

.main-body .page-wrapper {
  padding: 0.4rem;
  padding-bottom: 4% !important;
  transition: all ease-in 0.3s;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.2rem;
}

.alert-danger {
  background-color: #fff;
  border-color: #ff5252;
  color: #ff5252;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 11px;
}

.btn-outline-primary {
  // float: left;
  align-items: center;
  margin-right: 14px;
  border-radius: 5px;
  padding-bottom: 22px;
  padding-top: 4px;
  height: 25px;
}

label {
  display: inline-block;
  margin-bottom: 0.1rem;
  font-size: 14px;
  // font-weight: 600;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 18px;
  max-height: 18px;
  align-items: center;
  font-size: 11px;
}

.input-group .border-lable-flt .form-control {
  border-radius: 0.25rem;
  height: 25px;
  padding-bottom: 0px;
}

.form-control {
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  height: 18px;
  padding: 0rem 0.7rem;
}

.card .card-block {
  padding: 5px;
  padding-bottom: 5px;
}

.align-items-center {
  align-items: center !important;
  margin-left: 35px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  padding-top: 4px;
}