<div style="width: 270px;height: 335px;z-index: 1000;
    position: absolute;margin-top: 14%;margin-left:51%" *ngIf="PreviewDiv">
    <img [src]="previewImg" width="400" height="300">
</div>
<form [formGroup]="angForm" novalidate>
    <div class="row">

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Savings-Pigmy Account Closing</h5>
                            <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                                Fields marked with (<sub class="required"> * </sub>) are mandatory
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">Branch<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode"
                                                formControlName="BRANCH_CODE" bindLabel="label"
                                                title="Compulsory Selection" #branchcode (focus)="onFocus(branchcode)"
                                                [selectOnTab]='true' autofocus
                                                [ngClass]="{'form-submitted': formSubmitted}" placeholder="Branch">
                                                <ng-option *ngFor="let values of branch_code" [value]="values">
                                                    {{values.label}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm"></div>
                                <div class="col-sm-12 col-md-1 labelWidth"><label for="DATE">Date</label></div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                                formControlName="DATE" disabled>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">Scheme<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                                formControlName="AC_TYPE" bindLabel="label" title="Compulsory Selection"
                                                (change)="schemechange($event)"
                                                [ngClass]="{'form-submitted': formSubmitted}" required
                                                placeholder="Scheme" #selectcode (focus)="onFocus(selectcode)"
                                                [selectOnTab]='true'>
                                                <ng-option *ngFor="let values of allScheme" [value]="values">
                                                    {{values.id}} {{values.label}} </ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-2"> <label for="AC_NO">Account Number<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-12 col-md-5">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select id="AC_NO" bindValue="bankacno" [(ngModel)]="accountedit"
                                                (change)="getAccountDetails($event)" formControlName="AC_NO"
                                                bindLabel="label" title="Compulsory Selection" required
                                                placeholder="Account No." #accountNumber
                                                (focus)="onFocus(accountNumber)" [selectOnTab]='true'>
                                                <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                                    {{values.label}} {{values.name}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 solid1">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Interest Rate %</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input type="text" formControlName="INTREST_RATE"
                                                        class="form-control" disabled>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table>
                                                <tr>
                                                    <td colspan="2">Enter Interest Rate</td>
                                                    <td>Interest Amount</td>
                                                    <!-- <td>Interest Amount 0 For Fresh Calculation</td> -->
                                                </tr>
                                                <tr>
                                                    <td>Months</td>
                                                    <td><input style="text-align: right;" type="text"
                                                            formControlName="Months"></td>
                                                    <td><input style="text-align: right;" formControlName="CalCulateAmt"
                                                            type="text"></td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Total Interest Amount @ 6.00 %</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="TotalInterest"
                                                        type="text" (focus)="selectAllContent($event)"
                                                        (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Posted Interest Amount -</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="POSTED_INT"
                                                        type="text" (focus)="selectAllContent($event)"
                                                        (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Net Interest Amount</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="NET_INT"
                                                        type="text" (focus)="selectAllContent($event)"
                                                        (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label for="Fnarration">Narration</label></div>
                                        <div class="col-md">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <textarea class="form-control" formControlName="Fnarration"
                                                        [(ngModel)]="ngFnarration"></textarea>
                                                    <i class="fa fa-info-circle errspan"
                                                        (click)="formnarration.show()"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4"><label for="narration">Narration</label></div>
                                    <div class="col-md">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <textarea class="form-control" formControlName="narration"
                                                    [(ngModel)]="narration"></textarea>
                                                <i class="fa fa-info-circle errspan"
                                                    (click)="modalNarration.show()"></i>
                                            </span>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-md-6 solid1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Ledger Balance Amount
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="LEDGER_BAL"
                                                        (change)="getNetInterest()" type="text"
                                                        (focus)="selectAllContent($event)" (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label> Payable Interest Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="PAYABLE_INT"
                                                        type="text" (focus)="selectAllContent($event)"
                                                        (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>+ Net Interest Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="NET_INT"
                                                        (change)="getNetInterest()" type="text"
                                                        (focus)="selectAllContent($event)" (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="isHideForSaving">
                                        <div class="col-md-6">
                                            <label>- Other Charges Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;"
                                                        formControlName="OTHER_CHARGES_AMOUNT"
                                                        (change)="getNetInterest()" type="text"
                                                        (focus)="selectAllContent($event)" (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="isHideForSaving">
                                        <div class="col-md-6">
                                            <label>Other Charges General ledger Account</label>
                                        </div>
                                        <div class="col-md">
                                            <!-- <span class="border-lable-flt">
                                                <input style="text-align: right;" formControlName="GlACNo" type="text">
                                            </span> -->
                                            <div class="form-group form-primary form-static-label">
                                                <span class="border-lable-flt">
                                                    <ng-select id="GlACNo" bindValue="value" [(ngModel)]="ngGlAcno"
                                                        formControlName="OTHER_CHARGES_GLACNO" bindLabel="label"
                                                        title="Compulsory Selection" required placeholder="Account No."
                                                        #OTHER_CHARGES_GLACNO (focus)="onFocus(OTHER_CHARGES_GLACNO)"
                                                        [selectOnTab]='true'>
                                                        <ng-option *ngFor="let values of GlACNo" [value]="values">
                                                            {{values.label}} {{values.name}}</ng-option>
                                                    </ng-select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="isHideForSaving">
                                        <div class="col-md-6">
                                            <label>- Commission Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;"
                                                        formControlName="COMMISSION_CHARGES" (change)="getNetInterest()"
                                                        type="text" (focus)="selectAllContent($event)"
                                                        (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="isHideForSaving">
                                        <div class="col-md-6">
                                            <label>Commission General ledger Account</label>
                                        </div>
                                        <div class="col-md">
                                            <!-- <span class="border-lable-flt">
                                                <input style="text-align: right;" formControlName="GlACNo" type="text">
                                            </span> -->
                                            <div class="form-group form-primary form-static-label">
                                                <span class="border-lable-flt">
                                                    <ng-select id="COMM_GLCODE" bindValue="value"
                                                        [(ngModel)]="ngCommission" formControlName="COMMISSION_GLACNO"
                                                        bindLabel="label" title="Compulsory Selection" required
                                                        placeholder="Account No." #COMMISSION_GLACNO
                                                        (focus)="onFocus(COMMISSION_GLACNO)" [selectOnTab]='true'>
                                                        <ng-option *ngFor="let values of GlACNo" [value]="values">
                                                            {{values.label}} {{values.name}}</ng-option>
                                                    </ng-select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>- Penal Interest Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="PENAL_INT"
                                                        (change)="getNetInterest()" type="text"
                                                        (focus)="selectAllContent($event)" (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Net Payable Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input style="text-align: right;" formControlName="NETPAYABLE_AMT"
                                                        type="text" (focus)="selectAllContent($event)"
                                                        (keyup)="getDecimal($event)"
                                                        (focusout)="getDecimalPoint($event)" class="form-control">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="solid">
                                        <h3><span>Payment Details</span></h3>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-radio">
                                                    <div class="radio radio-inline">
                                                        <label>
                                                            <input type="radio" formControlName="SAVING_PIGMY"
                                                                name="SAVING_PIGMY" value="FormC" id="formT"
                                                                (change)="isFormA(1)">
                                                            <i class="helper"></i>Cash
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <label>
                                                            <input type="radio" value="FormT"
                                                                formControlName="SAVING_PIGMY" id="formC"
                                                                name="SAVING_PIGMY" (change)="isFormA(2)">
                                                            <i class="helper"></i>Transfer
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="FORMA" *ngIf="isTransfer">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2"><label for="chequeNo">Cheque
                                                            Number</label></div>
                                                    <div class="col-md-2">
                                                        <div class="form-group input-group">
                                                            <span class="border-lable-flt">
                                                                <input type="text" name="chequeNo" class="form-control"
                                                                    placeholder=" " id="chequeNo" value=""
                                                                    style="text-transform: capitalize;"
                                                                    title="Input allowed only  A-Z a-z 0-9 - / . (Space)"
                                                                    required formControlName="chequeNo"
                                                                    (keyup)="chequeNoData($event)" maxlength="10">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-2"><label for="ChequeDate">Cheque
                                                            Date</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group input-group">
                                                            <span class="border-lable-flt">
                                                                <input type="text" placeholder="dd/mm/yyyy"
                                                                    class="form-control"
                                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                                    bsDatepicker [maxDate]="maxDate" [minDate]="minDate"
                                                                    formControlName="ChequeDate">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-2"><label for="Token_Num">Token
                                                            Number</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group input-group">
                                                            <span class="border-lable-flt">
                                                                <input type="text" name="Token_Num" class="form-control"
                                                                    placeholder=" " id="Token_Num" value=""
                                                                    title="Input allowed only  0-9"
                                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                                    formControlName="Token_Num" maxlength="4">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2"> <label for="Tscheme">Scheme
                                                            Code<sub class="required">*</sub></label></div>
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-primary form-static-label">
                                                            <span class="border-lable-flt">
                                                                <ng-select id="Tscheme" bindValue="value"
                                                                    [(ngModel)]="ngschemecode" formControlName="Tscheme"
                                                                    bindLabel="label" title="C
                                                                    ompulsory Selection" #Tscheme
                                                                    (focus)="onFocus(Tscheme)" [selectOnTab]='true'
                                                                    (change)="getTransferAccountList($event)"
                                                                    placeholder="Scheme">
                                                                    <ng-option *ngFor="let values of scheme"
                                                                        [value]="values">
                                                                        {{values.id}} {{values.label}}</ng-option>
                                                                </ng-select>

                                                            </span>
                                                        </div>
                                                        <div class="form-group form-primary form-static-label"
                                                            *ngIf="angForm.controls['Tscheme'].invalid && (angForm.controls['Tscheme'].dirty || angForm.controls['Tscheme'].touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="angForm.controls['Tscheme'].errors?.required">
                                                                This field is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-2"> <label for="TschemeAC">Account
                                                            Number<sub class="required">*</sub></label></div>
                                                    <div class="col-sm-12 col-md">
                                                        <div class="form-group input-group">
                                                            <span class="border-lable-flt">
                                                                <ng-select id="TschemeAC" [(ngModel)]="ngacno"
                                                                    formControlName="TschemeAC" bindLabel="label"
                                                                    (change)="getTransferAccountDeatil($event)"
                                                                    bindValue="bankacno" title="Compulsory Selection"
                                                                    placeholder="Account Number" #TschemeAC
                                                                    (focus)="onFocus(TschemeAC)" [selectOnTab]='true'>
                                                                    <ng-option *ngFor="let values of transferAcno"
                                                                        [value]="values">
                                                                        {{values.label}} {{values.name}}</ng-option>
                                                                </ng-select>
                                                            </span>
                                                        </div>
                                                        <div class="form-group form-primary form-static-label"
                                                            *ngIf="angForm.controls['TschemeAC'].invalid && (angForm.controls['TschemeAC'].dirty || angForm.controls['TschemeAC'].touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="angForm.controls['TschemeAC'].errors?.required">
                                                                This field is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2"><label
                                                            for="NARRATION">Particulars</label></div>
                                                    <div class="col-md-3">
                                                        <div class="form-group input-group">
                                                            <span class="border-lable-flt">

                                                                <textarea class="form-control"
                                                                    formControlName="NARRATION"
                                                                    [(ngModel)]="narration"></textarea>
                                                                <i class="fa fa-info-circle errspan"
                                                                    (click)="modalLarge.show()"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2"><label for="amount">Amount<sub
                                                                class="required">*</sub></label></div>
                                                    <div class="col-md-2">
                                                        <div class="form-group input-group">
                                                            <span class="border-lable-flt">
                                                                <input style="text-align: right;" type="text"
                                                                    class="form-control" name="amount" id="amount"
                                                                    formControlName="amount"
                                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                            *ngIf="jointShowButton" (click)="addTransferAccount()">
                                                            Add Account
                                                        </button>
                                                        <button class="btn btn-outline-primary btn-sm"
                                                            (click)="updateTransferAcccount()" *ngIf="jointUpdateShow">
                                                            Update Account
                                                        </button>
                                                    </div>
                                                </div>

                                                <!-- Multiple Transaction details data show here -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered table-hover compact">
                                                            <thead>
                                                                <td>Action</td>
                                                                <td>Account Number</td>
                                                                <td>Particulars</td>
                                                                <td style="text-align: right;">Amount</td>
                                                            </thead>

                                                            <tbody *ngIf="multigrid?.length != 0">
                                                                <tr *ngFor="let data of multigrid;
                                                                let indexOfelement = index">
                                                                    <td> <span class="fa fa-fw fa-edit field-icon"
                                                                            id="editbutton"
                                                                            (click)="editTransferAccount(indexOfelement)"
                                                                            placement="top" ngbTooltip="Edit"></span>
                                                                    </td>
                                                                    <td>{{ data.TRANSFER_ACNO }}</td>
                                                                    <td>{{ data?.NARRATION }}</td>
                                                                    <td>{{ data.TRAN_AMOUNT }}</td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody *ngIf="multigrid?.length == 0">
                                                                <tr>
                                                                    <td colspan="5" class="no-data-available"
                                                                        style="text-align: center;">
                                                                        No data!
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm" style="float: right;">
                                    <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="showButton"
                                        (click)="submit();branchcode.focus()">
                                        Submit
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm" (click)="addNewData()"
                                        *ngIf="newbtnShow">
                                        Cancel
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-outline-primary btn-sm" (click)="updateData()"
                                        *ngIf="updateShow">
                                        Update</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-outline-primary btn-sm" *ngIf="rejectShow"
                                        (click)="reject()">
                                        Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-outline-primary btn-sm" *ngIf="approveShow"
                                        (click)="Approve()">
                                        Approve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Details
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="transaction-item">
                                        <div class="d-flex">
                                            <div class="avatar bg-light-success rounded float-start">
                                                <div class="avatar-content">
                                                    <i class="fa fa-google-wallet field-icon"></i>
                                                </div>
                                            </div>
                                            <div class="transaction-percentage">
                                                <h6 class="transaction-title" style="font-size: 12px;">Opening Date</h6>
                                            </div>
                                        </div>
                                        <div class="fw-bolder transaction-title text-success"
                                            style="margin-left: auto;order: 2;font-size: 12px;"> {{OpenDate}}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="transaction-item">
                                        <div class="d-flex">
                                            <div class="avatar bg-light-primary rounded float-start">
                                                <div class="avatar-content">
                                                    <i class="fa fa-google-wallet field-icon"></i>
                                                </div>
                                            </div>
                                            <div class="transaction-percentage">
                                                <h6 class="transaction-title" style="font-size: 12px;">Renewal Date</h6>
                                            </div>
                                        </div>
                                        <div class="fw-bolder transaction-title text-success"
                                            style="margin-left: auto;order: 2;font-size: 12px;"> {{renewalDate}}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="transaction-item">
                                        <div class="d-flex">
                                            <div class="avatar bg-light-info rounded float-start">
                                                <div class="avatar-content">
                                                    <i class="fa fa-google-wallet field-icon"></i>
                                                </div>
                                            </div>
                                            <div class="transaction-percentage">
                                                <h6 class="transaction-title" style="font-size: 12px;">Interest Rate%
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="fw-bolder transaction-title text-success"
                                            style="margin-left: auto;order: 2;font-size: 12px;">{{INTRATE}}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="transaction-item">
                                        <div class="d-flex">
                                            <div class="avatar bg-light-success rounded float-start">
                                                <div class="avatar-content">
                                                    <i class="fa fa-google-wallet field-icon"></i>
                                                </div>
                                            </div>
                                            <div class="transaction-percentage">
                                                <h6 class="transaction-title" style="font-size: 12px;">Last Interest
                                                    Date
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="fw-bolder transaction-title text-success"
                                            style="margin-left: auto;order: 2;font-size: 12px;">
                                            {{LastIntDate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="transaction-item">
                                        <div class="d-flex">
                                            <div class="avatar bg-light-primary rounded float-start">
                                                <div class="avatar-content">
                                                    <i class="fa fa-google-wallet field-icon"></i>
                                                </div>
                                            </div>
                                            <div class="transaction-percentage">
                                                <h6 class="transaction-title" style="font-size: 12px;">Maturity
                                                    Date
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="fw-bolder transaction-title text-success"
                                            style="margin-left: auto;order: 2;font-size: 12px;">
                                            {{ maturityDate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div>
                                                <span class="user-avatar-section">
                                                    <img class="img-fluid rounded mt-3 mb-2" [src]="customerImg"
                                                        height="50" width="80" (mouseover)="showImage(customerImg)"
                                                        (mouseout)="hideImage()" alt="User avatar" />
                                                </span> &nbsp; &nbsp;
                                                <span class="user-avatar-section">
                                                    <img class="img-fluid rounded mt-3 mb-2" [src]="signture"
                                                        (mouseover)="showImage(signture)" (mouseout)="hideImage()"
                                                        height="25" width="80" alt="User avatar" />
                                                </span>
                                            </div>
                                            <div class="user-info text-center">
                                                <h6>{{Customer_info?.AC_NAME}}</h6>
                                            </div>
                                            <div class="info-container">
                                                <ul class="list-unstyled">
                                                    <li class="mb-75">
                                                        <span class="fw-bolder me-25">Status:</span>
                                                        <span class="badge bg-light-success">{{Status == true || Status
                                                            ==
                                                            1? 'Inactive' :
                                                            'Active'}}</span>
                                                    </li>
                                                    <li class="mb-75">
                                                        <span class="fw-bolder me-25">PAN ID:</span>
                                                        <span>{{Customer_info?.AC_PANNO}}</span>
                                                    </li>
                                                    <li class="mb-75">
                                                        <span class="fw-bolder me-25">Contact:</span>
                                                        <span>{{Customer_info?.AC_MOBILENO}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>
<app-modal-basic #modalLarge [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Narration Master</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Narration</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getNarration(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" #triggerhide
                        (click)="modalLarge.hide()">Close</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</app-modal-basic>

<app-modal-basic #formnarration [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Narration Master</h4>
        <button type="button" class="close basic-close" (click)="formnarration.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Narration</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getFormNarration(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" #narrationhide
                        (click)="formnarration.hide()">Close</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</app-modal-basic>