<!-- <div>
    <label for="cibil-score">Check Your Cibil Here</label>
    <button  type="button" class="btn btn-outline-primary btn-sm" (click)="checkCibilScore()">Check CIBIL</button>
  </div>
   -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Cibil Score Checking</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" >
                <div class="card-block">
                    <div class="row">
                        <div class=" col-md-2"> <label for="Cibil">Check Your Cibil here</label></div>
                       
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                (click)="checkCibilScore()">Check Cibil</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>