<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Data Backup</h5>
            </div>
            <form>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-outline-primary btn-sm" style="float: left;"
                                *ngIf="showButton" (click)="download()">Prepare File to
                                Download</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a [href]="fileUrl" download *ngIf="showDButton"> <button type="button"
                                    class="btn btn-outline-primary btn-sm" style="float: left;">
                                    Download File
                                </button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div [class]="modalClass"><!-- Place at bottom of page --> </div>