<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Vehicle</h5>
        <!-- <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6> -->
      </div>
      <form
        action="javascript:"
        [formGroup]="angForm"
        novalidate
        
        #myform="ngForm"
      >
        <div class="card-block">
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" "
                    id="subm_date"
                    required=""
                    max="31-12-9999"
                    formControlName="SUBMISSION_DATE"
                    onfocus="(this.type='date')"
                    #autofocus
                  />
                  <label for="subm_date"
                    >Submission Date<sub class="required">* </sub></label
                  >
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['SUBMISSION_DATE'].invalid &&
                  (angForm.controls['SUBMISSION_DATE'].dirty ||
                    angForm.controls['SUBMISSION_DATE'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="angForm.controls['SUBMISSION_DATE'].errors?.required"
                >
                  This field is required
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" "
                    id="RTORegistrationDate"
                    required=""
                    max="9999-12-31"
                    formControlName="RTO_REG_DATE"
                    onfocus="(this.type='date')"
                  />
                  <label for="RTORegistrationDate"
                    >RTO Registration Date<sub class="required">* </sub></label
                  >
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['RTO_REG_DATE'].invalid &&
                  (angForm.controls['RTO_REG_DATE'].dirty ||
                    angForm.controls['RTO_REG_DATE'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="angForm.controls['RTO_REG_DATE'].errors?.required">
                  This field is required
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="vehicle_make"
                    class="form-control"
                    placeholder=" "
                    id="vehicle_make"
                    required=""
                    pattern="^[A-Za-z'\.\-\s]+$"
                    title="Input allowed only  A-Z a-z  - / . (Space)"
                    maxlength="50"
                    formControlName="VEHICLE_MAKE"
                  />
                  <label for="vehicle_make"
                    >Vehicle Make<sub class="required">* </sub></label
                  >
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['VEHICLE_MAKE'].invalid &&
                  (angForm.controls['VEHICLE_MAKE'].dirty ||
                    angForm.controls['VEHICLE_MAKE'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    angForm.controls['VEHICLE_MAKE'].errors?.pattern ||
                    angForm.controls['VEHICLE_MAKE'].errors?.required
                  "
                >
                  This field is required and Input allowed only A-Z a-z - / .
                  (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" "
                    id="YearofManufacture"
                    required=""
                    pattern="^[0-9]+$"
                    maxlength="4"
                    formControlName="MANUFACTURE_YEAR"
                    title="Input allowed only  0-9"
                  />
                  <label for="YearofManufacture"
                    >Year of Manufacture<sub class="required">* </sub></label
                  >
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['MANUFACTURE_YEAR'].invalid &&
                  (angForm.controls['MANUFACTURE_YEAR'].dirty ||
                    angForm.controls['MANUFACTURE_YEAR'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    angForm.controls['MANUFACTURE_YEAR'].errors?.pattern ||
                    angForm.controls['MANUFACTURE_YEAR'].errors?.required
                  "
                >
                  This field is required and Input allowed only 0-9
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="VehicleNumber"
                    class="form-control"
                    placeholder=" "
                    id="VehicleNumber"
                    required=""
                    pattern="^[A-Za-z0-9'\.\-\s]+$"
                    maxlength="30"
                    title="Input allowed only A-Z a-z 0-9  - / . (Space)"
                    formControlName="VEHICLE_NO"
                  />
                  <label for="VehicleNumber"
                    >Vehicle Number<sub class="required">* </sub></label
                  >
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['VEHICLE_NO'].invalid &&
                  (angForm.controls['VEHICLE_NO'].dirty ||
                    angForm.controls['VEHICLE_NO'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    angForm.controls['VEHICLE_NO'].errors?.pattern ||
                    angForm.controls['VEHICLE_NO'].errors?.required
                  "
                >
                  This field is required and Input allowed only A-Z a-z 0-9 - /
                  . (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="ChasisNumber"
                    class="form-control"
                    placeholder=" "
                    id="ChasisNumber"
                    pattern="^[A-Za-z0-9'\.\-\s]+$"
                    maxlength="30"
                    title="Input allowed only A-Z a-z 0-9  - / . (Space)"
                    formControlName="CHASSIS_NO"
                  />
                  <label for="ChasisNumber">Chasis Number</label>
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['CHASSIS_NO'].invalid &&
                  (angForm.controls['CHASSIS_NO'].dirty ||
                    angForm.controls['CHASSIS_NO'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="angForm.controls['CHASSIS_NO'].errors?.pattern">
                  Input allowed only A-Z a-z 0-9 - / . (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" "
                    id="DateofAcquisition"
                    required=""
                    max="9999-12-31"
                    formControlName="AQUISITION_DATE"
                    onfocus="(this.type='date')"
                    id="date"
                  />
                  <label for="DateofAcquisition">Date of Acquisition</label>
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['AQUISITION_DATE'].invalid &&
                  (angForm.controls['AQUISITION_DATE'].dirty ||
                    angForm.controls['AQUISITION_DATE'].touched)
                "
                class="alert alert-danger"
              >
                Please fill this field
              </div>
            </div>
            <div class="col-sm">
              <div class="border-checkbox-section">
                <div
                  class="border-checkbox-group border-checkbox-group-primary"
                >
                  <input
                    class="border-checkbox"
                    type="checkbox"
                    id="checkbox1"
                    value="checkbox"
                    [checked]="new_article == true"
                    formControlName="NEW_VEHICLE"
                  />
                  <label class="border-checkbox-label" for="checkbox1"
                    >New Vehicle ?<sub class="required">* </sub
                    ><span class="required"> </span
                  ></label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="SupplierName"
                    class="form-control"
                    placeholder=" "
                    id="SupplierName"
                    pattern="^[A-Za-z'\.\-\s]+$"
                    title="Input allowed only  A-Z a-z  - / . (Space)"
                    maxlength="90"
                    formControlName="SUPPLIER_NAME"
                  />
                  <label for="SupplierName">Supplier Name</label>
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['SUPPLIER_NAME'].invalid &&
                  (angForm.controls['SUPPLIER_NAME'].dirty ||
                    angForm.controls['SUPPLIER_NAME'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="angForm.controls['SUPPLIER_NAME'].errors?.pattern">
                  Input allowed only A-Z a-z - / . (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="PurchasePrice"
                    class="form-control"
                    placeholder=" "
                    id="PurchasePrice"
                    required=""
                    pattern="\d{1,20}(\.\d{2})?"
                    title="Input allowed only  0-9"
                    formControlName="PURCHASE_PRICE"
                  />
                  <label for="PurchasePrice"
                    >Purchase Price<sub class="required">* </sub></label
                  >
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['PURCHASE_PRICE'].invalid &&
                  (angForm.controls['PURCHASE_PRICE'].dirty ||
                    angForm.controls['PURCHASE_PRICE'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    angForm.controls['PURCHASE_PRICE'].errors?.pattern ||
                    angForm.controls['PURCHASE_PRICE'].errors?.required
                  "
                >
                  This field is required and Input allowed only 0-9
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="margin"
                    class="form-control"
                    placeholder=" "
                    id="margin"
                    #margin
                    (keyup)="checkmargin(margin.value)"
                    pattern="\d{1,5}(\.\d{2})?"
                    title="Input allowed only  0-9"
                    formControlName="MARGIN"
                  />
                  <label for="margin">Margin %</label>
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['MARGIN'].invalid &&
                  (angForm.controls['MARGIN'].dirty ||
                    angForm.controls['MARGIN'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="angForm.controls['MARGIN'].errors?.pattern">
                  Input allowed only 0-9
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input
                    type="text"
                    name="remarks"
                    class="form-control"
                    placeholder=" "
                    id="remarks"
                    pattern="^[A-Za-z'\.\-\s]+$"
                    maxlength="90"
                    title="Input allowed only  A-Z a-z  - / . (Space)"
                    formControlName="REMARK"
                  />
                  <label for="remarks">Remarks</label>
                </span>
              </div>
              <div
                class="form-group form-primary form-static-label"
                *ngIf="
                  angForm.controls['REMARK'].invalid &&
                  (angForm.controls['REMARK'].dirty ||
                    angForm.controls['REMARK'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="angForm.controls['REMARK'].errors?.pattern">
                  Input allowed only A-Z a-z - / . (Space)
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <button
                class="btn btn-primary ripple light"
                *ngIf="showButton"
                (click)="submit(angForm.value)"
                [disabled]="angForm.invalid"
              >
                Add
              </button>
              <button
                class="btn btn-primary ripple light"
                (click)="updateData()"
                *ngIf="updateShow"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-sm">
            <div class="table-responsive">
              <table
                datatable
                [dtOptions]="dtExportButtonOptions"
                [dtTrigger]="dtTrigger"
                class="table table-striped table-bordered table-hover"
              >
                <tbody *ngIf="vehiclemasters?.length != 0">
                  <tr *ngFor="let data of vehiclemasters">
                    <td>
                      <button
                        class="btn btn-outline-primary btn-sm"
                        id="editbtn"
                        (click)="editClickHandler(data.id)"
                      >
                        Edit
                      </button>
                      &nbsp;
                      <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                    </td>

                    <td>{{ data.SUBMISSION_DATE }}</td>
                    <td>{{ data.RTO_REG_DATE }}</td>
                    <td>{{ data.VEHICLE_MAKE }}</td>
                    <td>{{ data.MANUFACTURE_YEAR }}</td>
                    <td>{{ data.VEHICLE_NO }}</td>
                    <td>{{ data.CHASSIS_NO }}</td>
                    <td>{{ data.AQUISITION_DATE }}</td>
                    <td>{{ data.NEW_VEHICLE }}</td>
                    <td>{{ data.SUPPLIER_NAME }}</td>
                    <td>{{ data.PURCHASE_PRICE }}</td>
                    <td>{{ data.MARGIN }}</td>
                    <td>{{ data.REMARK }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="vehiclemasters?.length == 0">
                  <tr>
                    <td colspan="6" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Date of Submission"
                        name="SUBMISSION_DATE"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search RTO Registration Date"
                        name="RTO_REG_DATE"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Vehicle Make"
                        name="VEHICLE_MAKE"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Year of Manufacture"
                        name="MANUFACTURE_YEAR"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Vehicle Number"
                        name="VEHICLE_NO"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Chasis Number"
                        name="CHASSIS_NO"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Date of Acquisition"
                        name="AQUISITION_DATE"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search New Vehicle"
                        name="NEW_VEHICLE"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Supplier Name"
                        name="SUPPLIER_NAME"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search Purchase Price"
                        name="PURCHASE_PRICE"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search MARGIN"
                        name="MARGIN"
                      />
                    </th>
                    <th>
                      <input
                        type="text"
                        placeholder="Search REMARK"
                        name="REMARK"
                      />
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
