<!-- Member Guranter Details -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Member Guranter Details</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form [formGroup]="angForm" novalidate>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Branch Code<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label" >
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedBranch" formControlName="branch_code" >
                                        <ng-option *ngFor="let item of branch_code" [value]="item.value">
                                            {{item.label}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['branch_code'].invalid && (angForm.controls['branch_code'].dirty || angForm.controls['branch_code'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['branch_code'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Shares Scheme<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedshScheme" #scheme formControlName="scheme"
                                        (change)="getmemNo($event)">
                                        <ng-option *ngFor="let item of sharescheme" [value]="item">
                                            {{item.S_APPL}} {{item.S_NAME}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['scheme'].invalid && (angForm.controls['scheme'].dirty || angForm.controls['scheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['scheme'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Member No.<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <!-- <ng-select [(ngModel)]="selectedmemNo" #scheme formControlName="memNo"
                                        bindValue="bankacno" bindLabel="NAME" >
                                        <ng-option *ngFor="let item of introducerACNo" [value]="item">
                                            {{item.label}} {{item.name}}</ng-option>
                                    </ng-select> -->
                                    <ng-select [(ngModel)]="selectedmemNo" formControlName="memNo"
                                        (change)="getAcNo($event)">
                                        <ng-option *ngFor="let item of memberNo" [value]="item">
                                            {{item.SHMASTER_AC_NO}} {{item.SHMASTER_AC_NAME}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['memNo'].invalid && (angForm.controls['memNo'].dirty || angForm.controls['memNo'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['memNo'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="table-responsive fixTableHead">
                                <table class="table table-striped table-bordered table-hover compact"
                                    *ngIf="tableData?.length != 0">
                                    <!-- <table class="table table-bordered table-hover compact" *ngIf="tableData?.length != 0"> -->
                                    <thead>
                                        <td>Sr.No</td>
                                        <td>S Type</td>
                                        <td>S Code</td>
                                        <td>Ac No</td>
                                        <td style="width: 50px;">Ac Name</td>
                                        <td>Sacation Amount</td>
                                        <td>Open Date</td>
                                        <td>EXPIRE DATE</td>
                                        <td>Ac Closed</td>
                                        <td style="width: 50px;">Guranter1</td>
                                        <td>Guranter2</td>
                                        <td>Close Date</td>
                                        <td>Branch</td>
                                    </thead>
                                    <tbody *ngIf="tableData?.length != 0">
                                        <tr *ngFor="let row of tableData,let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{ row.AC_TYPE }}</td>
                                            <td>{{ row.AC_ACNOTYPE }}</td>
                                            <td>{{ row.AC_NO }}</td>
                                            <td>{{ row.AC_NAME }}</td>
                                            <td>{{ row.AC_SANCTION_AMOUNT }}</td>
                                            <td>{{ row.AC_OPDATE }}</td>
                                            <td>{{ row.AC_EXPIRE_DATE }}</td>
                                            <td>{{ row.AC_CLOSEDT }}</td>
                                            <td class="td_right">
                                                <!-- <input style="text-align: right; width: 100px;" type="text"
                                                    (focus)="selectAllContent($event)" name="Guranter1" id="Guranter1"> -->
                                                <!-- <ng-select 
                                                 [(ngModel)]="Guranter1" id="Guranter1" [(ngModel)]="row.AC_GURANTER1" (ngModelChange)="updateTableDataForGuranter1($event, i)" >
                                                    <ng-option *ngFor="let guran1 of g1" [value]="guran1">{{guran1}} </ng-option>
                                                </ng-select> -->
                                                <ng-select [(ngModel)]="row.GUR_NO1" id="Guranter1"
                                                    (change)="onCellChange($event, row ,'GUR_NO1')">
                                                    <ng-option *ngFor="let guran1 of g1"
                                                        [value]="guran1">{{guran1.AC_NO}} {{guran1.AC_NAME}}</ng-option>
                                                </ng-select>

                                            </td>
                                            <td class="td_right">
                                                <ng-select [(ngModel)]="row.GUR_NO2" id="Guranter2"
                                                    (change)="onCellChange($event, row ,'GUR_NO2')">
                                                    <ng-option *ngFor="let guran2 of g2" [value]="guran2">{{guran2.AC_NO}} {{guran2.AC_NAME}}
                                                    </ng-option>
                                                </ng-select>
                                            </td>
                                            <td class="td_right">
                                                <div class="form-group input-group">
                                                    <!-- <span class="border-lable-flt">
                                                    <input type="text" placeholder="dd/mm/yyyy" [(ngModel)]="row.EXP_DATE" name="EXP_DATE" id="EXP_DATE " class="form-control" appDateValidation  (change)="onCellChange($event, row ,'EXP_DATE')"
                                                    (click)="openDatepicker('EXP_DATE')" formControlName="EXP_DATE" appButton minlength="10" maxlength="10" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47" bsDatepicker>
                                                  </span> -->
                                                    <input type="text" placeholder="dd/mm/yyyy"
                                                        [(ngModel)]="row.EXP_DATE" name="EXP_DATE" id="EXP_DATE "
                                                        class="form-control" formControlName="EXP_DATE"
                                                        (change)="onCellChange($event, row ,'EXP_DATE')">
                                                </div>
                                            </td>
                                            <td>{{ row.BRANCH_CODE }}</td>
                                        </tr>

                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn  btn-outline-primary btn-sm" (click)="close()">Close</button>

                            <button class="btn  btn-outline-primary btn-sm" (click)="reset()">Cancel</button>

                            <button class="btn  btn-outline-primary btn-sm" (click)="update()">submit</button>

                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>