<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Voucher Printing</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form [formGroup]="ngForm">
                <div class="card-block">

                    <div class="row">
                        <div class="col-sm">
                            <div class="row">

                                <div class="col-sm-2 col-md-1"> <label for="AC_BRANCH">Branch Code<sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select bindValue="value" bindLabel="label" [(ngModel)]="BranchCode"
                                                (change)="getBranch($event)" formControlName="BRANCH_CODE" #branchcode
                                                autofocus>
                                                <ng-option *ngFor="let values of branch_code" [value]="values">
                                                    {{values.label}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['BRANCH_CODE'].invalid && (ngForm.controls['BRANCH_CODE'].dirty || ngForm.controls['BRANCH_CODE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="ngForm.controls['BRANCH_CODE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label for="vtype">Source Type<sub class="required">*</sub></label>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select bindValue="value" bindLabel="label" [(ngModel)]="vtype"
                                                formControlName="VOUCHER_TYPE" (change)="getType($event)">
                                                <ng-option *ngFor="let values of vtypes" [value]="values">
                                                    {{values.label}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['VOUCHER_TYPE'].invalid && (ngForm.controls['VOUCHER_TYPE'].dirty || ngForm.controls['VOUCHER_TYPE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="ngForm.controls['VOUCHER_TYPE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="TranType">Transaction Type<sub class="required">*
                                        </sub></label>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select bindValue="value" bindLabel="label" [(ngModel)]="tranType" formControlName="TRAN_TYPE" (change)="getType1($event)">
                                                <ng-option *ngFor="let values of ttypes" [value]="values">
                                                    {{values.label}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['TRAN_TYPE'].invalid && (ngForm.controls['TRAN_TYPE'].dirty || ngForm.controls['TRAN_TYPE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="ngForm.controls['TRAN_TYPE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-1"> <label for="VOUCHER_NO">Voucher Number<sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select bindValue="TRAN_NO"   [(ngModel)]="voucherNo"
                                                formControlName="VOUCHER_NO">
                                                <ng-option *ngFor="let values of glDetails" [value]="values">
                                                    {{values.TRAN_NO}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['VOUCHER_NO'].invalid && (ngForm.controls['VOUCHER_NO'].dirty || ngForm.controls['VOUCHER_NO'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="ngForm.controls['VOUCHER_NO'].errors?.required">
                                            This field is required 
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-12 col-md-1"> <label for=" Date">Date<sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" placeholder="dd/mm/yyyy" name="Date" id="Date"
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" class="form-control"
                                                [(ngModel)]="dates" formControlName="DATE" appButton minlength="8"
                                                maxlength="10"
                                                (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                bsDatepicker>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['DATE'].invalid && (ngForm.controls['DATE'].dirty || ngForm.controls['DATE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="ngForm.controls['DATE'].errors?. maxlength || ngForm.controls['DATE'].errors?. minlength || ngForm.controls['DATE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- <div class="row">

                                <div class="col-md-1"> <label for=" voucherType">Voucher Type<sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <ng-select id="cdropdown" [(ngModel)]="vtype" formControlName="VOUCHER_TYPE"
                                                bindValue="AC_NO" bindLabel="AC_NO" placeholder="">
                                                <ng-option *ngFor="let values of introducerACNo" [value]="values">
                                        {{ values.AC_NO }} {{ values.AC_NAME }}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['VOUCHER_TYPE'].invalid && (ngForm.controls['VOUCHER_TYPE'].dirty || ngForm.controls['VOUCHER_TYPE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="ngForm.controls['VOUCHER_TYPE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="tranType">Transaction Type<sub class="required">* </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <ng-select id="cdropdown" [(ngModel)]="tranType" formControlName="TRAN_TYPE"
                                                bindValue="AC_NO" bindLabel="AC_NO" placeholder="">
                                                <ng-option *ngFor="let values of introducerACNo" [value]="values">
                                        {{ values.AC_NO }} {{ values.AC_NAME }}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="ngForm.controls['TRAN_TYPE'].invalid && (ngForm.controls['TRAN_TYPE'].dirty || ngForm.controls['TRAN_TYPE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="ngForm.controls['TRAN_TYPE'].errors?. maxlength || ngForm.controls['TRAN_TYPE'].errors?. minlength || ngForm.controls['TRAN_NO'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2"> <label style="font-size: 15px; color: black;">Type</label>
                                </div>
                                <div class="col-sm-12 col-md-4">

                                    <div class="form-radio">
                                        <div class="radio radio-inline">
                                            <label class="inputRadio">
                                                <input type="radio" name="type" value="credit" formControlName="type">
                                                <i class="helper"></i>Credit </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label class="inputRadio">
                                                <input type="radio" name="type" value="debit" formControlName="type">
                                                <i class="helper"></i>Debit </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label class="inputRadio">
                                                <input type="radio" name="type" value="both" formControlName="type">
                                                <i class="helper"></i>Both </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->


                            <div class="row">

                                <div class="col-sm">
                                    <button class="btn  btn-outline-primary btn-sm" (click)="close()">Close</button>

                                    <button class="btn  btn-outline-primary btn-sm"
                                        (click)="view($event); clicked = true ">Print</button>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Report Frame</h5>
                                        </div>
                                        <div *ngIf="showRepo">
                                            <app-iframe5 [url]='iframe5url'></app-iframe5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>

        </div>
    </div>
</div>