<!-- Day End -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Day End</h5>
            </div>
            <form class="form-material" action="javascript:">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="date" class="form-control" name="ngdate" [(ngModel)]="ngdate" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" (click)="DayEnd()">Day End</button>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
</div>
