<section class="login-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="resetpassword()">
            <div class="auth-box card">
              <div class="card-block">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center" style="color: rgb(102, 101, 101);">Set Password</h3>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                      <span class="border-label-flt">
                        <input type="email" name="username"  placeholder=" " title="Enter valid UserName" id="username" [(ngModel)]="username" required>
                        <label for="username"> 
                          <i class="fa fa-user" aria-hidden="true"></i> UserName</label>
                      </span>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <span class="border-label-flt">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" name="Create_Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" minlength="4"  placeholder=" " id="Create_Password" required [(ngModel)]="newPassword">
                        <label for="Create_Password"><i class="fa fa-unlock-alt" aria-hidden="true"></i> New Password<sub class="required">*</sub></label>
                      </span>
                    </div>
                  </div>
                  <i class="fa faClass1" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility('new')"></i>
                </div>
  
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                      <span class="border-label-flt">
                        
                        <input [type]="showConfirmPassword ? 'text' : 'password'" name="Confirm_Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"  placeholder=" " id="Confirm_Password" required [(ngModel)]="confirmPassword">
                        <label for="Confirm_Password"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Confirm Password <sub class="required">*</sub></label>
                        
                      </span>
                      
                    </div>
                  </div>
                  <i class="fa faClass" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility('confirm')"></i>
                </div>
  
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">Reset Password</button>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4">
                    <img src="assets/images/comp.png" alt="small-logo.png">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  