<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h5>Hot Keys Help</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F2</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Calculator</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F3</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Single Voucher</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F4</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Multi Voucher</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>Shift F8</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Account Enquiry</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F8</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Customer Details</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F9</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Ledger View</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F11</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Manager View</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F12</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Centralised Passing</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^F3</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Voucher View</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^B</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Batch Voucher</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>F1</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Code Help</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^C</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Copy</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^X</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Cut</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^V</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Paste</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^U</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Undo</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h6><span>^A</span></h6>
                    </div>
                    <div class="col-sm">
                        <h6><span>Select All</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>