<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Charges Noting</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="BRANCH" bindValue="value" [(ngModel)]="ngBranchCode"
                                        formControlName="BRANCH" bindLabel="label" title="Compulsory Selection" #BRANCH
                                        (focus)="onFocus(BRANCH)" [selectOnTab]='true' [virtualScroll]="true"
                                        [ngClass]="{'form-submitted': formSubmitted}" (change)="getBranch($event)"
                                        placeholder="Branch">
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="BRANCH">Branch</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH'].invalid && (angForm.controls['BRANCH'].dirty || angForm.controls['BRANCH'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH'].errors?.required">
                                    <!-- This field is required -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="Scheme" bindValue="id" [(ngModel)]="ngscheme"
                                        formControlName="Scheme" bindLabel="label" title="Compulsory Selection" #Scheme
                                        (focus)="onFocus(Scheme)" [selectOnTab]='true' (change)="schemechange($event)"
                                        [ngClass]="{'form-submitted': formSubmitted}" required [virtualScroll]="true"
                                        placeholder="Scheme Code">
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.S_APPL}} {{values.S_NAME}}</ng-option>
                                    </ng-select>
                                    <label for="Scheme">Scheme Code<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Scheme'].invalid && (angForm.controls['Scheme'].dirty || angForm.controls['Scheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Scheme'].errors?.required">
                                    <!-- This field is required -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="FROM_AC" bindValue="value" [(ngModel)]="ngfromac"
                                        formControlName="FROM_AC" bindLabel="label" title="Compulsory Selection"
                                        #FROM_AC (focus)="onFocus(FROM_AC)" [selectOnTab]='true' [virtualScroll]="true"
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="From A/C">
                                        <ng-option *ngFor="let values of fromAC" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                    <label for="FROM_AC">From Account Number<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['FROM_AC'].invalid && (angForm.controls['FROM_AC'].dirty || angForm.controls['FROM_AC'].touched)"
                                class="alert alert-danger">

Charges Type                                <div *ngIf="angForm.controls['FROM_AC'].errors?.required">
                                    <!-- This field is required -->{{'Utility.Validation.Val1' | translate}}

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="TO_AC" bindValue="value" [(ngModel)]="ngtoac"
                                        formControlName="TO_AC" bindLabel="label" title="Compulsory Selection"
                                        [virtualScroll]="true" (change)="getTable()" #TO_AC (focus)="onFocus(TO_AC)"
                                        [selectOnTab]='true' [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="To A/C">
                                        <ng-option *ngFor="let values of toAC" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                    <label for="TO_AC">To Account Number<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TO_AC'].invalid && (angForm.controls['TO_AC'].dirty || angForm.controls['TO_AC'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TO_AC'].errors?.required">
                                    <!-- This field is required -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="TRAN_DATE" class="form-control" formControlName="TRAN_DATE"
                                        disabled>
                                    <label for="date">Noting Date<sub class="required">*</sub></label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox checkbox-primary">
                                <div class="border-checkbox-group border-checkbox-group-primary">
                                    <input class="border-checkbox" type="checkbox" id="checkbox1" value="checkbox"
                                        formControlName="addInPrinciple">
                                    <label class="border-checkbox-label" for="checkbox1">Add in Principle</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="AMOUNT_TYPE" bindValue="FIELD_AMOUNT"
                                        [(ngModel)]="ngchargestype" formControlName="AMOUNT_TYPE"
                                        bindLabel="DESCRIPTION" (change)="getCommanNarration($event)"
                                        [virtualScroll]="true" title="Compulsory Selection" #AMOUNT_TYPE
                                        (focus)="onFocus(AMOUNT_TYPE)" [selectOnTab]='true'
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="Charges Type">
                                        <ng-option *ngFor="let values of chargesType" [value]="values">
                                            {{values.DESCRIPTION}}</ng-option>
                                    </ng-select>
                                    <label for="AMOUNT_TYPE">Charges Type<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AMOUNT_TYPE'].invalid && (angForm.controls['AMOUNT_TYPE'].dirty || angForm.controls['AMOUNT_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AMOUNT_TYPE'].errors?.required">
                                    <!-- This field is required -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="inputRadio">
                                        <input type="radio" formControlName="TRAN_DRCR" name="TRAN_DRCR" value="D">
                                        <i class="helper"></i>Debit<span> </span>
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="inputRadio">
                                        <input type="radio" formControlName="TRAN_DRCR" name="TRAN_DRCR" value="C">
                                        <i class="helper"></i>Credit<span> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="To" class="form-control" placeholder=" " id="TRAN_AMOUNT"
                                        title="Input allowed only  0-9" style="text-align: right;"
                                        (focusout)="getDecimalPoint($event)" (keyup)="getDecimal($event)"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )"
                                        (change)="getCommanChargeAmount()" formControlName="TRAN_AMOUNT">
                                    <label for="TRAN_AMOUNT">Charges Amount</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TRAN_AMOUNT'].invalid && (angForm.controls['TRAN_AMOUNT'].dirty || angForm.controls['TRAN_AMOUNT'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TRAN_AMOUNT'].errors?.pattern">
                                    <!-- Input allowed only 0-9 -->{{'Utility.Validation.Val_Pin_Code' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox checkbox-primary">
                                <div class="border-checkbox-group border-checkbox-group-primary">
                                    <input class="border-checkbox" type="checkbox" id="checkbox2" value="checkbox"
                                        formControlName="GL_ENTRY">
                                    <label class="border-checkbox-label" for="checkbox2">Create GL Entry<span
                                            class="required"> </span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="S_GLACNO" bindValue="value" [(ngModel)]="ngglacno"
                                        formControlName="transeferglaccno" bindLabel="label" [virtualScroll]="true"
                                        #S_GLACNO (focus)="onFocus(S_GLACNO)" [selectOnTab]='true'
                                        title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                                        required placeholder="Transfer G.L.A/c No">
                                        <ng-option *ngFor="let values of acMaster" [value]="values">{{values.label}}
                                        </ng-option>
                                    </ng-select>
                                    <label for="transeferglaccno">Transfer G.L. A/C No<sub class="required"> *
                                        </sub></label>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="float: right;">
                        <div class="col-sm-2">
                            <button class="btn btn-outline-primary btn-sm btn-submit" *ngIf="showButton"
                                (click)="submit()" (keydown.Tab)="focus()" appTheme>Submit</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                    <div class="row">
                        <label for=""></label>
                        <label for=""></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div *ngIf="showTable">
            <div class="col-12">
                <div class="table-responsive">
                    <table datatable [dtTrigger]="dtTrigger"
                        class="table table-striped table-bordered table-hover compact">
                        <thead>
                            <tr>
                                <td class="td_right">Account Number</td>
                                <td>Account Name</td>
                                <td class="td_center">Charges Amount</td>
                                <td class="td_right">Narration</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control" (keyup)="filterObject($event,'AC_NO')"></td>
                                <td><input type="text" class="form-control" style="text-transform:uppercase;"
                                        (keyup)="filterObject($event,'AC_NAME')"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="notingChargesArr?.length != 0">
                            <tr *ngFor="let data of notingChargesArr;
                        let indexOfelement = index">
                                <td class="td_right">{{data.AC_NO}}</td>
                                <td>{{data.AC_NAME == '' || data.AC_NAME == null ? '-' :
                                    data.AC_NAME}}</td>
                                <td class="td_right">
                                    <input style="text-align: right;" type="text" class="form-control"
                                        (focus)="selectAllContent($event)" name="chargesAmt" id="chargesAmt" #chargesAmt
                                        value="{{data.TRAN_AMOUNT}}" (keypress)=" ($event.charCode>= 48 && $event.charCode <
                                        58)"
                                        (focusout)="getChargesAmount(data.id,data.AC_NO,data.BANKACNO,chargesAmt.value,Narration.value)">
                                </td>
                                <td class="td_right">
                                    <input type="text" class="form-control" name="Narration" id="Narration" #Narration
                                        value="{{data.NARRATION}}"
                                        (focusout)="getNarration(data.id,data.AC_NO,data.BANKACNO,Narration.value,chargesAmt.value)">
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="notingChargesArr?.length == 0">
                            <tr>
                                <td colspan="6" class="no-data-available" style="text-align: center;">
                                    No data!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div [class]="modalClass"> </div>