<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Depreciation Rate Master</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm col-lg">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="LastIntDate" class="form-control" placeholder=" "
                                        id="LastIntDate" required="" value="{{ message.LastIntDate }}" max="9999-12-31" id="date" onfocus="(this.type='date')" formControlName="date">
                                    <label for="date">Last Int. Date<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['date'].errors?.pattern || angForm.controls['date'].errors?.required">
                                    This field is required
                                </div>
                            </div>

                        </div>

                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Category Code*" required title="Compulsory Selection" formControlName="category">
                                </ng-select>
                                <label>{{ message.scheme }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['category'].invalid && (angForm.controls['category'].dirty || angForm.controls['category'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['category'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="DepreciationRate" class="form-control" placeholder=" "
                                        id="DepreciationRate" required="" value="{{ message.DepreciationRate }}"
                                        pattern="^[0-9]+$" title="Input allowed only  0-9"
                                        formControlName="DepreciationRate">
                                    <label for="DepreciationRate">Depreciation Rate<sub class="required">*
                                        </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['DepreciationRate'].invalid && (angForm.controls['DepreciationRate'].dirty || angForm.controls['DepreciationRate'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['DepreciationRate'].errors?.pattern || angForm.controls['DepreciationRate'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary ripple light" *ngIf="showButton" [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>