.required{
    color: red;
}

.card-body{
    border: 3px solid black;
    margin-left: 40px;
    margin-right: 40px;
}


.card-header{
    margin-bottom: 10px;
}
  
h1{
    text-align: left;
    margin-top: -30px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}

#btnrow{
    margin-right: 20px;
}
  
#cb{
    margin-top: 10px;
}

#cb1{
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
  
h1 span{
    background-color: white;
}