<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Loan Projection</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-3">
                           
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                  <input
                                    type="text"
                                    name="Loan"
                                    class="form-control"
                                    placeholder=" "
                                    id="Loan"
                                    required=""
                                  />
                                  <label for="Loan"
                                    >Loan<sub class="required">* </sub></label
                                  >
                                </span>
                              </div>
                        </div>
                        <div class="col-sm-3">
                           
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                  <input
                                    type="text"
                                    name="Period"
                                    class="form-control"
                                    placeholder=" "
                                    id="Period"
                                    required=""
                                  />
                                  <label for="Period"
                                    >Period<sub class="required">* </sub></label
                                  >
                                </span>
                              </div>
                        </div>
                        <div class="col-sm-3">

                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true" placeholder="Repayment Mode *">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true" placeholder="Installment type *">
                                </ng-select>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm">
                            
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true" placeholder="Int. Posting Method *">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm">
                            
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                  <input
                                    type="text"
                                    name="InterestRate"
                                    class="form-control"
                                    placeholder=" "
                                    id="InterestRate"
                                    required=""
                                  />
                                  <label for="InterestRate"
                                    >Interest Rate<sub class="required">* </sub></label
                                  >
                                </span>
                              </div>
                        </div>
                        <div class="col-sm">
                           
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Date" class="form-control" placeholder=" "
                                        id="Date" 
                                        onfocus="(this.type='date')" formControlName="Date">
                                    <label for="Date">Date *</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                           
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                  <input
                                    type="text"
                                    name="Installment"
                                    class="form-control"
                                    placeholder=" "
                                    id="Installment"
                                    required=""
                                  />
                                  <label for="Installment"
                                    >Installment<sub class="required">* </sub></label
                                  >
                                </span>
                              </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        <button class="btn btn-primary ripple light">Process</button>
                    </div></div>
                   
                </div>
            </form>
            
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="col-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                </table>
            </div>
        </div>
    </div>
  </div>