<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>{{'master.Other_View.Loan_Projection' | translate}}</h5>
      </div>
      <form [formGroup]="angForm" novalidate>

        <div class="card-block">
          <div class="solid">
            <div class="row">
              <div class="col-sm-12 col-md-2"> <label for="Loan">
                {{'master.Other_View.Loan_Ammount' | translate}}<sub class="required">*</sub></label></div>
              <div class="col-md-2">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input style="text-align: right;" type="text" class="form-control" name="amount" id="amount"
                      formControlName="LOAN" maxlength="15" (focusout)="getDecimalPoint($event)"
                      (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                      (keyup)="decimalAllContent($event)">
                  </span>
                </div>
                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['LOAN'].invalid && (angForm.controls['LOAN'].dirty || angForm.controls['LOAN'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['LOAN'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>

              </div>
              <div class="col-sm-12 col-md-2"> <label for="Period">
                {{'master.Other_View.Period_in_Months' | translate}}<sub class="required">*</sub></label></div>
              <div class="col-md-2">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input style="text-align: right;" type="text" class="form-control" formControlName="PERIOD"
                      maxlength="03" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                  </span>
                </div>
                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['PERIOD'].invalid && (angForm.controls['PERIOD'].dirty || angForm.controls['PERIOD'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['PERIOD'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>

              </div>
              <div class="col-sm-12 col-md-2"><label for="AC_PARTICULAR">{{'master.Other_View.Repayment_Mode' | translate}}<sub
                    class="required">*</sub></label>
              </div>
              <div class="col-sm-2">
                <div class="form-group form-primary form-static-label">
                  <span class="border-lable-flt">
                    <ng-select id="AC_REPAYMODE" bindValue="value" [(ngModel)]="repay" formControlName="AC_REPAYMODE"
                      bindLabel="label" title="Compulsory Selection" required placeholder="{{'master.Other_View.Repay_Mode' | translate}}"
                      (change)="checkPeriod()">
                      <ng-option *ngFor="let values of repayModeOption" [value]="values">
                        {{values.label}}</ng-option>
                    </ng-select>

                  </span>
                </div>

                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['AC_REPAYMODE'].invalid && (angForm.controls['AC_REPAYMODE'].dirty || angForm.controls['AC_REPAYMODE'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['AC_REPAYMODE'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">{{'master.Other_View.Installment_Type' | translate}}<sub
                    class="required">*</sub></label>
              </div>

              <div class="col-sm-2">
                <div class="form-group form-primary form-static-label">
                  <span class="border-lable-flt">
                    <ng-select id="INSTALLMENT_METHOD" bindValue="value" [(ngModel)]="installmentType"
                      formControlName="INSTALLMENT_METHOD" bindLabel="label" title="Compulsory Selection" required
                      placeholder="{{'master.Other_View.Type' | translate}}">
                      <ng-option *ngFor="let values of installment" [value]="values">
                        {{values.label}}</ng-option>
                    </ng-select>

                  </span>
                </div>

                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['INSTALLMENT_METHOD'].invalid && (angForm.controls['INSTALLMENT_METHOD'].dirty || angForm.controls['INSTALLMENT_METHOD'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['INSTALLMENT_METHOD'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 "><label for="insta">{{'master.Other_View.Interest_Posting_Method' | translate}}<sub
                    class="required">*</sub></label>
              </div>
              <div class="col-sm-2">
                <div class="form-group form-primary form-static-label">
                  <span class="border-lable-flt">
                    <ng-select type="text" id="ins" [(ngModel)]="posting" formControlName="POSTINGMETHOD"
                      bindLabel="label" bindValue="value" title="Compulsory Selection" required placeholder="{{'master.Other_View.Method' | translate}}">
                      <ng-option *ngFor="let values of repayModeOption1" [value]="values">
                        {{values.label}}</ng-option>
                    </ng-select>
                  </span>
                </div>

                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['POSTINGMETHOD'].invalid && (angForm.controls['POSTINGMETHOD'].dirty || angForm.controls['POSTINGMETHOD'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['POSTINGMETHOD'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-2  "><label for="insta">{{'master.Other_View.Interest_Rate' | translate}} %<sub class="required">*</sub></label>
              </div>
              <div class="col-md-2">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input style="text-align: right;" type="text" name="TDS_RATE" class="form-control" placeholder=" "
                      id="TDS_RATE" maxlength="5" title="Input allowed only  0-9" #margin
                      (change)="checkmargin(margin.value)" formControlName="TDS_RATE"
                      (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )">
                  </span>
                </div>
                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['TDS_RATE'].invalid && (angForm.controls['TDS_RATE'].dirty || angForm.controls['TDS_RATE'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['TDS_RATE'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-2 "><label for="AC_PARTICULAR">{{'master.Other_View.Date' | translate}}<sub class="required">*</sub></label>
              </div>
              <div class="col-md-2">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input type="text" placeholder="dd/mm/yyyy" name="date" id="date" [(ngModel)]="Resolution_date"
                      formControlName="RESOLUTION_DATE" class="form-control"
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [minDate]="resolutionDate" bsDatepicker required>
                  </span>
                </div>
              </div>

              <div class="col-md-2"><label for="amount">{{'master.Other_View.Installment_Amount' | translate}}<sub class="required">*</sub></label></div>
              <div class="col-md-2">
                <div class="form-group input-group">
                  <span class="border-lable-flt">
                    <input style="text-align: right;" type="text" class="form-control"
                      (focusout)="getDecimalPoint($event)" name="amount" formControlName="INSTALLMENTS" maxlength="15"
                      (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46" disabled>
                  </span>
                </div>
                <div class="form-group form-primary form-static-label"
                  *ngIf="angForm.controls['INSTALLMENTS'].invalid && (angForm.controls['INSTALLMENTS'].dirty || angForm.controls['INSTALLMENTS'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="angForm.controls['INSTALLMENTS'].errors?.required">
                    <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-outline-primary btn-sm" (click)="Process()">{{'master.Action.Process' | translate}}</button>
                <button class="btn btn-outline-primary btn-sm" (click)="close()">{{'master.Action.Close' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover compact">
          <thead>
            <tr>
              <td class="td_center">{{'master.Other_View.Serial_Number' | translate}}</td>
              <td class="td_center">{{'master.Other_View.Installment_Number' | translate}}</td>
              <td class="td_center">{{'master.Other_View.Debit_Amount' | translate}}</td>
              <td class="td_center">{{'master.Other_View.Credit_Amount' | translate}}</td>
              <td class="td_center">{{'master.Other_View.Balance' | translate}} </td>
              <td class="td_center">{{'master.Other_View.Products' | translate}}</td>
              <!-- <td class="td_center">Total Interest</td> -->
              <td class="td_center">{{'master.Other_View.Days' | translate}}</td>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of resultData; let i =index">
              <td class="td_center">{{i+1}}</td>
              <td class="td_center">{{item.instNo}}</td>
              <td class="td_center">{{item.DrAmt}}</td>
              <td class="td_center">{{item.CrAmt}}</td>
              <td class="td_center">{{item.Bal}}</td>
              <td class="td_center">{{item.Product}}</td>
              <td class="td_center">{{item.Days}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div [class]="modalClass"><!-- Place at bottom of page --> </div>