<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Moratorium Period Master</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">Branch<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode"
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" (change)="getBranch($event)"
                                        placeholder="Branch">
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="TRAN_DATE">Transaction Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="TRAN_DATE" class="form-control" formControlName="TRAN_DATE"
                                        disabled>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">Scheme<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_TYPE" bindValue="id" [(ngModel)]="schemeedit"
                                        (change)="schemechange($event)" formControlName="AC_TYPE" bindLabel="label"
                                        title="Compulsory Selection" required placeholder="Scheme">
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.S_APPL}} {{values.S_NAME}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="AC_NO">Account Number<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_NO" bindValue="value" [(ngModel)]="accountedit"
                                        (change)="Accountnochange($event)" formControlName="AC_NO" bindLabel="label"
                                        title="Compulsory Selection" required placeholder="Account No.">
                                        <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="INSTALLMENT_NO">Installment Number<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" style="text-align: right;" name="INSTALLMENT_NO"
                                        class="form-control" placeholder=" " pattern="^[0-9]+$"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                        title="Input allowed only 0-9" maxlength="3" id="INSTALLMENT_NO"
                                        formControlName="INSTALLMENT_NO">
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['INSTALLMENT_NO'].invalid && (angForm.controls['INSTALLMENT_NO'].dirty || angForm.controls['INSTALLMENT_NO'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['INSTALLMENT_NO'].errors?.pattern || angForm.controls['INSTALLMENT_NO'].errors?.required || angForm.controls['INSTALLMENT_NO'].errors?.maxlength">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="PERIOD">Moratorium Period(in months)</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" style="text-align: right;" name="PERIOD" class="form-control"
                                        placeholder=" " (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                        id="PERIOD" #month pattern="^[0-9]+$" maxlength="3"
                                        title="Input allowed only 0-9" formControlName="PERIOD">
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['PERIOD'].invalid && (angForm.controls['PERIOD'].dirty || angForm.controls['PERIOD'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['PERIOD'].errors?.pattern || angForm.controls['PERIOD'].errors?.required || angForm.controls['PERIOD'].errors?.maxlength">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_RESO_DATE">Resolution Date<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" appButton minlength="8" maxlength="10"
                                         placeholder="dd/mm/yyyy" name="AC_RESO_DATE" id="AC_RESO_DATE"
                                        class="form-control" [(ngModel)]="resolutiondate"
                                        #AC_RESO_DATE="bsDatepicker"  (keydown.Tab)="AC_RESO_DATE.hide()"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate"
                                        [ngClass]="{'form-submitted': formSubmitted}" formControlName="AC_RESO_DATE"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_RESO_DATE'].invalid && (angForm.controls['AC_RESO_DATE'].dirty || angForm.controls['AC_RESO_DATE'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['AC_RESO_DATE'].errors?.pattern || angForm.controls['AC_RESO_DATE'].errors?.required || angForm.controls['AC_RESO_DATE'].errors?.maxlength">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="AC_RESO_NO">Resolution Number</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" style="text-align: right;" name="AC_RESO_NO" class="form-control"
                                        placeholder=" " (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                        id="AC_RESO_NO" pattern="^[0-9]+$" maxlength="3" title="Input allowed only 0-9"
                                        formControlName="AC_RESO_NO">
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_RESO_NO'].invalid && (angForm.controls['AC_RESO_NO'].dirty || angForm.controls['AC_RESO_NO'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['AC_RESO_NO'].errors?.pattern || angForm.controls['AC_RESO_NO'].errors?.required || angForm.controls['AC_RESO_NO'].errors?.maxlength">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm">

                            <button class="btn btn-outline-primary btn-sm" style="float: right;"
                                (click)="submit($event)" *ngIf="showButton">Submit</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData()"
                                *ngIf="updateShow">Update</button> &nbsp;
                            <button class="btn btn-outline-primary btn-sm" (click)="addNewData()"
                                *ngIf="newbtnShow">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="moratoriumperiodtable" datatable [dtOptions]="dtExportButtonOptions"
                                [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="moratoriumperiodmaster?.length != 0">
                                    <tr *ngFor="let data of moratoriumperiodmaster">
                                        <td><span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                (click)="editClickHandler(data.id)" placement="bottom"
                                                ngbTooltip="Edit"></span> &nbsp;

                                        </td>
                                        <td class="td_right">{{data.AC_TYPE == null ? '-':data.moratoriumScheme.S_APPL}}
                                        </td>
                                        <td class="td_right">{{data.AC_NO}}</td>
                                        <td class="td_right">{{data.INSTALLMENT_NO}}</td>
                                        <td class="td_right">{{data.PERIOD}}</td>
                                        <td class="td_center">{{data.AC_RESO_DATE}}</td>
                                        <td class="td_right">{{data.AC_RESO_NO}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="moratoriumperiodmaster?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot #filters class="filters">
                                    <tr class="testing">
                                        <th class="testing"></th>
                                        <th><input type="text" class="form-control" name="AC_TYPE"></th>
                                        <th><input type="text" class="form-control" name="AC_NO"></th>
                                        <th><input type="text" class="form-control" name="INSTALLMENT_NO"></th>
                                        <th><input type="text" class="form-control" name="PERIOD"></th>
                                        <th><input type="text" class="form-control" name="AC_RESO_DATE"></th>
                                        <th><input type="text" class="form-control" name="AC_RESO_NO"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>