.button {
    width: 500px;
}

#btn1 {
    float: left;
    width: 130px;
    margin-left: 30px;
    margin-bottom: 13px;
}

// #up {
//     margin-bottom: 13px;
// }
.btn {
    margin: 3px;
    color: white;
}

.btn:hover {
    color: white;
}