<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Interest Instructions </h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="Date" max="9999-12-31"
                                        formControlName="Date" value="{{ message.Date}}" onfocus="(this.type='date')" />
                                    <label for="Date">Date</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" checked>
                                        <i class="helper"></i>Month Begin<span class="required"> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio">
                                        <i class="helper"></i>Month End<span class="required"> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio">
                                        <i class="helper"></i> Specific Day of Month<span class="required"> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio">
                                        <i class="helper"></i>After Specific Days<span class="required"> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="StartFrom" required=""
                                        max="9999-12-31" formControlName="StartFrom" value="{{ message.StartFrom}}"
                                        onfocus="(this.type='date')" />
                                    <label for="StartFrom">Start From<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['StartFrom'].invalid && (angForm.controls['StartFrom'].dirty || angForm.controls['StartFrom'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['StartFrom'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="NextExecutionOn"
                                        max="9999-12-31" formControlName="NextExecutionOn"
                                        value="{{ message.NextExecutionOn}}" onfocus="(this.type='date')" />
                                    <label for="NextExecutionOn">Next Execution On</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="TotalAmount" class="form-control" placeholder=" "
                                        id="InstructionNo" value="{{ message.InstructionNo }}"
                                        formControlName="InstructionNo">
                                    <label for="InstructionNo">Instruction No.</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="frequencyOption" [multiple]="false"
                                    placeholder="Frequency *" required title="Compulsory Selection"
                                    formControlName="StatementType">
                                </ng-select>
                                <label>{{message.StatementType}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['StatementType'].invalid && (angForm.controls['StatementType'].dirty || angForm.controls['StatementType'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['StatementType'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <h6>Payment By:</h6>
                        <div class="col-sm">
                            <a (click)="OpenLink(1)" routerLinkActive="active" class="text-right f-w-600" id="pointer">
                                <div class="form-radio">
                                    <div class="radio radio-inline">
                                        <label>
                                            <input type="radio" name="radio1" ng-model="OD" ng-change="change()"
                                                [checked]="isCash == true" value="cash1">
                                            <i class="helper"></i>Cash<span class="required"> </span>
                                        </label>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm">
                            <a (click)="OpenLink(2)" routerLinkActive="active" class="text-right f-w-600" id="pointer">
                                <div class="form-radio">
                                    <div class="radio radio-inline">
                                        <label>
                                            <input type="radio" name="radio1" ng-model="OD" ng-change="change()"
                                                [checked]="isCash == false" value="transfer1">
                                            <i class="helper"></i>Transfer<span class="required"> </span>
                                        </label>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="LastExecutedOn"
                                        max="9999-12-31" formControlName="LastExecutedOn"
                                        value="{{ message.LastExecutedOn}}" onfocus="(this.type='date')" />
                                    <label for="LastExecutedOn">Last Executed On</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="cash1True">
                        <h6>Interest Instruction Account Details</h6>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm">

                                    <div class="form-group form-primary form-static-label">
                                        <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                            placeholder="Scheme *" required title="Compulsory Selection"
                                            formControlName="Scheme">
                                        </ng-select>
                                        <label>{{ message.Scheme }}</label>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['Scheme'].invalid && (angForm.controls['Scheme'].dirty || angForm.controls['Scheme'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['Scheme'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group form-primary form-static-label">
                                        <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                            placeholder="Account No*" required title="Compulsory Selection"
                                            formControlName="AccountNo">
                                        </ng-select>
                                        <label>{{ message.AccountNo }}</label>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['AccountNo'].invalid && (angForm.controls['AccountNo'].dirty || angForm.controls['AccountNo'].touched)"
                                        class='alert alert-danger'>
                                        <div *ngIf="angForm.controls['AccountNo'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="To" class="form-control" placeholder=" "
                                                id="Particulars" required="" value="{{ message.Particulars }}"
                                                pattern="^[A-Za-z]+$" title="Input allowed only A-Za-z"
                                                formControlName="Particulars">
                                            <label for="Particulars">Particulars<sub class="required">*</sub></label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['Particulars'].invalid && (angForm.controls['Particulars'].dirty || angForm.controls['Particulars'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['Particulars'].errors?.pattern || angForm.controls['Particulars'].errors?.required">
                                            This field is required and Input allowed only A-Za-z
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="transfer1True">
                        <h6>Interest Instruction Account Details</h6>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group form-primary form-static-label">
                                        <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                            placeholder="Scheme *" required title="Compulsory Selection"
                                            formControlName="Scheme">
                                        </ng-select>
                                        <label>{{ message.Scheme }}</label>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['Scheme'].invalid && (angForm.controls['Scheme'].dirty || angForm.controls['Scheme'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['Scheme'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group form-primary form-static-label">
                                        <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                            placeholder="Account No*" required title="Compulsory Selection"
                                            formControlName="AccountNo">
                                        </ng-select>
                                        <label>{{ message.AccountNo }}</label>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['AccountNo'].invalid && (angForm.controls['AccountNo'].dirty || angForm.controls['AccountNo'].touched)"
                                        class='alert alert-danger'>
                                        <div *ngIf="angForm.controls['AccountNo'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="To" class="form-control" placeholder=" "
                                                id="Particulars" required="" value="{{ message.Particulars }}"
                                                pattern="^[A-Za-z]+$" title="Input allowed only A-Za-z"
                                                formControlName="Particulars">
                                            <label for="Particulars">Particulars<sub class="required">*</sub></label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['Particulars'].invalid && (angForm.controls['Particulars'].dirty || angForm.controls['Particulars'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['Particulars'].errors?.pattern || angForm.controls['Particulars'].errors?.required">
                                            This field is required and Input allowed only A-Za-z
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6>Credit Account Details</h6>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group form-primary form-static-label">
                                        <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                            placeholder="Scheme *" required title="Compulsory Selection"
                                            formControlName="Scheme">
                                        </ng-select>
                                        <label>{{ message.Scheme2 }}</label>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['Scheme'].invalid && (angForm.controls['Scheme'].dirty || angForm.controls['Scheme'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['Scheme'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group form-primary form-static-label">
                                        <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                            placeholder="Account No*" required title="Compulsory Selection"
                                            formControlName="AccountNo">
                                        </ng-select>
                                        <label>{{ message.AccountNo2 }}</label>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['AccountNo'].invalid && (angForm.controls['AccountNo'].dirty || angForm.controls['AccountNo'].touched)"
                                        class='alert alert-danger'>
                                        <div *ngIf="angForm.controls['AccountNo'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="To" class="form-control" placeholder=" "
                                                id="AdviceNarration" required="" value="{{ message.AdviceNarration }}"
                                                pattern="^[A-Za-z]+$" title="Input allowed only A-Za-z"
                                                formControlName="AdviceNarration">
                                            <label for="AdviceNarration">Advice Narration <sub
                                                    class="required">*</sub></label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['AdviceNarration'].invalid && (angForm.controls['AdviceNarration'].dirty || angForm.controls['AdviceNarration'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['AdviceNarration'].errors?.pattern || angForm.controls['AdviceNarration'].errors?.required">
                                            This field is required and Input allowed only A-Za-z
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="To" class="form-control" placeholder=" "
                                                id="Particulars2" required="" value="{{ message.Particulars2 }}"
                                                pattern="^[A-Za-z]+$" title="Input allowed only A-Za-z"
                                                formControlName="Particular">
                                            <label for="Particulars2">Particulars<sub class="required">*</sub></label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['Particular'].invalid && (angForm.controls['Particular'].dirty || angForm.controls['Particular'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['Particular'].errors?.pattern || angForm.controls['Particular'].errors?.required">
                                            This field is required and Input allowed only A-Za-z
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" placeholder=" " id="RevokeDate"
                                                required="" max="9999-12-31" formControlName="RevokeDate"
                                                value="{{ message.RevokeDate}}" onfocus="(this.type='date')" />
                                            <label for="RevokeDate">Revoke Date <sub class="required">*</sub></label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['RevokeDate'].invalid && (angForm.controls['RevokeDate'].dirty || angForm.controls['RevokeDate'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['RevokeDate'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="border-checkbox-section">
                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                            <input class="border-checkbox" type="checkbox" name="DD_APPLICABLE"
                                                id="checkbox1" [checked]="isIsDiscountedInterestApplicable == true">
                                            <label class="border-checkbox-label" for="checkbox1">Is Discounted Interest
                                                Applicable</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton"
                                [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>