<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'Printing.Action.T5' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'Printing.Action.F1' | translate}} (<sub class="required"> * </sub>) {{'Printing.Action.F2' | translate}}
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="BRANCH">{{'Printing.Action.Branch' | translate}}<sub class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH" bindValue="value" [(ngModel)]="ngBranchCode" #branchcode
                                        formControlName="BRANCH" bindLabel="label" title="Compulsory Selection"
                                        (change)="getAccountList()" [ngClass]="{'form-submitted': formSubmitted}"
                                        placeholder="{{'Printing.Action.Branch' | translate}}">
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH'].invalid && (angForm.controls['BRANCH'].dirty || angForm.controls['BRANCH'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH'].errors?.required">
                                      <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">{{'Printing.Action.Scheme_Code' | translate}}<sub
                            class="required">*</sub></label></div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group form-primary form-static-label">
                        <span class="border-lable-flt">
                            <ng-select id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                formControlName="AC_TYPE" bindLabel="label" title="Compulsory Selection"
                                [ngClass]="{'form-submitted': formSubmitted}" required
                                (change)="getBranch($event)" placeholder="{{'Printing.Action.Scheme_Code' | translate}}">
                                <ng-option *ngFor="let values of scheme" [value]="values">
                                    {{values.id}} {{values.label}}</ng-option>
                            </ng-select>
                        </span>
                    </div>
                    <div class="form-group form-primary form-static-label"
                        *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                              <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                        </div>
                    </div>

                </div>
                       

                    </div>
                    <div class="row">
                        

                        <div class="col-sm-12 col-md-2"> <label for="AC_NO">{{'Printing.Action.Account_Num' | translate}}<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_NO" bindValue="BANKACNO" [(ngModel)]="accountedit"
                                        formControlName="AC_NO" bindLabel="AC_NAME" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="{{'Printing.Action.Account_Num' | translate}}" (change)="getGoldSilverData();getAcno1($event)"> 
                                        <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                            {{values.AC_NO}} {{values.AC_NAME}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                   <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="RETURN_DATE">{{'Printing.Action.Date' | translate}}</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="RETURN_DATE" id="subm_date"
                                        class="form-control" [(ngModel)]="ngreturndate" formControlName="RETURN_DATE"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" minlength="8" maxlength="10"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker >
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['RETURN_DATE'].invalid && (angForm.controls['RETURN_DATE'].dirty || angForm.controls['RETURN_DATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['RETURN_DATE'].errors?.required">
                                    <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-outline-primary btn-sm" value="submit"
                                [disabled]="clicked" (click)="View($event); clicked = true  ">{{'Printing.Action.View' | translate}}</button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-outline-primary btn-sm" (click)="close()">{{'Printing.Action.Close' | translate}}</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>{{'Printing.Action.Report_Frame' | translate}}</h5>
                                </div>
                                <div *ngIf="showRepo">
                                    <app-iframe5 [url]='iframe5url'></app-iframe5>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </form>
        </div>
    </div>
</div>