.required {
    color: red;
}

div.solid {
    // border-style: solid;
    border-style: ridge;
    border-color: #817d7de3;
    padding: 0.4%;
    // padding: 0.7%;
    margin-bottom: 3px;
    padding-right: 12px;
}


.card .card-block {
    padding: 5px;
    // padding-bottom: 5px;
}