<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Ledger View</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="solid">
                        <div class="row">
                            <div class="col-sm-12 col-md-1"> <label for="BRANCH_CODE">Branch <sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select appTheme id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngbranch"
                                            formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                            [virtualScroll]="true" [ngClass]="{'form-submitted': formSubmitted}"
                                            (change)="getBranch()" placeholder="Branch" #BRANCH_CODE
                                            (focus)="onFocus(BRANCH_CODE)" [selectOnTab]='true' autofocus>
                                            <ng-option *ngFor="let values of branchOption" [value]="values">
                                                {{values.label}}</ng-option>
                                        </ng-select>

                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-1"> <label for="AC_TYPE">Scheme<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select appTheme id="SchemeCode" bindValue="value" [(ngModel)]="ngscheme"
                                            formControlName="AC_TYPE" bindLabel="label" (change)="schemechange($event)"
                                            [virtualScroll]="true" title="Compulsory Selection" required
                                            placeholder="Scheme Code" #AC_TYPE (focus)="onFocus(AC_TYPE)"
                                            [selectOnTab]='true'>
                                            <ng-option *ngFor="let values of scheme" [value]="values">
                                                {{values.id}} {{values.label}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_NO">Account Number<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select appTheme id="AC_NO" bindValue="value" [(ngModel)]="accountedit"
                                            formControlName="AC_NO" bindLabel="label" [virtualScroll]="true"
                                            (change)="getAccountDetails($event)" title="Compulsory Selection" required
                                            #AC_NO (focus)="onFocus(AC_NO)" [selectOnTab]='true'
                                            placeholder="Account No." [disabled]="disableFields">
                                            <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                                {{values.label}} {{values.name}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm" *ngIf="freezeac">
                                <div><label style="color: #1e5bc5">Freez
                                        Status:{{freezStataus}}</label></div>
                            </div>
                            <div class="col-sm" style="float: right; color: rgb(14 168 14);"
                            *ngIf="isOpen">Account Open</div>
                            <div class="col-sm" *ngIf="acclosedon">
                                <div><label style="color: red; font-size: 15px;">Account Closed On:
                                        {{acCloseDate}}</label></div>
                            </div>
                            <div class="col-sm" style="float: right; color: rgb(14 168 14);"
                                        *ngIf="isMinor">Minor Account
                                        <a class="blinking" *ngIf="isMinor" (click)="openModal('minor')"
                                            style="color: blue;font-style: italic;font-size: x-small;">*Click to
                                            Show</a>
                                    </div>
                                    <div class="col-sm" style="float: right; color: rgb(14 168 14);"
                                        *ngIf="isJoint">Joint Account 
                                        <a *ngIf="isJoint" class="blinking"
                                            (click)="openModal('joint')"
                                            style="color: blue;font-style: italic;font-size: x-small;">*Click to
                                            Show</a>
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="FROM_DATE">From Date<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input appTheme appButton minlength="10" maxlength="10" type="text"
                                            placeholder="dd/mm/yyyy" name="FROM_DATE" id="FROM_DATE"
                                            class="form-control" [(ngModel)]="fromdate" [bsValue]="bsValue"
                                            [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            [minDate]="accountOpenDate" [ngClass]="{'form-submitted': formSubmitted}"
                                            #FROM_DATE="bsDatepicker" (keydown.Tab)="FROM_DATE.hide()"
                                            formControlName="FROM_DATE"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                            bsDatepicker [disabled]="disableFields">
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['FROM_DATE'].invalid && (angForm.controls['FROM_DATE'].dirty || angForm.controls['FROM_DATE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['FROM_DATE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2"> <label for="TO_DATE">To Date<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <!-- <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input type="text" placeholder="dd/mm/yyyy" name="TO_DATE" id="TO_DATE"
                                            class="form-control" [(ngModel)]="todate" [minDate]="fromdate"
                                            [bsValue]="bsValue" [maxDate]="maxDate"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            [ngClass]="{'form-submitted': formSubmitted}" formControlName="TO_DATE"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                            bsDatepicker [disabled]="disableFields">
                                    </span>
                                </div> -->

                                <!-- [minDate]="fromdate" [maxDate]="maxDate" -->
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input appTheme appButton minlength="10" maxlength="10" type="text"
                                            placeholder="dd/mm/yyyy" name="TO_DATE" id="TO_DATE" class="form-control"
                                            [(ngModel)]="todate" [bsValue]="bsValue"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="fromdate"
                                            [maxDate]="maxDate" [ngClass]="{'form-submitted': formSubmitted}"
                                            formControlName="TO_DATE" #TO_DATE="bsDatepicker"
                                            (keydown.Tab)="TO_DATE.hide()"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                            bsDatepicker [disabled]="disableFields">
                                    </span>
                                </div>

                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['TO_DATE'].invalid && (angForm.controls['TO_DATE'].dirty || angForm.controls['TO_DATE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['TO_DATE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="font-size:13px;">
                                <button class="btn btn-primary" disabled></button>&nbsp; Unpassed Accounts
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_OPDATE">Account Opening Date</label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input type="text" appButton minlength="10" maxlength="10"
                                            placeholder="dd/mm/yyyy" name="AC_OPDATE" id="AC_OPDATE"
                                            [(ngModel)]="opendate" class="form-control" formControlName="AC_OPDATE"
                                            disabled>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_OPDATE'].invalid && (angForm.controls['AC_OPDATE'].dirty || angForm.controls['AC_OPDATE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_OPDATE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2"><label for="AMOUNT">Matured But Not Paid Amount</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input type="text" name="AMOUNT" class="form-control" placeholder=" "
                                            id="AMOUNT" formControlName="AMOUNT" disabled>
                                    </span>
                                </div>

                            </div>
                            <div class="col-sm-3" style="font-size:13px;">
                                <button class="btn" style="background-color: #bc31e9;" disabled></button>&nbsp;Interest
                                Vouchers
                            </div>
                            <div class="col-sm" *ngIf="showView">
                                <button class="btn btn-outline-primary btn-sm" (click)="getTransactionsDeatils()"
                                    (keydown.Tab)="focus()">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row" *ngIf="tableData.length == 0 && showLoader">
    <div class=" col-12">
        <!-- <div class="loader-block">
            <svg id="loader2" viewBox="0 0 100 100">
                <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
            </svg>
        </div> -->
        <div class="modalShow"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <label></label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-12">
            <div class="table-responsive fixTableHead">
                <table class="table table-striped table-bordered table-hover compact" *ngIf="tableData?.length != 0">
                    <thead>
                        <td class="td_center">Date</td>
                        <td>Cheque Number</td>
                        <td>Particulars</td>
                        <td class="td_center">Tran Type</td>
                        <td class="td_right">Debit Amount</td>
                        <td class="td_right">Credit Amount</td>
                        <td class="td_right">Closing Balance</td>
                        <td>Normal Interest</td>
                        <td>Recbl/Payable Interest</td>
                        <td>Overdue Interest</td>
                        <td>Penal Interest</td>
                        <td>Receivable Penal</td>
                        <td class="td_right">Other Amount</td>
                        <td>Added Penal</td>
                        <td class="td_right">Voucher Number</td>
                        <td class="td_center">Officer ID</td>
                    </thead>
                    <tbody *ngIf="tableData?.length != 0">
                        <!-- <tr *ngFor="let data of tableData; let indexOfelement = index"
                            [ngStyle]="{'color': (data.TRAN_STATUS == '0') ? '#226de9':'#212529'}"> -->
                        <!-- #bc31e9 VIOLET COLOR FOR INTEREST ENTRY -->
                        <tr *ngFor="let data of tableData; let indexOfelement = index"
                            [ngStyle]="{'color': (data.IS_INTEREST_ENTRY == 1) ? '#bc31e9':((data.TRAN_STATUS == '0') ? '#226de9':'#212529')}">
                            <td>{{data.TRAN_DATE}}</td>
                            <td>{{data.CHEQUE_NO=='null' || data.CHEQUE_NO=='0' || data.CHEQUE_NO=='' ? '---':
                                data.CHEQUE_NO }}</td>
                            <td [ngClass]="{'form-submitted': formSubmitted}" style="white-space: normal;">
                                {{data.NARRATION}}</td>
                            <td>{{data.TRAN_TYPE}}</td>
                            <!-- #10ad34 credit colour-->
                            <td class="td_right"
                                [ngStyle]="{'color': (data.TRAN_DRCR == 'D') ? '#eb2727':'rgb(3 131 33)'}">
                                {{data.TRAN_DRCR=='D'? (data.TRAN_AMOUNT | number:'2.2-2':'en') :''}}</td>
                            <td class="td_right"
                                [ngStyle]="{'color': (data.TRAN_DRCR == 'D') ? '#eb2727':'rgb(3 131 33)'}">
                                {{data.TRAN_DRCR=='C'?(data.TRAN_AMOUNT | number:'1.2-2':'en'):''}}</td>
                            <td class="td_right">{{ (data.closeBalance | number:'1.2-2':'en') }} {{data.DR_CR}}</td>
                            <td class="td_right">{{data.INTEREST_AMOUNT | number:'1.2-2':'en' }}
                                {{data.INTEREST_AMOUNT!=undefined?(data.INTEREST_AMOUNT!=null &&
                                data.TRAN_DRCR=='D'?'Dr':'Cr'):''}}</td>
                            <td class="td_right">{{data.RECPAY_INT_AMOUNT | number:'1.2-2':'en'}}
                                {{data.RECPAY_INT_AMOUNT!=undefined? (data.RECPAY_INT_AMOUNT!=null &&
                                data.TRAN_DRCR=='D'?'Dr':'Cr'):''}}</td>
                            <td class="td_right">{{data.OTHER10_AMOUNT | number:'1.2-2':'en'}}</td>
                            <td class="td_right">{{data.PENAL_INTEREST | number:'1.2-2':'en'}}</td>
                            <td class="td_right">{{data.REC_PENAL_INT_AMOUNT | number:'1.2-2':'en'}}</td>
                            <td class="td_right">{{data.otherAmt | number:'1.2-2':'en'}}</td>
                            <td class="td_right">{{data.ADDED_PENAL_INTEREST| number:'1.2-2':'en' }}</td>
                            <td class="td_right">{{data.TRAN_NO}}</td>
                            <td>{{data.OFFICER_CODE}}</td>
                        </tr>
                        <tr style="font-weight: 600px;">
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td></td>
                            <td class="td_right">{{(debitTotal | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(creditTotal | number:'1.2-2':'en')}}</td>
                            <td>Balance</td>
                            <td class="td_right">{{(normalInt | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(recpayInt | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(overDueAmt | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(penalInt | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(recpenalInt | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(otherAmount | number:'1.2-2':'en')}}</td>
                            <td class="td_right">{{(addedPenal | number:'1.2-2':'en')}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="font-weight: 600px;">
                            <td></td>
                            <td></td>
                            <td style="font-weight: 600px;">Total Deposit Amount</td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: 600px;" class="td_right">{{(totalDepositAmount |
                                number:'1.2-2':'en')}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="color: green;">
                            <td></td>
                            <td></td>
                            <td style=" font-size: 13px;"><strong> Grand Total</strong></td>
                            <td></td>
                            <td></td>
                            <td style=" font-size: 13px;" class="td_right"><strong>{{(grandTotal |
                                    number:'1.2-2':'en')}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="tableData?.length == 0">
                        <tr>
                            <td colspan="13" class="no-data-available" style="text-align: center;">
                                No data!
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal text-black " tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h4 class="modal-title">{{ isMinor ? 'Minor Account' : 'Joint Account' }}</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <!-- <h5>Minor Account</h5> -->
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" >
                                    <div *ngIf="isMinor">
                                        <table class="table table-striped table-bordered table-hover compact">
                                            <thead class="custom-header" >
                                                <tr >
                                                    <th style= "background-color: purple;color:white; max-width: 20px" >Customer ID</th>
                                                    <th style= "background-color: purple;color:white">Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableDataMinor">
                                                    <td>{{ row.custId }}</td>
                                                    <td>{{ row.grdName }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div *ngIf="isJoint">
                                        <table class="table table-striped table-bordered table-hover compact"
                                            *ngIf="accountEvent?.jointAcHolders?.length != 0 && accountEvent?.jointAcHolders !=undefined">
                                            <thead>
                                                <td style="max-width: 20px">Customer ID</td>
                                                <td>Name</td>
                                                <td>Joint Date</td>
                                                <td style="max-width: 15px">Operation</td>
                                            </thead>
                                            <tbody *ngIf="jointAcHolders?.length != 0">
                                                <tr *ngFor="
                                    let data of accountEvent?.jointAcHolders;
                                    let indexOfelement = index
                                  ">
                                                    <td class="td_right" [ngClass]="
                                      data.JOINT_AC_CUSTID === ''
                                        ? 'td_center'
                                        : 'td_right'
                                    ">
                                                        {{
                                                        data.JOINT_AC_CUSTID === ""
                                                        ? "-"
                                                        : data.JOINT_AC_CUSTID
                                                        }}
                                                    </td>
                                                    <td class="td_left" [ngClass]="
                                      data.JOINT_ACNAME === ''
                                        ? 'td_center'
                                        : 'td_right'
                                    ">
                                                        {{
                                                        data.JOINT_ACNAME === ""
                                                        ? "-"
                                                        : data.JOINT_ACNAME
                                                        }}
                                                    </td>
                                                    <td class="td_left" [ngClass]="
                                      data.
                                      JOINT_DATE === ''
                                        ? 'td_center'
                                        : 'td_right'
                                    ">
                                                        {{
                                                        data.JOINT_DATE === ""
                                                        ? "-"
                                                        : data.JOINT_DATE
                                                        }}
                                                    </td>
                                                    <td class="td_left" [ngClass]="
                                      data.OPERATOR === ''
                                        ? 'td_left'
                                        : 'td_right'
                                    ">
                                                        {{
                                                        data.OPERATOR === ""
                                                        ? "-"
                                                        : data.OPERATOR
                                                        }}
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>