<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Ledger View</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-1"> <label for="BRANCH_CODE">Branch<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode"
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" placeholder="Branch">
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1"> <label for="AC_TYPE">Scheme<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                        formControlName="AC_TYPE" bindLabel="label" title="Compulsory Selection"
                                        (change)="schemechange($event)" [ngClass]="{'form-submitted': formSubmitted}"
                                        required placeholder="Scheme">
                                        <ng-option *ngFor="let values of allScheme" [value]="values">
                                            {{values.id}} {{values.label}} </ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm" *ngIf="dormantac">
                            <div><label style="color: #1e5bc5">Dormant Account</label></div>
                        </div>
                        <div class="col-sm" *ngIf="acclosedon">
                            <div><label style="color: #1e5bc5">Account Closed On:
                                    {{acCloseDate}}</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_NO">Account Number<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_NO" bindValue="value" [(ngModel)]="accountedit"
                                        formControlName="AC_NO" bindLabel="label" (change)="getAccountDetails($event)"
                                        title="Compulsory Selection" required placeholder="Account No.">
                                        <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm" *ngIf="freezeac">
                            <div><label style="color: #1e5bc5">Freez
                                    Status:{{freezStataus}}</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="FROM_DATE">From Date<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="FROM_DATE" id="FROM_DATE"
                                        class="form-control" [(ngModel)]="fromdate" [bsValue]="bsValue"
                                        [minDate]="accountOpenDate" [maxDate]="maxDate"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                        [ngClass]="{'form-submitted': formSubmitted}" formControlName="FROM_DATE"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['FROM_DATE'].invalid && (angForm.controls['FROM_DATE'].dirty || angForm.controls['FROM_DATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['FROM_DATE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="TO_DATE">To Date<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="TO_DATE" id="TO_DATE"
                                        class="form-control" [(ngModel)]="todate"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="fromdate"
                                        [maxDate]="maxDate" [ngClass]="{'form-submitted': formSubmitted}"
                                        formControlName="TO_DATE"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TO_DATE'].invalid && (angForm.controls['TO_DATE'].dirty || angForm.controls['TO_DATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TO_DATE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="AC_OPDATE">Account Opening Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="AC_OPDATE" id="AC_OPDATE" [(ngModel)]="opendate"
                                        class="form-control" formControlName="AC_OPDATE" disabled>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_OPDATE'].invalid && (angForm.controls['AC_OPDATE'].dirty || angForm.controls['AC_OPDATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_OPDATE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3"><label for="AMOUNT">Matured But Not Paid Amount</label></div>
                        <div class="col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AMOUNT" class="form-control" placeholder=" " id="AMOUNT"
                                        formControlName="AMOUNT" disabled>
                                </span>
                            </div>

                        </div>
                        <div class="col-sm" *ngIf="showView">
                            <button class="btn btn-outline-primary btn-sm"
                                (click)="getTransactionsDeatils()">View</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-12">
            <div class="table-responsive">
                <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" *ngIf="tableData?.length != 0">
                    <thead>
                        <td class="td_center">Date</td>
                        <td>Cheque Number</td>
                        <td>Particulars</td>
                        <td class="td_center">Transaction Type</td>
                        <td class="td_right">Debit Amount</td>
                        <td class="td_right">Credit Amount</td>
                        <td class="td_right">Closing Balance</td>
                        <td class="td_center">Officer ID</td>
                        <td>Normal Interest</td>
                        <td>Recbl/Payable Interest</td>
                        <td>Overdue Interest</td>
                        <td>Penal Interest</td>
                        <td>Receivable Penal</td>
                        <td class="td_right">Other Amount</td>
                        <td>Added Penal</td>
                        <td class="td_right">Voucher Number</td>
                    </thead>
                    <tbody *ngIf="tableData?.length != 0">
                        <tr *ngFor="let data of tableData; 
                        let indexOfelement = index">
                            <td>{{data.TRAN_DATE}}</td>
                            <td>{{data.CHEQUE_NO}}</td>
                            <td [ngClass]="{'form-submitted': formSubmitted}">{{data.NARRATION}}</td>
                            <td>{{data.TRAN_TYPE}}</td>
                            <td class="td_right">{{data.TRAN_DRCR=='D'?data.TRAN_AMOUNT:''}}</td>
                            <td class="td_right">{{data.TRAN_DRCR=='C'?data.TRAN_AMOUNT:''}}</td>
                            <td class="td_right">{{data.closeBalance}} {{drcr}}</td>
                            <td>{{data.OFFICER_CODE}}</td>
                            <td class="td_right">{{data.INTEREST_AMOUNT}}</td>
                            <td class="td_right">{{data.RECPAY_INT_AMOUNT}}</td>
                            <td class="td_right">{{data.OTHER10_AMOUNT}}</td>
                            <td class="td_right">{{data.PENAL_INTEREST}}</td>
                            <td class="td_right">{{data.REC_PENAL_INT_AMOUNT}}</td>
                            <td class="td_right">{{data.otherAmt}}</td>
                            <td class="td_right">{{data.ADDED_PENAL_INTEREST}}</td>
                            <td class="td_right">{{data.TRAN_NO}}</td>
                        </tr>
                        <tr style="font-weight: 600px;">
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td></td>
                            <td class="td_right">{{debitTotal}}</td>
                            <td class="td_right">{{creditTotal}}</td>
                            <td></td>
                            <td>Balance</td>
                            <td class="td_right">{{normalInt}}</td>
                            <td class="td_right">{{recpayInt}}</td>
                            <td class="td_right">{{overDueAmt}}</td>
                            <td class="td_right">{{penalInt}}</td>
                            <td class="td_right">{{recpenalInt}}</td>
                            <td class="td_right">{{otherAmount}}</td>
                            <td class="td_right">{{addedPenal}}</td>
                            <td></td>
                        </tr>
                        <tr style="font-weight: 600px;">
                            <td></td>
                            <td></td>
                            <td style="font-weight: 600px;">Total Deposit Amount</td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: 600px;" class="td_right">{{creditTotal}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="color: green;">
                            <td></td>
                            <td></td>
                            <td style=" font-size: 13px;"><strong> Grand Total</strong></td>
                            <td></td>
                            <td></td>
                            <td style=" font-size: 13px;" class="td_right"><strong>{{grandTotal}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="tableData?.length == 0">
                        <tr>
                            <td colspan="13" class="no-data-available" style="text-align: center;">
                                No data!
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>