.required {
    color: red;
  }
  .movable-text {
    animation: marquee 8.5s linear infinite; 
    white-space: nowrap;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } 
  }