<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Holiday</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <div class="card-block">
                <div>
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm-8">
                            <full-calendar [options]="calendarOptions"></full-calendar>
                        </div>
                        <div class="col-sm">
                            <ng-select [items]="daysOfWeek" bindLabel="name" placeholder="Select Weekly Holiday" (change)="onDaySelected($event)">
                            </ng-select>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>