<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'Utility.Action.Holiday' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'Utility.Action.F1' | translate}} (<sub class="required"> * </sub>) {{'Utility.Action.F2' | translate}}
                </h6>
            </div>
            <div class="card-block">
                <!-- <div class="row" style="height: 100px;">
                    <div class="col-sm-12"> -->
                <!-- <div class="page-body"> -->
                <div>
                    <div class="row">
                        <div class="col-sm">

                        </div>
                        <div class="col-sm-8">
                            <!-- <app-card cardClass="elite-calendar"> -->
                            <full-calendar [options]="calendarOptions"></full-calendar>
                            <!-- </app-card> -->
                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <!-- </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>