<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Charges Type Defination</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">

                    <div class="row">
                        <div class="col-sm col-lg-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="LastIntDate" class="form-control" placeholder=" "
                                        id="LastIntDate" required="" value="{{ message.LastIntDate }}" max="9999-12-31" id="date" onfocus="(this.type='date')" formControlName="LastIntDate">
                                    <label for="date">Effective Date<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['LastIntDate'].invalid && (angForm.controls['LastIntDate'].dirty || angForm.controls['LastIntDate'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['LastIntDate'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Scheme Type*" required title="Compulsory Selection" formControlName="scheme">
                                </ng-select>
                                <label>{{ message.scheme }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['scheme'].invalid && (angForm.controls['scheme'].dirty || angForm.controls['scheme'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['scheme'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Charges Type*" required title="Compulsory Selection" formControlName="charges">
                                </ng-select>
                                <label>{{ message.scheme }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['charges'].invalid && (angForm.controls['charges'].dirty || angForm.controls['charges'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['charges'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Charges_GL_Account" class="form-control" placeholder=" "
                                        id="label-name" required="" value="{{ message.Charges_GL_Account }}" pattern="^[0-9]+$" title="Input allowed only  0-9" formControlName="Charges_GL_Account">
                                    <label for="label-name">Charges GL Account<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['Charges_GL_Account'].invalid && (angForm.controls['Charges_GL_Account'].dirty || angForm.controls['Charges_GL_Account'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['Charges_GL_Account'].errors?.pattern || angForm.controls['Charges_GL_Account'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton" [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>
                        </div>

                    </div>


                </div>


            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>