<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Charges Type Defination</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm ">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="EFFECT_DATE" class="form-control" placeholder=" "
                                    #autofocus id="EFFECT_DATE" required=""
                                    max="{{datemax | date:'yyyy-MM-dd'}}"
                                    onfocus="(this.type='date')" #date
                                   (focusout)="disabledate(date.value)" 
                                      id="EFFECT_DATE"
                                      formControlName="EFFECT_DATE">
                                    <label for="EFFECT_DATE">Effective Date<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['EFFECT_DATE'].invalid && (angForm.controls['EFFECT_DATE'].dirty || angForm.controls['EFFECT_DATE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['EFFECT_DATE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="schemeType" [multiple]="false" placeholder="Scheme Type*" required title="Compulsory Selection" formControlName="ACNOTYPE">
                                </ng-select>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['ACNOTYPE'].invalid && (angForm.controls['ACNOTYPE'].dirty || angForm.controls['ACNOTYPE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['ACNOTYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="chargestype" [multiple]="false" placeholder="Charges Type*" required title="Compulsory Selection" formControlName="CHARGES_TYPE">
                                </ng-select>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['CHARGES_TYPE'].invalid && (angForm.controls['CHARGES_TYPE'].dirty || angForm.controls['CHARGES_TYPE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['CHARGES_TYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="accontType" [multiple]="false" placeholder="Charges GL Account*" required title="Compulsory Selection" formControlName="CHARGES_GL_ACNO">
                                </ng-select>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['CHARGES_GL_ACNO'].invalid && (angForm.controls['CHARGES_GL_ACNO'].dirty || angForm.controls['CHARGES_GL_ACNO'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['CHARGES_GL_ACNO'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="SERIAL_NO" class="form-control"
                                                placeholder=" " id="SERIAL_NO"
                                                formControlName="SERIAL_NO" disabled>
                                            <label for="SERIAL_NO">Serial No</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="FROM_RANGE" class="form-control"
                                                placeholder=" " id="FROM_RANGE" pattern="^[0-9]+$"
                                                title="Input allowed only 0-9"
                                                formControlName="FROM_RANGE">
                                            <label for="FROM_RANGE">From Range</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['FROM_RANGE'].invalid && (angForm.controls['FROM_RANGE'].dirty || angForm.controls['FROM_RANGE'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['FROM_RANGE'].errors?.pattern">
                                            Input allowed only 0-9
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="TO_RANGE" class="form-control"
                                                placeholder=" " id="TO_RANGE" pattern="^[0-9]+$"
                                                title="Input allowed only 0-9"
                                                formControlName="TO_RANGE">
                                            <label for="TO_RANGE">To Range</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['TO_RANGE'].invalid && (angForm.controls['TO_RANGE'].dirty || angForm.controls['TO_RANGE'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['TO_RANGE'].errors?.pattern">
                                            Input allowed only 0-9
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="CHARGES_AMT" class="form-control"
                                                placeholder=" " pattern="\d{1,20}(\.\d{2})?"
                                                id="CHARGES_AMT" maxlength="20"
                                                title="Input allowed only  0-9"
                                                formControlName="CHARGES_AMT">
                                            <label for="CHARGES_AMT">Charges Amount<sub
                                                    class="required">* </sub>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['CHARGES_AMT'].invalid && (angForm.controls['CHARGES_AMT'].dirty || angForm.controls['CHARGES_AMT'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['CHARGES_AMT'].errors?.pattern || angForm.controls['CHARGES_AMT'].errors?.maxlength">
                                            Input allowed only 0-9
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="col-sm">
                                        <button type="button" class="btn btn-primary ripple light" *ngIf="addShowButton" (click)="addField()">Add </button>
                                        <button class="btn btn-primary ripple light" (click)="updateField()" *ngIf="UpdateShowButton">Update</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <tbody *ngIf="multiField?.length != 0">
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Serial No.</th>
                                                    <th>From Range</th>
                                                    <th>To Range</th>
                                                    <th>Charges Amount/th>
                                                </tr>
                                                <tr *ngFor="let data of multiField; let indexOfelement=index;">
                                                    <td>
                                                        <button class="btn btn-outline-primary btn-sm" id="editbtn" (click)="editField(indexOfelement)">Edit</button> &nbsp;
                                                        <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delField(indexOfelement)">Delete</button>
                                                    </td>
                                                    <td class="td_right">{{ data.SERIAL_NO }}</td>
                                                    <td class="td_right">{{ data.FROM_RANGE }}</td>
                                                    <td class="td_right">{{ data.TO_RANGE }}</td>
                                                    <td class="td_right">{{ data.CHARGES_AMT }}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="multiField?.length == 0">
                                                <tr>
                                                    <td colspan="6" class="no-data-available">No data!
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-primary ripple light" *ngIf="showButton" (click)="submit()">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>&nbsp;

                            <button class="btn btn-primary ripple light" (click)="addNewData()" *ngIf="newbtnShow">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="schemeTypeChargesRate?.length != 0">
                                    <tr *ngFor="let data of schemeTypeChargesRate">
                                        <td><button class="btn btn-outline-primary btn-sm" id="editbtn" (click)="editClickHandler(data.id)">Edit</button> &nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                        <td class="td_right">{{ data.EFFECT_DATE }}</td>
                                        <td>{{ data.ACNOTYPE }}</td>
                                        <td>{{ data.CHARGES_TYPE }}</td>
                                        <td class="td_right">{{ data.CHARGES_GL_ACNO }}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="schemeTypeChargesRate?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th><input type="text" placeholder="Search Effective Date" name="search-effectiveDate" /></th>
                                        <th><input type="text" placeholder="Search Scheme Type" name="search-schemeType" /></th>
                                        <th><input type="text" placeholder="Search Charges Type" name="search-chargesType" /></th>
                                        <th><input type="text" placeholder="Search Charges GL Account" name="search-chargesGLAccount" /></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>