<div class="row" *ngIf="showAdd">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>User Defination </h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="F_NAME" maxlength="2000" class="form-control" #autofocus
                                        placeholder=" " id="label-name" required="" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="F_NAME">
                                    <label for="label-name">First Name<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['F_NAME'].invalid && (angForm.controls['F_NAME'].dirty || angForm.controls['F_NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['F_NAME'].errors?.pattern || angForm.controls['F_NAME'].errors?.required || angForm.controls['F_NAME'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="L_NAME" maxlength="2000" class="form-control"
                                        placeholder=" " id="label-name" required="" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="L_NAME">
                                    <label for="label-name">Last Name<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['L_NAME'].invalid && (angForm.controls['L_NAME'].dirty || angForm.controls['L_NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['L_NAME'].errors?.pattern || angForm.controls['L_NAME'].errors?.required || angForm.controls['L_NAME'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="DOB" class="form-control" id="DOB"
                                        [(ngModel)]="dater" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                        maxlength="10" [ngClass]="{'form-submitted': formSubmitted}" #DOB="bsDatepicker"
                                        [bsValue]="bsValue" bsDatepicker required #DOB formControlName="DOB">

                                    <label for="DOB">Birth Date</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['DOB'].invalid && (angForm.controls['DOB'].dirty || angForm.controls['DOB'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['DOB'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="MOB_NO" class="form-control" placeholder=" "
                                        pattern="[7-9 0]{1}[0-9]{9,10}" title="Input allowed only  0-9" id="MOB_NO"
                                        formControlName="MOB_NO" maxlength="10" minlength="10">
                                    <label for="MOB_NO">Mobile<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['MOB_NO'].invalid && (angForm.controls['MOB_NO'].dirty || angForm.controls['MOB_NO'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['MOB_NO'].errors?.pattern || angForm.controls['MOB_NO'].errors?.required || angForm.controls['MOB_NO'].errors?.pattern || angForm.controls['MOB_NO'].errors?.minlength  || angForm.controls['MOB_NO'].errors?.maxlength">
                                    Input allowed only 0-9 and It starts by either for 7 or 8 or 9
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="EMAIL" class="form-control" placeholder=" "
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter valid Email"
                                        id="EMAIL" formControlName="EMAIL">
                                    <label for="EMAIL">Email<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['EMAIL'].invalid && (angForm.controls['EMAIL'].dirty || angForm.controls['EMAIL'].touched)"
                                class="alert alert-danger">
                                <!-- *ngIf="angForm.controls['EMAIL'].errors?.pattern" -->
                                <div
                                    *ngIf="angForm.controls['EMAIL'].errors?.pattern || angForm.controls['EMAIL'].errors?.required || angForm.controls['EMAIL'].errors?.pattern">
                                    Enter valid Email
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group form-primary form-static-label">
                                <!-- <ng-select (focus)="hasFocus = true" [ngClass]="'ng-select'" [options]="ROLE"
                                     [multiple]="true" placeholder="Role" formControlName="ROLE">
                                </ng-select> -->
                                <!-- <ng-select placeholder="role" formControlName="ROLE"        bindValue="value" bindLable="label">
                                    <ng-option *ngFor="let role of ROLE"
                                        [value]="role">{{role.id}}{{role.label}}</ng-option>
                                </ng-select> -->
                                <span class="border-lable-flt">
                                    <ng-select bindValue="value" bindLabel="label" [(ngModel)]="selectedRoleName"
                                        (change)="newFunction($event)" formControlName="ROLE" placeholder="Role"
                                        [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of ROLEX" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['ROLE'].invalid && (angForm.controls['ROLE'].dirty || angForm.controls['ROLE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['ROLE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="USER_NAME" maxlength="2000" class="form-control"
                                        placeholder=" " id="label-name" required="" pattern="^[A-Za-z0-9\./ -]+$"
                                        title="Input allowed only  A-Z a-z 0-9  - / . (Space)"
                                        formControlName="USER_NAME">
                                    <label for="USER_NAME">User Name<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['USER_NAME'].invalid && (angForm.controls['USER_NAME'].dirty || angForm.controls['USER_NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['USER_NAME'].errors?.pattern || angForm.controls['USER_NAME'].errors?.required || angForm.controls['USER_NAME'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z 0-9 - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select bindValue="value" bindLabel="label" [(ngModel)]="branchId"
                                        formControlName="branchId" placeholder="Branch" [selectOnTab]='true' #brnch
                                        (focus)="onFocus(brnch)">
                                        <ng-option *ngFor="let values of barnchData" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['branchId'].invalid && (angForm.controls['branchId'].dirty || angForm.controls['branchId'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['branchId'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="PASSWORD" class="form-control" placeholder=" " maxlength="12" minlength="8"
                                         title="Enter password of minlength  and 8 maxlength 12 "
                                        id="PASSWORD" formControlName="PASSWORD">
                                    <label for="PASSWORD">Password</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['PASSWORD'].invalid && (angForm.controls['PASSWORD'].dirty || angForm.controls['PASSWORD'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['PASSWORD'].errors?.pattern">
                                    Enter valid password
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-1">
                            <label for="status"> Status</label>
                        </div>
                        <div class="col-md">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="inputRadio">
                                        <input type="radio" name="STATUS" checked="checked" value="active"
                                            formControlName="STATUS">
                                        <i class="helper"></i>Active
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="inputRadio">
                                        <input type="radio" name="STATUS" checked="checked" value="inactive"
                                            formControlName="STATUS">
                                        <i class="helper"></i>Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-sm">

                            <button class="btn btn-outline-primary btn-sm" *ngIf="showButton" (click)="submit()"
                                [disabled]="angForm.invalid">Add</button>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData()"
                                *ngIf="updateShow">Update</button>&nbsp;&nbsp;&nbsp;
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="showEdit">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Edit Role and Branch</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="angForm" novalidate>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="F_NAME" maxlength="2000" class="form-control"
                                        placeholder=" " id="label-name" required="" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="FULL_NAME">
                                    <label for="label-name">Full Name<sub class="required">* </sub></label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md">
                                <div class="form-group form-primary form-static-label"
                                    style="width: 108%;margin-left: -4%;">
                                    <ng-select (focus)="hasFocus = true" [ngClass]="'ng-select'" [options]="barnchData"
                                        [multiple]="false" placeholder="Branch" formControlName="Edit_branchId">
                                    </ng-select>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['branchId'].invalid && (angForm.controls['branchId'].dirty || angForm.controls['branchId'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['branchId'].errors?.required">
                                        This field is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <ng-select (focus)="hasFocus = true" [ngClass]="'ng-select'" [(ngModel)]="selectedRole"
                                    [options]="ROLE" [multiple]="true" placeholder="Role" formControlName="EDIT_ROLE">
                                </ng-select>
                            </div>
                            <label>Existing Role : {{selectedRoleName}}</label>

                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['ROLE'].invalid && (angForm.controls['ROLE'].dirty || angForm.controls['ROLE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['ROLE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label for="status"> Status</label>
                        </div>
                        <div class="col-md">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="STATUS1" checked="checked" value="active"
                                            formControlName="STATUS1">
                                        <i class="helper"></i>Active
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="STATUS1" checked="checked" value="inactive"
                                            formControlName="STATUS1">
                                        <i class="helper"></i>Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="saveEdit()" [disabled]="!angEditForm.valid">Save</button>
                <span style="margin-left: 5px;"><button class="btn btn-primary"
                        (click)="closeEditForm()">Cancel</button></span>
            </div>
        </div>
    </div>
</div>  -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                                class="table table-striped table-bordered table-hover">
                                <tbody *ngIf="userdef?.length != 0">
                                    <tr *ngFor="let data of userdef">
                                        <td>
                                            <!-- <button class="btn btn-outline-primary btn-sm" id="editbtn"
                                                (click)="editClickHandler(data.id)">Edit</button> &nbsp; -->

                                            <span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                (click)="editClickHandler(data.id)" placement="bottom"
                                                ngbTooltip="Edit"></span>
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm"
                                                (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>

                                        <td>{{ data.F_NAME }}</td>
                                        <td>{{ data.L_NAME }}</td>
                                        <td>{{ data.DOB }}</td>
                                        <td>{{ data.MOB_NO }}</td>
                                        <td>{{ data.EMAIL }}</td>
                                        <td>{{ data.RoleDefine[0].Role.NAME }}</td>
                                        <td>{{ data.USER_NAME }}</td>
                                        <!-- <td>{{ data.PASSWORD }}</td> -->
                                        <td>{{ data.STATUS }}</td>
                                        <!-- <td>{{ data.USER_CREATED_AT }}</td> -->
                                    </tr>
                                </tbody>
                                <tbody *ngIf="userdef?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th><input type="text" placeholder="Search first nmae" name="F_NAME"></th>
                                        <th><input type="text" placeholder="Search Last Name" name="L_NAME"></th>
                                        <th><input type="text" placeholder="Search DOB" name="DOB"></th>
                                        <th><input type="text" placeholder="Search MOB_NO" name="MOB_NO"></th>
                                        <th><input type="text" placeholder="Search EMAIL" name="EMAIL"></th>
                                        <th><input type="text" placeholder="Search ROLE" name="ROLE"></th>
                                        <th><input type="text" placeholder="Search USER_NAME" name="USER_NAME"></th>
                                        <!-- <th><input type="text" placeholder="Search PASSWORD" name="PASSWORD"></th> -->
                                        <th><input type="text" placeholder="Search STATUS" name="STATUS"></th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>