<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Cash Credit And Loan Renewal</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">Branch<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode" #branchcode
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" (change)="getBranch()" appTheme
                                        placeholder="" (focus)="onFocus(branchcode)" [selectOnTab]='true' autofocus>
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">Scheme<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                        formControlName="AC_TYPE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        (change)="schemechange($event)" placeholder="" #selectcode appTheme
                                        (focus)="onFocus(selectcode)" [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1"> <label for="AC_NO">Account Number<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_NO" bindValue="id" [(ngModel)]="ngacno" formControlName="AC_NO"
                                        bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required appTheme
                                        (change)="getAccountDetails($event)" placeholder="" #accountNumber
                                        (focus)="onFocus(accountNumber)" [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                            {{values.AC_NO}} {{values.AC_NAME}}</ng-option>
                                    </ng-select>

                                    <!-- <ng-select id="AC_NO" bindValue="value" [(ngModel)]="ngacno" formControlName="AC_NO"
                                        bindLabel="label" (change)="getAccountDetails($event)"
                                        title="Compulsory Selection" required placeholder="Account Number">
                                        <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                            {{values.AC_NO}} {{values.AC_NAME}}</ng-option>
                                    </ng-select> -->
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                            <!-- <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                    This field is required.
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="RENEWAL_DATE">Renewal Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                        formControlName="RENEWAL_DATE" disabled>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['RENEWAL_DATE'].invalid && (angForm.controls['RENEWAL_DATE'].dirty || angForm.controls['RENEWAL_DATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['RENEWAL_DATE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="AC_OPDATE">Account Opening Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                        formControlName="AC_OPDATE" disabled>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3"><label for="AC_RENEWAL_COUNTER">Account Renewal Numbers of
                                Times</label></div>
                        <div class="col-md-1">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" style="text-align: right;" name="AC_RENEWAL_COUNTER"
                                        class="form-control" placeholder=" " disabled
                                        formControlName="AC_RENEWAL_COUNTER" />

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_RENEWAL_COUNTER'].invalid && (angForm.controls['AC_RENEWAL_COUNTER'].dirty || angForm.controls['AC_RENEWAL_COUNTER'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_RENEWAL_COUNTER'].errors?.required">
                                    Input allowed only 0-9.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_INTCATA">Interest Category<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_INTCATA" bindValue="value" [(ngModel)]="int_category"
                                        formControlName="AC_INTCATA" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="Interest Category">
                                        <ng-option *ngFor="let values of intCat" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_INTCATA'].invalid && (angForm.controls['AC_INTCATA'].dirty || angForm.controls['AC_INTCATA'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_INTCATA'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="LAST_INTDATE">Last Interest Date<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="LAST_INTDATE" id="LAST_INTDATE"
                                        class="form-control" formControlName="LAST_INTDATE" disabled>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['LAST_INTDATE'].invalid && (angForm.controls['LAST_INTDATE'].dirty || angForm.controls['LAST_INTDATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['LAST_INTDATE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="solid">
                                <h3><span>Old Details</span></h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_MONTHS">Period in Months</label>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="OLDAC_MONTHS"
                                                    class="form-control" placeholder=" " id="OLDAC_MONTHS"
                                                    formControlName="OLDAC_MONTHS" disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_EXPIRE_DATE">Expiry Date</label>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="OLDAC_EXPIRE_DATE"
                                                    id="OLDAC_EXPIRE_DATE" class="form-control"
                                                    formControlName="OLDAC_EXPIRE_DATE" disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_SANCTION_AMOUNT">Sanction
                                            Amount</label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;"
                                                    name="OLDAC_SANCTION_AMOUNT" class="form-control" placeholder=" "
                                                    id="OLDAC_SANCTION_AMOUNT" formControlName="OLDAC_SANCTION_AMOUNT"
                                                    disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_SANCTION_DATE">Sanction
                                            Date</label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="OLDAC_SANCTION_DATE"
                                                    id="OLDAC_SANCTION_DATE" class="form-control"
                                                    formControlName="OLDAC_SANCTION_DATE" disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_SECURITY_AMT">Security
                                            Amount</label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="OLDAC_SECURITY_AMT"
                                                    class="form-control" placeholder=" " id="OLDAC_SECURITY_AMT"
                                                    formControlName="OLDAC_SECURITY_AMT" disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_DRAWPOWER_AMT">Drawing
                                            Power Amount</label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="OLDAC_DRAWPOWER_AMT"
                                                    class="form-control" placeholder=" " id="OLDAC_DRAWPOWER_AMT"
                                                    formControlName="OLDAC_DRAWPOWER_AMT" disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="OLDAC_INSTALLMENT">Installment
                                            Amount</label>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="OLDAC_INSTALLMENT"
                                                    class="form-control" placeholder=" " id="OLDAC_INSTALLMENT"
                                                    formControlName="OLDAC_INSTALLMENT" disabled>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-sm">
                            <div class="solid">
                                <h3><span>Renewal Details</span></h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="AC_MONTHS">Period in Months<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="AC_MONTHS"
                                                    class="form-control" placeholder=" " id="AC_MONTHS"
                                                    (keyup)="getExpiryDate()" pattern="^[0-9]+$" appTheme
                                                    title="Input allowed only 0-9" maxlength="3"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    formControlName="AC_MONTHS" (focus)="selectAllContent($event)">
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_MONTHS'].invalid && (angForm.controls['AC_MONTHS'].dirty || angForm.controls['AC_MONTHS'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_MONTHS'].errors?.required">
                                                This field is required and input allowed 0-9
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3"> <label for="AC_EXPIRE_DATE">Expiry Date<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="AC_EXPIRE_DATE"
                                                    id="AC_EXPIRE_DATE" class="form-control" [(ngModel)]="ngexpirydate"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" appTheme appButton minlength="10" maxlength="10"
                                                    [ngClass]="{'form-submitted': formSubmitted}"
                                                    #AC_EXPIRE_DATE="bsDatepicker" (keydown.Tab)="AC_EXPIRE_DATE.hide()"
                                                    placement="left" formControlName="AC_EXPIRE_DATE"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                    bsDatepicker>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_EXPIRE_DATE'].invalid && (angForm.controls['AC_EXPIRE_DATE'].dirty || angForm.controls['AC_EXPIRE_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_EXPIRE_DATE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="AC_SANCTION_AMOUNT">Sanction Amount<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="AC_SANCTION_AMOUNT"
                                                    class="form-control" placeholder=" " id="AC_SANCTION_AMOUNT"
                                                    title="Input allowed only  0-9" formControlName="AC_SANCTION_AMOUNT"
                                                    maxlength="15" (focus)="selectAllContent($event)" appTheme
                                                    (keyup)="getDecimal($event)" (focusout)="getDecimalPoint($event)"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_SANCTION_AMOUNT'].invalid && (angForm.controls['AC_SANCTION_AMOUNT'].dirty || angForm.controls['AC_SANCTION_AMOUNT'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="angForm.controls['AC_SANCTION_AMOUNT'].errors?.required || angForm.controls['AC_SANCTION_AMOUNT'].errors?.maxlength">
                                                Input allowed only 0-9 .(after decimal 2 digits)
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-3"> <label for="AC_SANCTION_DATE">Sanction Date<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="AC_SANCTION_DATE"
                                                    id="AC_SANCTION_DATE" class="form-control"
                                                    [(ngModel)]="ngsansctiondate" appTheme appButton minlength="10" maxlength="10"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate"
                                                    [ngClass]="{'form-submitted': formSubmitted}"
                                                    formControlName="AC_SANCTION_DATE" #AC_SANCTION_DATE="bsDatepicker"
                                                    (keydown.Tab)="AC_SANCTION_DATE.hide()" placement="left"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                    bsDatepicker>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_SANCTION_DATE'].invalid && (angForm.controls['AC_SANCTION_DATE'].dirty || angForm.controls['AC_SANCTION_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_SANCTION_DATE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="AC_SECURITY_AMT">Security Amount<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="AC_SECURITY_AMT"
                                                    class="form-control" placeholder=" " maxlength="15"
                                                    id="AC_SECURITY_AMT" title="Input allowed only  0-9"
                                                    (keyup)="getDecimal($event)" formControlName="AC_SECURITY_AMT"
                                                    (focus)="selectAllContent($event)" appTheme
                                                    (focusout)="getDecimalPoint($event)"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_SECURITY_AMT'].invalid && (angForm.controls['AC_SECURITY_AMT'].dirty || angForm.controls['AC_SECURITY_AMT'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf=" angForm.controls['AC_SECURITY_AMT'].errors?.required || angForm.controls['AC_SECURITY_AMT'].errors?.maxlength">
                                                Input allowed only 0-9 .(after decimal 2 digits)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-3"> <label for="AC_DRAWPOWER_AMT">Drawing Power
                                            Amount<sub class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="AC_DRAWPOWER_AMT"
                                                    class="form-control" placeholder=" " id="AC_DRAWPOWER_AMT"
                                                    title="Input allowed only  0-9" formControlName="AC_DRAWPOWER_AMT"
                                                    maxlength="15" (keyup)="getDecimal($event)"
                                                    (focus)="selectAllContent($event)"
                                                    (focusout)="getDecimalPoint($event)" appTheme
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_DRAWPOWER_AMT'].invalid && (angForm.controls['AC_DRAWPOWER_AMT'].dirty || angForm.controls['AC_DRAWPOWER_AMT'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="angForm.controls['AC_DRAWPOWER_AMT'].errors?.required || angForm.controls['AC_DRAWPOWER_AMT'].errors?.maxlength">
                                                Input allowed only 0-9 .(after decimal 2 digits)
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="AC_INSTALLMENT">Installment Amount<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="AC_INSTALLMENT"
                                                    class="form-control" placeholder=" " id="AC_INSTALLMENT"
                                                    maxlength="15" title="Input allowed only  0-9"
                                                    (keyup)="getDecimal($event)" formControlName="AC_INSTALLMENT"
                                                    (focus)="selectAllContent($event)"
                                                    (focusout)="getDecimalPoint($event)" appTheme
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_INSTALLMENT'].invalid && (angForm.controls['AC_INSTALLMENT'].dirty || angForm.controls['AC_INSTALLMENT'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="angForm.controls['AC_INSTALLMENT'].errors?.required || angForm.controls['AC_INSTALLMENT'].errors?.maxlength">
                                                Input allowed only 0-9 .(after decimal 2 digits)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="solid">
                                <h3><span>Resolution Details</span></h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"><label for="AC_RESO_NO">Number<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="AC_RESO_NO"
                                                    class="form-control" placeholder=" "
                                                    [ngClass]="{'form-submitted': formSubmitted}"
                                                    (focus)="selectAllContent($event)" appTheme
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                    id="AC_RESO_NO" required="" pattern="^[0-9]+$" maxlength="4"
                                                    title="Input allowed only  0-9" formControlName="AC_RESO_NO" />

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_RESO_NO'].invalid && (angForm.controls['AC_RESO_NO'].dirty || angForm.controls['AC_RESO_NO'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_RESO_NO'].errors?.required">
                                                This field is required Input allowed only 0-9
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2"> <label for="AC_RESO_DATE">Date<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="AC_RESO_DATE"
                                                    id="AC_RESO_DATE" class="form-control" [(ngModel)]="ngeffectivedate"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate"
                                                    [ngClass]="{'form-submitted': formSubmitted}" appTheme appButton minlength="10" maxlength="10"
                                                    formControlName="AC_RESO_DATE" #AC_RESO_DATE="bsDatepicker"
                                                    (keydown.Tab)="AC_RESO_DATE.hide()" placement="top"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                    bsDatepicker>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_RESO_DATE'].invalid && (angForm.controls['AC_RESO_DATE'].dirty || angForm.controls['AC_RESO_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_RESO_DATE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="solid">
                                <h3><span>Interest Details</span></h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="INT_RATE">Normal Interest
                                            Rate(%)</label>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="INT_RATE"
                                                    class="form-control" placeholder=" " id="INT_RATE"
                                                    title="Input allowed only  0-9" #normalInt
                                                    (keyup)="getDecimal($event);checkmargin($event)"
                                                    formControlName="INT_RATE" (focus)="selectAllContent($event)"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['INT_RATE'].invalid && (angForm.controls['INT_RATE'].dirty || angForm.controls['INT_RATE'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="angForm.controls['INT_RATE'].errors?.required || angForm.controls['INT_RATE'].errors?.maxlength">
                                                Input allowed only 0-9 .(after decimal 2 digits)
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-3"> <label for="PENAL_INT_RATE">Penal Interest
                                            Rate(%)</label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" name="PENAL_INT_RATE"
                                                    class="form-control" placeholder=" " id="PENAL_INT_RATE"
                                                    title="Input allowed only  0-9" #penalInt
                                                    (keyup)="getDecimal($event);checkmargin($event)"
                                                    formControlName="PENAL_INT_RATE" (focus)="selectAllContent($event)"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['PENAL_INT_RATE'].invalid && (angForm.controls['PENAL_INT_RATE'].dirty || angForm.controls['PENAL_INT_RATE'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="angForm.controls['PENAL_INT_RATE'].errors?.required || angForm.controls['PENAL_INT_RATE'].errors?.maxlength">
                                                Input allowed only 0-9 .(after decimal 2 digits)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3"> <label for="EFFECT_DATE">Effective Date</label>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="EFFECT_DATE"
                                                    id="EFFECT_DATE" class="form-control" [(ngModel)]="ngeffectivedate"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate"
                                                    [ngClass]="{'form-submitted': formSubmitted}" appButton minlength="10" maxlength="10"
                                                    formControlName="EFFECT_DATE" #EFFECT_DATE="bsDatepicker"
                                                    (keydown.Tab)="EFFECT_DATE.hide()" placement="top"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                    bsDatepicker>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['EFFECT_DATE'].invalid && (angForm.controls['EFFECT_DATE'].dirty || angForm.controls['EFFECT_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['EFFECT_DATE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" style="float: right;">
                            <button type="submit" class="btn btn-outline-primary btn-sm btn-submit" appTheme
                                *ngIf="showButton" [disabled]="angForm.invalid" (click)="submit();branchcode.focus()">
                                Renew
                            </button>
                            <button class="btn btn-outline-primary btn-sm" *ngIf="approveShow" (click)="closeModal()">
                                Close</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="addNewData()" *ngIf="newbtnShow">
                                Cancel
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow">
                                Update</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <button class="btn btn-outline-primary btn-sm" *ngIf="rejectShow" (click)="reject()">
                                Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-outline-primary btn-sm" *ngIf="approveShow" (click)="Approve()">
                                Approve</button>
                            <button class="btn btn-outline-primary btn-sm" *ngIf="unapproveShow" (click)="unApprove()">
                                Unapprove</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>