.required {
    color: red;
 }

 div.solid {border-style: solid;padding:2%}

 div.solid h1{
    text-align: left;
    margin-top: -4%;
    height: 20px;
    line-height: 20px;
    font-size: 17px;
}

div.solid h1 span{
    background-color: white;
}