<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                General Code Statement
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="tree">
                            <li *ngFor="let item of parentCodeArray">{{item.head_name}}
                                <button class="btn btn-primary"
                                    (click)="modalLarge.show();AddnewHead(item.id,item.head_name)"><i
                                        class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>&nbsp;
                                <button class="btn btn-secondary"
                                    (click)="modalChange.show();shuffleHead(item.id,item.head_name)"><i
                                        class="fa fa-refresh" aria-hidden="true"></i>
                                </button>

                                <ul>
                                    <li *ngFor="let i of item.child">{{i.head_name}}
                                        <button class="btn btn-primary"
                                            (click)="modalLarge.show();AddnewHead(i.id,i.head_name)"><i
                                                class="fa fa-plus-circle" aria-hidden="true"></i></button>&nbsp;
                                        <button class="btn btn-success"
                                            (click)="modalEdit.show();EditnewHead(i.id,i.head_name)"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></button>&nbsp;
                                        <button class="btn btn-secondary"
                                            (click)="modalChange.show();shuffleHead(i.id,i.head_name)"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></button>&nbsp;

                                        <ul>
                                            <li *ngFor="let data of i.child" class="last">{{data.head_name}}
                                                <button class="btn btn-success"
                                                    (click)="modalEdit.show();AddnewHead(i.id,i.head_name)"><i
                                                        class="fa fa-pencil" aria-hidden="true"></i></button>

                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- For Add New Head  -->

<app-modal-basic #modalLarge [dialogClass]="'modal-sm'">
    <div class="app-modal-header">
        <h4 class="modal-title">General New Head</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-12">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" class="form-control" [(ngModel)]="parentCode" id="A_ACHEAD" disabled>
                            <label for="A_ACHEAD">Parent Statement Head<sub class="required">* </sub></label>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" class="form-control" [(ngModel)]="newCode" id="A_ACHEAD" required="">
                            <label for="A_ACHEAD">New Statement Head<sub class="required">* </sub></label>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-info" (click)="submitNewCode()">Submit</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide
            (click)="modalLarge.hide()">Close</button>
    </div>
</app-modal-basic>

<!-- For Edit Modal -->

<app-modal-basic #modalEdit [dialogClass]="'modal-sm'">
    <div class="app-modal-header">
        <h4 class="modal-title">Edit In Head</h4>
        <button type="button" class="close basic-close" (click)="modalEdit.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-12">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" class="form-control" [(ngModel)]="parentCode" id="A_ACHEAD" disabled>
                            <label for="A_ACHEAD">Current Statement Head Name<sub class="required">* </sub></label>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" class="form-control" [(ngModel)]="newCode1" id="A_ACHEAD" required="">
                            <label for="A_ACHEAD">New Statement Head Name<sub class="required">* </sub></label>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-info" (click)="updateNewCode()">Update</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide
            (click)="modalEdit.hide()">Close</button>
    </div>
</app-modal-basic>

<!-- For Shuffle SubHead -->

<app-modal-basic #modalChange [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Shuffle Sub Head</h4>
        <button type="button" class="close basic-close" (click)="modalChange.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-4">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" class="form-control" [(ngModel)]="parentCode" id="A_ACHEAD" disabled>
                            <label for="A_ACHEAD">Current Statement Head Name<sub class="required">* </sub></label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mx-5">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover compact">
                                    <thead>
                                        <td> Sub Head</td>
                                        <td> Current Position</td>
                                        <td> New Positiom</td>
                                    </thead>
                                    <tbody *ngFor="let data of childArray">
                                        <tr>
                                            <td class="td_center">{{data.head_name}}</td>
                                            <td class="td_center">{{data.position}}</td>
                                            <td class="td_center">
                                                <input type="text" style="text-align:center" value="{{data.position}}"
                                                    maxlength="8" #position
                                                    (change)="getColumnValue(data.id,position.value)"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide
            (click)="modalChange.hide()">Close</button>
        <button class="btn btn-outline-primary btn-sm" (click)="shuffleCode()">Shuffle and Update</button>&nbsp;

    </div>
</app-modal-basic>