ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 35px;
     color: #ff770c;
     font-weight: bold;
     border-left:3px solid rgb(100,100,100);

   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:2em;
      width:35px;
      color:white;
      border-bottom:3px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:3px solid rgb(100,100,100);   
   }

   .btn-success
   {
    margin-top: 2px;
    width: 0px;
    height: 15px;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 10px;
    padding: 0px 10px;
    padding-right: 13px;
    padding-left: 3px;
   }
   .fa-pencil
   {
    size: 5px 10px ;
    color: rgb(255, 255, 255);
   
   }

   .btn-primary
   {
    margin-top: 2px;
    width: 0px;
    height: 15px;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 10px;
    padding: 0px 10px;
    padding-right: 13px;
    padding-left: 3px;
   } 
   
  .fa-plus-circle
  {
   size: 5px 10px ;
   color: rgb(255, 255, 255);
  
  }
   
   .btn-secondary
   {
    margin-top: 2px;
    width: 0px;
    height: 15px;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 10px;
    padding: 0px 10px;
    padding-right: 13px;
    padding-left: 3px;
   }
 
   .fa-refresh
   {
    size: 5px 10px ;
    color: rgb(255, 255, 255);
   }