<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'master.Recovery_Cleark_Master.Title' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'master.Recovery_Cleark_Master.F1' | translate}} (<sub class="required"> * </sub>) {{'master.Recovery_Cleark_Master.F2' | translate}}
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="CODE" class="form-control" placeholder=" " id="CODE"
                                        pattern="^[0-9]+$" title="Input allowed only  0-9" formControlName="CODE"
                                        disabled>
                                    <label for="CODE">{{'master.Recovery_Cleark_Master.Recovery_Cleark_Code' | translate}}</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">{{'master.Recovery_Cleark_Master.Branch_Code' | translate}}<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngbranch"
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [virtualScroll]="true" placeholder="{{'master.Recovery_Cleark_Master.Branch_Code' | translate}}" 
                                          #BRANCH_CODE (focus)="onFocus(BRANCH_CODE)" [selectOnTab]='true' >
                                        <ng-option *ngFor="let values of branchOption" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    <!-- This field is required. -->{{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme type="text" name="NAME" class="form-control" placeholder=" "
                                        id="NAME" #autofocus required=""  maxlength="100"
                                        (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="NAME">
                                    <label for="NAME">{{'master.Recovery_Cleark_Master.Description' | translate}}<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['NAME'].invalid && (angForm.controls['NAME'].dirty || angForm.controls['NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf=" angForm.controls['NAME'].errors?.required || angForm.controls['NAME'].errors?.maxlength">
                                    <!-- This field is required and Input allowed only A-Z a-z - / . (Space) -->{{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm btn-submit" (click)="submit()"
                                *ngIf="showButton" [disabled]="angForm.invalid" (keydown.Tab)="focus()"
                                appTheme>{{'master.Recovery_Cleark_Master.Submit' | translate}}</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="addNewData()"
                                *ngIf="newbtnShow">{{'master.Recovery_Cleark_Master.Cancel' | translate}}</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow"
                                [disabled]="angForm.invalid">{{'master.Recovery_Cleark_Master.Update' | translate}}</button>&nbsp;

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="informationtable" datatable [dtOptions]="dtExportButtonOptions"
                                [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="recoveryClearkMaster?.length != 0">
                                    <tr *ngFor="let data of recoveryClearkMaster">
                                        <td><span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                (click)="editClickHandler(data.id);gotoTop()" placement="bottom"
                                                ngbTooltip="Edit"></span> &nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm"
                                                (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                        <td class="td_right">{{ data.CODE}}</td>
                                        <td>{{ data.NAME}}</td>
                                        <td>{{ data.BRANCH_CODE}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="recoveryClearkMaster?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">{{'master.Action.No_Data' | translate}}</td>
                                    </tr>
                                </tbody>
                                <tfoot #filters class="filters">

                                    <tr class="testing">
                                        <th class="testing"></th>
                                        <th><input type="text" class="form-control" name="CODE">
                                        </th>
                                        <th><input type="text" class="form-control" name="NAME"></th>
                                        <th><input type="text" class="form-control" name="BRANCH_CODE"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>