<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <!-- <h5>GL Report Linking</h5> -->
          <h5>{{'master.GL_Report_Linking.Title' | translate}}</h5>
          <h6 style="float: right;">{{'master.Action.F1' | translate}}<sub class="required">*</sub>{{'master.Action.F2' | translate}}</h6>
        </div>
        <form [formGroup]="angForm" novalidate #myform="ngForm">
          <div class="card-block">
  
  
            <div class="row">
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'EXPENSES' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('EXPENSES')">
                <!-- EXPENSES -->
                {{'master.GL_Report_Linking.EXPENSES' | translate}}</button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'SUBSIDARY' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('SUBSIDARY')">
                <!-- SUBSIDARY -->
                {{'master.GL_Report_Linking.SUBSIDARY' | translate}}</button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'CRAR' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('CRAR')">
                <!-- CRAR -->
                {{'master.GL_Report_Linking.CRAR' | translate}}  </button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'Daily Liquidity' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('Daily Liquidity')">
                <!-- Daily Liquidity -->
                {{'master.GL_Report_Linking.Daily Liquidity' | translate}}</button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'ABR-ALR' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('ABRALR')">
                <!-- ABR-ALR -->
                {{'master.GL_Report_Linking.ABR-ALR' | translate}}</button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'CRR' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('CRR')">
                <!-- CRR -->
                {{'master.GL_Report_Linking.CRR' | translate}}</button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'SLR' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('SLR')">
                <!-- SLR -->
                {{'master.GL_Report_Linking.SLR' | translate}}</button>
  
              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'NIDHI' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('NIDHI')">
                <!-- NIDHI -->
                {{'master.GL_Report_Linking.NIDHI' | translate}}
              </button>

              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'FRIDAY LIRUIDITY' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('FRIDAY LIRUIDITY')">
                <!-- FRIDAY LIRUIDITY -->
                {{'master.GL_Report_Master.Friday_Liquidity' | translate}}
              </button>

              <button type="button" class="btn btn-outline-primary btn-sm"
                [ngStyle]="{'background-color': selectedCategory === 'MISINFO' ? 'green' : 'transparent'}"
                style="color: black;" (click)="onExpensesClick('MISINFO')">
                <!-- MISINFO -->
                {{'master.GL_Report_Master.MIS_Info' | translate}}
              </button>
                
            </div>

            <h3 style="text-align: center;">{{ selectedCategory }}</h3>

            <div class="solid">
              <div class="row">
                <div class="col-md">
  
                  <button type="button" class="btn btn-outline-primary btn-sm" (click)="updateData()"
                    *ngIf="updateButton">
                    <!-- Update -->
                    {{'master.Action.Update' | translate}}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card shadow">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-sm">
                          <div class="table-responsive">
  
                            <!-- <form [formGroup]="angForm">
                                                          <input formControlName="accountNumber" (input)="filterTableData()" placeholder="Search by Account Number">
                                                          <input formControlName="code" (input)="filterTableData()" placeholder="Search by Code">
                                                        </form> -->
  
                            <table datatable [dtOptions]="dtExportButtonOptions"
                            class="table table-striped table-bordered table-hover" id="tabledata">
  
                              <!-- <tbody *ngIf="tabledata?.length != 0">
                                <tr *ngFor="let data of tabledata let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td contenteditable="true" [ngClass]="data.acno === '' ? 'td_center' : 'td_left'">
                                    {{ data.acno === "" ? "-" : data.acno }}
                                  </td>
                                  <td contenteditable="true" [ngClass]="data.acname === '' ? 'td_center' : 'td_left'">
                                    {{ data.acname === "" ? "-" : data.acname }}
                                  </td>
                                  <td contenteditable="true"
                                    [ngClass]="data.EFFECT_DATE === '' ? 'td_center' : 'td_left'">
                                    {{ data.EFFECT_DATE === "" ? "-" : data.EFFECT_DATE
                                    }}
                                  </td>
                                  <td contenteditable="true"
                                    [ngClass]="data.EFFECT_TO_DATE === '' ? 'td_center' : 'td_left'">
                                    {{ data.EFFECT_TO_DATE === "" ? "-" :
                                    data.EFFECT_TO_DATE }}
                                  </td>
                                   <td contenteditable="true">
                                    <select>
                                      <option value="">-</option>
                                      <option *ngFor="let CODE of codeValues" [value]="CODE">{{ CODE }} - {{NAME}}</option>
                                    </select>
                                  </td> 
                                  
                                  <td contenteditable="true">
                                    <select [ngStyle]="{ 'width': '400px' }">
                                      <option value="">{{ data.CODE }} - {{ data.NAME }}</option>
                                      <option *ngFor="let item of codeValues" [value]="item.code">{{ item.code }} - {{ item.name }}</option>
                                      <option *ngIf="data.NAME && data.CODE" [value]="data.CODE">{{ data.CODE }} - {{ data.NAME }}</option>
                                    </select>
                                  </td>
                                  
  
                                  <td contenteditable="true" [ngClass]="data.SUB_COLUMN === '' ? 'td_center' : 'td_left'">
                                    <div class="custom-select-wrapper">
                                      <select [(ngModel)]="defaultValue">
                                        <option *ngFor="let item of drcr" [value]="item.id">{{ item.name }}</option>
                                      </select>
  
  
                                    </div>
                                  </td>
                                </tr>
                              </tbody> -->
  
  
                              <tbody *ngIf="tabledata?.length != 0">
                                <tr *ngFor="let data of tabledata; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td contenteditable="true" (blur)="updateCell(data, 'acno', $event)" [ngClass]="data.acno === '' ? 'td_center' : 'td_left'">
                                    {{ data.acno }}
                                  </td>
                                  <td contenteditable="true"  (blur)="updateCell(data, 'acname', $event)" [ngClass]="data.acname === '' ? 'td_center' : 'td_left'">
                                    {{ data.acname }}
                                  </td>
                                  <!-- <td contenteditable="true" (blur)="updateCell(data, 'EFFECT_DATE', $event)" [ngClass]="data.EFFECT_DATE === '' ? 'td_center' : 'td_left'">
                                    {{ data.EFFECT_DATE }}  <input type="date" [(ngModel)]="selectedDate">
                                  </td> -->
  
                                  <!-- <td>
                                    <input type="text" placeholder="dd/mm/yyyy" id="EFFECT_DATE" class="form-control"
                                           [(ngModel)]="data.EFFECT_DATE" name="EFFECT_DATE"
                                           [bsValue]="data.EFFECT_DATE"
                                           [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                           appButton 
                                           (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                           bsDatepicker>
                                  </td> -->
                                  
                                  <td contenteditable="true" (blur)="updateCell(data, 'EFFECT_DATE', $event)" [ngClass]="data.EFFECT_DATE ? 'td_left' : ''">
                                    {{ data.EFFECT_DATE }}
                                  </td>
                                  <td contenteditable="true" (blur)="updateCell(data, 'EFFECT_TO_DATE', $event)" [ngClass]="data.EFFECT_TO_DATE ? 'td_left' : ''">
                                    {{ data.EFFECT_TO_DATE }}
                                  </td>
                                  
                                  <!-- <td>
                                    <select (change)="updateDropdown(data, 'CODE', $event)" [ngStyle]="{ 'width': '400px' }">
                                      <option value="">{{ data.CODE }} - {{ data.NAME }}</option>
                                      <option *ngFor="let item of codeValues" [value]="item.code">{{ item.code }} - {{ item.name }}</option>
                                      <option *ngIf="data.NAME && data.CODE" [value]="data.CODE">{{ data.CODE }} - {{ data.NAME }}</option>
                                    </select>
                                  </td> -->
                                  <td>
                                    <select (change)="updateDropdown(data, $event)" [ngStyle]="{ 'width': '400px' }">
                                      <option value="">{{ data.CODE }} - {{ data.NAME }}</option>
                                      <option *ngFor="let item of codeValues" [value]="item.code">{{ item.code }} - {{ item.name }}</option>
                                      <option *ngIf="data.NAME && data.CODE" [value]="data.CODE">{{ data.CODE }} - {{ data.NAME }}</option>
                                    </select>
                                  </td>
                                  
                                  <td>
                                    <select (change)="updateDropdown(data, 'SUB_COLUMN', $event)">
                                      <!-- Static option for 'NA' -->
                                      <option value="NA">NA</option>
                                      <!-- Dynamic options from drcr array -->
                                      <option *ngFor="let item of drcr" [value]="item.id">{{ item.name }}</option>
                                    </select>
                                  </td>
                                  
                                </tr>
                              </tbody>
                            
                              <tbody *ngIf="tabledata?.length === 0">
                                <tr>
                                  <td colspan="6" class="no-data-available">
                                    <!-- No data! -->
                                    {{'master.Action.No_Data' | translate}}</td>
                                </tr>
                              </tbody>
  
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
              <!-- <div class="row">
                <div class="col-12">
                  <div class="card shadow">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-sm">
                          <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                              class="table table-striped table-bordered table-hover compact" id="customermastertable">
                              <thead>
                                <tr>
                                  <th>Account Number</th>
                                  <th>Account Name</th>
                                  <th>Effect Date</th>
                                  <th>Effect To Date</th>
                                  <th>Code</th>
                                  <th>Name</th>
                                  <th>Sub Column</th>
                                </tr>
                                <tr>
                                  <th colspan="7">
                                    <form [formGroup]="angForm" class="search-form">
                                      <input formControlName="accountNumber" (input)="filterTableData()"
                                        placeholder="Search by Account Number">
                                      <input formControlName="code" (input)="filterTableData()"
                                        placeholder="Search by Code">
                                    </form>
                                  </th>
                                </tr>
                              </thead>
                              <tbody *ngIf="tabledata?.length != 0">
                                <tr *ngFor="let data of filteredData">
                                  <td contenteditable="true" [ngClass]="data.AC_NO === '' ? 'td_center' : 'td_left'">
                                    {{ data.AC_NO === "" ? "-" : data.AC_NO }}
                                  </td>
                                  <td contenteditable="true" [ngClass]="data.AC_NAME === '' ? 'td_center' : 'td_left'">
                                    {{ data.AC_NAME === "" ? "-" : data.AC_NAME }}
                                  </td>
                                  <td contenteditable="true"
                                    [ngClass]="data.EFFECT_DATE === '' ? 'td_center' : 'td_left'">
                                    {{ data.EFFECT_DATE === "" ? "-" : data.EFFECT_DATE }}
                                  </td>
                                  <td contenteditable="true"
                                    [ngClass]="data.EFFECT_TO_DATE === '' ? 'td_center' : 'td_left'">
                                    {{ data.EFFECT_TO_DATE === "" ? "-" : data.EFFECT_TO_DATE }}
                                  </td>
                                  <td contenteditable="true">
                                    <select>
                                      <option value="">-</option>
                                      <option *ngFor="let CODE of codeValues" [value]="CODE">{{ CODE }}</option>
                                    </select>
                                  </td>
                                  <td contenteditable="true" [ngClass]="data.NAME === '' ? 'td_center' : 'td_left'">
                                    {{ data.NAME === "" ? "-" : data.NAME }}
                                  </td>
                                  <td contenteditable="true" [ngClass]="data.SUB_COLUMN === '' ? 'td_center' : 'td_left'">
                                    <div class="custom-select-wrapper">
                                      <select [(ngModel)]="defaultValue">
                                        <option value="">NA</option>
                                        <option *ngFor="let item of drcr" [value]="item.id">{{ item.name }}</option>
                                      </select>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="tabledata?.length == 0">
                                <tr>
                                  <td colspan="7" class="no-data-available">No data!</td>
                                </tr>
                              </tbody>
  
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
  
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
