.required {
    color: red;
  }
  .card-body{
    border: 4px solid black;
    margin-left: 40px;
    margin-right: 40px;
  }
  .card-header{
    margin-bottom: 10px;
  }
  .btn{
    margin-right: 60px;
  }
  .errspan {
    float: right;
    margin-right: 21px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
  } 
  .form-control:disabled{
    background-color: white !important;
    color: black !important;
  }
  h1{
    text-align: left;
    margin-top: -30px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}
 h1 span{
  background-color: white;
}

  