<!-- Dividend Transfer Entry -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Payable Dividend Transfer Instruction</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt" autofocus>
                                    <ng-select appTheme bindValue="value" [(ngModel)]="selectedValue" id="AC_TYPE"
                                        formControlName="AC_TYPE" title="Compulsory Selection"
                                        (change)="getmemNo($event)" [ngClass]="{'form-submitted': formSubmitted}"
                                        #AC_TYPE (focus)="onFocus(AC_TYPE)" [selectOnTab]='true'
                                        required placeholder="Scheme" autofocus>
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="AC_TYPE">Scheme <sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="
                                  angForm.controls['AC_TYPE'].invalid &&
                                  (angForm.controls['AC_TYPE'].dirty ||
                                    angForm.controls['AC_TYPE'].touched)
                                " class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt" autofocus>
                                    <ng-select appTheme bindValue="value" [(ngModel)]="memValue" id="AC_NO"
                                        formControlName="AC_NO" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        #AC_NO (focus)="onFocus(AC_NO)" [selectOnTab]='true'
                                        placeholder="Member Number" (change)="getData($event)">
                                        <ng-option *ngFor="let values of memnoACNo" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                    <label for="AC_NO">Member Number <sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="
                              angForm.controls['AC_NO'].invalid &&
                              (angForm.controls['AC_NO'].dirty ||
                                angForm.controls['AC_NO'].touched)
                            " class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="DIV_TRANSFER_BRANCH" bindValue="value" [(ngModel)]="ngBranchCode"
                                        formControlName="DIV_TRANSFER_BRANCH" bindLabel="label"
                                        title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                                        #DIV_TRANSFER_BRANCH (focus)="onFocus(DIV_TRANSFER_BRANCH)" [selectOnTab]='true'
                                        (change)="getBranch($event)" placeholder="Branch">
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="DIV_TRANSFER_BRANCH">Branch</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="DIV_TRANSFER_ACTYPE" bindValue="value" [(ngModel)]="ngDivACType"
                                        formControlName="DIV_TRANSFER_ACTYPE" bindLabel="label"
                                        title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                                        #DIV_TRANSFER_ACTYPE (focus)="onFocus(DIV_TRANSFER_ACTYPE)" [selectOnTab]='true'
                                        (change)="getDivTrans($event)" placeholder="Account Type">
                                        <ng-option *ngFor="let values of allScheme" [value]="values">
                                            {{values.id}} {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="DIV_TRANSFER_ACTYPE">Account
                                        Type</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="DIV_TRANSFER_ACNO" bindValue="value" [(ngModel)]="ngDivACNO"
                                        formControlName="DIV_TRANSFER_ACNO" bindLabel="AC_NO"
                                        title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                                        #DIV_TRANSFER_ACNO (focus)="onFocus(DIV_TRANSFER_ACNO)" [selectOnTab]='true'
                                        (focus)="getDiviTransfer()" placeholder="Account Number">
                                        <ng-option *ngFor="let values of divTransferNO" [value]="values">
                                            {{values.label}} {{values.name}}
                                        </ng-option>
                                    </ng-select>
                                    <label for="DIV_TRANSFER_ACNO">Account
                                        Number</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm btn-submit"
                                (click)="updateDataPyatrans()" appTheme>Update</button>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                    placeholder="Scheme *" required title="Compulsory Selection"
                                    formControlName="Scheme">
                                </ng-select>
                                <label>{{ message.Scheme}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Scheme'].invalid && (angForm.controls['Scheme'].dirty || angForm.controls['Scheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Scheme'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="DividendAmount" class="form-control" placeholder=" "
                                        id="DividendAmount" value="{{ message.DividendAmount }}"
                                        formControlName="DividendAmount">
                                    <label for="DividendAmount">Dividend Amount</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                    placeholder="Member No *" required title="Compulsory Selection"
                                    formControlName="MemberNo">
                                </ng-select>
                                <label>{{ message.MemberNo}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['MemberNo'].invalid && (angForm.controls['MemberNo'].dirty || angForm.controls['MemberNo'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['MemberNo'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="OtherAmount" class="form-control" placeholder=" "
                                        id="OtherAmount" value="{{ message.OtherAmount }}"
                                        formControlName="OtherAmount">
                                    <label for="OtherAmount">Other Amount</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                    placeholder="Transfer Scheme *" required title="Compulsory Selection"
                                    formControlName="TransferScheme">
                                </ng-select>
                                <label>{{ message.TransferScheme}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TransferScheme'].invalid && (angForm.controls['TransferScheme'].dirty || angForm.controls['TransferScheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TransferScheme'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="d" [multiple]="false"
                                    placeholder="Transfer A/c No *" required title="Compulsory Selection"
                                    formControlName="TransferAcNo">
                                </ng-select>
                                <label>{{ message.TransferAcNo }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TransferAcNo'].invalid && (angForm.controls['TransferAcNo'].dirty || angForm.controls['TransferAcNo'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TransferAcNo'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton"
                                [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->