.required {
    color: red;
  }

  div.solid {
    border-style: solid;
    padding:2%;
    width: 300px;
  }
  .h{
    content: "";
    width: 210px;
    height: 2px;
    display: block;
    background: black;
    position: absolute;
    
  }

  .errspan {
    float: right;
    margin-right: 21px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
  } 