<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'Printing.Action.td_printing' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'Printing.Action.F1' | translate}} (<sub class="required"> * </sub>) {{'Printing.Action.F2' | translate}}
                </h6>
            </div>
            <form [formGroup]="ngForm">
                <div class="card-block">

                    <div class="row">
                        <div class="col-sm">
                            <div class="solid">
                                <div class="row">

                                    <div class="col-sm-2 col-md-2"> <label for="AC_BRANCH">{{'Printing.Action.Branch_Code' | translate}}<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-sm-2 col-md-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select bindValue="value" bindLabel="label" [(ngModel)]="BranchCode"
                                                (change)="getBranch($event)" formControlName="BRANCH_CODE" #branchcode autofocus>
                                                    <ng-option *ngFor="let values of branch_code" [value]="values">
                                                        {{values.label}}</ng-option> 
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['BRANCH_CODE'].invalid && (ngForm.controls['BRANCH_CODE'].dirty || ngForm.controls['BRANCH_CODE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['BRANCH_CODE'].errors?.required">
                                              <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Printing.Action.Scheme_Code' | translate}}<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt" autofocus>
                                                <ng-select bindValue="value" [(ngModel)]="schemeCode" id="AC_TYPE"
                                                    bindLabel="label" formControlName="AC_TYPE" (change)="getIntro($event)"
                                                    title="Compulsory Selection" required placeholder="{{'Printing.Action.Scheme' | translate}}">
                                                    <ng-option *ngFor="let values of allScheme" [value]="values">
                                                        {{values.id}} {{values.label}} </ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['AC_TYPE'].invalid && (ngForm.controls['AC_TYPE'].dirty || ngForm.controls['AC_TYPE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['AC_TYPE'].errors?.required">
                                                <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> 
                                    <div class="col-md-2"> <label for="from no">{{'Printing.Action.From_Ac_Number' | translate}}<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <ng-select id="cdropdown" [(ngModel)]="firstno"
                                                    formControlName="FIRST_NO"
                                                   (change)="getIntTrans($event)"
                                                    placeholder=" {{'Printing.Action.From_Ac_No' | translate}}">
                                                    <ng-option *ngFor="let values of introducerACNo" [value]="values"> 
                                                       {{ values.AC_NAME }}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="ngForm.controls['FIRST_NO'].invalid && (ngForm.controls['FIRST_NO'].dirty || ngForm.controls['FIRST_NO'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="ngForm.controls['FIRST_NO'].errors?.required">
                                                <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                

                                <div class="row">

                                    <div class="col-sm">
                                        <button class="btn  btn-outline-primary btn-sm" (click)="close()">{{'Printing.Action.Close' | translate}}</button>
                                        <button type="view" class="btn btn-outline-primary btn-sm btn-submit" (click)="view()" 
                                       >{{'Printing.Action.View' | translate}}</button>
                                      
                                        <button class="btn  btn-outline-primary btn-sm"  (click)="printTextArea()">{{'Printing.Action.Print' | translate}}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                      <div class="checkbox checkbox-primary ">
                                        <div class="border-checkbox-group border-checkbox-group-primary" *ngIf="isTextareaVisible">
                                          <textarea [(ngModel)]="letterTemplate" rows="20"   class="custom-textarea"
                                            disabled>{{this.letterTemplate}}</textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!-- <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Report Frame</h5>
                                            </div>
                                            <div *ngIf="showRepo">
                                                <app-iframe5 [url]='iframe5url'></app-iframe5>
                                            </div>
                                        </div>
                                    </div>
                                </div>  -->
                            </div>
                        </div>
                    </div>

                  


                </div>
            </form>

        </div>
    </div>
</div>

<!-- 
<app-modal-basic #modalLarge [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Narration Master</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Reasons</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of narrationList" (click)="getNarration(item.NARRATION)">
                                {{item.NARRATION}}
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" id="triggrhide"
                        #triggerhide (click)="modalLarge.hide()">Close</button>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</app-modal-basic> -->