<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Ratio Analysis</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-8">
                        <table class="table table-borderless">
                            <thead>
                                <th class="td_right">Rate %</th>
                                <th class="td_right">No. of Accounts</th>
                                <th class="td_right">Total Amount</th>
                                <th class="td_right">Interest For A Day</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-decoration: underline;">Deposite Details</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let item of depositData">
                                    <td class="td_right">{{item.INT_RATE }}</td>
                                    <td class="td_right">{{item.NO_OF_ACS}}</td>
                                    <!-- <td><ul *ngFor="let data of amount"><li {{data}}></li></ul></td> -->
                                    <td class="td_right"> {{item.TOT_BALANCE | number:'0.2'}}</td>
                                    <td class="td_right">{{item.TOT_BALANCE1 | number: '1.0-2'}}</td>

                                </tr>
                                <!-- <tr>
                                    <td>Sub Total</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr> -->
                                <tr></tr>
                                <tr>
                                    <td style="text-decoration: underline;">Loan Details</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let item of loanData">
                                    <td class="td_right">{{item.INT_RATE}}</td>
                                    <td class="td_right">{{item.NO_OF_ACS}}</td>
                                    <td class="td_right">{{item.TOT_BALANCE |number:'0.2'}}</td>
                                    <td class="td_right">{{item.TOT_BALANCE1 |number : '1.0-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 text-danger">
                        <div class="row">
                            <div class="col-6" style="float:left">Average Loans@</div>
                            <div class="col-6">{{AverageLoan}}%</div>
                        </div>
                        <div class="row">
                            <div class="col-6" style="float:left">Average Deposits@</div>
                            <div class="col-6">{{AverageDepo}}%</div>
                        </div>
                        <div class="row">
                            <div class="col-6" style="float:left">Margin@</div>
                            <div class="col-6">{{Margin |pipe}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [class]="modalClass"></div>