<!-- <p>recurring-attg works!</p> -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Recurring Amount Transfer to GL</h5>
            </div>
            <form [formGroup]="angForm" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Branch<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedBranch" #scheme formControlName="branch"
                                        bindValue="value" bindLabel="label">
                                        <ng-option *ngFor="let item of branchCode" [value]="item">
                                            {{item.id}} {{item.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['branch'].invalid && (angForm.controls['branch'].dirty || angForm.controls['branch'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['branch'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Scheme<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedTDscheme" #scheme formControlName="tdScheme"
                                        bindValue="value" bindLabel="label">
                                        <ng-option *ngFor="let item of schemeCode" [value]="item">
                                            {{item.id}} {{item.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['tdScheme'].invalid && (angForm.controls['tdScheme'].dirty || angForm.controls['tdScheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['tdScheme'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="Date">From Date<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="Date" id="Date"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" class="form-control"
                                        formControlName="fdate" appButton minlength="10" maxlength="10"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['fdate'].invalid && (angForm.controls['fdate'].dirty || angForm.controls['fdate'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['fdate'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="Date">To Date<sub class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy" name="Date" id="Date"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" class="form-control"
                                        formControlName="tdate" appButton minlength="10" maxlength="10"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['tdate'].invalid && (angForm.controls['tdate'].dirty || angForm.controls['tdate'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['tdate'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Credit GL Scheme<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedGLscheme" #scheme formControlName="cglScheme"
                                        bindValue="value" bindLabel="label">
                                        <ng-option *ngFor="let item of schemeGCode" [value]="item">
                                            {{item.label}} {{item.name}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['cglScheme'].invalid && (angForm.controls['cglScheme'].dirty || angForm.controls['cglScheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['cglScheme'].errors?.required">
                                    This field is required.
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row" id="btnrow">
                        <div class="col-12">
                            <button class="btn  btn-outline-primary btn-sm">Close</button>

                            <button class="btn  btn-outline-primary btn-sm">Calculate</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>