<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5>Other Masters</h5>
            </div>
            <div class="card-block scroll">
                <div class="col-md-12">
                    <!-- <perfect-scrollbar style="max-width: 600px; max-height: 450px;"> -->
                        <!-- <h6 class="sub-title">Text with Icon Lists</h6> -->
                        <ul class="basic-list">
                            <li>
                                <h6> <a (click)="OpenLink(1)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': narationmasterTrue}" class="text-right f-w-600" id="pointer">1. Naration Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(2)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': bankTrue}" class="text-right f-w-600" id="pointer">2. Bank Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(3)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': clearingTrue}" class="text-right f-w-600" id="pointer">3. Clearing Branch Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(4)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': ownbranchTrue}" class="text-right f-w-600" id="pointer">4. Own Branch Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(5)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': categoryTrue}" class="text-right f-w-600" id="pointer">5. Category Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(6)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': cityTrue}" class="text-right f-w-600" id="pointer">6. City Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(7)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': castTrue}" class="text-right f-w-600" id="pointer">7. Cast Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(8)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': occupationTrue}" class="text-right f-w-600" id="pointer">8. Occupation Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(9)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': diectorTrue}" class="text-right f-w-600" id="pointer">9. Director Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(10)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': authorityTrue}" class="text-right f-w-600" id="pointer">10. Authority Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(11)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': recoveryTrue}" class="text-right f-w-600" id="pointer">11. Recovery Cleark Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(12)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': insuranceTrue}" class="text-right f-w-600" id="pointer">12. Insurance Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(13)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': operationTrue}" class="text-right f-w-600" id="pointer">13. Operation Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(14)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': purposeTrue}" class="text-right f-w-600" id="pointer">14. Purpose Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(15)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': priorityTrue}" class="text-right f-w-600" id="pointer">15. Priority Sector Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(16)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': courtTrue}" class="text-right f-w-600" id="pointer">16. Court Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(17)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': advocateTrue}" class="text-right f-w-600" id="pointer">17. Advocate Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(18)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': industryTrue}" class="text-right f-w-600" id="pointer">18. Industry Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(19)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': weakerTrue}" class="text-right f-w-600" id="pointer">19. Weaker Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(20)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': loanstageTrue}" class="text-right f-w-600" id="pointer">20. Loan Stage Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(21)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': interestTrue}" class="text-right f-w-600" id="pointer">21. Interest Category Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(22)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': healthTrue}" class="text-right f-w-600" id="pointer">22. Health Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(23)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': prefixTrue}" class="text-right f-w-600" id="pointer">23. Prefix Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(24)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': minimumTrue}" class="text-right f-w-600" id="pointer">24. Minimum Balance Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(25)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': documentTrue}" class="text-right f-w-600" id="pointer">25. Document Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(26)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': lockerrackTrue}" class="text-right f-w-600" id="pointer">26. Locker Rack Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(27)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': lockersizeTrue}" class="text-right f-w-600" id="pointer">27. Locker Size Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(28)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': lockerrackwiseTrue}" class="text-right f-w-600" id="pointer">28. Locker Rackwise Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(29)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': companygroupTrue}" class="text-right f-w-600" id="pointer">29. Company Group Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(30)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': companygrouplinkTrue}" class="text-right f-w-600" id="pointer">30. Company Group Link Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(31)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': reporttypeTrue}" class="text-right f-w-600" id="pointer">31. Report Type Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(32)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': itemcategoryTrue}" class="text-right f-w-600" id="pointer">32. Item Category Master</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(33)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': depriciationTrue}" class="text-right f-w-600" id="pointer">33.Depriciation Category Master </a></h6>
                            </li>
                            <!-- <li>
                                <h6> <a (click)="OpenLink(34)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': salarydivisionTrue}" class="text-right f-w-600" id="pointer">34.Salary Division Master </a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(35)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': subsalarydivisionTrue}" class="text-right f-w-600" id="pointer">35. Sub Salary Division Master</a></h6>
                            </li> -->
                            <li>
                                <h6> <a (click)="OpenLink(36)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': riskCategoryTrue}" class="text-right f-w-600" id="pointer">34. Risk Category</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(37)" routerLink="/master/PolicySettings/information" routerLinkActive="active" [ngClass]="{'isActive': bankotherdetailsTrue}" class="text-right f-w-600" id="pointer">35. Bank Other Details</a></h6>
                            </li>
                        </ul>
                    <!-- </perfect-scrollbar> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-block">
            <div *ngIf="narationmasterTrue">
                <app-narration></app-narration>
            </div>
            <div *ngIf="bankTrue">
                <app-bank-master></app-bank-master>
            </div>
            <div *ngIf="clearingTrue">
                <app-clearing-branch-master></app-clearing-branch-master>
            </div>
            <div *ngIf="ownbranchTrue">
                <app-own-branch-master></app-own-branch-master>
            </div>
            <div *ngIf="categoryTrue">
                <app-category-master></app-category-master>
            </div>
            <div *ngIf="cityTrue">
                <app-city-master></app-city-master>
            </div>
            <div *ngIf="castTrue">
                <app-cast-master></app-cast-master>
            </div>
            <div *ngIf="occupationTrue">
                <app-occupation-master></app-occupation-master>
            </div>
            <div *ngIf="diectorTrue">
                <app-director-master></app-director-master>
            </div>
            <div *ngIf="authorityTrue">
                <app-authority-master></app-authority-master>
            </div>
            <div *ngIf="recoveryTrue">
                <app-recovery-cleark-master></app-recovery-cleark-master>
            </div>
            <div *ngIf="insuranceTrue">
                <app-insurance-master></app-insurance-master>
            </div>
            <div *ngIf="operationTrue">
                <app-operation-master></app-operation-master>
            </div>
            <div *ngIf="purposeTrue">
                <app-purpose-master></app-purpose-master>
            </div>
            <div *ngIf="priorityTrue">
                <app-priority-sector-master></app-priority-sector-master>
            </div>
            <div *ngIf="courtTrue">
                <app-court-master></app-court-master>
            </div>
            <div *ngIf="advocateTrue">
                <app-advocate-master></app-advocate-master>
            </div>
            <div *ngIf="industryTrue">
                <app-industry-master></app-industry-master>
            </div>
            <div *ngIf="weakerTrue">
                <app-weaker-section-master></app-weaker-section-master>
            </div>
            <div *ngIf="loanstageTrue">
                <app-loan-stage-master></app-loan-stage-master>
            </div>
            <div *ngIf="interestTrue">
                <app-interest-category-master></app-interest-category-master>
            </div>
            <div *ngIf="healthTrue">
                <app-health-master></app-health-master>
            </div>
            <div *ngIf="prefixTrue">
                <app-prefix-master></app-prefix-master>
            </div>
            <div *ngIf="minimumTrue">
                <app-minimum-balance-master></app-minimum-balance-master>
            </div>
            <div *ngIf="documentTrue">
                <app-document-master></app-document-master>
            </div>
            <div *ngIf="lockerrackTrue">
                <app-locker-rack-master></app-locker-rack-master>
            </div>
            <div *ngIf="lockerrackwiseTrue">
                <app-locker-rack-wise-master></app-locker-rack-wise-master>
            </div>
            <div *ngIf="lockersizeTrue">
                <app-locker-size-master></app-locker-size-master>
            </div>
            <div *ngIf="companygroupTrue">
                <app-company-group-master></app-company-group-master>
            </div>
            <div *ngIf="companygrouplinkTrue">
                <app-company-group-link-master></app-company-group-link-master>
            </div>
            <div *ngIf="reporttypeTrue">
                <app-report-type-master></app-report-type-master>
            </div>
            <div *ngIf="itemcategoryTrue">
                <app-item-category-master></app-item-category-master>
            </div>
            <div *ngIf="depriciationTrue">
                <app-depriciation-catagory-master></app-depriciation-catagory-master>
            </div>
            <!-- <div *ngIf="salarydivisionTrue">
                <app-salary-division-master></app-salary-division-master>
            </div>
            <div *ngIf="subsalarydivisionTrue">
                <app-sub-salary-division-master></app-sub-salary-division-master>
            </div> -->
            <div *ngIf="riskCategoryTrue">
                <app-risk-catagory></app-risk-catagory>
            </div>
            <div *ngIf="bankotherdetailsTrue">
                <app-bank-other-details></app-bank-other-details>
            </div>
        </div>

    </div>
</div>