<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <!-- <h5>Year Wise Unpaid Dividend Opening Entry</h5> -->
        <h5>{{'master.Year_w_unpaid_div_entry.Title' | translate}}</h5>
        <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
          {{'master.Action.F1' | translate}}(<sub class="required"> * </sub>) {{'master.Action.F2' | translate}}
        </h6>
      </div>
      <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
        <div class="card-block">
          <div class="row">
            <div class="col-sm">
              <div class="form-group form-primary form-static-label">
                <span class="border-lable-flt">
                  <ng-select appTheme bindValue="value" [(ngModel)]="acType" id="ACTYPE" bindLabel="label"
                    formControlName="ACTYPE" title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                    #ACTYPE (focus)="onFocus(ACTYPE)" [selectOnTab]='true' [virtualScroll]="true"
                    required placeholder="" (change)="getShareAccounts($event)" autofocus>
                    <ng-option *ngFor="let values of SchemeCodeObject" [value]="values">
                      {{values.label}} </ng-option>
                  </ng-select>
                  <label for="ACTYPE">{{'master.Year_w_unpaid_div_entry.Scheme' | translate}} <sub class="required"> * </sub></label>
                </span>
              </div>
              <!-- <div class="form-group form-primary form-static-label">
                <ng-select [ngClass]="'ng-select'" [options]="SchemeCodeObject" [multiple]="false"
                  placeholder="Scheme *" required title="Compulsory Selection" [(ngModel)]="acType"
                  (selected)="(acType)" formControlName="ACTYPE">
                </ng-select>
              </div> -->
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['ACTYPE'].invalid &&
                  (angForm.controls['ACTYPE'].dirty ||
                    angForm.controls['ACTYPE'].touched)
                " class="alert alert-danger">
                <div *ngIf="angForm.controls['ACTYPE'].errors?.required">
                  <!-- This field is required -->{{'master.Validation.Val1' | translate}}
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group form-primary form-static-label">
                <span class="border-lable-flt">
                  <ng-select appTheme bindValue="value" [(ngModel)]="ngSalary" id="AC_SALARYDIVISION_CODE" bindLabel="label"
                    formControlName="AC_SALARYDIVISION_CODE" title="Compulsory Selection" [virtualScroll]="true"
                    #AC_SALARYDIVISION_CODE (focus)="onFocus(AC_SALARYDIVISION_CODE)" [selectOnTab]='true'
                    [ngClass]="{'form-submitted': formSubmitted}" required placeholder=" ">
                    <ng-option *ngFor="let values of SalaryDMasterObject" [value]="values">
                      {{values.label}} </ng-option>
                  </ng-select>
                  <label for="AC_SALARYDIVISION_CODE">
                    <!-- Salary Division -->{{'master.Year_w_unpaid_div_entry.Salary_Division' | translate}}
                    <sub class="required"> * </sub></label>
                </span>
              </div>
              <!-- <div class="form-group form-primary form-static-label">
                <ng-select [ngClass]="'ng-select'" [options]="SalaryDMasterObject" [multiple]="false"
                  placeholder="Salary Division" formControlName="AC_SALARYDIVISION_CODE">
                </ng-select>
              </div> -->
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['AC_SALARYDIVISION_CODE'].invalid &&
                  (angForm.controls['AC_SALARYDIVISION_CODE'].dirty ||
                    angForm.controls['AC_SALARYDIVISION_CODE'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['AC_SALARYDIVISION_CODE'].errors?.required">
                  {{'master.Validation.Val1' | translate}} <!-- This field is required -->
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme appButton minlength="10" maxlength="10"
                   type="text" placeholder="dd/mm/yyyy" name="WARRENT_DATE" id="WARRENT_DATE" class="form-control"
                    required #date [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"#date [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    #WARRENT_DATE="bsDatepicker"  (keydown.Tab)="WARRENT_DATE.hide()"
                    [ngClass]="{'form-submitted': formSubmitted}" formControlName="WARRENT_DATE" minlength="10"
                    maxlength="10" (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                    bsDatepicker>
                  <label for="WARRENT_DATE">
                    {{'master.Year_w_unpaid_div_entry.Dividend_Warrant_Date' | translate}}<!-- Dividend Warrant Date -->
                    <sub class="required">*
                    </sub></label>
                </span>
              </div>
              <!-- <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" class="form-control" placeholder=" " id="WARRENT_DATE" required=""
                    max="{{ date | date: 'yyyy-MM-dd' }}" formControlName="WARRENT_DATE" value=""
                    onfocus="(this.type='date')" />
                  <label for="WARRENT_DATE">Div.Warrant Date <sub class="required">*</sub>
                  </label>
                </span>
              </div> -->
              <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['WARRENT_DATE'].invalid &&
                  (angForm.controls['WARRENT_DATE'].dirty || angForm.controls['WARRENT_DATE'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['WARRENT_DATE'].errors?.required">
                  {{'master.Validation.Val1' | translate}}  <!-- This field is required -->
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                          <span class="border-lable-flt">
                  <input appTheme type="text" name="DIV_FROM_YEAR" class="form-control" placeholder=" " id="DIV_FROM_YEAR" [min]="year" 
                    formControlName="DIV_FROM_YEAR" pattern="^[0-9]+$" minlength="4" maxlength="4"
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)" (focusout)="getDivYearTo()" required >
                  <label for="DIV_FROM_YEAR">
                    {{'master.Year_w_unpaid_div_entry.Dividend_Year_From' | translate}} <!-- Dividend Year From -->
                     <sub class="required">*</sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label"
                *ngIf="angForm.controls['DIV_FROM_YEAR'].invalid && (angForm.controls['DIV_FROM_YEAR'].dirty || angForm.controls['DIV_FROM_YEAR'].touched)"
                class="alert alert-danger">
                <div
                  *ngIf="angForm.controls['DIV_FROM_YEAR'].errors?.pattern || angForm.controls['DIV_FROM_YEAR'].errors?.required || angForm.controls['DIV_FROM_YEAR'].errors?.minlength || angForm.controls['DIV_FROM_YEAR'].errors?.maxlength">
                  <!-- Input allowed only 0-9 -->{{'master.Validation.Val_Pin_Code' | translate}}
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme type="text" name="DIV_TO_YEAR" class="form-control" placeholder=" " id="DIV_TO_YEAR"
                    formControlName="DIV_TO_YEAR" disabled>
                  <label for="DIV_TO_YEAR">
                    <!-- Dividend Year To -->{{'master.Year_w_unpaid_div_entry.Dividend_Year_To' | translate}} 
                     <sub class="required">*</sub></label>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-primary form-static-label">
                <span class="border-lable-flt">
                  <ng-select appTheme id="AC_NOFrom" bindValue="value" [(ngModel)]="ngAcnoFrom" bindLabel="AC_NO"
                    formControlName="AC_NOFrom" title="Compulsory Selection" [virtualScroll]="true"
                    #AC_NOFrom (focus)="onFocus(AC_NOFrom)" [selectOnTab]='true'
                    [ngClass]="{'form-submitted': formSubmitted}" placeholder=" ">
                    <ng-option *ngFor="let values of ShareMasterObject" [value]="values">
                      {{values.label}} {{values.name}}</ng-option>
                  </ng-select>
                  <label for="AC_NOFrom">
                    <!-- Member From -->{{'master.Year_w_unpaid_div_entry.Member_form' | translate}}
                  </label>
                </span>
              </div>
              <!-- <div class="form-group form-primary form-static-label">
                <ng-select [ngClass]="'ng-select'" [options]="ShareMasterObject" [multiple]="false"
                  placeholder="Member From" formControlName="AC_NOFrom">
                </ng-select>
              </div> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group form-primary form-static-label">
                <span class="border-lable-flt">
                  <ng-select appTheme id="AC_NOTo" bindValue="value" [(ngModel)]="ngAcnoTo" bindLabel="AC_NO"
                    formControlName="AC_NOTo" title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                    #AC_NOTo (focus)="onFocus(AC_NOTo)" [selectOnTab]='true'  [virtualScroll]="true"
                    placeholder=" " (change)="getDividendTable()">
                    <ng-option *ngFor="let values of ShareMasterObjectB" [value]="values">
                      {{values.label}} {{values.name}}</ng-option>
                  </ng-select>
                  <label for="AC_NOTo">{{'master.Year_w_unpaid_div_entry.Member_To' | translate}}</label>
                </span>
              </div>
              <!-- <div class="form-group form-primary form-static-label">
                <ng-select [ngClass]="'ng-select'" [options]="ShareMasterObjectB" [multiple]="false"
                  placeholder="Member To " formControlName="AC_NOTo" (ngModelChange)="getDividendTable()">
                </ng-select>
              </div> -->
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input type="text" name="TOTAL_SHARES" class="form-control" placeholder=" " id="TOTAL_SHARES"
                    formControlName="TOTAL_SHARES" disabled>
                  <label for="TOTAL_SHARES">
                    <!-- Total Amount -->{{'master.Year_w_unpaid_div_entry.Total_Amount' | translate}}
                  </label>
                </span>
              </div>
            </div>
            <div class="col-sm" style="float: right;">
              <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="showButton" (click)="submit()"
                [disabled]="angForm.invalid"  (keydown.Tab)="focus()" appTheme> {{'master.Action.Submit' | translate}} </button>
              <button class="btn btn-outline-primary btn-sm" (click)="addNewData()" *ngIf="newbtnShow">
                {{'master.Action.Cancel' | translate}} </button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow"
                [disabled]="angForm.invalid"> {{'master.Action.Update' | translate}}</button>
            </div>
            <!-- <div class="col-sm-3">
              <button class="btn btn-primary ripple light" *ngIf="showButton" (click)="submit()"
                [disabled]="angForm.invalid">
                Add
              </button>&nbsp;
              <button class="btn btn-primary ripple light" (click)="updateData()" [disabled]="angForm.invalid"
                *ngIf="updateShow">
                Update
              </button>
              <button class="btn btn-primary ripple light" (click)="addNewData()" *ngIf="newbtnShow">
                Cancel
              </button>
            </div> -->
          </div>
          <ng-container *ngIf="showTable">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped table-bordered table-hover">
                    <thead>
                      <td>{{'master.Year_w_unpaid_div_entry.Member_No' | translate}}</td>
                      <td>{{'master.Year_w_unpaid_div_entry.Member_Name' | translate}}</td>
                      <td>{{'master.Year_w_unpaid_div_entry.Dividend_Amount' | translate}}</td>
                      <td>{{'master.Year_w_unpaid_div_entry.Close_Date' | translate}}</td>
                    </thead>
                    <tbody *ngIf="multiShare?.length != 0">
                      <!-- <tr>
                        <th>Member No</th>
                        <th>Member Name</th>
                        <th>Dividend Amount</th>
                        <th>Close Date</th>
                      </tr> -->
                      <tr *ngFor="let data of multiShare;
                          let indexOfelement = index">
                        <td>{{ data.AC_NO }}</td>
                        <td>{{ data.AC_NAME }}</td>
                        <td>
                          <input type="text" name="DIVIDEND_AMOUNT" id="DIVIDEND_AMOUNT"
                            value="{{ data.shareDividend.DIVIDEND_AMOUNT }}" #divAmt
                            (focusout)="getAmount(data.id,data.shareDividend.id,data.AC_NO,divAmt.value)">

                        </td>
                        <td>
                          <!-- <input type="text" onfocus="(this.type='date')" max="{{ date | date: 'yyyy-MM-dd' }}"
                            value="{{ data.shareDividend.MEMBER_CLOSE_DATE }}" #closeDate
                            (ngModelChange)="getCloseDate(data.id,data.shareDividend.id,data.AC_NO,closeDate.value)"
                            (focusout)="getCloseDate(data.id,data.shareDividend.id,data.AC_NO,closeDate.value)"> -->

                          <input type="text" appButton minlength="10" maxlength="10"
                           name="DIVIDEND_AMOUNT" id="DIVIDEND_AMOUNT" placeholder="dd/mm/yyyy"
                            class="form-control" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                            value="{{ data.shareDividend.MEMBER_CLOSE_DATE }}" #closeDate
                            (bsValueChange)="getCloseDate(data.id,data.shareDividend.id,data.AC_NO,closeDate.value)"
                            (focusout)="getAmount(data.id,data.shareDividend.id,data.AC_NO,divAmt.value)">
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="multiShare?.length == 0">
                      <tr>
                        <td colspan="4" class="no-data-available">{{'master.Action.No_Data' | translate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>