<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Master TDS Interest Rate</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="FIN_YEAR" class="form-control" placeholder=" " #finyear
                                    #autofocus id="FIN_YEAR" required="" minlength="9" maxlength="9" pattern="^[0-9 -]+$" (keyup)="addhyphen(finyear.value)"
                                        title="Input allowed only  0-9" formControlName="FIN_YEAR">
                                    <label for="FIN_YEAR">Financial Year<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['FIN_YEAR'].invalid && (angForm.controls['FIN_YEAR'].dirty || angForm.controls['FIN_YEAR'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['FIN_YEAR'].errors?.pattern || angForm.controls['FIN_YEAR'].errors?.minlength || angForm.controls['FIN_YEAR'].errors?.maxlength || angForm.controls['FIN_YEAR'].errors?.required">
                                    This field is required and Input allowed only 0-9(8 digit between two years from and to (i.e.2021-2022))
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="EFFECT_DATE" class="form-control" placeholder=" "
                                        id="EFFECT_DATE" required=""  max="{{datemax | date:'yyyy-MM-dd'}}"
                                        onfocus="(this.type='date')" #date
                                       (focusout)="disabledate(date.value)"  id="EFFECT_DATE" formControlName="EFFECT_DATE">
                                    <label for="date">Effective Date<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['EFFECT_DATE'].invalid && (angForm.controls['EFFECT_DATE'].dirty || angForm.controls['EFFECT_DATE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['EFFECT_DATE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="INTEREST_AMOUNT" class="form-control" placeholder=" "
                                        id="INTEREST_AMOUNT" required="" 
                                        pattern="\d{1,10}(\.\d{2})?" title="Input allowed only  0-9" maxlength="13"
                                        formControlName="INTEREST_AMOUNT">
                                    <label for="INTEREST_AMOUNT">Interest Amount<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['INTEREST_AMOUNT'].invalid && (angForm.controls['INTEREST_AMOUNT'].dirty || angForm.controls['INTEREST_AMOUNT'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['INTEREST_AMOUNT'].errors?.pattern || angForm.controls['INTEREST_AMOUNT'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="TDS_RATE" class="form-control" placeholder=" "
                                        id="TDS_RATE" required=""  pattern="\d{1,2}(\.\d{2})?" maxlength="5"
                                        title="Input allowed only  0-9" formControlName="TDS_RATE">
                                    <label for="TDS_RATE">TDS Rate<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['TDS_RATE'].invalid && (angForm.controls['TDS_RATE'].dirty || angForm.controls['TDS_RATE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['TDS_RATE'].errors?.pattern || angForm.controls['TDS_RATE'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="SURCHARGE_RATE" class="form-control" placeholder=" "
                                        id="SURCHARGE_RATE"  pattern="\d{1,2}(\.\d{2})?" maxlength="5"
                                        title="Input allowed only  0-9" formControlName="SURCHARGE_RATE">
                                    <label for="SURCHARGE_RATE">Surcharge Rate</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['SURCHARGE_RATE'].invalid && (angForm.controls['SURCHARGE_RATE'].dirty || angForm.controls['SURCHARGE_RATE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['SURCHARGE_RATE'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton" (click)="submit()" [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow" [disabled]="angForm.invalid">Update</button>&nbsp;
                            <button class="btn btn-primary ripple light" *ngIf="newbtnShow" (click)="addNewData()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="tdsInterests?.length != 0">
                                    <tr *ngFor="let data of tdsInterests">
                                        <td><button class="btn btn-outline-primary btn-sm" id="editbtn" (click)="editClickHandler(data.id)">Edit</button> &nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                        <td class="td_right">{{ data.FIN_YEAR }}</td>
                                        <td class="td_right">{{ data.EFFECT_DATE }}</td>
                                        <td class="td_right">{{ data.INTEREST_AMOUNT }}</td>
                                        <td class="td_right">{{ data.TDS_RATE }}</td>
                                        <td class="td_right">{{ data.SURCHARGE_RATE }}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="tdsInterests?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th><input type="text" class="form-control" placeholder=" Financial Year" name="search-financialYear" /></th>
                                        <th><input type="text" class="form-control" placeholder=" Effective Date" name="search-effectiveDate" /></th>
                                        <th><input type="text" class="form-control" placeholder=" Interest Amount" name="search-interestAmount" /></th>
                                        <th><input type="text" class="form-control" placeholder=" TDS Rate" name="search-tdsRate" /></th>
                                        <th><input type="text" class="form-control" placeholder=" Surcharge Rate" name="search-surchargesRate" /></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>