<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Locker Deposit Scheme Master</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme style="text-align: right;" type="text" name="S_APPL" class="form-control"
                                        placeholder=" " id="S_APPL"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                        [(ngModel)]="ngschemecode" (focusout)="checkDuplicate($event)" #autofocus
                                        required="" pattern="^[0-9]+$" min="351" max="400"
                                        title="Input allowed only 0-9" formControlName="S_APPL" #autofocus>
                                    <label for="S_APPL">Scheme Code<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['S_APPL'].invalid && (angForm.controls['S_APPL'].dirty || angForm.controls['S_APPL'].touched)"
                                class="alert alert-danger">
                                <div *ngIf=" angForm.controls['S_APPL'].errors?.required || angForm.controls['S_APPL'].errors?.pattern ||  angForm.controls['S_APPL'].errors?.min || 
                                    angForm.controls['S_APPL'].errors?.max">
                                    This field is required and valid range 351 to 400
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme type="text" name="S_SHNAME" class="form-control" placeholder=" "
                                        (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                        id="S_SHNAME" required="" pattern="^[A-Za-z\./ -]+$" formControlName="S_SHNAME"
                                        maxlength="10" title="Input allowed only  A-Z a-z  - / . (Space)">
                                    <label for="S_SHNAME">Short Name<sub class="required">* </sub></label>
                                </span>
                            </div>

                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['S_SHNAME'].invalid && (angForm.controls['S_SHNAME'].dirty || angForm.controls['S_SHNAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['S_SHNAME'].errors?.pattern || angForm.controls['S_SHNAME'].errors?.required|| angForm.controls['S_SHNAME'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme type="text" name="S_NAME" class="form-control" placeholder=" " id="S_NAME"
                                        (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                        required="" pattern="^[A-Za-z\./ -]+$" formControlName="S_NAME" maxlength="90"
                                        title="Input allowed only  A-Z a-z  - / . (Space)">
                                    <label for="S_NAME">Description<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['S_NAME'].invalid && (angForm.controls['S_NAME'].dirty || angForm.controls['S_NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['S_NAME'].errors?.pattern || angForm.controls['S_NAME'].errors?.required || angForm.controls['S_NAME'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <!-- <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="acMaster" [multiple]="false"
                                    placeholder="G.L. A/c No. *" title="Compulsory Selection"
                                    formControlName="S_GLACNO">

                                </ng-select>
                            </div> -->
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="S_GLACNO" bindValue="value" [(ngModel)]="ngglac"
                                        formControlName="S_GLACNO" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required [virtualScroll]="true"
                                        #S_GLACNO (focus)="onFocus(S_GLACNO)" [selectOnTab]='true'
                                        placeholder="GL Account Number">
                                        <ng-option *ngFor="let values of acMaster" [value]="values">
                                            {{values.value}}  {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="S_GLACNO">GL Account Number<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['S_GLACNO'].invalid && (angForm.controls['S_GLACNO'].dirty || angForm.controls['S_GLACNO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf=" angForm.controls['S_GLACNO'].errors?.required">
                                    This field is required
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <!-- <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="acMaster" [multiple]="false"
                                    placeholder="Locker Rent A/c " title="Compulsory Selection"
                                    formControlName="LOCKER_RENT_ACNO">

                                </ng-select>
                            </div> -->
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="LOCKER_RENT_ACNO" bindValue="value" [(ngModel)]="nglocker"
                                        formControlName="LOCKER_RENT_ACNO" bindLabel="label" [virtualScroll]="true" 
                                        title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                                        #LOCKER_RENT_ACNO (focus)="onFocus(LOCKER_RENT_ACNO)" [selectOnTab]='true'
                                        required placeholder="Locker Rent Account">
                                        <ng-option *ngFor="let values of acMaster" [value]="values">
                                            {{values.value}}  {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="LOCKER_RENT_ACNO">Locker Rent Account<sub class="required"> *
                                        </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['LOCKER_RENT_ACNO'].invalid && (angForm.controls['LOCKER_RENT_ACNO'].dirty || angForm.controls['LOCKER_RENT_ACNO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf=" angForm.controls['LOCKER_RENT_ACNO'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="acMaster" [multiple]="false"
                                    placeholder="Receivable Locker Rend A/C" title="Compulsory Selection"
                                    formControlName="LOCKER_RECBL_RENT_ACNO">
                                </ng-select>
                            </div> -->
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="LOCKER_RECBL_RENT_ACNO" bindValue="value"
                                        [(ngModel)]="ngreceivablelocker" formControlName="LOCKER_RECBL_RENT_ACNO"
                                        bindLabel="label" title="Compulsory Selection" [virtualScroll]="true"
                                        #LOCKER_RECBL_RENT_ACNO (focus)="onFocus(LOCKER_RECBL_RENT_ACNO)" [selectOnTab]='true'
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="Receivable Locker Rend Account">
                                        <ng-option *ngFor="let values of acMaster" [value]="values">
                                            {{values.value}}  {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="LOCKER_RECBL_RENT_ACNO">Receivable Locker Rend Account<sub
                                            class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['LOCKER_RECBL_RENT_ACNO'].invalid && (angForm.controls['LOCKER_RECBL_RENT_ACNO'].dirty || angForm.controls['LOCKER_RECBL_RENT_ACNO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf=" angForm.controls['LOCKER_RECBL_RENT_ACNO'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="checkbox checkbox-primary">
                                <div class="border-checkbox-group border-checkbox-group-primary">
                                    <input class="border-checkbox" type="checkbox" name="LOCKER_DEPOSIT_APPLICABLE"
                                        id="checkbox1" value="checkbox" formControlName="LOCKER_DEPOSIT_APPLICABLE">
                                    <label class="border-checkbox-label" for="checkbox1">Locker Deposit Applicable
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-9">

                        </div>
                        <div class="card-footer">
                            <div class="row" style="float: right;">
                                <div class="col-sm m-b-20">
                                    <button class="btn btn-outline-primary btn-sm btn-submit" [disabled]="angForm.invalid"
                                        (click)="submit()" *ngIf="showButton" (keydown.Tab)="focus()" appTheme>
                                        Submit
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm" (click)="updateData()"
                                        *ngIf="updateShow">
                                        Update</button>&nbsp;
                                    <button class="btn btn-outline-primary btn-sm" (click)="addNewData()"
                                        *ngIf="newbtnShow">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm">

                          <button class="btn btn-primary ripple light" *ngIf="showButton" (click)="submit()"
                            [disabled]="angForm.invalid">Add</button>
                          <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow"
                            [disabled]="angForm.invalid">Update</button> &nbsp;
                          <button class="btn btn-primary ripple light" *ngIf="newbtnShow" (click)="addNewData()">Cancel</button>
                        </div> -->

                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="schemeparametertable" datatable [dtOptions]="dtExportButtonOptions"
                                [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="lockeScheme?.length != 0">
                                    <tr *ngFor="let data of lockeScheme">
                                        <td><span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                (click)="editClickHandler(data.id);gotoTop()" placement="bottom"
                                                ngbTooltip="Edit"></span> &nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm"
                                                (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                        <td>{{ data.S_ACNOTYPE }}</td>
                                        <td class="td_right">{{ data.S_APPL }}</td>
                                        <td>{{ data.S_NAME }}</td>
                                        <td>{{ data.S_SHNAME }}</td>

                                        <td class="td_right">{{ data.S_GLACNO }}</td>
                                        <td class="td_right">{{ data.LOCKER_RENT_ACNO }}</td>
                                        <td class="td_right">{{ data.LOCKER_RECBL_RENT_ACNO }}</td>
                                        <td class="td_right">{{ data.LOCKER_DEPOSIT_APPLICABLE }}</td>

                                    </tr>

                                </tbody>
                                <tbody *ngIf="lockeScheme?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot #filters class="filters">
                                    <tr class="testing">
                                        <th class="testing"></th>
                                        <th><input type="text" class="form-control" name="S_ACNOTYPE" /></th>
                                        <th><input type="text" class="form-control" name="S_APPL" /></th>
                                        <th><input type="text" class="form-control" name="S_NAME" /></th>

                                        <th><input type="text" class="form-control" name="S_SHNAME" /></th>
                                        <th><input type="text" class="form-control" name="S_GLACNO" /></th>
                                        <th><input type="text" class="form-control" name="LOCKER_RENT_ACNO" /></th>
                                        <th><input type="text" class="form-control" name="LOCKER_RECBL_RENT_ACNO" />
                                        </th>
                                        <th><input type="text" class="form-control" name="LOCKER_DEPOSIT_APPLICABLE" />
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>