<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Land And Buildings</h5>
                <!-- <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6> -->
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="subm_date" required=""
                                        max="9999-12-31" formControlName="subm_date" value="{{ message.subm_date}}"
                                        onfocus="(this.type='date')" />
                                    <label for="subm_date">Submission Date<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['subm_date'].invalid && (angForm.controls['subm_date'].dirty || angForm.controls['subm_date'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['subm_date'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="ValuationAmount" class="form-control" placeholder=" "
                                        id="ValuationAmount" value="{{ message.ValuationAmount }}" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="ValuationAmount">
                                    <label for="ValuationAmount">Valuation Amount<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['ValuationAmount'].invalid && (angForm.controls['ValuationAmount'].dirty || angForm.controls['ValuationAmount'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['ValuationAmount'].errors?.pattern || angForm.controls['ValuationAmount'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Location" class="form-control" placeholder=" "
                                        id="Location" required="" value="{{ message.Location }}"
                                        pattern="^[A-Za-z'\.\-\s]+$" title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="Location">
                                    <label for="Location">Location<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['Location'].invalid && (angForm.controls['Location'].dirty || angForm.controls['Location'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['Location'].errors?.pattern || angForm.controls['Location'].errors?.required">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="area" class="form-control" placeholder=" " id="area"
                                        required="" value="{{ message.area }}" pattern="^[0-9]+$"
                                        title="Input allowed only 0-9 " formControlName="area">
                                    <label for="area">Area<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['area'].invalid && (angForm.controls['area'].dirty || angForm.controls['area'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['area'].errors?.pattern || angForm.controls['area'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="unit_area" class="form-control" placeholder=" "
                                        id="unit_area" required="" value="{{ message.unit_area }}" pattern="^[0-9]+$"
                                        title="Input allowed only 0-9" formControlName="unit_area">
                                    <label for="unit_area">Unit of Area<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['unit_area'].invalid && (angForm.controls['unit_area'].dirty || angForm.controls['unit_area'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['unit_area'].errors?.pattern || angForm.controls['unit_area'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="margin" class="form-control" placeholder=" "
                                        id="label-name" value="{{ message.margin }}" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="margin">
                                    <label for="label-name">Margin </label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['margin'].invalid && (angForm.controls['margin'].dirty || angForm.controls['margin'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['margin'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="remarks" class="form-control" placeholder=" " id="remarks"
                                        value="{{ message.remarks }}" pattern="^[A-Za-z'\.\-\s]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="remarks">
                                    <label for="remarks">Remarks</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['remarks'].invalid && (angForm.controls['remarks'].dirty || angForm.controls['remarks'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['remarks'].errors?.pattern || angForm.controls['remarks'].errors?.required">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="CitySurveyNumber" class="form-control" placeholder=" "
                                        id="CitySurveyNumber" required="" value="{{ message.CitySurveyNumber }}"
                                        pattern="^[0-9]+$" title="Input allowed only 0-9"
                                        formControlName="CitySurveyNumber">
                                    <label for="CitySurveyNumber">City Survey Number<sub class="required">*
                                        </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['CitySurveyNumber'].invalid && (angForm.controls['CitySurveyNumber'].dirty || angForm.controls['CitySurveyNumber'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['CitySurveyNumber'].errors?.pattern || angForm.controls['CitySurveyNumber'].errors?.required">
                                    This field is required Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="CitySurveyDate"
                                        required="" max="9999-12-31" name="CitySurveyDate"
                                        formControlName="CitySurveyDate" value="{{ message.CitySurveyDate}}"
                                        onfocus="(this.type='date')" />
                                    <label for="CitySurveyDate">City Survey Date<sub class="required">*
                                        </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['CitySurveyDate'].invalid && (angForm.controls['CitySurveyDate'].dirty || angForm.controls['CitySurveyDate'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['CitySurveyDate'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="RegistrationNumber" class="form-control" placeholder=" "
                                        id="RegistrationNumber" required="" value="{{ message.RegistrationNumber }}"
                                        pattern="^[0-9]+$" title="Input allowed only 0-9"
                                        formControlName="RegistrationNumber">
                                    <label for="RegistrationNumber">Registration Number<sub class="required">*
                                        </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['RegistrationNumber'].invalid && (angForm.controls['RegistrationNumber'].dirty || angForm.controls['RegistrationNumber'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['RegistrationNumber'].errors?.pattern || angForm.controls['RegistrationNumber'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton" [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()" *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>