<div class="col-sm-12">
    <div class="card" style="margin-top: 5px;">
        <div class="card-header">
            <h5>NEFT Transaction</h5>
        </div>

        <div class="card">
            <form [formGroup]="angForm">
                <div class="card-block">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-1"> <label for="Branch">Branch <sub
                                        class="required">*</sub></label>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngbranch"
                                            formControlName="BRANCH_CODE" bindLabel="label" placeholder="Branch">
                                            <ng-option *ngFor="let values of branchOption" [value]="values">
                                                {{values.label}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                        This field is required
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-1"> <label for="Branch">Bank Name <sub
                                        class="required">*</sub></label>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select id="BANK_NAME" bindValue="value" [(ngModel)]="ngbank" bindValue="name"
                                            formControlName="BANK_NAME" bindLabel="label" placeholder="Bank Name">
                                            <ng-option *ngFor="let values of bankOptions" [value]="values">
                                                {{values.name}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <!-- <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BANK_NAME'].invalid && (angForm.controls['BANK_NAME'].dirty || angForm.controls['BANK_NAME'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BANK_NAME'].errors?.required">
                                    This field is required
                                </div>
                            </div> -->

                            </div>
                            <div class="col-md-3"> <label style="font-size: 15px; color: black;">Transaction Type :
                                    NEFT</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="solid">
                            <h1><span>Beneficiary Details</span></h1>
                            <div class="row">
                                <div class="col-sm-12 col-md-2"> <label for="B_NAME">Beneficiary Name <sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input appTheme type="text" name="BENEF_NAME" class="form-control "
                                                placeholder=" " id="BENEF_NAME" required maxlength="30"
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                                (ngModelChange)="fname = $event?.toUpperCase()"
                                                style="text-transform:uppercase;" [(ngModel)]="fname"
                                                title="Input allowed only A-Z" formControlName="BENEF_NAME">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['BENEF_NAME'].invalid && (angForm.controls['BENEF_NAME'].dirty || angForm.controls['BENEF_NAME'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['BENEF_NAME'].errors?.pattern || angForm.controls['BENEF_NAME'].errors?.required">
                                            This field is required and Input allowed only A-Z
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="beneficiarycode">Beneficiary A/c. Code<sub class="required">*
                                        </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                formControlName="BENEF_CODE" maxlength="15" style="text-align: left;">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['BENEF_CODE'].invalid && (angForm.controls['BENEF_CODE'].dirty || angForm.controls['BENEF_CODE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['BENEF_CODE'].errors?. maxlength || angForm.controls['BENEF_CODE'].errors?. minlength || angForm.controls['BENEF_CODE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="ifsccode">IFSC Code<sub class="required">*
                                        </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) ||($event.charCode >= 48 && $event.charCode < 58)"
                                                (ngModelChange)="ifscname = $event?.toUpperCase()"
                                                [(ngModel)]="ifscname" style="text-transform:uppercase;"
                                                formControlName="IFSC_CODE" maxlength="12" style="text-align: left;">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['IFSC_CODE'].invalid && (angForm.controls['IFSC_CODE'].dirty || angForm.controls['IFSC_CODE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['IFSC_CODE'].errors?. maxlength || angForm.controls['IFSC_CODE'].errors?. minlength || angForm.controls['IFSC_CODE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-2"> <label for="B_NAME">IFSC Bank Name <sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input appTheme type="text" name="IFSCB_NAME" class="form-control "
                                                placeholder=" " id="IFSCB_NAME" required maxlength="30"
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                                (ngModelChange)="ibname = $event?.toUpperCase()"
                                                style="text-transform:uppercase;" [(ngModel)]="ibname"
                                                title="Input allowed only A-Z" formControlName="IFSCB_NAME">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['IFSCB_NAME'].invalid && (angForm.controls['IFSCB_NAME'].dirty || angForm.controls['IFSCB_NAME'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['IFSCB_NAME'].errors?.pattern || angForm.controls['IFSCB_NAME'].errors?.required">
                                            This field is required and Input allowed only A-Z
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-2"> <label for="B_NAME">IFSC Branch Name <sub
                                            class="required">*</sub></label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input appTheme type="text" name="IFSCBRN_NAME" class="form-control "
                                                placeholder=" " id="IFSCBRN_NAME" required maxlength="30"
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                                [(ngModel)]="ibrnname" title="Input allowed only A-Z"
                                                formControlName="IFSCBRN_NAME">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['IFSCBRN_NAME'].invalid && (angForm.controls['IFSCBRN_NAME'].dirty || angForm.controls['IFSCBRN_NAME'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['IFSCBRN_NAME'].errors?.pattern || angForm.controls['IFSCBRN_NAME'].errors?.required">
                                            This field is required and Input allowed only A-Z
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="mobileno">Customer Contact No. (M)<sub class="required">*</sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                formControlName="MOBILENO" maxlength="10">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['MOBILENO'].invalid && (angForm.controls['MOBILENO'].dirty || angForm.controls['MOBILENO'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['MOBILENO'].errors?. maxlength || angForm.controls['MOBILENO'].errors?. minlength || angForm.controls['MOBILENO'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="address">Customer Address<sub class="required">*</sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) ||($event.charCode >= 48 && $event.charCode < 58)"
                                                [(ngModel)]="addr" formControlName="CUST_ADDR" maxlength="40">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['CUST_ADDR'].invalid && (angForm.controls['CUST_ADDR'].dirty || angForm.controls['CUST_ADDR'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['CUST_ADDR'].errors?. maxlength || angForm.controls['CUST_ADDR'].errors?. minlength || angForm.controls['CUST_ADDR'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="city">City<sub class="required">*</sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122)"
                                                [(ngModel)]="city" formControlName="CITY" maxlength="15">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['CITY'].invalid && (angForm.controls['CITY'].dirty || angForm.controls['CITY'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['CITY'].errors?. maxlength || angForm.controls['CITY'].errors?. minlength || angForm.controls['CITY'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label for="state">State<sub class="required">*</sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122)"
                                                [(ngModel)]="state" formControlName="STATE" maxlength="15">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['STATE'].invalid && (angForm.controls['STATE'].dirty || angForm.controls['STATE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['STATE'].errors?. maxlength || angForm.controls['STATE'].errors?. minlength || angForm.controls['STATE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="stor">Sender to Receiver Info.<sub class="required">*</sub></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="label-name" class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122)"
                                                [(ngModel)]="stor" formControlName="STORI" maxlength="15">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['STORI'].invalid && (angForm.controls['STORI'].dirty || angForm.controls['STORI'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['STORI'].errors?. maxlength || angForm.controls['STORI'].errors?. minlength || angForm.controls['STORI'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-md-12">
                        <div class="solid">
                            <h1><span>Payment Details</span></h1>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="remittingamt">Remitting Amount<sub class="required">* </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" name="REM_AMT"
                                                (keypress)="$event.charCode == 46 || ($event.charCode >= 48 && $event.charCode < 58)"
                                                class="form-control" placeholder=" " id="REM_AMT" value="0"
                                                maxlength="15" required formControlName="REM_AMT"
                                                (focusout)="getDecimalPoint($event)">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['REM_AMT'].invalid && (angForm.controls['REM_AMT'].dirty || angForm.controls['REM_AMT'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['REM_AMT'].errors?. maxlength || angForm.controls['REM_AMT'].errors?. minlength || angForm.controls['REM_AMT'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label for="applicablechrg">Applicable Charges<sub class="required">* </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" name="APPL_CHRGE"
                                                (keypress)="$event.charCode == 46 || ($event.charCode >= 48 && $event.charCode < 58)"
                                                class="form-control" placeholder=" " id="APPL_CHRGE" value="0"
                                                maxlength="15" required formControlName="APPL_CHRGE"
                                                (focusout)="getDecimalPoint($event)">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['APPL_CHRGE'].invalid && (angForm.controls['APPL_CHRGE'].dirty || angForm.controls['APPL_CHRGE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['APPL_CHRGE'].errors?. maxlength || angForm.controls['APPL_CHRGE'].errors?. minlength || angForm.controls['APPL_CHRGE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label for="sercharge">Service Tax<sub class="required">* </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" name="SERV_CHARGE"
                                                (keypress)="$event.charCode == 46 || ($event.charCode >= 48 && $event.charCode < 58)"
                                                class="form-control" placeholder=" " id="SERV_CHARGE" value="0"
                                                maxlength="15" required formControlName="SERV_CHARGE"
                                                (focusout)="getDecimalPoint($event)">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['SERV_CHARGE'].invalid && (angForm.controls['SERV_CHARGE'].dirty || angForm.controls['SERV_CHARGE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['SERV_CHARGE'].errors?. maxlength || angForm.controls['SERV_CHARGE'].errors?. minlength || angForm.controls['SERV_CHARGE'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="total">Total Amount<sub class="required">* </sub></label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" name="TOTAL_AMT"
                                                (keypress)="$event.charCode == 46 || ($event.charCode >= 48 && $event.charCode < 58)"
                                                class="form-control" placeholder=" " id="TOTAL_AMT" value="0"
                                                maxlength="15" required formControlName="TOTAL_AMT"
                                                (focusout)="getDecimalPoint($event)">
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['TOTAL_AMT'].invalid && (angForm.controls['TOTAL_AMT'].dirty || angForm.controls['TOTAL_AMT'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['TOTAL_AMT'].errors?. maxlength || angForm.controls['TOTAL_AMT'].errors?. minlength || angForm.controls['TOTAL_AMT'].errors?.required">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-2">
                                <label for="msg">Message</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input type="text" name="label-name" class="form-control" placeholder=" "
                                            (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) ||($event.charCode >= 48 && $event.charCode < 58)"
                                            [(ngModel)]="msg" formControlName="MESSAGE" maxlength="40">
                                    </span>
                                </div>
                                <!-- <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['MESSAGE'].invalid && (angForm.controls['MESSAGE'].dirty || angForm.controls['MESSAGE'].touched)"
                                    class="alert alert-danger">
                                    <div
                                        *ngIf="angForm.controls['MESSAGE'].errors?. maxlength || angForm.controls['MESSAGE'].errors?. minlength || angForm.controls['MESSAGE'].errors?.required">
                                        This field is required
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" style="float: right;">
                            <button class="btn btn-outline-primary btn-sm">
                                <!-- (click)="close()"> -->
                                Close</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="submit()">
                                Submit
                            </button>


                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover compact">
                                    <thead>
                                        <td>Action</td>
                                         <td>Scheme</td> 
                                        <td>Account Number</td>
                                        <td>DR/CR</td>
                                        <td>Particulars</td>
                                        <td style="text-align: right;">Amount</td>
                                    </thead>
                                    <tbody *ngIf="multigrid.length != 0">
                                        <tr
                                            *ngFor="let data of multigrid; let indexOfelement = index">
                                            <td class="td_center"> <span
                                                    class="fa fa-fw fa-edit field-icon"
                                                    id="editbutton"
                                                    (click)="editTransferAccount(indexOfelement)"
                                                    placement="top" ngbTooltip="Edit"></span>
                                            </td>
                                             <td [ngClass]="'td_right'">{{ data.Tscheme==
                                                undefined || data.Tscheme==null
                                                ? data.depoCloseTranAc.S_APPL: data.Tscheme
                                                }}
                                            </td
                                            <td class="td_center">{{data.TRANSFER_ACNO}}</td>
                                            <td class="td_center">{{data.DEBIT_CREDIT}}</td>
                                            <td class="td_center">{{data.PERTICULARS}}</td>
                                            <td class="td_center">{{data.amount}}</td>
                                        </tr>
                                        <tr *ngIf="multigrid.length != 0">
                                            <td colspan="4" style="text-align: right;">Total
                                            </td>
                                            <td class="td_center">
                                                {{transferTotalAmount}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->

                </div>
            </form>
        </div>



    </div>
</div>