<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Mark Freeze Account</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                 <span class="border-lable-flt">
                                    <ng-select appTheme id="AC_TYPE" bindValue="value" [(ngModel)]="acno"
                                        (change)="getSchemeAcNO($event)" formControlName="AC_TYPE" bindLabel="label"
                                        [virtualScroll]="true"
                                        title="Compulsory Selection" [ngClass]="{'form-submitted': formSubmitted}"
                                        #ACTYPE (focus)="onFocus(ACTYPE)" [selectOnTab]='true'
                                        required placeholder="Scheme" autofocus>
                                        <ng-option *ngFor="let values of allScheme" [value]="values">
                                            {{values.id}} {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="AC_TYPE">Scheme<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="AC_NO" bindValue="value" [(ngModel)]="ngacno" formControlName="AC_NO"
                                        bindLabel="label" title="Compulsory Selection" (change)="getBankAcno($event)"
                                        #AC_NO (focus)="onFocus(AC_NO)" [selectOnTab]='true' [virtualScroll]="true"
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="Account No">
                                        <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                    <label for="AC_NO">Account No<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <h6>Freeze Details</h6>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="AC_FREEZE_STATUS" bindValue="value" [(ngModel)]="freezStatus"
                                        (change)="freezDeatils(freezStatus)" formControlName="AC_FREEZE_STATUS"
                                        bindLabel="label" title="Compulsory Selection" [virtualScroll]="true"
                                        [ngClass]="{'form-submitted': formSubmitted}" required
                                        #AC_FREEZE_STATUS (focus)="onFocus(AC_FREEZE_STATUS)" [selectOnTab]='true' 
                                        placeholder="Freeze Status">
                                        <ng-option *ngFor="let values of freezoption" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="AC_FREEZE_STATUS">Freeze Status<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_FREEZE_STATUS'].invalid && (angForm.controls['AC_FREEZE_STATUS'].dirty || angForm.controls['AC_FREEZE_STATUS'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['AC_FREEZE_STATUS'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AC_FREEZE_AMOUNT" style="text-align: right;"
                                        class="form-control" placeholder=" "
                                        (keyup)="getDecimal($event)" (focusout)="getDecimalPoint($event)" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )"
                                        id="AC_FREEZE_AMOUNT" pattern="^[0-9]+$" title="Input allowed only  0-9"
                                        formControlName="AC_FREEZE_AMOUNT">
                                    <label for="AC_FREEZE_AMOUNT">Freeze Amount</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_FREEZE_AMOUNT'].invalid && (angForm.controls['AC_FREEZE_AMOUNT'].dirty || angForm.controls['AC_FREEZE_AMOUNT'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_FREEZE_AMOUNT'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme appButton minlength="8" maxlength="10"
                                         type="text" placeholder="dd/mm/yyyy" name="AC_FREEZE_DATE"
                                        id="AC_FREEZE_DATE" class="form-control" [(ngModel)]="effectdate"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="minDate"
                                        #AC_FREEZE_DATE="bsDatepicker"  (keydown.Tab)="AC_FREEZE_DATE.hide()"
                                        [ngClass]="{'form-submitted': formSubmitted}" formControlName="AC_FREEZE_DATE"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                    <label for="AC_FREEZE_DATE">Freeze Date <sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_FREEZE_DATE'].invalid && (angForm.controls['AC_FREEZE_DATE'].dirty || angForm.controls['AC_FREEZE_DATE'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['AC_FREEZE_DATE'].errors?.pattern || angForm.controls['AC_FREEZE_DATE'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme type="text" name="To" class="form-control" placeholder=" "
                                        (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                        id="AC_FREEZE_REASON" pattern="^[A-Za-z\./ -]+$" maxlength="4000"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="AC_FREEZE_REASON">
                                    <label for="AC_FREEZE_REASON">Remark <sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_FREEZE_REASON'].invalid && (angForm.controls['AC_FREEZE_REASON'].dirty || angForm.controls['AC_FREEZE_REASON'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['AC_FREEZE_REASON'].errors?.pattern || angForm.controls['AC_FREEZE_REASON'].errors?.maxlength || angForm.controls['AC_FREEZE_REASON'].errors?.required">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-outline-primary btn-sm btn-submit" (click)="submit()"
                                *ngIf="showButton" (keydown.Tab)="focus()" appTheme>Submit</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData()"
                                *ngIf="updateShow">Update</button>&nbsp;
                            <button class="btn btn-outline-primary btn-sm" (click)="addNewData()"
                                *ngIf="newbtnShow">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                                class="table table-striped table-bordered table-hover">
                                <tbody *ngIf="freezAccount?.length != 0">
                                    <tr *ngFor="let data of freezAccount">
                                        <td><button class="btn btn-outline-primary btn-sm" id="editbtn"
                                                (click)="editClickHandler(data.id)">Edit</button> &nbsp;
                                        </td>
                                        <td>{{ data.AC_TYPE }}</td>
                                        <td>{{ data.AC_NO }}</td>
                                        <td>{{ data.AC_FREEZE_STATUS}}</td>
                                        <td>{{ data.AC_FREEZE_AMOUNT}}</td>
                                        <td>{{ data.AC_FREEZE_DATE }}</td>
                                        <td>{{ data.AC_FREEZE_REASON}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="freezAccount?.length == 0">
                                    <tr>
                                        <td colspan="3" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th><input type="text" placeholder="Search Scheme" name="AC_TYPE"></th>
                                        <th><input type="text" placeholder="Search Account No" name="AC_NO"></th>
                                        <th><input type="text" placeholder="Search Freeze Status"
                                                name="AC_FREEZE_STATUS"></th>
                                        <th><input type="text" placeholder="Search Freeze Amount"
                                                name="AC_FREEZE_AMOUNT"></th>
                                        <th><input type="text" placeholder="Search Freeze Date" name="AC_FREEZE_DATE">
                                        </th>
                                        <th><input type="text" placeholder="Search Remark" name="AC_FREEZE_REASON"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->