<div style="width: 270px;height: 335px;z-index: 1000;
      position: absolute;margin-top: 14%;margin-left:51%" *ngIf="PreviewDiv">
    <img [src]="previewImg" width="400" height="300">
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Account Enquiry</h5>
                        <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                            Fields marked with (<sub class="required"> * </sub>) are mandatory
                        </h6>
                    </div>
                    <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                        <div class="card-block">
                            <div class="solid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">Branch<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode"
                                                    formControlName="BRANCH_CODE" bindLabel="label"
                                                    title="Compulsory Selection" (change)="getBranch()"
                                                    [ngClass]="{'form-submitted': formSubmitted}" placeholder="Branch">
                                                    <ng-option *ngFor="let values of branch_code" [value]="values">
                                                        {{values.label}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">Scheme<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                                    formControlName="AC_TYPE" bindLabel="label"
                                                    title="Compulsory Selection" (change)="schemechange($event)"
                                                    [ngClass]="{'form-submitted': formSubmitted}" required
                                                    placeholder="Scheme">
                                                    <ng-option *ngFor="let values of allScheme" [value]="values">
                                                        {{values.id}} {{values.label}} </ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"> <label for="AC_NO">Account Number<sub
                                                class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select id="AC_NO" bindValue="AC_NO" [(ngModel)]="accountedit"
                                                    formControlName="AC_NO" bindLabel="label"
                                                    (change)="getAccountDetails($event)" title="Compulsory Selection"
                                                    required placeholder="Account No.">
                                                    <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                                        {{values.AC_NO}} {{values.AC_NAME}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2"> <label for="DATE">Date<sub
                                                class="required">*</sub></label>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="DATE" id="DATE"
                                                    class="form-control" [(ngModel)]="fromdate" [bsValue]="bsValue"
                                                    [minDate]="accountOpenDate" [maxDate]="maxDate"
                                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                    [ngClass]="{'form-submitted': formSubmitted}" formControlName="DATE"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                    bsDatepicker>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['DATE'].invalid && (angForm.controls['DATE'].dirty || angForm.controls['DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['DATE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-md">
                                        <button class="btn btn-outline-primary btn-sm" (click)="getTransactionDetails()"
                                            [disabled]="angForm.invalid">Refresh</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm" *ngIf="acCloseDate">
                                        <div><label style="color: red">Account Closed On:
                                                {{acCloseDate}}</label></div>
                                    </div>
                                    <div class="col-sm" *ngIf="freezeac">
                                        <div><label style="color: #4374ca">Freez
                                                Status:{{freezStataus}}</label></div>
                                    </div>
                                    <div class="col-sm" *ngIf="REBATE_INTRATE">
                                        <div><label style="color: #f378a3">Rebate Interest
                                                Rate:
                                                {{REBATE_INTRATE}}</label></div>
                                    </div>
                                    <div class="col-sm" *ngIf="dormantac">
                                        <div><label style="color: #1e5bc5">Dormant Account</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="solid" *ngIf="accountData">
                                <div class="row">
                                    <div class="col-sm" *ngIf="isOpeningDetails">
                                        <h5
                                            style="text-align: center; color: rgb(14 168 14); font-size: 12.5px; font-weight: 800;">
                                            Opening Details</h5>
                                    </div>
                                    <div class="col-sm" *ngIf="isPigmyDetails">
                                        <h5
                                            style="text-align: center; color: rgb(14 168 14); font-size: 12.5px; font-weight: 800;">
                                            Pigmy Details</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span><label>Opening Date : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0;  text-align: left;"><label>{{opendate}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_ASON_DATE">
                                        <span><label>Ason Date : </label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_ASON_DATE"><span
                                            style="color: #3e8cd0;  text-align: left;"><label>{{accountData?.AC_ASON_DATE}}</label></span>
                                    </div>
                                    <div class="col-sm-4" *ngIf="!accountData?.AC_ASON_DATE"></div>
                                    <div class="col-sm-2">
                                        <span><label>Overdraft
                                                Amount : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; float: right; text-align: right; padding-right:10px;"><label>{{overdraftAmt}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" *ngIf="accountData?.AC_MONTHS || accountData?.AC_DAYS">
                                        <span><label>Period : </label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_MONTHS || accountData?.AC_DAYS">
                                        <span style="color: #3e8cd0;  text-align: left;"><label>{{accountData?.AC_MONTHS==''||
                                                accountData?.AC_MONTHS==null? 0:
                                                accountData?.AC_MONTHS}}</label></span> Months
                                        <span style="color: #3e8cd0;  text-align: left;"><label>{{accountData?.AC_DAYS==''||
                                                accountData?.AC_DAYS==null ? 0:accountData?.AC_DAYS}}</label></span>
                                        Days
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_EXPIRE_DATE || accountData?.AC_EXPDT">
                                        <span><label>Maturity Date : </label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_EXPIRE_DATE || accountData?.AC_EXPDT">
                                        <span style="color: #3e8cd0;  text-align: left;"><label>{{accountData?.AC_EXPIRE_DATE==undefined?
                                                (accountData?.AC_EXPDT==null || accountData?.AC_EXPDT==''?
                                                '---':accountData?.AC_EXPDT) :
                                                accountData?.AC_EXPIRE_DATE}}</label></span>
                                    </div>
                                    <div class="col-sm-4" *ngIf="!accountData?.AC_MONTHS && !accountData?.AC_DAYS">
                                    </div>
                                    <div class="col-sm-4"
                                        *ngIf="!accountData?.AC_EXPIRE_DATE && !accountData?.AC_EXPDT"></div>
                                    <div class="col-sm-2" *ngIf="isLastTranDate">
                                        <span><label>Last Transaction Date: </label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isLastTranDate"><span
                                            style="color: #3e8cd0; float: right; text-align: right; padding-right:10px;"><label>{{accountData?.AC_ACTDATE}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isRenewalDate">
                                        <span><label>Renewal Date: </label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isRenewalDate"><span
                                            style="color: #3e8cd0; float: right; text-align: right; padding-right:10px;"><label>{{accountData?.AC_RENEW_DATE}}</label></span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-2" *ngIf="accountData?.PIGMY_ACTYPE">
                                        <span><label>Pigmy Scheme :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.PIGMY_ACTYPE">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.PIGMY_ACTYPE}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isATypeMemNo">
                                        <span><label>'A' Type Member No :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isATypeMemNo">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.AC_MEMBNO}}</label></span>
                                    </div>
                                    <div class="col-sm-4" *ngIf="!accountData?.PIGMY_ACTYPE"></div>
                                    <div class="col-sm-2" *ngIf="isAgentScheme">
                                        <span><label>Agent Scheme :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isAgentScheme">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.AC_MEMBNO}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isAgentCode">
                                        <span><label>Agent Code :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isAgentCode">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.AC_MEMBNO}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Interest Paid Date: </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; float: right; text-align: right; padding-right:10px;"><label>{{accountData?.AC_LINTEDT}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" *ngIf="accountData?.AC_SCHMAMT">
                                        <span><label>Deposit Amount :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_SCHMAMT">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.AC_SCHMAMT}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_MATUAMT">
                                        <span><label>Maturity Amount :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_MATUAMT">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.AC_MATUAMT}}</label></span>
                                    </div>
                                    <div class="col-sm-4" *ngIf="!accountData?.AC_SCHMAMT"></div>
                                    <div class="col-sm-4" *ngIf="!accountData?.AC_MATUAMT"></div>
                                    <div class="col-sm-2" *ngIf="accountData?.LAST_TDS_DATE">
                                        <span><label>Last TDS Date: </label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.LAST_TDS_DATE"><span
                                            style="color: #3e8cd0; float: right; text-align: right; padding-right:10px;"><label>{{accountData?.LAST_TDS_DATE}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" *ngIf="accountData?.AC_REF_RECEIPTNO">
                                        <span><label>Receipt Number :</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="accountData?.AC_REF_RECEIPTNO">
                                        <span
                                            style="color: #3e8cd0; text-align: left;"><label>{{accountData?.AC_REF_RECEIPTNO}}</label></span>
                                    </div>
                                    <div class="col-sm-8" *ngIf="!accountData?.AC_REF_RECEIPTNO"></div>
                                    <div class="col-sm-2">
                                        <span><label>Interest Rate: </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; float: right; text-align: right; padding-right:10px;"><label>{{accountData?.AC_INTRATE}}</label></span>
                                    </div>
                                </div>
                            </div>
                            <div class="solid" *ngIf="transactionData">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span><label>Opening Balance : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.openingBal}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="transactionData?.TDSAmount">
                                        <span><label>TDS Amount : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="transactionData?.TDSAmount">
                                        <span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.TDSAmount}}</label></span>
                                    </div>
                                    <div class="col-sm-4" *ngIf="!transactionData?.TDSAmount"></div>
                                    <div class="col-sm-2" *ngIf="isrecurringScheme">
                                        <span><label>Installment Amount: </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isrecurringScheme"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{accountData?.AC_SCHMAMT}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span><label>Passed Amount : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.passedAmount}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Overdraft Interest : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.overDraftInt}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="transactionData?.intrestonMonth">
                                        <span><label>Interest On Months : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"
                                        *ngIf="transactionData?.intrestonMonth"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.intrestonMonth}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span><label>Closing Balance : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.closingBal}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Payable Interest : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.payableInt}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="transactionData?.intrestonDays">
                                        <span><label>Interest On Days : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"
                                        *ngIf="transactionData?.intrestonDays"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.intrestonDays}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isTotalProducts">
                                        <span><label>Total Products : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isTotalProducts"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.totalProducts}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span><label>Unpassed Amount : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.unpassedAmount}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Current Interest : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.currentInt}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Penal Interest : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.penalInt}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span><label>Total Closing Balance : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.totalClosingBal}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Total Interest : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.totalInterest}}</label></span>
                                    </div>
                                    <div class="col-sm-2" *ngIf="isrecurringScheme">
                                        <span><label>Expected Installments : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isrecurringScheme"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.expectedInstallment}</label></span>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-2" *ngIf="isrecurringScheme">
                                        <span><label>Expected Installments : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isrecurringScheme"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{expectedInstallment}}</label></span>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-2" *ngIf="isrecurringScheme">
                                        <span><label>Received Installments : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isrecurringScheme"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.receivedInstallment}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-2" *ngIf="isrecurringScheme">
                                        <span><label>Due Installments : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isrecurringScheme"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.dueInstallment}}</label></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-2" *ngIf="isrecurringScheme">
                                        <span><label>Passbook Balance : </label></span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" *ngIf="isrecurringScheme"><span
                                            style="color: #3e8cd0; padding-right:10px;"><label>{{transactionData?.passbookBal}}</label></span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="isIntroducer">
                                    <div class="col-sm-2">
                                        <span><label>Introduced By : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; padding-right:10px; text-align: left;"><label>{{accountData?.AC_INTRNAME}}</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Salary Division : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; padding-right:10px;  text-align: left;"><label>Salary
                                                Division</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Sub Salary Division : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; padding-right:10px; text-align: left;"><label>Sub
                                                Salary Division</label></span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="isBankBranch">
                                    <div class="col-sm-2">
                                        <span><label>Bank Name : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; padding-right:10px; text-align: left;"><label>bank
                                                name</label></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><label>Branch Name : </label></span>
                                    </div>
                                    <div class="col-sm-2"><span
                                            style="color: #3e8cd0; padding-right:10px;  text-align: left;"><label>branch
                                                name</label></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xm-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Account Enquiry</h5>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="info-container">
                                <ul class="list-unstyled">
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Ledger View</a>
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Attorney</a>
                                    </li>
                                    <!-- <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Attorney</a>
                                    </li> -->
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Interest Paid History</a>
                                    </li>
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Interest Posted History</a>
                                    </li>
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Interest Instructions</a>
                                    </li>
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Interest Projection</a>
                                    </li>
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Payable Interest</a>
                                    </li>
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Lien Information</a>
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; TDS Details</a>
                                    </li>
                                    <!-- <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; TDS Details</a>
                                    </li> -->
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Product View</a> <a
                                            href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Old Deposits</a>
                                    </li>
                                    <!-- <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Old Deposits</a>
                                    </li> -->
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Joint Holders</a> <a
                                            href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Nominee</a>
                                    </li>
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Account Information</a>
                                    </li>
                                    <!-- <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Nominee</a>
                                    </li> -->
                                    <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Documents</a> <a
                                            href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Customer ID</a>
                                    </li>
                                    <!-- <li class="mb-75">
                                        <a href="/view/accountEnquiry"><i class="fa fa-book fa-fw"
                                                aria-hidden="true"></i>&nbsp; Customer ID</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="user-avatar-section">
                            <div class="d-flex align-items-center flex-column">
                                <img class="img-fluid rounded mt-3 mb-2" [src]="customerImg" height="50" width="80"
                                    (mouseover)="showImage(customerImg)" (mouseout)="hideImage()" alt="User avatar" />
                                <div class="user-info text-center">
                                    <h5 style="font-size: 13px; font-weight: 800;">{{accountData?.AC_NAME}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="user-avatar-section">
                            <div class="d-flex align-items-center flex-column">
                                <img class="img-fluid rounded mt-3 mb-2" [src]="signture"
                                    (mouseover)="showImage(signture)" (mouseout)="hideImage()" height="25" width="80"
                                    alt="User avatar" />

                            </div>
                        </div>
                        <div class="info-container">
                            <ul class="list-unstyled">
                                <li class="mb-75">
                                    <label class="fw-bolder me-25">Status:</label>
                                    <span class="badge bg-light-success">Active</span>
                                </li>
                                <li class="mb-75" *ngIf="idmaster">
                                    <label class="fw-bolder me-25">Customer ID:</label>
                                    <span style="color: green;">{{idmaster.id}}</span>
                                </li>
                                <li class="mb-75" *ngIf="idmaster?.AC_PANNO">
                                    <label class="fw-bolder me-25">PAN ID:</label>
                                    <span style="color: green;">{{idmaster.AC_PANNO}}</span>
                                </li>
                                <li class="mb-75" *ngIf="idmaster?.AC_ADHARNO">
                                    <label class="fw-bolder me-25">Adhar Card Number:</label>
                                    <span style="color: green;">{{idmaster?.AC_ADHARNO}}</span>
                                </li>
                                <li class="mb-75" *ngIf="idmaster?.AC_MOBILENO">
                                    <label class="fw-bolder me-25">Contact:</label>
                                    <span style="color: green;">{{idmaster.AC_MOBILENO}}</span>
                                </li>
                                <li class="mb-75" *ngIf="accountData?.AC_GRDNAME">
                                    <label class="fw-bolder me-25">Guardian Name:</label>
                                    <span style="color: green;">{{accountData?.AC_GRDNAME}}</span>
                                </li>
                                <li class="mb-75" *ngIf="jointHolderName">
                                    <label class="fw-bolder me-25">Joint Holder Name:</label>
                                    <span style="color: green; font-size: 11px;">{{jointHolderName}}</span>
                                </li>
                                <li class="mb-75" *ngIf="accountData?.AC_RENEWAL_COUNT">
                                    <label class="fw-bolder me-25">Renewal Count:</label>
                                    <span style="color: green;">{{accountData?.AC_RENEWAL_COUNT}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>