<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Market Shares</h5>
        <!-- <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6> -->
      </div>
      <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
        <div class="card-block">
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme style="text-align: right"  type="text" name="company_code" class="form-control" placeholder=" " id="company_code"
                    [ngClass]="{'form-submitted': formSubmitted}"
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)" required="" pattern="^[0-9]+$"
                    title="Input allowed only  0-9" maxlength="4" formControlName="CO_CODE" #autofocus />
                  <label for="company_code">Company Code<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['CO_CODE'].invalid &&
                  (angForm.controls['CO_CODE'].dirty ||
                    angForm.controls['CO_CODE'].touched)
                " class="alert alert-danger">
                <div *ngIf="
                    angForm.controls['CO_CODE'].errors?.pattern ||
                    angForm.controls['CO_CODE'].errors?.required">
                  This field is required and Input allowed only 0-9
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme type="text" name="company_name" class="form-control" placeholder=" " id="company_name"
                    [ngClass]="{'form-submitted': formSubmitted}" required="" onfocus="isDisplay=true"
                    pattern="^[A-Za-z'\.\-\s]+$"
                    (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                    title="Input allowed only  A-Z a-z  - / . (Space)" maxlength="100" formControlName="CO_NAME" />
                  <label for="company_name">Company Name<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['CO_NAME'].invalid &&
                  (angForm.controls['CO_NAME'].dirty ||
                    angForm.controls['CO_NAME'].touched)
                " class="alert alert-danger">
                <div *ngIf="
                    angForm.controls['CO_NAME'].errors?.pattern ||
                    angForm.controls['CO_NAME'].errors?.required
                  ">
                  This field is required and Input allowed only A-Z a-z - / .
                  (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme style="text-align: right"  type="text" name="market_value" class="form-control" placeholder=" " id="market_value"
                    [ngClass]="{'form-submitted': formSubmitted}"
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )" required=""
                    pattern="\d{1,20}(\.\d{2})?" title="Input allowed only  0-9" maxlength="20"
                    formControlName="MARKET_VALUE" />
                  <label for="market_value">Market Value<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['MARKET_VALUE'].invalid &&
                  (angForm.controls['MARKET_VALUE'].dirty ||
                    angForm.controls['MARKET_VALUE'].touched)
                " class="alert alert-danger">
                <div *ngIf="
                    angForm.controls['MARKET_VALUE'].errors?.pattern ||
                    angForm.controls['MARKET_VALUE'].errors?.required
                  ">
                  This field is required and Input allowed only 0-9
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme style="text-align: right" type="text" name="margin" class="form-control" placeholder=" " id="margin" #margin
                    [ngClass]="{'form-submitted': formSubmitted}"
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )"
                    (keyup)="checkmargin(margin.value);getDecimal($event)" required=""
                    title="Input allowed only  0-9" formControlName="MARGIN" />
                  <label for="margin">Margin %<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['MARGIN'].invalid &&
                  (angForm.controls['MARGIN'].dirty ||
                    angForm.controls['MARGIN'].touched)
                " class="alert alert-danger">
                <div *ngIf="
                    angForm.controls['MARGIN'].errors?.pattern ||
                    angForm.controls['MARGIN'].errors?.required
                  ">
                  This field is required and Input allowed only . 0-9
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input  style="text-align: right" type="text" name="no_of_shares" class="form-control" placeholder=" " id="no_of_shares"
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)" pattern="^[0-9]+$" maxlength="5"
                    title="Input allowed only  0-9" formControlName="SHARES" />
                  <label for="no_of_shares">Number of Shares</label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['SHARES'].invalid &&
                  (angForm.controls['SHARES'].dirty ||
                    angForm.controls['SHARES'].touched)
                " class="alert alert-danger">
                <div *ngIf="angForm.controls['SHARES'].errors?.pattern">
                  Input allowed only 0-9
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <!-- <input type="date" class="form-control" placeholder=" " id="subm_date" required="" max="31-12-9999"
                  [ngClass]="{'form-submitted': formSubmitted}"
                    formControlName="SUBMISSION_DATE"  /> -->
                  <input appTheme appButton minlength="8" maxlength="10"
                   type="text" placeholder="dd/mm/yyyy" name="SUBMISSION_DATE" id="subm_date" class="form-control"
                    [(ngModel)]="submissiondate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate"
                    [ngClass]="{'form-submitted': formSubmitted}" formControlName="SUBMISSION_DATE"
                    #SUBMISSION_DATE="bsDatepicker"  (keydown.Tab)="SUBMISSION_DATE.hide()" 
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47" bsDatepicker>
                  <label for="subm_date">Submission Date<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['SUBMISSION_DATE'].invalid &&
                  (angForm.controls['SUBMISSION_DATE'].dirty ||
                    angForm.controls['SUBMISSION_DATE'].touched)
                " class="alert alert-danger">
                <div *ngIf="angForm.controls['SUBMISSION_DATE'].errors?.required">
                  This field is required
                </div>
                <div *ngIf="angForm.controls['SUBMISSION_DATE'].invalid">
                  Invalid Date
                </div>
                <div *ngIf="angForm.controls['SUBMISSION_DATE'].invalid">
                  Fill valid Date
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme type="text" name="updated_by" class="form-control" placeholder=" " id="label-name" required=""
                    [ngClass]="{'form-submitted': formSubmitted}"
                    (keypress)="($event.charCode >= 65 && $event.charCode <=90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                    pattern="^[A-Za-z'\.\-\s]+$" maxlength="100" title="Input allowed only  A-Z a-z - / . (Space)"
                    formControlName="UPDATED_BY" />
                  <label for="label-name">Updated By<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['UPDATED_BY'].invalid &&
                  (angForm.controls['UPDATED_BY'].dirty ||
                    angForm.controls['UPDATED_BY'].touched)
                " class="alert alert-danger">
                <div *ngIf="
                    angForm.controls['UPDATED_BY'].errors?.pattern ||
                    angForm.controls['UPDATED_BY'].errors?.required
                  ">
                  This field is required and Input allowed only A-Z a-z - / .
                  (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <!-- <input type="date" class="form-control" placeholder=" " id="released_on" required="" max="31-12-9999"
                  [ngClass]="{'form-submitted': formSubmitted}"
                    formControlName="RELEASE_DATE"  id="date" /> -->
                  <input appTheme appButton minlength="8" maxlength="10"
                     type="text" placeholder="dd/mm/yyyy" name="RELEASE_DATE" id="released_on" class="form-control"
                    [(ngModel)]="releaseddate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="minDate"
                    [ngClass]="{'form-submitted': formSubmitted}" formControlName="RELEASE_DATE"
                    #RELEASE_DATE="bsDatepicker"  (keydown.Tab)="RELEASE_DATE.hide()" 
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47" bsDatepicker>
                  <label for="released_on">Released On Date<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['RELEASE_DATE'].invalid &&
                  (angForm.controls['RELEASE_DATE'].dirty ||
                    angForm.controls['RELEASE_DATE'].touched   )
                " class="alert alert-danger">
                <div *ngIf="angForm.controls['RELEASE_DATE'].errors?.required">
                  This field is required
                </div>
                <div *ngIf="angForm.controls['RELEASE_DATE'].invalid">
                  Invalid Date
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group input-group">
                <span class="border-lable-flt">
                  <input appTheme type="text" name="released_by" class="form-control" placeholder=" " id="released_by"
                    [ngClass]="{'form-submitted': formSubmitted}"
                    (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                    required="" pattern="^[A-Za-z'\.\-\s]+$" title="Input allowed only  A-Z a-z  - / . (Space)"
                    maxlength="100" formControlName="RELEASE_BY" />
                  <label for="released_by">Released By<sub class="required">* </sub></label>
                </span>
              </div>
              <div class="form-group form-primary form-static-label" *ngIf="
                  angForm.controls['RELEASE_BY'].invalid &&
                  (angForm.controls['RELEASE_BY'].dirty ||
                    angForm.controls['RELEASE_BY'].touched)
                " class="alert alert-danger">
                <div *ngIf="
                    angForm.controls['RELEASE_BY'].errors?.pattern ||
                    angForm.controls['RELEASE_BY'].errors?.required
                  ">
                  This field is required and Input allowed only A-Z a-z - / .
                  (Space)
                </div>
              </div>
            </div>
            <div class="col-sm">
              <!-- [disabled]="angForm.invalid" -->
              <button class="btn btn-outline-primary btn-sm btn-submit" (click)="submit($event)" *ngIf="showButton"  (keydown.Tab)="focus()" appTheme>Submit</button>
              <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow">Update</button>
              &nbsp;
              <button class="btn btn-outline-primary btn-sm" *ngIf="newbtnShow" (click)="addNewData()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <ng-container *ngIf='router.url==="/master/Maintainance/securityDetails"'> -->
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-block">
          <div class="row">
            <div class="col-sm">
              <div class="table-responsive">
                <table id="informationtable" datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                  class="table table-striped table-bordered table-hover compact">
                  <thead>
                    <th style="text-transform: captalize;">Action</th>
                    <th style="text-transform: captalize;">Company Code</th>
                    <th style="text-transform: captalize;">Company Name</th>
                    <th style="text-transform: captalize;">Market Value</th>
                    <th style="text-transform: captalize;">Margin</th>
                    <th style="text-transform: captalize;">Number of Shares</th>
                    <th style="text-transform: captalize;">Submission Date</th>
                    <th style="text-transform: captalize;">Updated By</th>
                    <th style="text-transform: captalize;">Release Date</th>
                    <th style="text-transform: captalize;">Release By</th>
                  </thead>
                  <tbody *ngIf="marketmaster?.length != 0">
                    <tr *ngFor="let data of marketmaster">
                      <td>
                        <span class="fa fa-fw fa-edit field-icon" id="editbutton" (click)="editClickHandler(data.id)"
                          placement="bottom" ngbTooltip="Edit"></span>

                        <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                      </td>
                      <td class="td_right">{{ data.CO_CODE }}</td>
                      <td>{{ data.CO_NAME }}</td>
                      <td class="td_right">{{ data.MARKET_VALUE }}</td>
                      <td class="td_right">{{ data.MARGIN }}</td>
                      <td class="td_right">{{ data.SHARES }}</td>
                      <td class="td_right">{{ data.SUBMISSION_DATE }}</td>
                      <td>{{ data.UPDATED_BY }}</td>
                      <td class="td_right">{{ data.RELEASE_DATE }}</td>
                      <td>{{ data.RELEASE_BY }}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="marketmaster?.length == 0">
                    <tr>
                      <td colspan="6" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                  <!-- <tfoot #filters class="filters">
                    <tr class="testing">
                      <th class="testing"></th>
                      
                      <th><input type="text" class="form-control" name="CO_CODE" /></th>
                      <th> <input type="text" class="form-control" name="CO_NAME" /> </th>
                      <th><input type="text" class="form-control" name="MARKET_VALUE" /></th>
                      <th><input type="text" class="form-control" name="MARGIN" />  </th>
                      <th><input type="text" class="form-control" name="SHARES" /> </th>
                      <th><input type="text" class="form-control" name="SUBMISSION_DATE" /></th>
                      <th> <input type="text" class="form-control" name="UPDATED_BY" /></th>
                      <th> <input type="text" class="form-control" name="RELEASE_DATE" /></th>
                      <th><input type="text" class="form-control" name="RELEASE_BY" />
                      </th>
                    </tr>
                  </tfoot> -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </ng-container> -->