<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Batch Transfer Voucher
            </div>
            <div class="card-body">
                <form >
                    <div class="solid">
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Branch Code<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select>
                                            <ng-option *ngFor="let item of branch_code" [value]="item.value">
                                                {{item.label}}</ng-option>
                                        </ng-select>

                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-1"><label for="AC_EXPDT">Date</label></div>
                            <div class="col-md-2">
                                <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                    [isDisabled]="isture" formControlName="date" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <label for="AC_BRANCH">Company Code<sub class="required">*</sub></label>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select>
                                            <ng-option *ngFor="let item of branch_code" [value]="item.value">
                                                {{item.label}}</ng-option>
                                        </ng-select>

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>