<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'uti.Penal_Interest_Calculation' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'uti.F1' | translate}} (<sub class="required"> * </sub>) {{'uti.F2' | translate}}
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">{{'uti.Branch' | translate}}<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode"
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" placeholder="{{'uti.Branch' | translate}}">
                                        <ng-option *ngFor="let values of branch_code" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">{{'uti.Scheme' | translate}}<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                        formControlName="AC_TYPE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="{{'uti.Scheme' | translate}}">
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm" (click)="Process()"
                                [disabled]="angForm.invalid">{{'uti.Process' | translate}}</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div [class]="modalClass"><!-- Place at bottom of page --> </div>