<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Master Loan</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Master Loan</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="table-responsive">
                                            <table id="mastertable" datatable [dtOptions]="dtExportButtonOptions"
                                              
                                                class="table table-striped table-bordered table-hover compact">
                                                <tbody *ngIf="termLoanMaster?.length != 0">
                                                    <tr *ngFor="let data of termLoanMaster">
                                                        <td>
                                                            <span class="fa fa-fw fa-edit field-icon" id="editbutton" (click)="editClickHandler(data.id)"
                                                            placement="bottom" ngbTooltip="Edit" (click)="modalLarge.show();getLoanData(data)"></span>
                                                        </td>
                                                        <td
                                                            [ngClass]="data.AC_TYPE === '' || data.AC_TYPE== null? 'td_center' : 'td_right'">
                                                            {{ data.AC_TYPE === "" || data.AC_TYPE== null? "-" :
                                                            data.LNCCMaster.S_APPL
                                                            }}
                                                        </td>
                                                        <td [ngClass]="data.BANKACNO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.BANKACNO === "" ? "-" : data.BANKACNO }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.AC_CUSTID === '' ? 'td_center' : 'td_right'">
                                                            {{data.AC_CUSTID === ''? '-' : data.AC_CUSTID}}</td>
                                                        <td [ngClass]="data.AC_NAME === '' ? 'td_center' : 'td_left'">
                                                            {{data.AC_NAME === ''? '-' : data.AC_NAME}}</td>
                                                        <td
                                                            [ngClass]="data.AC_OPDATE === '' ? 'td_center' : 'td_center'">
                                                            {{data.AC_OPDATE === ''? '-' : data.AC_OPDATE}}</td>
                                                        <td
                                                            [ngClass]="data.AC_OPEN_OLD_DATE === '' ? 'td_center' : 'td_center'">
                                                            {{data.AC_OPEN_OLD_DATE === ''? '-' :
                                                            data.AC_OPEN_OLD_DATE}}</td>
                                                        <td [ngClass]="data.REF_ACNO === '' ? 'td_center' : 'td_right'">
                                                            {{data.REF_ACNO === ''? '-' : data.REF_ACNO}}</td>
                                                        <td
                                                            [ngClass]="data.idmaster.custAddress[0]?.AC_ADDR === '' ? 'td_center' : 'td_left'">
                                                            {{ data.idmaster.custAddress[0]?.AC_ADDR === "" ? "-" :
                                                            data.idmaster.custAddress[0]?.AC_ADDR }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.idmaster.custAddress[0].city?.CITY_NAME  === '' ? 'td_center' : 'td_left'">
                                                            {{ data.idmaster.custAddress[0].city?.CITY_NAME === "" ? "-"
                                                            :
                                                            data.idmaster.custAddress[0].city?.CITY_NAME }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.AC_SANCTION_DATE === '' ? 'td_center' : 'td_center'">
                                                            {{data.AC_SANCTION_DATE === ''? '-' :
                                                            data.AC_SANCTION_DATE}}</td>
                                                        <td
                                                            [ngClass]="data.AC_MONTHS === '' ? 'td_center' : 'td_right'">
                                                            {{data.AC_MONTHS === ''? '-' : data.AC_MONTHS}}</td>
                                                        <td
                                                            [ngClass]="data.AC_EXPIRE_DATE === '' ? 'td_center' : 'td_center'">
                                                            {{data.AC_EXPIRE_DATE === ''? '-' : data.AC_EXPIRE_DATE}}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.AC_SANCTION_AMOUNT === '' ? 'td_center' : 'td_right'">
                                                            {{data.AC_SANCTION_AMOUNT === ''? '-' :
                                                            data.AC_SANCTION_AMOUNT}}</td>
                                                        <td
                                                            [ngClass]="data.AC_DRAWPOWER_AMT === '' ? 'td_center' : 'td_right'">
                                                            {{data.AC_DRAWPOWER_AMT === ''? '-' :
                                                            data.AC_DRAWPOWER_AMT}}</td>
                                                        <td
                                                            [ngClass]="data.AC_INTRATE === '' ? 'td_center' : 'td_right'">
                                                            {{data.AC_INTRATE === ''? '-' : data.AC_INTRATE}}</td>
                                                        <td
                                                            [ngClass]="data.AC_INSTALLMENT === '' ? 'td_center' : 'td_right'">
                                                            {{data.AC_INSTALLMENT === ''? '-' : data.AC_INSTALLMENT}}
                                                        </td>
                                                        <td
                                                        [ngClass]="data.authority?.NAME === '' ? 'td_center' : 'td_right'">
                                                        {{data.authority?.NAME === ''? '-' : data.authority?.NAME}}
                                                    </td>
                                                    <td
                                                        [ngClass]="data.purpose?.NAME === '' ? 'td_center' : 'td_right'">
                                                        {{data.purpose?.NAME === ''? '-' : data.purpose?.NAME}}</td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="termLoanMaster?.length == 0">
                                                    <tr>
                                                        <td colspan="10" class="no-data-available">No data!</td>
                                                    </tr>
                                                </tbody>
                                                <!-- <tfoot #filters class="filters">
                                    <tr class="testing">
                                        <th></th>
                                        <th><input type="text" class="form-control" name="AC_TYPE"></th>
                                        <th><input type="text" class="form-control" name="AC_NO"></th>
                                        <th><input type="text" class="form-control" name="AC_CUSTID"></th>
                                        <th><input type="text" class="form-control" name="AC_NAME"></th>
                                        <th><input type="text" class="form-control" name="AC_OPDATE"></th>
                                        <th><input type="text" class="form-control" name="AC_OPEN_OLD_DATE"></th>
                                        <th><input type="text" class="form-control" name="REF_ACNO"></th>
                                        <th><input type="text" class="form-control" name="AC_ADDR"></th>
                                        <th><input type="text" class="form-control" name="AC_CTCODE"></th>
                                        <th><input type="text" class="form-control" name="AC_SANCTION_DATE"></th>
                                        <th><input type="text" class="form-control" name="AC_MONTHS"></th>
                                        <th><input type="text" class="form-control" name="AC_EXPIRE_DATE"></th>
                                        <th><input type="text" class="form-control" name="AC_SANCTION_AMOUNT"></th>
                                        <th><input type="text" class="form-control" name="AC_DRAWPOWER_AMT"></th>
                                        <th><input type="text" class="form-control" name="AC_INTRATE"> </th>
                                        <th><input type="text" class="form-control" name="AC_INSTALLMENT"></th>
                                        <th><input type="text" class="form-control" name="AC_AUTHORITY"></th>
                                        <th><input type="text" class="form-control" name="AC_PURPOSE"></th>
                                    </tr>
                                </tfoot> -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic #modalLarge [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
      <h4 class="modal-title">Saving Master</h4>
      <button type="button" class="close basic-close" (click)="modalLarge.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
      <perfect-scrollbar style="overflow-y: auto;">
        <app-term-loan-master [childMessage]="loanData" (getUserData)="getData($event)"></app-term-loan-master>
      </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide
        (click)="modalLarge.hide();">Close</button>
    </div>
  </app-modal-basic>
  