<!-- BankServ Support Call Register -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'utility.Action.T6' | translate}}</h5>
            </div>
            <form class="form-material" action="javascript:">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Register_no' | translate}}</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input placeholder="{{'utility.Action.Call_Reg_Date' | translate}}" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.User_Name' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h6>{{'utility.Action.Nature_Of_Custo_Pro' | translate}}</h6>
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" checked="checked">
                                        <i class="helper"></i>{{'utility.Action.New_Customisations' | translate}}<span class="required"> </span>
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" checked="checked">
                                        <i class="helper"></i>{{'utility.Action.Existing_Modification' | translate}}<span class="required"> </span>
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio" checked="checked">
                                        <i class="helper"></i>{{'utility.Action.Errors' | translate}}<span class="required"> </span>
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="radio">
                                        <i class="helper"></i>{{'utility.Action.Other' | translate}}<span class="required"> </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Requirement' | translate}}<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Requirement Details_Formats' | translate}}<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Scheme_Ac_Details' | translate}}<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input placeholder="{{'utility.Action.Completed_Date' | translate}} *" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Completed_Time' | translate}}<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Completed_By' | translate}}<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">{{'utility.Action.Remark' | translate}}<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light">{{'utility.Action.Ok' | translate}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        <div class="col-sm">
                            <h6><span class="required">* </span>: {{'utility.Action.Required_Fields' | translate}}</h6>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>