<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Manager View GL - Position</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="SR_NO" class="form-control" placeholder=" "
                                        pattern="\d{1,20}(\.\d{2})?" id="SR_NO" maxlength="20" disabled
                                        title="Input allowed only  0-9" formControlName="SR_NO">
                                    <label for="SR_NO">Sr.No.
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="schemetype" [multiple]="false"
                                    placeholder="Type*" required title="Compulsory Selection"
                                    formControlName="TYPE">
                                </ng-select>

                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TYPE'].invalid && (angForm.controls['TYPE'].dirty || angForm.controls['TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="StatementCodeDropdown" [multiple]="false"
                                    placeholder="Statement Code *" required title="Compulsory Selection"
                                    formControlName="STATEMENT_CODE">
                                </ng-select>

                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['STATEMENT_CODE'].invalid && (angForm.controls['STATEMENT_CODE'].dirty || angForm.controls['STATEMENT_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['STATEMENT_CODE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="StatementCodeDropdown" [multiple]="false"
                                    placeholder="Description *" required title="Compulsory Selection"
                                    formControlName="DECRIPTION">
                                </ng-select>

                            </div>
                            
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="PercentageToWCapital" [multiple]="false"
                                    placeholder="% to W.Capital *" required title="Compulsory Selection"
                                    formControlName="PERCENTAGE_TO_WORKING_CAPITAL">
                                </ng-select>

                            </div>
                            
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="DisplayToView" [multiple]="false"
                                    placeholder="Display to View *" required title="Compulsory Selection"
                                    formControlName="IS_DISPLAY">
                                </ng-select>

                            </div>
                            
                        </div>
                    </div>


                </div>
                
            </form>

           
            <div class="card-block">
                <div class="col-sm-2">
                    <button class="btn btn-primary ripple light" (click)="submit()" *ngIf="showButton"
                        [disabled]="angForm.invalid">Add</button>
                    <button class="btn btn-primary ripple light" (click)="updateData()"
                        *ngIf="updateShow">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-block">

                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportOptions" [dtTrigger]="dtTrigger"
                                class="table table-striped table-bordered table-hover">
                                <tbody *ngIf="managerView?.length != 0">
                                    <tr *ngFor="let data of managerView">
                                        <td><button class="btn btn-outline-primary btn-sm" id="editbtn"
                                                (click)="editClickHandler(data.id)">Edit</button> &nbsp;

                                        </td>
                                       
                                        <td>{{ data.SR_NO }}</td>
                                        <td>{{ data.TYPE }}</td>
                                        <td>{{ data.STATEMENT_CODE }}</td>
                                        <td>{{ data.DECRIPTION }}</td>
                                        <td>{{ data.PERCENTAGE_TO_WORKING_CAPITAL }}</td>
                                        <td>{{ data.IS_DISPLAY }}</td>
                                        
                                       
                                        
                                    </tr>
                                </tbody>
                                <tbody *ngIf="managerView?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th><input type="text" placeholder="Sr.No." name="SR_NO"></th>
                                        <th><input type="text" placeholder="Type" name="TYPE"></th>
                                        <th><input type="text" placeholder="Statement Code" name="STATEMENT_CODE"></th>
                                        <th><input type="text" placeholder="Description" name="DECRIPTION"></th>
                                        <th><input type="text" placeholder="% to W.Capital" name="PERCENTAGE_TO_WORKING_CAPITAL"></th>
                                        <th><input type="text" placeholder="Display to View" name="IS_DISPLAY"></th>
                                  
                                        
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>