<!-- Dividend Calculation -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Dividend Calculation</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                    placeholder="Scheme Code*" required title="Compulsory Selection"
                                    formControlName="SchemeCode">
                                </ng-select>
                                <label>{{ message.SchemeCode}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['SchemeCode'].invalid && (angForm.controls['SchemeCode'].dirty || angForm.controls['SchemeCode'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['SchemeCode'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="DivDateFrom" required=""
                                        max="9999-12-31" formControlName="DivDateFrom"
                                        value="{{ message.DivDateFrom  }}" onfocus="(this.type='date')" />
                                    <label for="DivDateFrom">Div.Date From<sub class="required">* </sub> </label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['DivDateFrom'].invalid && (angForm.controls['DivDateFrom'].dirty || angForm.controls['DivDateFrom'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['DivDateFrom'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="ToDate" required=""
                                        max="9999-12-31" formControlName="ToDate" value="{{ message.To}}"
                                        onfocus="(this.type='date')" />
                                    <label for="ToDate">To <sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['ToDate'].invalid && (angForm.controls['ToDate'].dirty || angForm.controls['ToDate'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['ToDate'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="WarrantDate" [multiple]="false"
                                    placeholder="Div.Warrant Date *" required title="Compulsory Selection"
                                    formControlName="WarrantDate">
                                </ng-select>
                                <label>{{ message.WarrantDate }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['WarrantDate'].invalid && (angForm.controls['WarrantDate'].dirty || angForm.controls['WarrantDate'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['WarrantDate'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="BranchCode" [multiple]="false"
                                    placeholder="Branch Code" formControlName="BranchCode">
                                </ng-select>
                                <label>{{ message.BranchCode }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BranchCode'].invalid && (angForm.controls['BranchCode'].dirty || angForm.controls['BranchCode'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BranchCode'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Dividend" class="form-control" placeholder=" "
                                        id="Dividend" required="" value="{{ message.Dividend }}" pattern="^[0-9]+$"
                                        title="Input allowed only 0-9" formControlName="Dividend">
                                    <label for="Dividend">Dividend %<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Dividend'].invalid && (angForm.controls['Dividend'].dirty || angForm.controls['Dividend'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['Dividend'].errors?.pattern || angForm.controls['Dividend'].errors?.required">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Bonus" class="form-control" placeholder=" " id="Bonus"
                                        value="{{ message.Bonus }}" pattern="^[0-9]+$" title="Input allowed only 0-9"
                                        formControlName="Bonus">
                                    <label for="Bonus">Bonus %</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Bonus'].invalid && (angForm.controls['Bonus'].dirty || angForm.controls['Bonus'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Bonus'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                    placeholder="Member From" formControlName="MemberFrom">
                                </ng-select>
                                <label>{{ message.MemberFrom}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['MemberFrom'].invalid && (angForm.controls['MemberFrom'].dirty || angForm.controls['MemberFrom'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['MemberFrom'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                    placeholder="Member To" formControlName="To2">
                                </ng-select>
                                <label>{{ message.To2}}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['To2'].invalid && (angForm.controls['To2'].dirty || angForm.controls['To2'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['To2'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton"
                                [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>