<div class="cibil-container">
    <div class="col-sm-1"></div>
    <div class="cibil-content">
        <h2>Get your CIBIL Score & Report instantly.</h2>
        <p>Banks & lenders check your CIBIL Score before approving your loan.</p>
        <button class="cibil-button" (click)="checkCibilScore()">GET YOUR CIBIL SCORE</button>
    </div>
    <div class="cibil-image">
        <img src="assets/cibil2.png" alt="CIBIL Report Image" />
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="cibil-footer">
    <span class="did-you-know">Did you know?</span>
    <span> Checking your own credit score doesn't impact it.</span>
</div>


<div class="features-container">
    <h2 class="features-header">Take a step to attain financial freedom</h2>
    <p class="features-subtext">Get these features when you take a Free CIBIL Score & Report.</p>
    <div class="features-cards">
        <div class="feature-card">
            <img src="assets/cibil.png" alt="Access CIBIL Dashboard Icon">

            <h3>Steps for CIBIL Check...!</h3>
            <p>View your CIBIL Score and Report. You can refresh it once a year.</p>
        </div>
        <div class="feature-card">
            <video controls width="10%" style="border-radius: 10px;">
                <source src="assets/cibil-video.mp4" type="video/mp4">
               
            </video>

            <h3>Video for CIBIL Check...!</h3>
            <p>Check for any fraudulent enquiries or errors in your credit details.</p>
        </div>

    </div>
</div>