.forgetCls{
    // margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.forgetBtn{
    margin-top: 15px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container .btn {
    flex: 1;
    margin: 0 5px;
}
.compCls{
    margin-top: 50px;
}
