<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Own Branch Master</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <!-- <input type="hidden" formControlName="ID"> -->
                                    <input type="text" name="CODE" class="form-control" placeholder=" " id="BranchCode"
                                        pattern="^[0-9]+$" disabled title="Input allowed only  0-9"
                                        formControlName="CODE">
                                    <label for="BranchCode">Branch Code</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="NAME" class="form-control" placeholder=" " id="BranchName"
                                    #autofocus required="" pattern="^[A-Za-z\./ -]+$" maxlength="100"
                                    (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="NAME">
                                    <label for="BranchName">Branch Name<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['NAME'].invalid && (angForm.controls['NAME'].dirty || angForm.controls['NAME'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['NAME'].errors?.pattern || angForm.controls['NAME'].errors?.required || angForm.controls['NAME'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt" autofocus>
                                    <ng-select bindValue="value" bindLabel="label" [(ngModel)]="ngAcNo" id="AC_NO" formControlName="AC_NO"
                                        title="Compulsory Selection" placeholder="Account Number">
                                        <ng-option *ngFor="let values of acno" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="AC_NO">Account Number</label>
                                </span>
                            </div>
                            <!-- <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AC_NO" class="form-control" placeholder=" " id="AccountNo"
                                        pattern="^[0-9]+$" minlength="15" maxlength="15" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" title="Input allowed only  0-9"
                                        formControlName="AC_NO">
                                    <label for="AccountNo">Account No.</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_NO'].errors?.pattern || angForm.controls['AC_NO'].errors?.maxlength || angForm.controls['AC_NO'].errors?.minlength">
                                    Input allowed only 0-9
                                </div>
                            </div> -->
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-9">

                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf="showButton" (click)="submit($event)" [disabled]="angForm.invalid">Submit</button>
                            <button class="btn btn-outline-primary btn-sm" *ngIf="newbtnShow" (click)="addNewData()">Cancel</button>
                            <button class="btn btn-outline-primary btn-sm" *ngIf="updateShow" (click)="updateData()"  [disabled]="angForm.invalid">Update</button>&nbsp;
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="informationtable" datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="ownBranches?.length != 0">
                                    <tr *ngFor="let data of ownBranches">
                                        <td><span class="fa fa-fw fa-edit field-icon" id="editbutton" (click)="editClickHandler(data.id)"
                                            placement="bottom" ngbTooltip="Edit"></span>&nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                        <td class="td_right">{{ data.CODE }}</td>
                                        <td>{{ data.NAME }}</td>
                                        <!-- <td class="td_right">{{ data.AC_NO }}</td> -->
                                    </tr>
                                </tbody>
                                <tbody *ngIf="ownBranches?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot #filters class="filters">
                                    <tr class="testing">
                                        <th class="testing"></th>
                                        <th><input type="text" class="form-control"  name="CODE"></th>
                                        <th><input type="text" class="form-control"  name="NAME"></th>
                                        <!-- <th><input type="text" class="form-control"  name="AC_NO"></th> -->
                                        
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>