<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'master.Voucher.Title' | translate}}</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="table-responsive">
                                            <table id="transactiontable" datatable [dtOptions]="dtExportButtonOptions"
                                                class="table table-striped table-bordered table-hover compact">
                                                <tbody *ngIf="voucherEntry?.length != 0">
                                                    <tr *ngFor="let data of voucherEntry">
                                                        <td>
                                                            <span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                                placement="bottom" ngbTooltip="Edit"
                                                                (click)="modalLarge.show();getVoucherData(data)"></span>
                                                        </td>
                                                        <td [ngClass]="data.TRAN_NO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_NO === "" ? "-" : data.TRAN_NO }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_AMOUNT === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_AMOUNT === "" ? "-" : data.TRAN_AMOUNT }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_DRCR === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_DRCR === "" ? "-" : data.TRAN_DRCR }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_TIME === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_TIME === "" ? "-" : data.TRAN_TIME }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.tran_actype === '' ? 'td_center' : 'td_right'">
                                                            {{ data.SYSTRAN_TYPE == "IBT" ? data.S_APPL :
                                                            data.tran_actype }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_TYPE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.TRAN_TYPE === "" ? "-" : data.TRAN_TYPE }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.TRAN_ACNO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.SYSTRAN_TYPE == "IBT" ? data.IBT_ACNO :
                                                            data.TRAN_ACNO }}
                                                        </td>
                                                        <td
                                                            [ngClass]="data.USER_CODE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.USER_CODE === "" ? "-" : data.USER_CODE }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="voucherEntry?.length == 0">
                                                    <tr>
                                                        <td colspan="7" class="no-data-available">{{'master.Action.No_Data' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot #filters class="filters">
                                                    <tr class="testing">
                                                        <th></th>
                                                        <th><input type="text" class="form-control" name="TRAN_NO"></th>
                                                        <th><input type="text" class="form-control" name="TRAN_AMOUNT">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="TRAN_DRCR">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="TRAN_TIME">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="tran_actype">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="TRAN_TYPE">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="TRAN_ACNO">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="USER_CODE">
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-modal-basic #modalLarge [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'master.Voucher.Title' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <app-voucher-entry [childMessage]="voucherData" (reloadTablePassing)="reloadTable()"></app-voucher-entry>

        </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide id="trigger"
            (click)="modalLarge.hide();" hidden>{{'master.Action.Close' | translate}}</button>
    </div>
</app-modal-basic>