<!-- Member Contribution Credit to Shares -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'Utility.Member_Contribution_Credit_to_Shares.Title' | translate}}</h5>
            </div>
            <form [formGroup]="angForm" novalidate>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Utility.Member_Contribution_Credit_to_Shares.Debit_Scheme' | translate}}<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedDScheme" #scheme formControlName="dscheme"
                                        bindValue="value" bindLabel="label">
                                        <ng-option *ngFor="let item of d_Scheme" [value]="item">
                                            {{item.id}} {{item.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['dscheme'].invalid && (angForm.controls['dscheme'].dirty || angForm.controls['dscheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['dscheme'].errors?.required">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Utility.Member_Contribution_Credit_to_Shares.Credit_Scheme' | translate}}<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedCScheme" #scheme formControlName="cscheme"
                                        bindValue="value" bindLabel="label">
                                        <ng-option *ngFor="let item of c_Scheme" [value]="item">
                                            {{item.id}} {{item.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['cscheme'].invalid && (angForm.controls['cscheme'].dirty || angForm.controls['cscheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['cscheme'].errors?.required">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Utility.Member_Contribution_Credit_to_Shares.GL_A/c_No.' | translate}}<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedaccNo" #scheme formControlName="accNo"
                                        bindValue="bankacno" bindLabel="NAME">
                                        <ng-option *ngFor="let item of introducerACNo" [value]="item">
                                            {{item.label}} {{item.name}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['accNo'].invalid && (angForm.controls['accNo'].dirty || angForm.controls['accNo'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['accNo'].errors?.required">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Utility.Member_Contribution_Credit_to_Shares.Kayam_Dep_Scheme' | translate}}<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectedKDscheme" #scheme formControlName="kdscheme"
                                        bindValue="value" bindLabel="label">
                                        <ng-option *ngFor="let item of kd_scheme" [value]="item">
                                            {{item.id}} {{item.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['kdscheme'].invalid && (angForm.controls['kdscheme'].dirty || angForm.controls['kdscheme'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['kdscheme'].errors?.required">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">{{'Utility.Member_Contribution_Credit_to_Shares.Shares_Amount_Limit' | translate}}<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="INSTALLMENT_NO" class="form-control" placeholder=" "
                                        id="INSTALLMENT_NO" maxlength="10" formControlName="shamtlimit"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['shamtlimit'].invalid && (angForm.controls['shamtlimit'].dirty || angForm.controls['shamtlimit'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['shamtlimit'].errors?.pattern || angForm.controls['shamtlimit'].errors?.required || angForm.controls['shamtlimit'].errors?.maxlength">
                                    <!-- This field is required. -->{{'Utility.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-2"><label for="AC_PARTICULAR">{{'Utility.Member_Contribution_Credit_to_Shares.Particulars' | translate}}</label>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <textarea class="form-control" formControlName="particulars"
                                        [(ngModel)]="particulars"></textarea>
                                    <i class="fa fa-info-circle errspan"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button class="btn  btn-outline-primary btn-sm">{{'Utility.Action.close' | translate}}</button>

                            <button class="btn  btn-outline-primary btn-sm">{{'Utility.Action.Delete' | translate}}</button>

                            <button class="btn  btn-outline-primary btn-sm">{{'Utility.Action.Cancel' | translate}}</button>

                            <button class="btn  btn-outline-primary btn-sm">{{'Utility.Action.Print' | translate}}</button>

                            <button class="btn  btn-outline-primary btn-sm">{{'Utility.Action.Update' | translate}}</button>

                            <button class="btn  btn-outline-primary btn-sm">{{'Utility.Action.Calculate' | translate}}</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>{{'Utility.Member_Contribution_Credit_to_Shares.Report_Frame' | translate}}</h5>
                                </div>
                                <div *ngIf="showRepo">
                                    <app-iframe [url]='iframeurl'></app-iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>