.required {
    color: red;
  }

  div.solid {
    border-style: solid;
    padding:2%;
    width: 350px;
  }
  .h{
    content: "";
    width: 210px;
    height: 2px;
    display: block;
    background: black;
    position: absolute;
    
  }