input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// input[type=number] {
//   -moz-appearance: textfield;
// }
// .card-block
// {
//    width: 100%;
//    height: 150px;
// }
// .scrollable {
//   overflow-y: auto;
//   height: 1300px; /* Adjust the height as needed */
// }
.dev
{
   width: 100%;
   height: 150px;
}