<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5>Other Masters</h5>
            </div>
            <div class="card-block scroll">
                <div class="col-md-12">
                    <!-- <perfect-scrollbar style="max-width: 600px; max-height: 450px;"> -->

                        <ul class="basic-list">
                            <li>
                                <h6> <a (click)="OpenLink(1)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': systemmasterparametersTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">1. System Master Parameters</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(2)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': smssettingTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">2. SMS Settings</a></h6>
                            </li>
                            <!-- <li>
                                <h6> <a (click)="OpenLink(3)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': recoverysequenceTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">3. Recovery Sequence</a></h6>
                            </li> -->
                            <li>
                                <h6> <a (click)="OpenLink(4)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': schemetypesettingTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">3. Scheme Type Setting</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(5)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': transactioninputglhsTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">4.Transcation Input GL Head Setting </a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(6)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': checkcollectionihTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">5. Cheque Collection Input Head</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(7)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': otherbankdsTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">6. Other banks Deposit Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(8)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': lockerschemeTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">7. Lockers Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(9)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': generalledgersTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">8. General ledger Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(10)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': anamatgeneralsubTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">9. Anamat/General Sub A/c Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(11)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': sharesschemeTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">10. Shares Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(12)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': savingsschemeTrue}" routerLinkActive="active" class="text-right f-w-600" id="pointer">11. Saving Scheme </a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(13)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': currentscheme}" routerLinkActive="active" class="text-right f-w-600" id="pointer">12. Current Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(14)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': termdepositscheme}" routerLinkActive="active" class="text-right f-w-600" id="pointer">13. Term Deposit Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(15)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': cashcreditscheme}" routerLinkActive="active" class="text-right f-w-600" id="pointer">14. Cash Credit Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(16)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': termloanscheme}" routerLinkActive="active" class="text-right f-w-600" id="pointer">15.Term Loan Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(17)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': disputeloans}" routerLinkActive="active" class="text-right f-w-600" id="pointer">16.Dispute Loan (suit Failed) Scheme </a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(18)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': pigmyacscheme}" routerLinkActive="active" class="text-right f-w-600" id="pointer">17.  Pigmy A/c Scheme</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(19)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': pigmyagentscheme}" routerLinkActive="active" class="text-right f-w-600" id="pointer">18. pigmy Agent Scheme</a></h6>
                            </li>
                            <!-- <li>
                                <h6> <a (click)="OpenLink(20)" routerLink="/utility/schemeParameters" [ngClass]="{'isActive': payrollsettings}" routerLinkActive="active" class="text-right f-w-600" id="pointer">20. Payroll Setting</a></h6>
                            </li> -->
                        </ul>
                    <!-- </perfect-scrollbar> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-block">
            <div *ngIf="systemmasterparametersTrue">
                <app-system-master-parameters></app-system-master-parameters>
            </div>
            <div *ngIf="smssettingTrue">
                <app-sms-settings></app-sms-settings>
            </div>
            <!-- <div *ngIf="recoverysequenceTrue">
                <app-recovery-sequence></app-recovery-sequence>
            </div> -->
            <div *ngIf="schemetypesettingTrue">
                <app-scheme-type-setting></app-scheme-type-setting>
            </div>
            <div *ngIf="transactioninputglhsTrue">
                <app-transaction-input-gl-head-setting></app-transaction-input-gl-head-setting>
            </div>
            <div *ngIf="checkcollectionihTrue">
                <app-cheque-collection-input-head></app-cheque-collection-input-head>
            </div>
            <div *ngIf="otherbankdsTrue">
                <app-other-banks-deposit-scheme></app-other-banks-deposit-scheme>
            </div>
            <div *ngIf="lockerschemeTrue">
                <app-lockers-scheme></app-lockers-scheme>
            </div>
            <div *ngIf="generalledgersTrue">
                <app-general-ledger-scheme></app-general-ledger-scheme>
            </div>
            <div *ngIf="anamatgeneralsubTrue">
                <app-general-sub-ac-scheme></app-general-sub-ac-scheme>
            </div>
            <div *ngIf="sharesschemeTrue">
                <app-shares-scheme></app-shares-scheme>
            </div>
            <div *ngIf="savingsschemeTrue">
                <app-saving-scheme></app-saving-scheme>
            </div>
            <div *ngIf="currentscheme">
                <app-current-scheme></app-current-scheme>
            </div>
            <div *ngIf="termdepositscheme">
                <app-term-deposit-scheme></app-term-deposit-scheme>
            </div>
            <div *ngIf="cashcreditscheme">
                <app-cash-credit-scheme></app-cash-credit-scheme>
            </div>
            <div *ngIf="termloanscheme">
                <app-term-loan-scheme></app-term-loan-scheme>
            </div>
            <div *ngIf="disputeloans">
                <app-disput-loan-scheme></app-disput-loan-scheme>
            </div>
            <div *ngIf="pigmyacscheme">
                <app-pigmy-ac-scheme></app-pigmy-ac-scheme>
            </div>
            <div *ngIf="pigmyagentscheme">
                <app-pigmy-agent-scheme></app-pigmy-agent-scheme>
            </div>
            <!-- <div *ngIf="payrollsettings">
                <app-payroll-settings></app-payroll-settings>
            </div> -->
        </div>
    </div>
</div>