<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Special Instruction</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="TotalAmount" class="form-control" placeholder=" "
                                        id="InstructionNo" value="{{ message.InstructionNo }}"
                                        formControlName="InstructionNo">
                                    <label for="InstructionNo">Instruction No.</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="Date" required=""
                                        max="9999-12-31" formControlName="Date" value="{{ message.Date}}"
                                        onfocus="(this.type='date')" />
                                    <label for="Date">Date</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                    placeholder="Scheme *" required title="Compulsory Selection"
                                    formControlName="Scheme">
                                </ng-select>
                                <label>{{ message.Scheme }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Scheme'].invalid && (angForm.controls['Scheme'].dirty || angForm.controls['Scheme'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['Scheme'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="b" [multiple]="false"
                                    placeholder="Account No*" required title="Compulsory Selection"
                                    formControlName="AccountNo">
                                </ng-select>
                                <label>{{ message.AccountNo }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AccountNo'].invalid && (angForm.controls['AccountNo'].dirty || angForm.controls['AccountNo'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['AccountNo'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="StartFrom" required=""
                                        max="9999-12-31" formControlName="StartFrom" value="{{ message.StartFrom}}"
                                        onfocus="(this.type='date')" />
                                    <label for="StartFrom">Start From<sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['StartFrom'].invalid && (angForm.controls['StartFrom'].dirty || angForm.controls['StartFrom'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['StartFrom'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="UptoDate" required=""
                                        max="9999-12-31" formControlName="UptoDate" value="{{ message.UptoDate}}"
                                        onfocus="(this.type='date')" />
                                    <label for="UptoDate">Upto Date</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['UptoDate'].invalid && (angForm.controls['UptoDate'].dirty || angForm.controls['UptoDate'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['UptoDate'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <!-- DROPDOWN HERE -->
                        <!-- <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                    placeholder="Execute On *" required title="Compulsory Selection"
                                    formControlName="ExecuteOn ">
                                </ng-select>
                                <label>{{ message.ExecuteOn }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['ExecuteOn'].invalid && (angForm.controls['ExecuteOn'].dirty || angForm.controls['ExecuteOn'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['ExecuteOn'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="a" [multiple]="false"
                                    placeholder="ExecuteOn *" required title="Compulsory Selection"
                                    formControlName="ExecuteOn">
                                </ng-select>
                                <label>{{ message.ExecuteOn }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['ExecuteOn'].invalid && (angForm.controls['ExecuteOn'].dirty || angForm.controls['ExecuteOn'].touched)"
                                class='alert alert-danger'>
                                <div *ngIf="angForm.controls['ExecuteOn'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="border-checkbox-section">
                                <div class="border-checkbox-group border-checkbox-group-primary">
                                    <input class="border-checkbox" type="checkbox" id="checkbox1"
                                        [checked]="isIsRestrictTransactionEntry == true">
                                    <label class="border-checkbox-label" for="checkbox1">Is Restrict Transaction
                                        Entry?<span class="required"> </span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="To" class="form-control" placeholder=" " id="Particulars"
                                        required="" value="{{ message.Details }}" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="Particulars">
                                    <label for="Particulars">Details <sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Particulars'].invalid && (angForm.controls['Particulars'].dirty || angForm.controls['Particulars'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['Particulars'].errors?.pattern || angForm.controls['Particulars'].errors?.required">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" class="form-control" placeholder=" " id="Date2" required=""
                                        max="9999-12-31" formControlName="Date2" value="{{ message.Date2}}"
                                        onfocus="(this.type='date')" />
                                    <label for="Date2">Revoke Date</label>
                                </span>
                            </div>
                        </div> -->
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light" *ngIf="showButton"
                                [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>