<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5>Sizewise Balance</h5>
            </div>
            <div class="card-block">
                <div class="col-md-12">
                    <perfect-scrollbar style="max-width: 600px; max-height: 450px;">
                        <ul class="basic-list">
                            <li>
                                <h6> <a (click)="OpenLink(1)"
                                        routerLink="/master/PolicySettings/sizewiseBalanceModification"
                                        [ngClass]="{'isActive': depositSizewiseBalanceTrue}" routerLinkActive="active"
                                        class="text-right f-w-600" id="pointer">1. {{'master.Deposite_size_Wise_Balance.Title' | translate}}</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(2)"
                                        routerLink="/master/PolicySettings/sizewiseBalanceModification"
                                        [ngClass]="{'isActive': loanSizewiseBalanceTrue}" routerLinkActive="active"
                                        class="text-right f-w-600" id="pointer">2. {{'master.Loan_size_Wise_Balance.Title' | translate}}</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(3)"
                                        routerLink="/master/PolicySettings/sizewiseBalanceModification"
                                        [ngClass]="{'isActive': commissionSlabMasterTrue}" routerLinkActive="active"
                                        class="text-right f-w-600" id="pointer">3. {{'master.Pigmy_Agent_Commission_Slab_Master.Title' | translate}}</a></h6>
                            </li>
                        </ul>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-block">
            <div *ngIf="depositSizewiseBalanceTrue">
                <app-deposit-size-wise-balance></app-deposit-size-wise-balance>
            </div>
            <div *ngIf="loanSizewiseBalanceTrue">
                <app-loan-size-wise-balance></app-loan-size-wise-balance>
            </div>
            <div *ngIf="commissionSlabMasterTrue">
                <!-- <app-commission-slab-master></app-commission-slab-master> -->
                <app-commissionslabmaster></app-commissionslabmaster>
            </div>
        </div>
    </div>
</div>