<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>TD Receipt Series Master</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form class="form-material">
                <div class="card-block">

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="" pattern="^[A-Za-Z ]+$" title="Input allowed only  A-Z a-z  - / . (Space) ">
                                <span class="form-bar"></span>
                                <label class="float-label">Receipt Type<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="" pattern="^[0-9]+$" title="Input allowed only  0-9 digit">
                                <span class="form-bar"></span>
                                <label class="float-label">Last Receipt No.<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- <button class="btn btn-primary ripple light">Add</button> -->
                            <button class="btn btn-primary ripple light" *ngIf="showButton">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                      
                        </div>
                    </div>
                    
                </div>
            </form>
            <div class="col-12">

                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover compact" style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>