<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>{{'Printing.Action.T1' | translate}}</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    {{'Printing.Action.F1' | translate}} (<sub class="required"> * </sub>) {{'Printing.Action.F2' | translate}}
                </h6>
            </div>
            <form [formGroup]="ngForm" novalidate>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-1"> <label for="scheme">{{'Printing.Action.Branch' | translate}} <sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngbranch"
                                        (change)="getBranch($event)" formControlName="BRANCH_CODE" bindLabel="label"
                                        placeholder="">
                                        <ng-option *ngFor="let values of branchOption" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>

                            <div class="form-group form-primary form-static-label"
                                *ngIf="ngForm.controls['BRANCH_CODE'].invalid && (ngForm.controls['BRANCH_CODE'].dirty || ngForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="ngForm.controls['BRANCH_CODE'].errors?.required">
                                    <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1"> <label for=" Date">{{'Printing.Action.Scheme_Code' | translate}}<sub
                                    class="required">*</sub></label>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select formControlName="Scheme_code" bindValue="value" bindLabel="label"
                                        [(ngModel)]="scode" (change)="getTransferAccountList($event)">
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.id}} {{values.label}} </ng-option> 
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="ngForm.controls['Scheme_code'].invalid && (ngForm.controls['Scheme_code'].dirty || ngForm.controls['Scheme_code'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="ngForm.controls['Scheme_code'].errors?.required">
                                    <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1"> <label for="scheme">{{'Printing.Action.Account_No' | translate}}<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="CUST_ID" bindValue="bankacno"  bindLabel="label" [(ngModel)]="ngAcno"
                                        [virtualScroll]="true" formControlName="CUST_ID"
                                        placeholder="" >
                                        <ng-option *ngFor="let values of startAcNo" [value]="values">
                                             {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="ngForm.controls['CUST_ID'].invalid && (ngForm.controls['CUST_ID'].dirty || ngForm.controls['CUST_ID'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="ngForm.controls['CUST_ID'].errors?.required">
                                    <!-- This field is required --> {{'master.Validation.Val1' | translate}}
                                </div>
                            </div>
                        </div>

                       
                    </div>

                    
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-sm-12 col-md-1">
                            <button class="btn btn-outline-primary btn-sm" value="submit" [disabled]="clicked"
                                (click)="view($event); clicked = true ">{{'Printing.Action.View' | translate}}</button>
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <button type="submit" class="btn btn-outline-primary btn-sm"
                                (click)="close()">{{'Printing.Action.Close' | translate}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>{{'Printing.Action.Report_Frame' | translate}}</h5>
                                </div>
                                <div *ngIf="showRepo">
                                    <app-iframe5 [url]='iframe5url'></app-iframe5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>