<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Term Deposit Account Renewal
            </div>
            <div class="card-body">
                <form [formGroup]="angForm" novalidate>
                    <div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2 labelWidth"> <label for="AC_BRANCH">Branch Code<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select [(ngModel)]="selectedBranch" formControlName="branch_code">
                                            <ng-option *ngFor="let item of branch_code" [value]="item.value">
                                                {{item.label}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['branch_code'].invalid && (angForm.controls['branch_code'].dirty || angForm.controls['branch_code'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['branch_code'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5"></div>
                            <div class="col-sm-12 col-md-1 labelWidth"> <label for="AC_EXPDT">Date</label></div>
                            <div class="col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                            [(ngModel)]="date" [isDisabled]="isture" formControlName="date" disabled>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2 labelWidth"><label for="AC_BRANCH">Scheme Type<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-2">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select [(ngModel)]="selectedCode" (change)="selectedSchemeCode()"
                                            formControlName="scheme_type">
                                            <ng-option *ngFor="let item of allSchemeCode" [value]="item.S_ACNOTYPE">
                                                {{item.S_ACNOTYPE}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['scheme_type'].invalid && (angForm.controls['scheme_type'].dirty || angForm.controls['scheme_type'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['scheme_type'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 labelWidth"> <label for="AC_BRANCH">Scheme<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select [(ngModel)]="selectedScheme" (change)="getIntroducer()"
                                            formControlName="scheme">
                                            <ng-option *ngFor="let item of allScheme" [value]="item">{{item.S_APPL}}
                                                {{item.S_NAME}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['scheme'].invalid && (angForm.controls['scheme'].dirty || angForm.controls['scheme'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['scheme'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-2 labelWidth"><label for="AC_BRANCH">Account No.<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-6">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select [(ngModel)]="customer" formControlName="account_no"
                                            (change)="getVoucherData()">
                                            <ng-option *ngFor="let item of introducerACNo" [value]="item">{{item.AC_NO}}
                                                {{item.AC_NAME}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['account_no'].invalid && (angForm.controls['account_no'].dirty || angForm.controls['account_no'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['account_no'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="solid">
                            <h1><span>Previous Details</span></h1>
                            <div class="row">
                                <div class="col-md-2 labelWidth">
                                    <label>Deposit Amount</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly style="text-align: right;"
                                                value="{{customer?.AC_SCHMAMT}}" formControlName="old_deposit_Amt">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>A/c Open Date</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly 
                                                value="{{customer?.AC_OPDATE}}" formControlName="old_Ac_op_date">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>Maturity Date</label>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly 
                                                value="{{customer?.AC_EXPDT}}" formControlName="old_ac_expdt">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 labelWidth">
                                    <label>Maturity Amount</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly style="text-align: right;"
                                                value="{{customer?.AC_MATUAMT}}" formControlName="old_ac_matuamt">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>As On Date</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly
                                                value="{{customer?.AC_ASON_DATE}}" formControlName="old_ac_ason_date">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>Receipt No</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly style="text-align: right;"
                                                value="{{customer?.AC_REF_RECEIPTNO}}" formControlName="old_receipt_no">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 labelWidth">
                                    <label>Months & Days</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly style="text-align: right;"
                                                value="{{customer?.AC_MONTHS}}" formControlName="old_month">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>Int. Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly style="text-align: right;"
                                                value="{{customer?.AC_INTRATE}}" formControlName="old_intrate">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>Total Int. Paid</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" readonly value="0" formControlName="old_total_int_paid">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 labelWidth">
                                    <label>Last Intrest Date</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" readonly
                                                value="{{customer?.AC_LINTEDT}}" formControlName="old_last_int_date">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>Interest Category</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" disabled style="text-align: right;"
                                                value="{{customer?.AC_INTCATA}}" formControlName="old_int_cate">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 labelWidth">
                                    <label>Last Trn Date</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" disabled
                                                value="{{customer?.AC_ACTDATE}}" formControlName="old_last_trn_date">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="solid">
                            <h1><span>Interest Status</span></h1>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="checkbox checkbox-primary">
                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                            <input  type="checkbox" class="border-checkbox" id="AC_IS_RECOVERY"
                                                formControlName="NormalInt" (click)="normalCheck($event)">
                                            <label class="border-checkbox-label" for="AC_IS_RECOVERY">Normal
                                                Interest</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2 labelWidth"> <label for="AC_EXPDT">Interest Upto</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                                formControlName="IntUpto" [isDisabled]="NormalCheck" [(ngModel)]="InterestDate">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-1 labelWidth"> <label for="AC_EXPDT">Interest</label></div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" [disabled]="NormalCheck" formControlName="NormalInt">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-radio">
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" (click)="changeNormal($event)" name="DEBIT"
                                                    [disabled]="NormalCheck" formControlName="NormalIntRadio"
                                                    value="cash" >
                                                <i class="helper"></i>Cash </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" (click)="changeNormal($event)" name="DEBIT"
                                                    [disabled]="NormalCheck" formControlName="NormalIntRadio"
                                                    value="AddInDeposit">
                                                <i class="helper"></i>Add In Deposit </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" (click)="changeNormal($event)" name="DEBIT"
                                                    [disabled]="NormalCheck" formControlName="NormalIntRadio"
                                                    value="transfer">
                                                <i class="helper"></i>Transfer </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" (click)="changeNormal($event)" name="DEBIT"
                                                    [disabled]="NormalCheck" formControlName="NormalIntRadio"
                                                    value="keepaspayable">
                                                <i class="helper"></i>Keep As Payable </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="transferShowNormal">
                                <div class="col-sm-12 col-md-2 labelWidth"><label for="AC_BRANCH">Scheme Type<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-1">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="selectedCodeNormal" (change)="selectedSchemeCodeNormal()"
                                                formControlName="normal_scheme_type">
                                                <ng-option *ngFor="let item of allSchemeCodeNormal" [value]="item.S_ACNOTYPE">
                                                    {{item.S_ACNOTYPE}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['normal_scheme_type'].invalid && (angForm.controls['normal_scheme_type'].dirty || angForm.controls['normal_scheme_type'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['normal_scheme_type'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-1 labelWidth"> <label for="AC_BRANCH">Scheme<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="selectedSchemeNormal" (change)="getIntroducerNormal()"
                                                formControlName="normal_scheme">
                                                <ng-option *ngFor="let item of allSchemeNormal" [value]="item">{{item.S_APPL}}
                                                    {{item.S_NAME}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['normal_scheme'].invalid && (angForm.controls['normal_scheme'].dirty || angForm.controls['normal_scheme'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['normal_scheme'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2 labelWidth"><label for="AC_BRANCH">Account No.<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-3">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="customerNormal" formControlName="normal_account_no"
                                                (change)="getVoucherData()">
                                                <ng-option *ngFor="let item of introducerACNoNormal" [value]="item">
                                                    {{item.AC_NO}} {{item.AC_NAME}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['normal_account_no'].invalid && (angForm.controls['normal_account_no'].dirty || angForm.controls['normal_account_no'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['normal_account_no'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="checkbox checkbox-primary">
                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                            <input type="checkbox" class="border-checkbox" id="AC_IS_RECOVERY1"
                                                formControlName="NormalInt" (click)="payableInt($event)">
                                            <label class="border-checkbox-label" for="AC_IS_RECOVERY1">Payable
                                                Interest</label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-1"> <label for="AC_EXPDT">Payable Int</label></div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="payableInt" [disabled]="PayableCheck">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-radio">
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" name="DEBIT1" formControlName="PayableIntRadio"
                                                    (click)="payableStatus($event)" value="cash">
                                                <i class="helper"></i>Cash </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" name="DEBIT1" formControlName="PayableIntRadio"
                                                    (click)="payableStatus($event)" value="AddInDeposit">
                                                <i class="helper"></i>Add In Deposit </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label>
                                                <input type="radio" name="DEBIT1" formControlName="PayableIntRadio"
                                                    (click)="payableStatus($event)" value="transfer">
                                                <i class="helper"></i>Transfer </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="payableTranferShow">
                                <div class="col-sm-12 col-md-2 labelWidth"><label for="AC_BRANCH">Scheme Type<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-1">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="selectedCodePayable" (change)="selectedSchemeCodePayable()"
                                                formControlName="payable_scheme_type">
                                                <ng-option *ngFor="let item of allSchemeCodePayable" [value]="item.S_ACNOTYPE">
                                                    {{item.S_ACNOTYPE}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['payable_scheme_type'].invalid && (angForm.controls['payable_scheme_type'].dirty || angForm.controls['payable_scheme_type'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['payable_scheme_type'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-1 labelWidth"> <label for="AC_BRANCH">Scheme<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="selectedSchemePayable" (change)="getIntroducerPayable()"
                                                formControlName="payable_scheme">
                                                <ng-option *ngFor="let item of allSchemePayable" [value]="item">{{item.S_APPL}}
                                                    {{item.S_NAME}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['payable_scheme'].invalid && (angForm.controls['payable_scheme'].dirty || angForm.controls['payable_scheme'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['payable_scheme'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2 labelWidth"><label for="AC_BRANCH">Account No.<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-3">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="customerPayable" formControlName="payable_account_no"
                                                (change)="getVoucherData()">
                                                <ng-option *ngFor="let item of introducerACNoPayable" [value]="item">
                                                    {{item.AC_NO}} {{item.AC_NAME}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['payable_account_no'].invalid && (angForm.controls['payable_account_no'].dirty || angForm.controls['payable_account_no'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="angForm.controls['payable_account_no'].errors?.required">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <br>
                        <div class="solid">
                            <h1><span>Renewal Details</span></h1>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Renewal Tran No.</label>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="renewal_tran_no">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2"> <label for="AC_BRANCH">Interest Category<sub
                                            class="required">*</sub></label></div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        <span class="border-lable-flt">
                                            <ng-select [(ngModel)]="selectedIntCate" formControlName="new_category">
                                                <ng-option *ngFor="let item of InterestCategoryData" [value]="item.id">
                                                    {{item.NAME}}</ng-option>
                                            </ng-select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-12 col-md-1"> <label for="AC_EXPDT">As On Date</label></div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                                formControlName="new_ason_date" [(ngModel)]="renewalAsOnDate">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Months & Days</label>
                                </div>
                                <div class="col-md-1 col-sm-6">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="new_month">
                                        </span>
                                    </div>
                                </div>
                                <!-- <span>&</span> -->
                                <div class="col-md-1 col-sm-6">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" class="form-control" formControlName="new_day">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>Total Days =</label>
                                </div>
                                <div class="col-md-3">{{TotalDays}}</div>
                                <div class="col-md-1">
                                    Receipt No.
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="new_receipt">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Deposit Amount
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="new_deposit">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    Rate
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="new_rate">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-sm-12 col-md-2"> <label for="AC_EXPDT">New Last Interest Date</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                                formControlName="new_last_date">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Maturity Amount
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" class="form-control" formControlName="new_maturity_amt">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2"> <label for="AC_EXPDT">Maturity Date</label></div>
                                <div class="col-md-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                                                formControlName="new_matu_date">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="btn btn-sm" (click)="submit()">Submit</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>