<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Gold Silver Return Entry</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="table-responsive">
                                            <table id="transactiontable" datatable [dtOptions]="dtExportButtonOptions"
                                                class="table table-striped table-bordered table-hover compact">
                                                <tbody *ngIf="goldSilverReturnEntryData?.length != 0">
                                                    <tr *ngFor="let data of goldSilverReturnEntryData">
                                                        <td>
                                                            <span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                                placement="bottom" ngbTooltip="Edit"
                                                                (click)="modalLarge.show();getGoldSilverReturnEntryData(data)"></span>
                                                        </td>
                                                        <td [ngClass]="data.AC_NO === '' ? 'td_center' : 'td_right'">
                                                            {{ data.AC_NO === "" ? "-" : data.AC_NO }}
                                                        </td>

                                                        <td
                                                            [ngClass]="data.RETURN_DATE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.RETURN_DATE === "" ? "-" : data.RETURN_DATE }}
                                                        </td>

                                                        <td
                                                            [ngClass]="data.USER_CODE === '' ? 'td_center' : 'td_right'">
                                                            {{ data.USER_CODE === "" ? "-" :
                                                            data.USER_CODE }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="goldSilverReturnEntryData?.length == 0">
                                                    <tr>
                                                        <td colspan="7" class="no-data-available">No data!</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot #filters class="filters">
                                                    <tr class="testing">
                                                        <th></th>
                                                        <th><input type="text" class="form-control" name="AC_NO"></th>
                                                        <th><input type="text" class="form-control" name="RETURN_DATE">
                                                        </th>
                                                        <th><input type="text" class="form-control" name="USER_CODE">
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-basic #modalLarge [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
        <h4 class="modal-title">Gold Silver Return Entry</h4>
        <button type="button" class="close basic-close" (click)="modalLarge.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <perfect-scrollbar style="overflow-y: auto;">
            <app-gold-silver-return-entry [childMessage]="goldsilverentry"
                (reloadTablePassing)="reloadTable()"></app-gold-silver-return-entry>
        </perfect-scrollbar>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" #triggerhide
            (click)="modalLarge.hide();">Close</button>
    </div>
</app-modal-basic>