<div class="row">
    <div class="col-md-8">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Cash Initialisation Denomination</h5>
                        <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                            Fields marked with (<sub class="required"> * </sub>) are mandatory
                        </h6>
                    </div>
                    <form [formGroup]="angForm" novalidate>
                        <div class="card-block">
                            <div class="solid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"> <label for="TRAN_DATE">Denomination Transaction Date<sub class="required">*</sub></label></div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" name="TRAN_DATE"
                                                    id="TRAN_DATE" class="form-control" formControlName="TRAN_DATE"
                                                    disabled>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['TRAN_DATE'].invalid && (angForm.controls['TRAN_DATE'].dirty || angForm.controls['TRAN_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['TRAN_DATE'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">Branch<sub class="required">*</sub></label></div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select id="d/c" [(ngModel)]="SelectedBranch" formControlName="Branch"
                                                    bindLabel="label" bindValue="name" title="Compulsory Selection"
                                                    placeholder="">
                                                    <ng-option *ngFor="let values of branch_list" [value]="values.value">
                                                        {{values.label}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['Branch'].invalid && (angForm.controls['Branch'].dirty || angForm.controls['Branch'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['Branch'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">Cashier<sub class="required">*</sub></label></div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select [(ngModel)]="Cashier" formControlName="cashier_data"
                                                    title="Compulsory Selection" placeholder="">
                                                    <ng-option *ngFor="let values of cashier_list" [value]="values" [disabled]="values.CASHIER_CODE =='SAFE VALUT' && values.TOTAL_AMOUNT == 0 ? true : false">{{values.CASHIER_CODE}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['cashier_data'].invalid && (angForm.controls['cashier_data'].dirty || angForm.controls['cashier_data'].touched)" class="alert alert-danger">
                                            <div *ngIf="angForm.controls['cashier_data'].errors?.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 col-md-2"> <label for="DENOMINATION_AMT">Denomination Amount<sub class="required">*</sub></label></div>
                                    <div class="col-md-4">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" style="text-align: right;" maxlength="12"
                                                    pattern="\d{1,20}(\.\d{1,2})?" class="form-control"
                                                    formControlName="DENOMINATION_AMT"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                                                    (keyup)="decimalAllContent($event)"(keyup)="isFormA(2)">
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['DENOMINATION_AMT'].invalid && (angForm.controls['DENOMINATION_AMT'].dirty || angForm.controls['DENOMINATION_AMT'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['DENOMINATION_AMT'].errors?.required">
                                                Input allowed only 0-9.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xm-12">
        <div class="row"  id="FORMA" *ngIf="DenominationChart">
            <div class="card" style="width: 550px;">
                <div class="card-header">
                    <h5>Cash in Denomination</h5>
                </div>
                <div class="card-block">
                    <div class="solid">
                        <table>
                            <tr *ngFor="let data of currencyData; let indexOfelement = index">
                                <td class="td_center">{{data.currency}} X</td>
                                <td><input type="text"  style="width:100px;" (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                                    (keyup)="calculation(data,indexOfelement,$event)" value="{{data.qty}}">=</td>
                                <td><input type="text"  style="width:100px;" value="{{data.total}}" disabled></td>
                                <!-- <td><input type="text" value="{{data.available}}"></td> -->
                            </tr>
                            <div></div>
                            <div class="h" style="width: 100px;"></div>
                            <div></div>
                            <tr>
                                <td align="right">
                                    Total Cash :
                                </td>
                                <td>
                                    <input type="text" value="{{sum}}"  style="width:100px;">
                                </td>
                            </tr>
                           
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm" (click)="submit()">
                                Submit
                            </button>
                            <button class="btn btn-outline-primary btn-sm">
                                Accept
                            </button>
                            <button class="btn btn-outline-primary btn-sm">
                                Close
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>