

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Member Loan Demand Application</h5>
            </div>
            <form class="form-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Demand Appl. No<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <input placeholder="Loan Demand Date *" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />

                        </div>
                        <div class="col-sm">
                            <input placeholder="Meeting Date *" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />

                        </div>
                    </div>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Scheme Type<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">shares Scheme Code<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Member No<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-block">
                    
                    <p>Demand Details</p>
                
                    </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Demand Scheme<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Demand Amount<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Basic + DA<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Total Salary<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                </div>
               
                
                <div class="card-block">
                    <div class="row">
                        
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Total Deduction<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Int. Rate<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Loan Period<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Actual Sanction Amount<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                </div>
               


                <div class="card-block">
                    <div class="row">
                        
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Sanstha Shifars<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Purpose of loan<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Old Loan Dues<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Guranter 1<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                </div>
               


                
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Shares Deductions<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Guranter 2<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Deposits<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Other Sanstha Name<span class="required"> *</span></label>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="card-block">
                    <div class="row">
                       
                        <div class="col-sm-3">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Other Sanstha Deduction<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-primary ripple light">Add</button>
                        </div>
                       
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-lg-9">

                    </div>
                <div class="col-sm">
                <h6><span class="required">* </span>: Required Fields</h6>
            </div>
            </div>


            </form>
             <!-- Datatable -->
             <div class="card-block">
                <p>Previous Loan Details</p>
              </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>