<!-- Anamat / General Sub Master -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Anamat/General Sub Master</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <div class="card-block">
                <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                    <div class="row">
                     
                         <div class="col-md">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="scheme" [multiple]="false" placeholder="Scheme" formControlName="AC_TYPE">
                                </ng-select>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div> 
                        <div class="col-md">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="Ac_NO" [multiple]="false"
                                    placeholder="Account No " formControlName="Ac_NO">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="CustomerID" [multiple]="false" required
                                    placeholder="Customer ID*" formControlName="AC_CUSTID">
                                </ng-select>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_CUSTID'].invalid && (angForm.controls['AC_CUSTID'].dirty || angForm.controls['AC_CUSTID'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_CUSTID'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="titleOption" name="AC_TITLE"
                                    [multiple]="false" placeholder="Title*" required title="Compulsory Selection"
                                    formControlName="AC_TITLE">
                                </ng-select>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TITLE'].invalid && (angForm.controls['AC_TITLE'].dirty || angForm.controls['AC_TITLE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TITLE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Name" class="form-control" placeholder=" " id="AC_NAME"
                                        required="" value="" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="AC_NAME">
                                    <label for="AC_NAME">Name <sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_NAME'].invalid && (angForm.controls['AC_NAME'].dirty || angForm.controls['AC_NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['AC_NAME'].errors?.pattern || angForm.controls['AC_NAME'].errors?.required">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AC_MEMBTYPE" class="form-control" placeholder=" "
                                        id="AC_MEMBTYPE" value="" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="AC_MEMBTYPE">
                                    <label for="AC_MEMBTYPE">Member Scheme</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_MEMBTYPE'].invalid && (angForm.controls['AC_MEMBTYPE'].dirty || angForm.controls['AC_MEMBTYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_MEMBTYPE'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AC_MEMBNO" class="form-control" placeholder=" "
                                        id="AC_MEMBNO" value="" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="AC_MEMBNO">
                                    <label for="AC_MEMBNO">Member Number</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_MEMBNO'].invalid && (angForm.controls['AC_MEMBNO'].dirty || angForm.controls['AC_MEMBNO'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_MEMBNO'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="House" class="form-control"
                                        placeholder=" " id="House"
                                        value=""
                                        pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="House">
                                    <label for="House">House</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['House'].invalid && (angForm.controls['House'].dirty || angForm.controls['House'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['House'].errors?.pattern">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Ward" class="form-control"
                                        placeholder=" " id="Ward" value=""
                                        pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="Ward">
                                    <label for="Ward">Ward</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['Ward'].invalid && (angForm.controls['Ward'].dirty || angForm.controls['Ward'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['Ward'].errors?.pattern">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <textarea type="text" name="Detail" class="form-control"
                                        placeholder=" " pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        id="Detail" value=""
                                        formControlName="Detail"></textarea>
                                    <label for="Detail">Detail</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['Detail'].invalid && (angForm.controls['Detail'].dirty || angForm.controls['Detail'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['Detail'].errors?.pattern">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Galli" class="form-control"
                                        placeholder=" " id="Galli"
                                        value=""
                                        pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="Galli">
                                    <label for="Galli">Galli</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['Galli'].invalid && (angForm.controls['Galli'].dirty || angForm.controls['Galli'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['Galli'].errors?.pattern">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="d" [multiple]="false" placeholder="City" required title="Compulsory Selection" formControlName="City">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Area" class="form-control"
                                        placeholder=" " id="Area" value=""
                                        pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)"
                                        formControlName="Area">
                                    <label for="Area">Area</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['Area'].invalid && (angForm.controls['Area'].dirty || angForm.controls['Area'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['Area'].errors?.pattern">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="City" class="form-control" placeholder=" " id="City"
                                        value="" pattern="^[0-9]+$" title="Input allowed only  0-9"
                                        formControlName="City">
                                    <label for="City">City</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['City'].invalid && (angForm.controls['City'].dirty || angForm.controls['City'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['City'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Pincode" class="form-control" placeholder=" " id="Pincode"
                                        value="" pattern="^[0-9]+$" title="Input allowed only  0-9"
                                        formControlName="Pincode">
                                    <label for="Pincode">Pincode</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Pincode'].invalid && (angForm.controls['Pincode'].dirty || angForm.controls['Pincode'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Pincode'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div> 

                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AC_OPDATE" class="form-control" placeholder=" " required=""
                                        value="" max="9999-12-31" id="date"
                                        onfocus="(this.type='date')" formControlName="AC_OPDATE">
                                    <label for="date">Open Date <sub class="required">*</sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_OPDATE'].invalid && (angForm.controls['AC_OPDATE'].dirty || angForm.controls['AC_OPDATE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_OPDATE'].errors?.required">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="border-checkbox-section">
                                <div class="border-checkbox-group border-checkbox-group-primary">
                                    <input class="border-checkbox" type="checkbox" id="Recovery" value="checkbox"
                                        [checked]="isRecovery == true" formControlName="Recovery">
                                    <!--Default unchecked-->
                                    <label class="border-checkbox-label" for="Recovery">Recovery</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="Debit" [checked]="isDebit == true" formControlName="Debit" value="Debit" checked>
                                        <!--Default checked-->
                                        <i class="helper"></i>Debit
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" name="Debit" [checked]="isDebit == false" formControlName="Debit" value="Credit">
                                        <!--Default unchecked-->
                                        <i class="helper"></i>Credit
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="AC_PARTICULAR" class="form-control" placeholder=" " id="AC_PARTICULAR"
                                        value="" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="AC_PARTICULAR">
                                    <label for="AC_PARTICULAR">Reason</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_PARTICULAR'].invalid && (angForm.controls['AC_PARTICULAR'].dirty || angForm.controls['AC_PARTICULAR'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_PARTICULAR'].errors?.pattern">
                                    Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary ripple light" *ngIf="showButton"
                                [disabled]="angForm.invalid">Add</button>
                            <button class="btn btn-primary ripple light" (click)="updateData()"
                                *ngIf="updateShow">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                                <tbody *ngIf="anamat?.length != 0">
                                    <tr *ngFor="let data of anamat">
                                        <td><button class="btn btn-outline-primary btn-sm" id="editbtn" (click)="editClickHandler(data.id)">Edit</button> &nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                    
                                        <td>{{ data.AC_ACNOTYPE }}</td>
                                        <td>{{ data.AC_TYPE }}</td>
                                        <td>{{ data.AC_NO }}</td>
                                        <td>{{ data.AC_CUSTID }}</td>
                                        <td>{{ data.AC_TITLE }}</td>
                                        <td>{{ data.AC_NAME }}</td>
                                        <td>{{ data.AC_MEMBTYPE }}</td>
                                        <td>{{ data.AC_MEMBNO }}</td>
                                        <td>{{ data.House }}</td>
                                        <td>{{ data.Ward }}</td> 
                                        <td>{{ data.Detail }}</td> 
                                        <td>{{ data.Galli }}</td> 
                                        <td>{{ data.Area }}</td> 
                                        <td>{{ data.City }}</td> 
                                        <td>{{ data.Pincode }}</td> 
                                        <td>{{ data.AC_OPDATE }}</td> 
                                        <td>{{ data.Recovery }}</td> 
                                        <td>{{ data.Debit }}</td> 
                                       
                                        <td>{{ data.AC_PARTICULAR }}</td> 
                                    </tr>
                                </tbody>
                                <tbody *ngIf="anamat?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <!-- <th><input type="text" placeholder="Search scheme" name="AC_ACNOTYPE"></th> -->
                                        <th><input type="text" placeholder="Search scheme" name="AC_TYPE"></th>
                                        <th><input type="text" placeholder="Search Account no" name="AC_NO"></th>
                                        <th><input type="text" placeholder="Search CustomerID" name="AC_CUSTID"></th>
                                        <th><input type="text" placeholder="Search title" name="AC_TITLE"></th>
                                        <th><input type="text" placeholder="Search name" name="AC_NAME"></th>
                                        <th><input type="text" placeholder="Search Member scheme" name="AC_MEMBTYPE"></th>
                                        <th><input type="text" placeholder="Search Member no" name="AC_MEMBNO"></th>
                                        <th><input type="text" placeholder="Search House" name="House"></th>
                                        <th><input type="text" placeholder="Search Ward" name="Ward"></th>
                                        <th><input type="text" placeholder="Search Detail" name="Detail"></th>
                                        <th><input type="text" placeholder="Search Galli" name="Galli"></th>
                                        <th><input type="text" placeholder="Search Area" name="Area"></th>
                                        <th><input type="text" placeholder="Search City" name="City"></th>
                                        <th><input type="text" placeholder="Search Pincode" name="Pincode"></th>
                                        <th><input type="text" placeholder="Search opening bal. date" name="AC_OPDATE"></th>
                                        <th><input type="text" placeholder="Search Recovery" name="Recovery"></th>
                                        <th><input type="text" placeholder="Search opening bal" name="Debit"></th>
                                        <th><input type="text" placeholder="Search opening bal" name="Debit"></th>
                                        <th><input type="text" placeholder="Search AC_PARTICULAR" name="AC_PARTICULAR"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>