<!-- Change Password -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Change Password</h5>
            </div>
            <form class="form-material" action="javascript:">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Current Password<span class="required"> *</span></label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">New Password<span class="required"> *</span></label>
                            </div>
                        </div>  
                        <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <input type="text" name="footer-email" class="form-control" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Retype Password<span class="required"> *</span></label>
                            </div>
                        </div>   
                        <div class="col-sm-2">
                            <button class="btn btn-primary ripple light">Ok</button>
                        </div>                                             
                    </div> 
                    <div class="row">
                        <div class="col-lg-9">
                        
                          </div>
                           <div class="col-sm">
                             <h6><span class="required">* </span>: Required Fields</h6>
                          </div>
                       </div>                                      
                </div>
            </form>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtExportButtonOptions"
                                class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>