/* You can add global styles to this file, and also import other style files */

.odd {
    display: none;
}

ng-select.ng-select>div>div.single {
    background-color: white;
    color: black;
    padding: 1px 20px 6px 11px !important;
    border-radius: 4px;
    height: auto;
}