/* You can add global styles to this file, and also import other style files */

.odd {
    display: none;
}

ng-select.ng-select>div>div.single {
    background-color: white;
    color: black;
    padding: 1px 20px 6px 11px !important;
    border-radius: 4px;
    height: auto;
}

#custicon {
    z-index: 1000;
    left: 90%;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #4680ff;
}

//show entry float right css
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
  }
  .dataTables_wrapper .dataTables_length {
    float: right;
  }
