/* You can add global styles to this file, and also import other style files */

.odd {
    display: none;
}

ng-select.ng-select>div>div.single {
    background-color: white;
    color: black;
    padding: 1px 20px 6px 11px !important;
    border-radius: 4px;
    height: 3em;
}

#custicon {
    z-index: 1000;
    left: 90%;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #4680ff;
}

//show entry float right css
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
  }
  .dataTables_wrapper .dataTables_length {
    float: right;
  }
  
   input[type="text"]:focus , se {
      border: 2px solid green;
      outline: none;
     }
     
     ng-select:focus {
        border: 2px solid green;
        outline: none;
    }

    input[type="date"]:focus {
        border: 2px solid green;
        outline: none;
    }

    input[type="checkbox"]:focus {
        border: 2px solid green;
        outline: none;
    }
    input[type="email"]:focus {
        border: 2px solid green;
        outline: none;
    }

    // .below:focus{
    //     border: 2px solid green;
    //     outline: none;
    // }
    // .checkbox input[type="checkbox"]:focus + label::before {
    //     outline: solid green;
    //     outline: 5px auto -webkit-focus-ring-color;
    //     outline-offset: +5px;
    //   }

    // .border-checkbox-label:focus{
    //     border: 2px solid green;
    //     outline: none;
    // }
    // .border-checkbox::after {
    //     margin-left: 25px;
    //     border: 2px solid blue;
    //   }
      
    //   input[type="checkbox"]:focus-visible {
    //     outline-offset: 2px;
    //     outline: -webkit-focus-ring-color auto 1px;
    // }
      
// input[type=checkbox] {
// 	opacity: 0;
//   }
  
//   input[type=checkbox]:focus {
// 	 opacity: 5;
//   }

    // .form-a:focus{
    //     border: 2px solid #0f87f7;
    //     outline: blue;
    // }
    // .form-primary:focus{
    //     border: 2px solid #0f87f7;
    //     outline: blue;
    // }
    // .ng-select:focus-visible{
    //     border: 2px solid #0f87f7;
    //     outline: blue;
    // }

    // *:focus{
    //     border: 2px solid green !important;
    //     outline: none;
    // }
    .ng-valid.ng-dirty:not(form) {
        border: solid 2px green;
      }
      
      .ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
        border: solid 2px lightcoral;
      }