<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Day Begin</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="DATE">Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" [(ngModel)]="ngdate" name="DATE"
                                        class="form-control" formControlName="DATE" disabled>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-outline-primary btn-sm">Day Begin</button>
                            <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>