<div class="row">

    <div class="col-md-12">

        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header">
                        <h5>Monthly Recovery Posting</h5>
                        <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                            Fields marked with (<sub class="required"> * </sub>) are mandatory
                        </h6>

                    </div>

                    <div class="card-body">
                        <form [formGroup]="angForm" novalidate>

                            <div class="solid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"> <label for="date">Transaction Date<sub
                                                class="required">*
                                            </sub></label></div>
                                    <div class="col-sm-2 ">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <input type="text" placeholder="dd/mm/yyyy" class="form-control"
                                                    formControlName="TRAN_DATE" [bsValue]="bsValue"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47" bsDatepicker required>
                                            </span>
                                        </div>
                                        <div class="form-group input-group"
                                            *ngIf="angForm.controls['TRAN_DATE'].invalid && (angForm.controls['TRAN_DATE'].dirty || angForm.controls['TRAN_DATE'].touched)"
                                            class="alert alert-danger">
                                            <div
                                                *ngIf="angForm.controls['TRAN_DATE'].errors?. maxlength || angForm.controls['TRAN_DATE'].errors?. minlength || angForm.controls['TRAN_DATE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2"> <label for="DR_G_L_SCHEME">Debit.G.L.Scheme
                                            <sub class="required"> * </sub></label></div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select formControlName="DR_G_L_SCHEME" bindValue="value"
                                                    [(ngModel)]="ngscheme" bindLabel="label" (change)="getAccountList()"
                                                    title="Compulsory Selection" placeholder="Debit.G.L.Scheme">
                                                    <ng-option *ngFor="let values of scheme" [value]="values">
                                                        {{values.label}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['DR_G_L_SCHEME'].invalid && (angForm.controls['DR_G_L_SCHEME'].dirty || angForm.controls['DR_G_L_SCHEME'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['DR_G_L_SCHEME'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-sm-12 col-md-3"> <label for="DR_G_L_CODE">Debit.G.L.Code
                                            <sub class="required"> * </sub></label></div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-primary form-static-label">
                                            <span class="border-lable-flt">
                                                <ng-select formControlName="DR_G_L_CODE" [(ngModel)]="ngtoac"
                                                    bindLabel="label" title="Compulsory Selection"
                                                    placeholder="Debit.G.L.Code">
                                                    <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                                        {{values.AC_NO}} {{values.AC_NAME}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                        <div class="form-group form-primary form-static-label"
                                            *ngIf="angForm.controls['DR_G_L_CODE'].invalid && (angForm.controls['DR_G_L_CODE'].dirty || angForm.controls['DR_G_L_CODE'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="angForm.controls['DR_G_L_CODE'].errors?.required">
                                                This field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-2  "><label for="AC_PARTICULAR">Particulars</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group input-group">
                                            <span class="border-lable-flt">
                                                <textarea class="form-control" formControlName="particulars"
                                                    [(ngModel)]="particulars"></textarea>
                                                <i class="fa fa-info-circle errspan" (click)="modalLarge.show()"></i>
                                            </span>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm" style="float: right;">

                                        <button class="btn btn-outline-primary btn-sm" (click)="submit()">
                                            Posting</button>
                                    </div>

                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-modal-basic #modalLarge [dialogClass]="'modal-md'">
        <div class="app-modal-header">
            <h4 class="modal-title">Narration Master</h4>
            <button type="button" class="close basic-close" (click)="modalLarge.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
            <perfect-scrollbar style="overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <th>Paticulars</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of narrationList" (click)="getNarration(item.NARRATION)">
                                    {{item.NARRATION}}
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" style="display: none;" class="btn btn-outline-primary btn-sm" #triggerhide
                            (click)="modalLarge.hide()">Close</button>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <!-- <div class="app-modal-footer">
              
            </div> -->
    </app-modal-basic>