<div class="row">
    <div class="col-12">
        <div class="card">
            <form class="dorm-material">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Recovery Sequence</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                                <thead>
                                    <td>Serial Number</td>
                                    <td>Scheme Code</td>
                                    <td>Scheme Name</td>
                                    <td>Recovery Field</td>
                                    <td>Recovery ACTYPE</td>
                                    <td>Recovery ACNO</td>
                                    <td>Is Applicable</td>
                                    <td>Up / Down</td>
                                    <td>Action</td>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of recovery_list;let i=index">
                                        <!-- <td>{{item.S_APPL}}</td>
                                        <td>{{item.S_NAMEb }}</td> -->

                                        <td *ngIf="item.delete!=1">
                                            {{i+1}}
                                        </td>

                                        <td *ngIf="item.delete!=1"><input type="text" class="form-control"
                                                value="{{item.S_APPL}}" [(ngModel)]="SAPPL">
                                            </td>

                                        <td *ngIf="item.delete!=1"><input type="text" class="form-control"
                                                value="{{item.S_NAME}}" [(ngModel)]="SNAME">
                                            </td>

                                        <td *ngIf="item.delete!=1"><input type="text" class="form-control"
                                                value="{{item.RECOVERT_FIELD}}" [(ngModel)]="RECOVERTFIELD">
                                            </td>

                                        <td *ngIf="item.delete!=1"><input type="text" class="form-control"
                                                value="{{item.RECOVERT_ACTYPE}}"></td>
                                        <td *ngIf="item.delete!=1"><input type="text" class="form-control"
                                                value="{{item.RECOVERT_ACNO}}"></td>
                                        <td *ngIf="item.delete!=1"><input type="checkbox"
                                                (click)="isApplicableCondition($event,item,i)"
                                                (keyup)="addPeriodRow(i);"></td>
                                        <td *ngIf="item.delete!=1"><i class="fa fa-arrow-circle-up" (click)="upSide(i)"
                                                style="font-size: 16px;margin-right: 10px;color: green;"></i> <i
                                                class="fa fa-arrow-circle-down" (click)="downSide(i)"
                                                style="font-size: 16px;color: red;"></i></td>
                                        <td *ngIf="item.delete!=1"><span class=" badge badge-pill  badge-danger"
                                                (click)="deletePeroidRow(i)" style='cursor: pointer;'>Remove</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <button class="btn btn-outline-primary btn-sm" (click)="submitSequence()">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>