<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Deposit Interest Rate (Multi Slab)</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm">
                            <!-- <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="schemetype" [multiple]="false" placeholder="Scheme*" required title="Compulsory Selection" formControlName="ACNOTYPE">
                                </ng-select>
 
                            </div> -->
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="ACNOTYPE" appTheme bindValue="value" [(ngModel)]="ngscheme"
                                        formControlName="ACNOTYPE" bindLabel="label" title="Compulsory Selection"
                                        [virtualScroll]="true" [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="Scheme" #scheme1 (focus)="onFocus(scheme1)" [selectOnTab]='true'
                                        autofocus>
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="ACNOTYPE">Scheme<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['ACNOTYPE'].invalid && (angForm.controls['ACNOTYPE'].dirty || angForm.controls['ACNOTYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['ACNOTYPE'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="intrestCategoryMaster" [multiple]="false" placeholder="Int.Category *" required title="Compulsory Selection" formControlName="INT_CATEGORY">
                                </ng-select>

                            </div> -->
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="INT_CATEGORY" appTheme bindValue="value" [(ngModel)]="ngintcat"
                                        formControlName="INT_CATEGORY" bindLabel="label" title="Compulsory Selection"
                                        [virtualScroll]="true" [ngClass]="{'form-submitted': formSubmitted}" required
                                        placeholder="Interest Category" #intcat (focus)="onFocus(intcat)"
                                        [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of intrestCategoryMaster" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    <label for="INT_CATEGORY">Interest Category<sub class="required"> * </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['INT_CATEGORY'].invalid && (angForm.controls['INT_CATEGORY'].dirty || angForm.controls['INT_CATEGORY'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['INT_CATEGORY'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input type="text" name="SERIAL_NO" class="form-control" placeholder=" "
                                                pattern="\d{1,20}(\.\d{2})?" id="SERIAL_NO" maxlength="20" disabled
                                                title="Input allowed only  0-9" formControlName="SERIAL_NO">
                                            <label for="SERIAL_NO">Sr.No.
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3
                                ">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <!-- <input type="date" name="EFFECT_DATE" class="form-control" placeholder=" "
                                                id="EFFECT_DATE" max="9999-12-31" onfocus="(this.type='date')"
                                                formControlName="EFFECT_DATE"> -->
                                            <input type="text" placeholder="dd/mm/yyyy" name="EFFECT_DATE"
                                                id="EFFECT_DATE" class="form-control" [(ngModel)]="effectdate"
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [maxDate]="maxDate"
                                                [ngClass]="{'form-submitted': formSubmitted}"
                                                formControlName="EFFECT_DATE"
                                                (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                bsDatepicker #EFFECT_DATE="bsDatepicker"
                                                (keydown.Tab)="EFFECT_DATE.hide()" autofocus>
                                            <label for="EFFECT_DATE">Effect Date</label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['EFFECT_DATE'].invalid && (angForm.controls['EFFECT_DATE'].dirty || angForm.controls['EFFECT_DATE'].touched)"
                                        class="alert alert-danger">
                                        <div *ngIf=" angForm.controls['EFFECT_DATE'].errors?.required ">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group input-group">
                                        <span class="border-lable-flt">
                                            <input style="text-align: right;" type="text" name="INT_RATE"
                                                class="form-control" placeholder=" "
                                                (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46"
                                                pattern="\d{1,2}(\.\d{0,2})?" id="INT_RATE" maxlength="5" #margin
                                                (keyup)="checkmargin($event)" title="Input allowed only .  0-9"
                                                formControlName="INT_RATE">
                                            <label for="INT_RATE">Interest Rate
                                            </label>
                                        </span>
                                    </div>
                                    <div class="form-group form-primary form-static-label"
                                        *ngIf="angForm.controls['INT_RATE'].invalid && (angForm.controls['INT_RATE'].dirty || angForm.controls['INT_RATE'].touched)"
                                        class="alert alert-danger">
                                        <div
                                            *ngIf="angForm.controls['INT_RATE'].errors?.pattern || angForm.controls['INT_RATE'].errors?.required || angForm.controls['INT_RATE'].errors?.maxlength">
                                            This field is required and Input allowed only . 0-9
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            *ngIf="addShowButton" (click)="addField();EFFECT_DATE.focus()">Add </button>
                                        <button class="btn btn-outline-primary btn-sm"
                                            (click)="updateField();EFFECT_DATE.focus()"
                                            *ngIf="UpdateShowButton">Update</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover compact">

                                            <thead>
                                                <td>Action</td>
                                                <td>Effect Date</td>
                                                <td>Int Rate</td>
                                            </thead>
                                            <tbody *ngIf="multiField?.length != 0">
                                                <tr *ngFor="let data of multiField; let indexOfelement=index;">
                                                    <td>
                                                        <span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                            (click)="editField(indexOfelement);EFFECT_DATE.focus()"
                                                            placement="bottom" ngbTooltip="Edit"></span> &nbsp;
                                                        <span class="fa fa-fw fa-trash-o" id="deletebutton"
                                                            (click)="delField(indexOfelement);EFFECT_DATE.focus()"
                                                            placement="bottom" ngbTooltip="Delete"></span>
                                                    </td>
                                                    <td class="td_right">{{ data.EFFECT_DATE }}</td>
                                                    <td class="td_right">{{ data.INT_RATE }}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="multiField?.length == 0">
                                                <tr>
                                                    <td colspan="12" class="no-data-available"
                                                        style="text-align: center;">No data!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm btn-submit" [disabled]="myform.invalid"
                                *ngIf="showButton" (click)="submit();scheme.focus()" (keydown.Tab)="focus()"
                                appTheme>submit</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData();scheme.focus()"
                                *ngIf="updateShow">Update</button>&nbsp;

                            <button class="btn btn-outline-primary btn-sm" (click)="addNewData();scheme.focus()"
                                *ngIf="newbtnShow">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="informationtable" datatable [dtOptions]="dtExportOptions" [dtTrigger]="dtTrigger"
                                class="table table-striped table-bordered table-hover compact">
                                <tbody *ngIf="sizeSlabWise?.length != 0">
                                    <tr *ngFor="let data of sizeSlabWise">
                                        <td><span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                (click)="editClickHandler(data.id);gotoTop()" placement="bottom"
                                                ngbTooltip="Edit"></span> &nbsp;

                                        </td>
                                        <td>{{ data.scheme?.S_APPL }}</td>
                                        <td>{{ data.category?.NAME }}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="sizeSlabWise?.length == 0">
                                    <tr>
                                        <td colspan="12" class="no-data-available" style="text-align: center;">No data!
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot #filters class="filters">
                                    <tr class="testing">
                                        <th class="testing"></th>
                                        <th><input type="text" class="form-control" name="ACNOTYPE"></th>
                                        <th><input type="text" class="form-control" name="INT_CATEGORY"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>