<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Priority Sector Master</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Account" class="form-control" placeholder=" " maxlength="4"
                                        disabled id="Prioritysectorcode" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="CODE">
                                    <label for="Prioritysectorcode">Priority Sector Code</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input style="text-align: right;" type="text" name="Account" class="form-control"
                                        placeholder=" " maxlength="4"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" #autofocus
                                        id="Subcode" pattern="^[0-9]+$" title="Input allowed only  0-9"
                                        formControlName="SUB1_CODE">
                                    <label for="Subcode">Subcode</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['SUB1_CODE'].invalid && (angForm.controls['SUB1_CODE'].dirty || angForm.controls['SUB1_CODE'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['SUB1_CODE'].errors?.pattern || angForm.controls['SUB1_CODE'].errors?.maxlength">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input style="text-align: right;" type="text" name="Account" class="form-control"
                                        placeholder=" " maxlength="4"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" id="Secondsubcode"
                                        pattern="^[0-9]+$" title="Input allowed only  0-9" formControlName="SUB2_CODE">
                                    <label for="Secondsubcode">Second Subcode</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['SUB2_CODE'].invalid && (angForm.controls['SUB2_CODE'].dirty || angForm.controls['SUB2_CODE'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['SUB2_CODE'].errors?.pattern ||angForm.controls['SUB2_CODE'].errors?.maxlength ">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input style="text-align: right;" type="text" name="Account" class="form-control"
                                        placeholder=" " maxlength="4"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" id="Thirdsubcode"
                                        pattern="^[0-9]+$" title="Input allowed only  0-9" formControlName="SUB3_CODE">
                                    <label for="Thirdsubcode">Third Subcode</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['SUB3_CODE'].invalid && (angForm.controls['SUB3_CODE'].dirty || angForm.controls['SUB3_CODE'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['SUB3_CODE'].errors?.pattern ||angForm.controls['SUB2_CODE'].errors?.maxlength">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="NAME" class="form-control" placeholder=" " maxlength="300"
                                        (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47"
                                        id="Description" required="" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" formControlName="NAME">
                                    <label for="Description">Description<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['NAME'].invalid && (angForm.controls['NAME'].dirty || angForm.controls['NAME'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['NAME'].errors?.pattern || angForm.controls['NAME'].errors?.required ||angForm.controls['SUB2_CODE'].errors?.maxlength">
                                    This field is required and Input allowed only A-Z a-z - / . (Space)
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm" *ngIf="showButton" (click)="submit()"
                                [disabled]="angForm.invalid">Submit</button>
                            <button class="btn btn-outline-primary btn-sm" (click)="addNewData()"
                                *ngIf="newbtnShow">Cancel
                            </button>
                            <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow"
                                [disabled]="angForm.invalid">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="informationtable" datatable [dtOptions]="dtExportButtonOptions"
                                [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact"
                                style="width: 100%;">
                                <tbody *ngIf="prioritySectorMaster?.length != 0">
                                    <tr *ngFor="let data of prioritySectorMaster">
                                        <td><span class="fa fa-fw fa-edit field-icon" id="editbutton"
                                                (click)="editClickHandler(data.id)" placement="bottom"
                                                ngbTooltip="Edit"></span> &nbsp;
                                            <!-- <button id="delbtn" class="btn btn-outline-primary btn-sm" (click)="delClickHandler(data.id)">Delete</button> -->
                                        </td>
                                        <td class="td_right">{{ data.CODE }}</td>
                                        <td class="td_right">{{ data.SUB1_CODE }}</td>
                                        <td class="td_right">{{ data.SUB2_CODE }}</td>
                                        <td class="td_right">{{ data.SUB3_CODE }}</td>
                                        <td>{{ data.NAME }}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="prioritySectorMaster?.length == 0">
                                    <tr>
                                        <td colspan="6" class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>
                                <tfoot #filters class="filters">
                                    <tr class="testing">
                                        <th class="testing"></th>
                                        <th><input type="text" class="form-control" name="CODE">
                                        </th>
                                        <th><input type="text" class="form-control" name="SUB1_CODE"></th>
                                        <th><input type="text" class="form-control" name="SUB2_CODE"></th>
                                        <th><input type="text" class="form-control" name="SUB3_CODE"></th>
                                        <th><input type="text" class="form-control" name="NAME"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>