<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>CD Ratio Analysis</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <form action="javascript:">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-3">
                            
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Date" class="form-control" placeholder=" "
                                        id="Date" 
                                        onfocus="(this.type='date')" formControlName="Date">
                                    <label for="Date">Date *</label>
                                </span>
                            </div>
                        </div>
                      
                        <div class="col-sm-3">
                            
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                  <input
                                    type="text"
                                    name="Branch"
                                    class="form-control"
                                    placeholder=" "
                                    id="Branch"
                                    required=""
                                  />
                                  <label for="Branch"
                                    >Branch<sub class="required">* </sub></label
                                  >
                                </span>
                              </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                        
                          </div>
                           <div class="col-sm">
                             <h6><span class="required">* </span>: Required Fields</h6>
                          </div>
                       </div>
                </div>
            </form>
            
        </div>
    </div>
</div>