<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Shares Ledger View</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate #myform="ngForm">
                <div class="card-block">
                    <div class="solid">
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">Branch<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select appTheme id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngBranchCode"
                                            formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                            #BRANCH_CODE (focus)="onFocus(BRANCH_CODE)" [selectOnTab]='true' [virtualScroll]="true"
                                            [ngClass]="{'form-submitted': formSubmitted}" placeholder="Branch" autofocus>
                                            <ng-option *ngFor="let values of branch_code" [value]="values">
                                                {{values.label}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">Scheme<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-3">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select appTheme id="AC_TYPE" bindValue="value" [(ngModel)]="ngscheme"
                                            formControlName="AC_TYPE" bindLabel="label" title="Compulsory Selection"
                                            (change)="schemechange($event)" [virtualScroll]="true"
                                            #AC_TYPE (focus)="onFocus(AC_TYPE)" [selectOnTab]='true'
                                            [ngClass]="{'form-submitted': formSubmitted}" required placeholder="Scheme">
                                            <ng-option *ngFor="let values of allScheme" [value]="values">
                                                {{values.id}} {{values.label}} </ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm" *ngIf="dormantac">
                                <div><label style="color: #1e5bc5">Dormant Account</label></div>
                            </div>
                            <div class="col-sm" *ngIf="acclosedon">
                                <div><label style="color: red; font-size: 15px;">Account Closed On:
                                        {{acCloseDate}}</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_NO">Account Number<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group form-primary form-static-label">
                                    <span class="border-lable-flt">
                                        <ng-select appTheme id="AC_NO" bindValue="value" [(ngModel)]="accountedit"
                                            formControlName="AC_NO" bindLabel="label" title="Compulsory Selection"
                                            #AC_NO (focus)="onFocus(AC_NO)" [selectOnTab]='true' [virtualScroll]="true"
                                            required placeholder="Account Number" (change)="getAccountDetails($event)">
                                            <ng-option *ngFor="let values of schemeACNo" [value]="values">
                                                {{values.label}} {{values.name}}</ng-option>
                                        </ng-select>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_NO'].invalid && (angForm.controls['AC_NO'].dirty || angForm.controls['AC_NO'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_NO'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm" *ngIf="freezeac">
                                <div><label style="color: #1e5bc5">Freez
                                        Status:{{freezStataus}}</label></div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12 col-md-2"> <label for="FROM_DATE">From Date<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input appTheme type="text" placeholder="dd/mm/yyyy" name="FROM_DATE" id="FROM_DATE"
                                            class="form-control" [(ngModel)]="fromdate" [bsValue]="bsValue"
                                            [minDate]="accountOpenDate" [maxDate]="maxDate"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            #FROM_DATE="bsDatepicker"  (keydown.Tab)="FROM_DATE.hide()"
                                            [ngClass]="{'form-submitted': formSubmitted}" formControlName="FROM_DATE"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                            bsDatepicker>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['FROM_DATE'].invalid && (angForm.controls['FROM_DATE'].dirty || angForm.controls['FROM_DATE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['FROM_DATE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2"> <label for="TO_DATE">To Date<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input appTheme type="text" placeholder="dd/mm/yyyy" name="TO_DATE" id="TO_DATE"
                                            class="form-control" [(ngModel)]="todate"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="fromdate"
                                            [maxDate]="maxDate" [ngClass]="{'form-submitted': formSubmitted}"
                                            #TO_DATE="bsDatepicker"  (keydown.Tab)="TO_DATE.hide()"
                                            formControlName="TO_DATE"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                            bsDatepicker>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['TO_DATE'].invalid && (angForm.controls['TO_DATE'].dirty || angForm.controls['TO_DATE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['TO_DATE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-2"> <label for="AC_OPDATE">Account Opening Date<sub
                                        class="required">*</sub></label></div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group input-group">
                                    <span class="border-lable-flt">
                                        <input type="text" placeholder="dd/mm/yyyy" name="AC_OPDATE" id="AC_OPDATE"
                                            class="form-control" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            [maxDate]="maxDate" [ngClass]="{'form-submitted': formSubmitted}"
                                            formControlName="AC_OPDATE"
                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                            bsDatepicker disabled>
                                    </span>
                                </div>
                                <div class="form-group form-primary form-static-label"
                                    *ngIf="angForm.controls['AC_OPDATE'].invalid && (angForm.controls['AC_OPDATE'].dirty || angForm.controls['AC_OPDATE'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="angForm.controls['AC_OPDATE'].errors?.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="font-size:13px;">
                                <button class="btn btn-primary"></button>&nbsp; Unpassed Accounts
                            </div>
                            <!-- </div>
                         <div class="row" > -->
                            <div class="col-sm" *ngIf="showView">
                                <button class="btn btn-outline-primary btn-sm"
                                    (click)="getTransactionsDeatils()"  (keydown.Tab)="focus()">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row" *ngIf="tableData.length == 0 && showLoader">
    <div class=" col-12">
        <div class="preloader3 loader-block">
            <div class="circ1"></div>
            <div class="circ2"></div>
            <div class="circ3"></div>
            <div class="circ4"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <label></label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-12">
            <div class="table-responsive fixTableHead">
                <table class="table table-striped table-bordered table-hover compact" *ngIf="tableData?.length != 0">
                    <thead>
                        <td class="td_center">Date</td>
                        <td>Particulars</td>
                        <td>Transaction Type</td>
                        <td class="td_right">Debit Amount</td>
                        <td class="td_right">Credit Amount</td>
                        <td class="td_right">Closing Balance</td>
                        <td class="td_right">Debit Dividend</td>
                        <td class="td_right">Credit Dividend</td>
                        <td class="td_right">Dividend Balance</td>
                        <td class="td_right">Bonus Amount</td>
                        <td class="td_right">Rebit Interest</td>
                        <td class="td_right">Certificate Number</td>
                        <td class="td_right">Number Of Shares</td>
                        <td>Shares From - To</td>
                        <td class="td_right">Face Value</td>
                        <td class="td_right">Voucher Number</td>
                        <td class="td_right">Officer ID</td>
                    </thead>
                    <tbody *ngIf="tableData?.length != 0">
                        <tr *ngFor="let data of tableData;
                    let indexOfelement = index" [ngStyle]="{'color': (data.TRAN_STATUS == '0') ? '#226de9':'#212529'}">
                            <td>{{data.TRAN_DATE}}</td>
                            <td>{{data?.NARRATION}}</td>
                            <td>{{data.TRAN_TYPE}}</td>
                            <td class="td_right">{{data.TRAN_DRCR=='D'?data.TRAN_AMOUNT:'0.00'}}</td>
                            <td class="td_right">{{data.TRAN_DRCR=='C'?data.TRAN_AMOUNT:'0.00'}}</td>
                            <td class="td_right">{{data.closeBalance}} {{data.TRAN_DR_CR}}</td>
                            <td class="td_right">{{data.TRAN_DRCR=='D'?data.DIVIDEND_AMOUNT:'0.00'}}</td>
                            <td class="td_right">{{data.TRAN_DRCR=='C'?data.DIVIDEND_AMOUNT:'0.00'}}</td>
                            <td class="td_right">{{data.dividendBalance}} {{data.dividendBalance!=0 ?data.DIV_DR_CR:''}}
                            </td>
                            <td class="td_right">{{data.BONUS_AMOUNT}} {{data.BONUS_AMOUNT!=null ?data.drcr:''}} </td>
                            <td class="td_right">{{data.REBIT_AMOUNT}} {{data.REBIT_AMOUNT!=null ?data.drcr:''}}</td>
                            <td class="td_right">{{data.CERTIFICATE_NO}}</td>
                            <td class="td_right">{{data.TOTAL_SHARES == null || data.TOTAL_SHARES == undefined ?
                                data.NO_OF_SHARES :
                                data.TOTAL_SHARES}}</td>
                            <td class="td_center">{{data.SHARES_FROM_NO}} - {{data.SHARES_TO_NO}}</td>
                            <td class="td_right">{{data.FACE_VALUE}}</td>
                            <td class="td_right">{{data.TRAN_NO}}</td>
                            <td>{{data.OFFICER_CODE}}</td>
                        </tr>
                        <tr style="font-weight: 600px;">
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td class="td_right">{{debitTotal}}</td>
                            <td class="td_right">{{creditTotal}}</td>
                            <td></td>
                            <td class="td_right">{{debitDivTotal}}</td>
                            <td class="td_right">{{creditDivTotal}}</td>
                            <td></td>
                            <td class="td_right">{{bonusTotal}}</td>
                            <td class="td_right">{{rebitTotal}}</td>
                            <td></td>
                            <td class="td_right">{{totalShares}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="color: green;">
                            <td></td>
                            <td style=" font-size: 13px;"><strong> Grand Total</strong></td>
                            <td></td>
                            <td style=" font-size: 13px;" class="td_right"><strong>{{debitTotal}}</strong></td>
                            <td style=" font-size: 13px;" class="td_right"><strong>{{creditTotal}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="tableData?.length == 0">
                        <tr>
                            <td colspan="13" class="no-data-available" style="text-align: center;">
                                No data!
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>