<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Balance Updation</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" appSubmit [formGroup]="angForm" novalidate
                (ngSubmit)="submit();BRANCH_CODE.focus()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-md-1"> <label for="BRANCH_CODE">Branch Code<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngbranch"
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [virtualScroll]="true" [ngClass]="{'form-submitted': formSubmitted}"
                                        (change)="getBranch($event)" placeholder="Branch" #BRANCH_CODE
                                        (focus)="onFocus(BRANCH_CODE)" [selectOnTab]='true' autofocus>
                                        <ng-option *ngFor="let values of branchOption" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1"> <label for="AC_TYPE">Scheme Code<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="SchemeCode" bindValue="value" [(ngModel)]="ngscheme"
                                        formControlName="AC_TYPE" bindLabel="label" (change)="schemechange($event)"
                                        [virtualScroll]="true" title="Compulsory Selection" required
                                        placeholder="Scheme Code" #AC_TYPE (focus)="onFocus(AC_TYPE)"
                                        [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.id}} {{values.label}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1"> <label for="TRAN_DATE">Balance Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input appTheme appButton minlength="8" maxlength="10"
                                         type="text" placeholder="dd/mm/yyyy" name="TRAN_DATE" id="TRAN_DATE"
                                        class="form-control" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                        (change)="getTable()" #TRAN_DATE="bsDatepicker" (keydown.Tab)="TRAN_DATE.hide()"
                                        [maxDate]="maxDate" [ngClass]="{'form-submitted': formSubmitted}"
                                        formControlName="TRAN_DATE" #TRAN_DATE="bsDatepicker"
                                        (keydown.Tab)="TRAN_DATE.hide()" placement="bottom"
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                        bsDatepicker>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2"> <label for="FROM_AC">From Account Number<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="FROM_AC" bindValue="value" [(ngModel)]="ngfromac"
                                        formControlName="FROM_AC" bindLabel="label" title="Compulsory Selection"
                                        (change)="getTable()" [virtualScroll]="true"
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="From A/C"
                                        #FROM_AC (focus)="onFocus(FROM_AC)" [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of fromAC" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['FROM_AC'].invalid && (angForm.controls['FROM_AC'].dirty || angForm.controls['FROM_AC'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['FROM_AC'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="TO_AC">To Account Number<sub
                                    class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select appTheme id="TO_AC" bindValue="value" [(ngModel)]="ngtoac"
                                        formControlName="TO_AC" bindLabel="label" title="Compulsory Selection"
                                        (change)="getTable()" [virtualScroll]="true"
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="To A/C"
                                        #TO_AC (focus)="onFocus(TO_AC)" [selectOnTab]='true'>
                                        <ng-option *ngFor="let values of ToAC" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>

                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TO_AC'].invalid && (angForm.controls['TO_AC'].dirty || angForm.controls['TO_AC'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TO_AC'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm btn-submit" *ngIf="showButton"
                                [disabled]="angForm.invalid" (keydown.Tab)="focus()" appTheme>Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div class="search-results">
                                        <table id="mytable"
                                            class="table table-striped table-bordered table-hover compact">
                                            <thead>
                                                <tr>
                                                    <td class="td_right">Account Number</td>
                                                    <td>Account Name</td>
                                                    <td *ngIf="ledgerbalance" class="td_right">Ledger Balance </td>
                                                    <td *ngIf="productamount" class="td_right">Product Amount</td>
                                                    <td *ngIf="lastTranDate" class="td_center">Last Transaction Date
                                                    </td>
                                                    <td *ngIf="lastintpaidDate" class="td_center">Last Interest paid
                                                        Date</td>
                                                    <td *ngIf="closingdate" style="width: 10px;" class="td_center">
                                                        &nbsp; &nbsp; Closing Date &nbsp; &nbsp; &nbsp; </td>
                                                    <td *ngIf="debitcredit" class="td_center">Debit/Credit</td>
                                                    <td *ngIf="payableint" class="td_right">Payable Interest</td>
                                                    <td *ngIf="totalintpaid" class="td_right">Total Interest paid</td>
                                                    <td *ngIf="totalpenalint" class="td_right">Total Penal Interest</td>
                                                    <td *ngIf="totalinstallmentrec" class="td_right">Total Number of
                                                        Installment Received</td>
                                                    <td *ngIf="tdsopDate" class="td_center">TDS Opening Date &nbsp;</td>
                                                    <td *ngIf="intinfinancialyear" class="td_right">Opening Credit
                                                        Interest in Financial Year </td>
                                                    <td *ngIf="opintpaidfinyear" class="td_right">Opening Interest Paid
                                                        in Financial Year </td>
                                                    <td *ngIf="acopenDate" class="td_center">Account Open Date</td>
                                                    <td *ngIf="lastcreditDate" class="td_center">Last Credit Date</td>
                                                    <td *ngIf="lastintDate" class="td_center">Last Interest Date</td>
                                                    <td *ngIf="opproduct" class="td_right">O/p Product</td>
                                                    <td *ngIf="balanceDate" class="td_center">Balance Date</td>
                                                    <td *ngIf="receivableint" class="td_right">Receivable Interest</td>
                                                    <td *ngIf="totalintrec" class="td_right">Total Interest Received
                                                    </td>
                                                    <td *ngIf="penalint" class="td_right">Penal Interest</td>
                                                    <td *ngIf="totaldepositamt" class="td_right">Total Deposit Amount
                                                    </td>
                                                    <td *ngIf="totalpostedint" class="td_right">Total Posted Interest
                                                    </td>
                                                    <td *ngIf="npaDate" class="td_center">NPA Date</td>
                                                    <td *ngIf="loaninstallment" class="td_right">Installment</td>
                                                    <td *ngIf="isdisputeloan" class="td_right">Is Dispute Loan</td>
                                                    <td *ngIf="noofshares" class="td_right">Number of Shares</td>
                                                    <td *ngIf="shareamt" class="td_right">Share Amount</td>
                                                    <td *ngIf="accloseDate" class="td_center">Account Close Date</td>
                                                    <td *ngIf="purchaseDate" class="td_center">Purchase Date</td>
                                                    <td *ngIf="supliername">Supplier Name</td>
                                                    <td *ngIf="purchaserate" class="td_center">Purchase Rate</td>
                                                    <td *ngIf="purchasequantity" class="td_right">Purchase Rate</td>
                                                    <td *ngIf="purchasevalue" class="td_right">Purchase value</td>
                                                    <td *ngIf="openingamt" class="td_right">Opening Amount</td>
                                                    <td *ngIf="openingquantity" class="td_right">Opening Quantity</td>
                                                    <td *ngIf="lastdepreciationDate" class="td_center">Last Depreciation
                                                        Date
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="form-control"
                                                            (keyup)="filterObject($event,'AC_NO')"></td>
                                                    <td><input type="text" class="form-control"
                                                            style="text-transform:uppercase;"
                                                            (keyup)="filterObject($event,'AC_NAME')"></td>
                                                    <td *ngIf="ledgerbalance"></td>
                                                    <td *ngIf="productamount"></td>
                                                    <td *ngIf="lastTranDate"></td>
                                                    <td *ngIf="lastintpaidDate"></td>
                                                    <td *ngIf="closingdate"></td>
                                                    <td *ngIf="debitcredit"></td>
                                                    <td *ngIf="payableint"></td>
                                                    <td *ngIf="totalintpaid"></td>
                                                    <td *ngIf="totalpenalint"></td>
                                                    <td *ngIf="totalinstallmentrec"></td>
                                                    <td *ngIf="tdsopDate"></td>
                                                    <td *ngIf="intinfinancialyear"></td>
                                                    <td *ngIf="opintpaidfinyear"></td>
                                                    <td *ngIf="acopenDate"></td>
                                                    <td *ngIf="lastcreditDate"></td>
                                                    <td *ngIf="lastintDate"></td>
                                                    <td *ngIf="opproduct"></td>
                                                    <td *ngIf="balanceDate"></td>
                                                    <td *ngIf="receivableint"></td>
                                                    <td *ngIf="totalintrec"></td>
                                                    <td *ngIf="penalint"></td>
                                                    <td *ngIf="totaldepositamt"></td>
                                                    <td *ngIf="totalpostedint"></td>
                                                    <td *ngIf="npaDate"></td>
                                                    <td *ngIf="loaninstallment"></td>
                                                    <td *ngIf="isdisputeloan"></td>
                                                    <td *ngIf="noofshares"></td>
                                                    <td *ngIf="shareamt"></td>
                                                    <td *ngIf="accloseDate"></td>
                                                    <td *ngIf="purchaseDate"></td>
                                                    <td *ngIf="supliername"></td>
                                                    <td *ngIf="purchaserate"></td>
                                                    <td *ngIf="purchasequantity"></td>
                                                    <td *ngIf="purchasevalue"></td>
                                                    <td *ngIf="openingamt"></td>
                                                    <td *ngIf="openingquantity"></td>
                                                    <td *ngIf="lastdepreciationDate"></td>

                                                </tr>

                                            </thead>
                                            <tbody *ngIf="arrTable?.length != 0">
                                                <tr *ngFor="let data of arrTable;
                                        let indexOfelement = index">
                                                    <td class="td_right">{{data.AC_NO}}</td>
                                                    <td>{{data.AC_NAME == '' || data.AC_NAME == null ? '-' :
                                                        data.AC_NAME}}
                                                    </td>
                                                    <td *ngIf="ledgerbalance" class="td_right"
                                                        style="white-space: nowrap;">
                                                        <div class="form-group input-group">
                                                            <span><input style="text-align: right;" type="text"
                                                                    class="form-control" name="TRAN_AMOUNT"
                                                                    id="ledger_balance" #ledger_balance
                                                                    value="{{data.LEDGER_BAL}}"
                                                                    style="width: fit-content;"
                                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 || $event.charCode == 46 )"
                                                                    (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,ledger_balance.value,ledger_balance.name)"
                                                                    maxlength="8">
                                                                <span>{{data.drcr}} </span>
                                                                <div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="productamount" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="AC_PRODUCT" id="product_amount"
                                                            #AC_PRODUCT
                                                            value="{{data.AC_PRODUCT == null || data.AC_PRODUCT == '' ? '' : data.AC_PRODUCT }}"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_PRODUCT.value,AC_PRODUCT.name)">
                                                    </td>
                                                    <td *ngIf="lastTranDate" class="td_center">
                                                        <input type="text" appButton minlength="8" maxlength="10"
                                                             name="AC_ACTDATE" id="tran_date"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_ACTDATE == null || data.AC_ACTDATE == '' ? '' : data.AC_ACTDATE }}"
                                                            #AC_ACTDATE
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_ACTDATE.value,AC_ACTDATE.name)"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="lastintpaidDate" class="td_center">
                                                        <input type="text" name="AC_LINTEDT" id="last_int_paid"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_LINTEDT == null || data.AC_LINTEDT == '' ? '' : data.AC_LINTEDT }}"
                                                            #AC_LINTEDT
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_LINTEDT.value,AC_LINTEDT.name)"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="closingdate" class="td_center">
                                                        <input type="text" name="AC_CLOSEDT" id="closing_date"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_CLOSEDT == null || data.AC_CLOSEDT == '' ? '' : data.AC_CLOSEDT }}"
                                                            #AC_CLOSEDT
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_CLOSEDT.value,AC_CLOSEDT.name)"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="debitcredit" class="td_left">
                                                        <div class="form-radio">
                                                            <div class="radio radio-inline">
                                                                <label class="inputRadio">
                                                                    <input type="radio" [value]="data.AC_OP_CD"
                                                                        #AC_OP_CD
                                                                        [attr.checked]="data.AC_OP_CD=='D'?'':null"
                                                                        name="{{data.id}}" value="D"
                                                                        (change)="getDebitCredit(data.id,data.AC_NO,data.BANKACNO,1)">
                                                                    <i class="helper"></i>Debit<span> </span>
                                                                </label>
                                                            </div>
                                                            <div class="radio radio-inline">
                                                                <label class="inputRadio">
                                                                    <input type="radio" [value]="data.AC_OP_CD"
                                                                        #AC_OP_CD
                                                                        [attr.checked]="data.AC_OP_CD=='C'?'':null"
                                                                        name="{{data.id}}" value="C"
                                                                        (change)="getDebitCredit(data.id,data.AC_NO,data.BANKACNO,2)">
                                                                    <i class="helper"></i>Credit<span> </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="payableint" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="payable_int" id="payable_int"
                                                            #RECPAY_INT_AMOUNT
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,RECPAY_INT_AMOUNT.value,RECPAY_INT_AMOUNT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="totalintpaid" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="AC_PAID_INT_OP"
                                                            id="total_int_paid" #AC_PAID_INT_OP
                                                            value="{{data.AC_PAID_INT_OP == null || data.AC_PAID_INT_OP == '' ? '' : data.AC_PAID_INT_OP }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_PAID_INT_OP.value,AC_PAID_INT_OP.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="totalpenalint" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="AC_PINT_OP" id="total_penal_int"
                                                            #AC_PINT_OP
                                                            value="{{data.AC_PINT_OP == null || data.AC_PINT_OP == '' ? '' : data.AC_PINT_OP }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_PINT_OP.value,AC_PINT_OP.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="totalinstallmentrec" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" #AC_ODEPINS name="AC_ODEPINS"
                                                            id="total_install_rec"
                                                            value="{{data.AC_ODEPINS == null || data.AC_ODEPINS == '' ? '' : data.AC_ODEPINS }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_ODEPINS.value,AC_ODEPINS.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                    </td>
                                                    <td *ngIf="tdsopDate" class="td_center" class="td_right">
                                                        <input type="text" appButton minlength="8" maxlength="10"
                                                             name="LAST_TDS_DATE" id="LAST_TDS_DATE"
                                                            #LAST_TDS_DATE placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.LAST_TDS_DATE == null || data.LAST_TDS_DATE == '' ? '' : data.LAST_TDS_DATE }}"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,LAST_TDS_DATE.value,LAST_TDS_DATE.name)"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="intinfinancialyear" class="td_right" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" #OP_CR_INT_FIN_YEAR
                                                            name="OP_CR_INT_FIN_YEAR" id="int_fin_year"
                                                            value="{{data.OP_CR_INT_FIN_YEAR == null || data.OP_CR_INT_FIN_YEAR == '' ? '' : data.OP_CR_INT_FIN_YEAR }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,OP_CR_INT_FIN_YEAR.value,OP_CR_INT_FIN_YEAR.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="opintpaidfinyear" class="td_right" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" #OP_INT_PAID_FIN_YEAR
                                                            value="{{data.OP_INT_PAID_FIN_YEAR == null || data.OP_INT_PAID_FIN_YEAR == '' ? '' : data.OP_INT_PAID_FIN_YEAR }}"
                                                            name="OP_INT_PAID_FIN_YEAR" id="op_int_fin_year"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,OP_INT_PAID_FIN_YEAR.value,OP_INT_PAID_FIN_YEAR.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="acopenDate" class="td_center" class="td_right">
                                                        <input type="text" name="AC_OPDATE" id="AC_OPDATE" #AC_OPDATE
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_OPDATE == null || data.AC_OPDATE == '' ? '' : data.AC_OPDATE }}"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_OPDATE.value,AC_OPDATE.name)"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="lastcreditDate" class="td_center" class="td_right">
                                                        <input type="text" name="AC_ACTDATE" id="AC_ACTDATE"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_ACTDATE == null || data.AC_ACTDATE == '' ? '' : data.AC_ACTDATE }}"
                                                            #AC_ACTDATE
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_ACTDATE.value,AC_ACTDATE.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="lastintDate" class="td_center">
                                                        <input type="text" name="AC_LINTEDT" id="AC_LINTEDT"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_LINTEDT == null || data.AC_LINTEDT == '' ? '' : data.AC_LINTEDT }}"
                                                            #AC_LINTEDT
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_LINTEDT.value,AC_LINTEDT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="opproduct" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" #AC_PRODUCT name="op_product"
                                                            id="op_product"
                                                            value="{{data.AC_PRODUCT == null || data.AC_PRODUCT == '' ? '' : data.AC_PRODUCT }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_PRODUCT.value,AC_PRODUCT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                    </td>
                                                    <td *ngIf="balanceDate" class="td_center">
                                                        <input type="text" appButton minlength="8" maxlength="10"
                                                         name="AC_BALDATE" id="AC_BALDATE"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_BALDATE == null || data.AC_BALDATE == '' ? '' : data.AC_BALDATE }}"
                                                            #AC_BALDATE style="width: fit-content;"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_BALDATE.value,AC_BALDATE.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="receivableint" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="RECPAY_INT_AMOUNT"
                                                            id="RECPAY_INT_AMOUNT" #RECPAY_INT_AMOUNT
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,RECPAY_INT_AMOUNT.value,RECPAY_INT_AMOUNT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="totalintrec" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="AC_PAID_INT_OP"
                                                            id="AC_PAID_INT_OP" #AC_PAID_INT_OP
                                                            value="{{data.AC_PAID_INT_OP == null || data.AC_PAID_INT_OP == '' ? '' : data.AC_PAID_INT_OP }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_PAID_INT_OP.value,AC_PAID_INT_OP.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="penalint" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="penal_int" id="penal_int"
                                                            #PENAL_INTEREST
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,PENAL_INTEREST.value,PENAL_INTEREST.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="totaldepositamt" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="AC_OP_TOTAL_DEPOSITAMT"
                                                            id="AC_OP_TOTAL_DEPOSITAMT" #AC_OP_TOTAL_DEPOSITAMT
                                                            value="{{data.AC_OP_TOTAL_DEPOSITAMT == null || data.AC_OP_TOTAL_DEPOSITAMT == '' ? '' : data.AC_OP_TOTAL_DEPOSITAMT }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_OP_TOTAL_DEPOSITAMT.value,AC_OP_TOTAL_DEPOSITAMT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="totalpostedint" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="OP_POSTED_INT" id="OP_POSTED_INT"
                                                            #OP_POSTED_INT
                                                            value="{{data.OP_POSTED_INT == null || data.OP_POSTED_INT == '' ? '' : data.OP_POSTED_INT }}"
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,OP_POSTED_INT.value,OP_POSTED_INT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="npaDate" class="td_center">
                                                        <input type="text" appButton minlength="8" maxlength="10"
                                                         name="OP_NPA_DATE" id="OP_NPA_DATE"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.OP_NPA_DATE == null || data.OP_NPA_DATE == '' ? '' : data.OP_NPA_DATE }}"
                                                            #OP_NPA_DATE style="width: fit-content;"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,OP_NPA_DATE.value,OP_NPA_DATE.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="loaninstallment" class="td_center">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="AC_INSTALLMENT" id="shareamt"
                                                            #AC_INSTALLMENT
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_INSTALLMENT.value,AC_INSTALLMENT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                    </td>
                                                    <td *ngIf="isdisputeloan" class="td_right">
                                                        <input type="checkbox" class="border-checkbox"
                                                            id="IS_DISPUTE_LOAN" #IS_DISPUTE_LOAN
                                                            [value]="data.IS_DISPUTE_LOAN===true ? true : null"
                                                            [attr.checked]="data.IS_DISPUTE_LOAN===true ? true :null"
                                                            (change)="checkInterestFlag(data.id,data.AC_NO,data.BANKACNO,$event)">
                                                    </td>
                                                    <td *ngIf="noofshares" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="NO_OF_SHARES" id="NO_OF_SHARES"
                                                            #NO_OF_SHARES
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,NO_OF_SHARES.value,NO_OF_SHARES.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="shareamt" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="TRAN_AMOUNT" id="shareamt"
                                                            #TRAN_AMOUNT
                                                            (change)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,TRAN_AMOUNT.value,TRAN_AMOUNT.name)"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="accloseDate" class="td_center">
                                                        <input type="text" name="AC_CLOSEDT" id="AC_CLOSEDT"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.AC_CLOSEDT == null || data.AC_CLOSEDT == '' ? '' : data.AC_CLOSEDT }}"
                                                            #AC_CLOSEDT
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            (bsValueChange)="getColumnValue(data.id,data.AC_NO,data.BANKACNO,AC_CLOSEDT.value,AC_CLOSEDT.name)"
                                                            bsDatepicker>
                                                    </td>
                                                    <td *ngIf="purchaseDate" class="td_center">
                                                        <input type="text" name="PURCHASE_DATE" id="PURCHASE_DATE"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.PURCHASE_DATE == null || data.PURCHASE_DATE == '' ? '' : data.PURCHASE_DATE }}"
                                                            #PURCHASE_DATE
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            bsDatepicker>


                                                    </td>
                                                    <td *ngIf="supliername" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="SUPPLIER_NAME" id="SUPPLIER_NAME"
                                                            #SUPPLIER_NAME
                                                            (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47">

                                                    </td>
                                                    <td *ngIf="purchaserate" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="PURCHASE_RATE" id="PURCHASE_RATE"
                                                            #PURCHASE_RATE
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="purchasequantity" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="PURCHASE_QUANTITY"
                                                            id="PURCHASE_QUANTITY" #PURCHASE_QUANTITY
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="purchasevalue" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="PURCHASE_VALUE"
                                                            id="PURCHASE_VALUE" #PURCHASE_VALUE
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="openingamt" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="OP_BALANCE" id="OP_BALANCE"
                                                            #OP_BALANCE
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="openingquantity" class="td_right">
                                                        <input style="text-align: right;" type="text"
                                                            class="form-control" name="OP_QUANTITY" id="OP_QUANTITY"
                                                            #OP_QUANTITY
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">

                                                    </td>
                                                    <td *ngIf="lastdepreciationDate" class="td_center">
                                                        <input type="text" name="LAST_DEPR_DATE" id="LAST_DEPR_DATE"
                                                            placeholder="dd/mm/yyyy" class="form-control"
                                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                            value="{{data.LAST_DEPR_DATE == null || data.LAST_DEPR_DATE == '' ? '' : data.LAST_DEPR_DATE }}"
                                                            #LAST_DEPR_DATE
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                                            bsDatepicker>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="arrTable?.length == 0">
                                                <tr>
                                                    <td colspan="12" class="no-data-available"
                                                        style="text-align: center;">
                                                        No data!
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>