<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Balance Updation</h5>
                <h6 style="float: right; font-size: 12px; color: black;" class="requiredlable">
                    Fields marked with (<sub class="required"> * </sub>) are mandatory
                </h6>
            </div>
            <form action="javascript:" [formGroup]="angForm" novalidate (ngSubmit)="submit()" #myform="ngForm">
                <div class="card-block">
                    <div class="row">
                        <!-- <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input  #autofocus type="text" name="A_BALCODE" class="form-control" placeholder=" "
                                        id="BranchCode" value="{{ message.BranchCode }}" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="BranchCode">
                                    <label for="BranchCode">Branch Code</label>
                                </span>
                            </div>
                        </div> -->

                        <div class="col-sm-12 col-md-2"> <label for="BRANCH_CODE">Branch Code<sub class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="BRANCH_CODE" bindValue="value" [(ngModel)]="ngbranch"
                                        formControlName="BRANCH_CODE" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" (change)="getBranch()"
                                        placeholder="Branch">
                                        <ng-option *ngFor="let values of branchOption" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['BRANCH_CODE'].invalid && (angForm.controls['BRANCH_CODE'].dirty || angForm.controls['BRANCH_CODE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['BRANCH_CODE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm">
                            <div class="form-group form-primary form-static-label">
                                <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="false" placeholder="Scheme Type*" required title="Compulsory Selection" formControlName="SchemeType">
                                </ng-select>
                                <label>{{ message.SchemeType }}</label>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['SchemeType'].invalid && (angForm.controls['SchemeType'].dirty || angForm.controls['SchemeType'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['SchemeType'].errors?.required">
                                    This field is required
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-12 col-md-2"> <label for="AC_TYPE">Scheme Code<sub class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="SchemeCode" bindValue="value" [(ngModel)]="ngscheme"
                                         formControlName="AC_TYPE" bindLabel="label" (change)="getAccountList($event)"
                                        title="Compulsory Selection" required placeholder="Scheme Code">
                                        <ng-option *ngFor="let values of scheme" [value]="values">
                                            {{values.label}}</ng-option>
                                    </ng-select>
                                    
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['AC_TYPE'].invalid && (angForm.controls['AC_TYPE'].dirty || angForm.controls['AC_TYPE'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['AC_TYPE'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="A_BALCODE" class="form-control" placeholder=" "
                                        id="SchemeCode" required="" value="{{ message.SchemeCode }}" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="SchemeCode">
                                    <label for="SchemeCode">Scheme Code<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['SchemeCode'].invalid && (angForm.controls['SchemeCode'].dirty || angForm.controls['SchemeCode'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['SchemeCode'].errors?.pattern || angForm.controls['SchemeCode'].errors?.required">
                                    This field is required and Input allowed only 0-9
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-12 col-md-2"> <label for="TRAN_DATE">Balance Date</label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" placeholder="dd/mm/yyyy"
                                    name="TRAN_DATE" id="TRAN_DATE"
                                    class="form-control" 
                                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    [maxDate]="maxDate"
                                    [ngClass]="{'form-submitted': formSubmitted}"
                                    formControlName="TRAN_DATE"
                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47"
                                    bsDatepicker disabled>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="ALTERNATE_CODE" class="form-control" placeholder=" "
                                        id="FromAcNo" value="{{ message.ToAcNo }}" pattern="^[0-9]+$"
                                        title="Input allowed only  0-9" formControlName="FromAcNo">
                                    <label for="FromAcNo">From A/c No.</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label" *ngIf="angForm.controls['FromAcNo'].invalid && (angForm.controls['FromAcNo'].dirty || angForm.controls['FromAcNo'].touched)" class="alert alert-danger">
                                <div *ngIf="angForm.controls['FromAcNo'].errors?.pattern">
                                    Input allowed only 0-9
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-12 col-md-2"> <label for="FROM_AC">From Account Number<sub class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="FROM_AC" bindValue="value" [(ngModel)]="ngfromac"
                                        formControlName="FROM_AC" bindLabel="label" title="Compulsory Selection"
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="From A/C">
                                        <ng-option *ngFor="let values of fromAC" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                    
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['FROM_AC'].invalid && (angForm.controls['FROM_AC'].dirty || angForm.controls['FROM_AC'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['FROM_AC'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-2"> <label for="TO_AC">To Account Number<sub class="required">*</sub></label></div>
                        <div class="col-sm-12 col-md-2">
                            <div class="form-group form-primary form-static-label">
                                <span class="border-lable-flt">
                                    <ng-select id="TO_AC" bindValue="value" [(ngModel)]="ngtoac" formControlName="TO_AC"
                                        bindLabel="label" title="Compulsory Selection" 
                                        [ngClass]="{'form-submitted': formSubmitted}" required placeholder="To A/C">
                                        <ng-option *ngFor="let values of ToAC" [value]="values">
                                            {{values.label}} {{values.name}}</ng-option>
                                    </ng-select>
                                    
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['TO_AC'].invalid && (angForm.controls['TO_AC'].dirty || angForm.controls['TO_AC'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['TO_AC'].errors?.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-outline-primary btn-sm" *ngIf="showButton" [disabled]="angForm.invalid">Submit</button>
                            <!-- <button class="btn btn-outline-primary btn-sm" (click)="updateData()" *ngIf="updateShow">Update</button> -->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover compact">
                                        <thead>
                                            <td class="td_right">Account Number</td>
                                            <td>Account Name</td>
                                            <td *ngIf="ledgerbalance" class="td_right">Ledger Balance</td>
                                            <td *ngIf="productamount" class="td_right">Product Amount</td>
                                            <td *ngIf="lastTranDate" class="td_center">Last Trans. Date</td>
                                            <td *ngIf="lastintpaidDate" class="td_center">Last Interest paid Date</td>
                                            <td *ngIf="closingdate" class="td_center">Closing Date</td>
                                            <td *ngIf="debitcredit" class="td_right">Debit/Credit</td>
                                            <td *ngIf="payableint" class="td_right">Payable Interest</td>
                                            <td *ngIf="totalintpaid" class="td_right">Total Interest paid</td>
                                            <td *ngIf="totalpenalint" class="td_right">Total Penal Int</td>
                                            <td *ngIf="totalinstallmentrec" class="td_right">Tot.No of Installment Received</td>
                                            <td *ngIf="tdsopDate" class="td_center">TDS O/p Date</td>
                                            <td *ngIf="intinfinancialyear" class="td_right">Op.Cr.Int in Financial Year</td>
                                            <td *ngIf="opintpaidfinyear" class="td_right">Op.Int Paid in Financial Year</td>
                                            <td *ngIf="acopenDate" class="td_center">A/c Open Date</td>
                                            <td *ngIf="lastcreditDate" class="td_center">Last Credit Date</td>
                                            <td *ngIf="lastintDate" class="td_center">Last Interest Date</td>
                                            <td *ngIf="opproduct" class="td_right">O/p Product</td>
                                            <td *ngIf="balanceDate" class="td_center">Balance Date</td>
                                            <td *ngIf="receivableint" class="td_right">Receivable Interest</td>
                                            <td *ngIf="totalintrec" class="td_right">Total Int. Received</td>
                                            <td *ngIf="penalint" class="td_right">Penal Interest</td>
                                            <td *ngIf="totaldepositamt" class="td_right">Total Deposit Amt</td>
                                            <td *ngIf="totalpostedint" class="td_right">Tot.Posted Interest</td>
                                            <td *ngIf="npaDate" class="td_center">NPA Date</td>
                                            <td *ngIf="isdisputeloan" class="td_right">Is Dispute Loan</td>
                                            <td *ngIf="noofshares" class="td_right">No.of Shares</td>
                                            <td *ngIf="shareamt" class="td_right">Share Amount</td>
                                            <td *ngIf="accloseDate" class="td_center">AC Close  Date</td>
                                            <td *ngIf="purchaseDate" class="td_center">Purchase Date</td>
                                            <td *ngIf="supliername">Supplier Name</td>
                                            <td *ngIf="purchaserate" class="td_center">Purchase Rate</td>
                                            <td *ngIf="purchasequantity" class="td_right">Purchase Rate</td>
                                            <td *ngIf="purchasevalue" class="td_right">Purchase value</td>
                                            <td *ngIf="openingamt" class="td_right">Opening Amount</td>
                                            <td *ngIf="openingquantity" class="td_right">Opening Quantity</td>
                                            <td *ngIf="lastdepreciationDate" class="td_center">Last Depreciation Date</td>



                                            
                                        </thead>
                                        <tbody *ngIf="arrTable?.length != 0">
                                            <tr *ngFor="let data of arrTable;
                                        let indexOfelement = index">
                                                <td class="td_right">{{data.AC_NO}}</td>
                                                <td>{{data.AC_NAME == '' || data.AC_NAME == null ? '-' :
                                                    data.AC_NAME}}
                                                </td>
                                                
                                                <td *ngIf="ledgerbalance" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="ledger_balance" id="ledger_balance"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                </td>
                                                
                                                <td *ngIf="productamount" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="product_amount" id="product_amount"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                
                                                </td>

                                                <td *ngIf="lastTranDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="tran_date" id="tran_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>

                                                <td *ngIf="lastintpaidDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="last_int_paid" id="last_int_paid"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="closingdate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="closing_date" id="closing_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="debitcredit" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="debit_credit" id="debit_credit"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                </td>
                                                <td *ngIf="payableint" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="payable_int" id="payable_int"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                </td>
                                                <td *ngIf="totalintpaid" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="total_int_paid" id="total_int_paid"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                </td>
                                                <td *ngIf="totalpenalint" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="total_penal_int" id="total_penal_int"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                </td>
                                                <td *ngIf="totalinstallmentrec" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="total_install_rec" id="total_install_rec"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                </td>
                                                <td *ngIf="tdsopDate" class="td_center" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="tds_op_date" id="tds_op_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="intinfinancialyear" class="td_right" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="int_fin_year" id="int_fin_year"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                </td>
                                                <td *ngIf="opintpaidfinyear" class="td_right" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="op_int_fin_year" id="op_int_fin_year"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                </td>
                                                <td *ngIf="acopenDate" class="td_center" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="ac_open_date" id="ac_open_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="lastcreditDate" class="td_center" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="last_credit_date" id="last_credit_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="lastintDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="last_int_paid" id="last_int_paid"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="opproduct" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="op_product" id="op_product"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                </td>
                                                <td *ngIf="balanceDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="balance_date" id="balance_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="receivableint" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="receivable_int" id="receivable_int"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="totalintrec" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="total_int_rec" id="total_int_rec"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="penalint" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="penal_int" id="penal_int"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="totaldepositamt" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="total_dep_amt" id="total_dep_amt"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="totalpostedint" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="total_posted_int" id="total_posted_int"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="npaDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="npa_Date" id="npa_Date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="isdisputeloan" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="dispute_loan" id="dispute_loan"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                                                
                                                </td>
                                                <td *ngIf="noofshares" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="no_of_shares" id="no_of_shares"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="shareamt" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="share_amt" id="share_amt"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="accloseDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="ac_close_date" id="ac_close_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="purchaseDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="purchase_date" id="purchase_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                                <td *ngIf="supliername" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="suplier_name" id="suplier_name"
                                                            (keypress)="($event.charCode >= 65 && $event.charCode <= 90)||($event.charCode >= 97 && $event.charCode <= 122) || ($event.charCode <= 32) || $event.charCode == 46 || $event.charCode == 45 || $event.charCode == 47">
                                                
                                                </td>
                                                <td *ngIf="purchaserate" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="purchase_rate" id="purchase_rate"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="purchasequantity" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="purchase_quantity" id="purchase_quantity"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="purchasevalue" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="purchase_value" id="purchase_value"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="openingamt" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="opening_amt" id="opening_amt"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="openingquantity" class="td_right">
                                                    <input style="text-align: right;" type="text"
                                                            class="form-control" 
                                                            name="opening_quantity" id="opening_quantity"
                                                            (keypress)="($event.charCode >= 48 && $event.charCode < 58 )|| $event.charCode == 46">
                                                
                                                </td>
                                                <td *ngIf="lastdepreciationDate" class="td_center">
                                                    <input style="text-align: right;" type="text"
                                                    class="form-control" 
                                                    name="last_depreciation_date" id="last_depreciation_date"
                                                    (keypress)="($event.charCode >= 48 && $event.charCode < 58) || $event.charCode == 47">
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="arrTable?.length == 0">
                                            <tr>
                                                <td colspan="12" class="no-data-available"
                                                    style="text-align: center;">
                                                    No data!
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table id="balanceupdationtable" datatable [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->