<!-- interest Passing -->
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5>Interest Passing</h5>
                
            </div>
            <div class="card-block">
                <div class="col-md-12">
                    <perfect-scrollbar style="max-width: 600px; max-height: 450px;">

                        <ul class="basic-list">
                            <li>
                                <h6> <a (click)="OpenLink(1)"
                                    routerLink="/utility/interestPosting/interestPassing"
                                        [ngClass]="{'isActive': EditInterestCalculationTrue}"
                                     routerLinkActive="active" class="text-right f-w-600" id="pointer">Edit Interest Calculation</a></h6>
                            </li>

                            <!-- <li>
                                <h6> <a (click)="OpenLink(2)"
                                    routerLink="/utility/interestPosting/interestPassing"
                                        [ngClass]="{'isActive': EditOverdueInterestReceivableAmountTrue}"
                                     routerLinkActive="active" class="text-right f-w-600" id="pointer">Edit Overdue Interest Receivable Amount</a></h6>
                            </li>   -->

                            <li>
                                <h6> <a (click)="OpenLink(3)"
                                    routerLink="/utility/interestPosting/interestPassing"
                                    [ngClass]="{'isActive': CalculateInterestPassingTrue}"
                                    routerLinkActive="active" class="text-right f-w-600" id="pointer">Calculate Interest Passing</a></h6>
                            </li>
                            <li>
                                <h6> <a (click)="OpenLink(4)"
                                    routerLink="/utility/interestposting/interestpassing"
                                    [ngClass]="{'isActive': CalculateInterestUnpassingTrue}"
                                    routerLinkActive="active" class="text-right f-w-600" id="pointer">Calculate Interest Unpassing</a></h6>
                            </li>
                            <!-- <li>
                                <h6> <a (click)="OpenLink(5)"
                                    routerLink="/utility/interestposting/interestpassing"
                                    [ngClass]="{'isActive': CalculateInterestDeletionTrue}"
                                    routerLinkActive="active" class="text-right f-w-600" id="pointer">Calculate Interest Deletion</a></h6>
                            </li>     -->
                                                 
                        </ul>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card-block">
            <div *ngIf="EditInterestCalculationTrue">
                <app-edit-interest-calculation></app-edit-interest-calculation>
            </div>
            <div *ngIf="CalculateInterestPassingTrue">
                <app-calculate-interest-passing></app-calculate-interest-passing>
            </div>
            <div *ngIf="CalculateInterestUnpassingTrue">
                <app-calculate-interest-unpassing></app-calculate-interest-unpassing>
            </div>
            <div *ngIf="CalculateInterestDeletionTrue">
                <app-calculate-interest-deletion></app-calculate-interest-deletion>
            </div>
            <div *ngIf="EditOverdueInterestReceivableAmountTrue">
                <app-editoverdue-interest-receivable-amount></app-editoverdue-interest-receivable-amount>
            </div>            
        </div>
    </div>
</div>